.teemeeting-button-footer {
  z-index: 999;
  display: flex;
  opacity: 0.6;
  background: #000000;
  border-radius: 1.28125rem;
  height: 2.5625rem;
  align-items: center;
  position: relative;
  bottom: 0;
  margin-top: -2.5625rem;
  justify-content: center; }

.teemeeting-button-common {
  display: inline-block;
  opacity: 100%;
  background-size: 100%;
  border: none;
  width: 1.25rem;
  height: 1.25rem;
  margin: auto;
  filter: invert(1); }

.teemeeting-timer-text-style {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  font-family: NotoSansCJKkr-Medium;
  font-size: 1rem;
  color: #F66464;
  letter-spacing: 0; }

.teemeeting-button-partition {
  opacity: 0.5;
  background: #FFFFFF;
  width: 0.0625rem;
  height: 1.25rem; }

.teemeeting-video-button-on {
  background-image: url("../../res/meeting/video.svg"); }

.teemeeting-video-button-off {
  background-image: url("../../res/meeting/video_none.svg"); }

.teemeeting-audio-button-on {
  background-image: url("../../res/meeting/mic.svg"); }

.teemeeting-audio-button-off {
  background-image: url("../../res/meeting/mic_none.svg"); }

.teemeeting-endmeeting-button {
  background-image: url("../../res/meeting/video_end.svg"); }
