.teemeeting-container {
  display: grid;
  grid-auto-columns: 23rem;
  grid-template-rows: 29.25rem 12.94rem 2rem;
  grid-template-areas: "tm-remote-view" "tm-local-view" "tm-footer";
  background-image: radial-gradient(50% 99%, #2a2a2a 46%, #1f1f1f 100%); }

.teemeeting-gridview-container {
  display: grid;
  grid-auto-columns: 69.19rem;
  grid-template-rows: 42rem 2rem 1rem;
  grid-template-areas: "tm-gridview-remote-view" "tm-gridview-footer";
  background-image: radial-gradient(50% 99%, #2a2a2a 46%, #1f1f1f 100%); }

.tm-remote-view {
  grid-area: tm-remote-view;
  position: relative;
  display: flex;
  text-align: center; }

.tm-remote-view .tm-remote-view-renderer {
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto; }

.tm-local-view {
  grid-area: tm-local-view;
  position: relative;
  display: flex;
  text-align: center; }

.tm-local-view .tm-local-view-renderer {
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  background-size: cover;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto; }

.tm-footer {
  grid-area: tm-footer;
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center; }

.tm-gridview-remote-view {
  grid-area: tm-gridview-remote-view;
  position: relative;
  display: flex;
  text-align: center; }

.tm-gridview-remote-view .tm-gridview-remote-view-renderer {
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto; }

.tm-gridview-footer {
  grid-area: tm-gridview-footer;
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center; }

.tm-profile {
  display: inline-block;
  opacity: 0%;
  background-size: 100%;
  border: none;
  width: 23rem;
  height: 13rem;
  margin: auto; }
