/*test*/
div.message__content-body__content p{
	min-height : 1.25rem;
	align-self: center;
}

/* desktop */
@media (min-width:48.0625rem) {
}

/* moblie 세로*/
@media (max-width:64rem) {
	#talk-footer__reply-view {
		position: initial;
	}
}
	
#talk-footer__send-button {
	height: 4.81rem;
	width: 4.81rem;
	flex-direction: column;
	border-radius: 0.625rem;
}	
.talk-footer__send-image {
	width: 1.69rem;
	height: 1.69rem;
	margin-bottom: 0.13rem;
}
.talk-footer__btn-default-color {
	filter: invert(21%) sepia(93%) saturate(3150%) hue-rotate(245deg) brightness(82%) contrast(88%);
}
.talk-img__filter {
	filter : invert(46%) sepia(74%) saturate(5649%) hue-rotate(235deg) brightness(93%) contrast(92%);
}

#talk-footer-wrapper {
	padding: 0 0.625rem 0.625rem 0.625rem;
}

#talk-footer {
    position: relative;
 /*background: white !important;*/
     height:8.3125rem;
     border: 0.0625rem solid #DEE0E7;
   	 border-radius: 0.75rem;
}

.talk-footer__originalMsg{
 font-size: 0.8125rem;
 width: inherit;
 color: rgba(0,0,0,0.50);
 line-height:1.75;
}

.talk-footer--normal {
 height: 10.125rem;
}

.talk-footer--simple {
 height: fit-content;
}

#talk-footer__input p {
 margin-block-start: 0;
 margin-block-end: 0;
}

#talk-footer__reply-view {
	 display: none;
	 align-items: flex-start;    
	 justify-content: center;
	 position: absolute;
	 bottom: 7.69rem;
	 height: fit-content;
	 background-color: #EEEEF5;
	 border-radius: 0.75rem 0.75rem 0 0;
	 width: calc(100% - 2.5rem);
	 left: 1.25rem;
	 right: 1.25rem;
	 padding: 0.625rem 1.9375rem;
	 box-sizing: border-box;
	 z-index: 1
 /* top, height 수치 같게. */
}

.replyTo {
	color: #523DC7;
}

.talk-footer__reply-to {
	font-size: 0.75rem;
	color: #523DC7;
}

#talk-footer__emoticon-view {
	display: none;
	align-items: center;
	/*justify-content: flex-end;*/
	position: absolute;
	top: -6rem;
	height: 6rem;
	width: 100%;
	/*padding: 10px;*/
	background-color: rgba(0,0,0,0.5);
	border-radius: 1rem 1rem 0 0;
	box-sizing: border-box;
	/* top, height 수치 같게. */
	/* emoticon popup bottom 값도 바뀌어야 함 */
}

#talk-footer__reply-cancel-button {
	float:right;
}

#talk-footer__reply-cancel-button,
#talk-footer__emoticon-cancel-button {	
	height: 85%;
	box-sizing:border-box;
	border-radius: 0.625rem;
	font-size: 1rem;
	color: #595B5D;
	display: flex;
	cursor: pointer;
	justify-content: center;
}


#talk-footer{
    display: flex;
    flex-direction: column;
    height: 7.69rem;
}

#talk-footer__input-wrapper{
    display: flex;
    flex:1;
    padding:0.75rem;
    align-items: flex-end;
    background-color: #F5F5FB;
    border-radius: 0 0 0.75rem 0.75rem;
}

#talk-footer__input {
	font-size: 0.875rem;
	color: #000000;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	line-height: 1.5625rem;
	/* 25 * 라인수(4) */
	max-height: 6.25rem;
	white-space : pre-line;
}

.talk-footer__input--normal {
 height: 4.875rem;
}

.talk-footer__input--simple {
 height: fit-content;
 font-size: 0.75rem;
 width:12.5rem;
}

#talk-footer__input:focus {
 outline: 0rem;
}


#talk-footer__input[contenteditable=true]:empty:before {
 content: attr(data-placeholder);
 color: #C5C5C8;
}

#talk-footer__input{
    flex:1;
    width: 60.9375rem;
    height: 4.8125rem;
}

#talk-footer__input[contenteditable=true]:empty:before {
    content: attr(data-placeholder);
    font-size: 0.8125rem;
    color: #A0A9B6;
}

#talk-footer__buttons{
    display: flex;
    flex-direction:row;
    padding: 0rem 1.0625rem;
    font-size: 0.8125rem;
    align-items: center;
    height: 1.94rem;
    border-bottom: 0.0625rem solid #E3E7EB;
    color: #818181;
}

#talk-footer__file-button,
#talk-footer__emoticon-button,
#talk-footer__mention-button {
    margin-right:0.8125rem;
    width:1rem;
    height:1rem;
    cursor:pointer;
    color : #818181;
}

#talk-footer__file-button img,
#talk-footer__emoticon-button img,
#talk-footer__mention-button img {
	width:100%;
} 
/*align-self : flex-end 필요?*/
#talk-footer__send-button{
    display:flex !important; /* common에서 none으로 되어있음*/
    justify-content: center;
    align-items: center;
    cursor:pointer;
    border: none;
    background-color: #6C56E5;
    color: white;
    margin-left: 0.375rem;
    font-size: 0.8125rem;
}

/* TODO : hover effect
#talk-footer__send-button:not(:disabled):hover {
 box-shadow: 200px 0 0 0 #0095b3 inset;
}
*/

#talk-footer__send-button:disabled {
    cursor: not-allowed;
    background: #FFFFFF;
    border: 0.0625rem solid #C6CED6;
    border-radius: 1.5rem;
    font-size: 0.8125rem;
    color: #3B3B3B;
}

#footer__file-upload-button {
 display:flex;
 width: 1.6875rem;
 height: 1.6875rem;
 justify-content:center;
 align-items:center;
 background: #00A4C3;
 color: white;
 margin-right: 0.875rem;
 cursor: pointer;
 border: none;
 font-size: 1.75rem;
}

.footer__file-upload-button--simple {
 width: 1.25rem !important;
 height: 1.25rem !important;
 line-height: 0;
 font-size: 1.3125rem !important;
}

#footer__file-upload-button:hover {
 box-shadow: 12.5rem 0 0 0 #0095b3 inset;
}

#footer__file-upload-button:focus {
 outline: 0rem;
}


#footer__emoticon-button,
#footer__mention-button,
#footer__schedule-button,
#footer__game-button {
	font-size: 1.125rem;
	cursor: pointer;
	margin-right: 0.625rem;
	color: #717376;
	padding: 0.125rem;
	border-radius: 0.3125rem;
}

#footer__emoticon-button:hover,
#footer__mention-button:hover,
#footer__schedule-button:hover,
#footer__game-button:hover {
	background-color: rgba(0, 164, 195, 0.2)
}

#footer__typing-text {
	font-size: 0.8125rem;
	color: #000000;
}

#talk-footer__message-counter {
	margin-left: auto;
	display: none;
	font-size: 0.8125rem;
	color: #A0A9B6;
}