#talk__date-picker {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0.375rem;
    right: 0.6875rem;
    width: 18.75rem;
    background: white;
    border: 0.0625rem solid black;
    user-select: none;
}

#talk__date-picker__header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.9375rem;
}

#talk__date-picker__curr-text {
    color: #000000;
    font-size: 1.375rem;
    width: 5rem;
    margin: 0 2.0625rem;
}

#talk__date-picker__prev-button,
#talk__date-picker__next-button {
    display: inline-flex;
    width: 1.4375rem;
    height: 1.4375rem;
    justify-content: center;
    align-items: center;
    color: #8C8E92;
    font-size: 0.8125rem;
    border: 0.0625rem solid #ACB0BC;
    box-sizing: border-box;
    cursor: pointer;
}

#talk__date-picker__prev-button:hover,
#talk__date-picker__next-button:hover {
    background: #EDEDED;
}

#talk__date-picker__body {
    display: flex;
    flex-flow: column;
}

#talk__date-picker__table {
    display: flex;
    flex-flow: column;
    font-size: 0.875rem;
    line-height: 0.0625rem;
}

#talk__date-picker__table-header {
    display: flex;
    background: #EDEDED;
    height: 1.625rem;
}

#talk__date-picker__table-body {
    display: flex;
    flex-direction: column;
}

.talk__date-picker__table-row {
    display: flex;
}

.talk__date-picker__header-item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 7);
    height: 1.625rem;
}

.talk__date-picker__table-item{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 7);
    margin: 0.375rem;
    height: 1.8125rem;
    border-radius: 1.25rem;
}

.talk__date-picker__table-item--active{
    background: rgba(0,164,195,0.30);
}

.talk__date-picker__header-item:first-child,
.talk__date-picker__table-item:first-child {
    color: #E71C1C;
}

.talk__date-picker__header-item:last-child,
.talk__date-picker__table-item:last-child {
    color: blue;
}

.talk__date-picker__table-item:not([dummy]):hover {
    background-color: #EDEDED;
    cursor: pointer;
}