.talk-footer__emoticon-cancel-button--simple {
	margin: 0.625rem 1.5rem 0 3rem !important;
}

/* desktop */
@media (min-width:48.0625rem) {
	
  	#talk__emoticon-popup,
    #emoticon-popup {
        position : absolute;
        width: 20rem;
        height: 13.938rem;
        border: 0.0625rem solid #C6CED6;
		box-shadow: 0 0.0625rem 0.25rem 0 rgba(0,0,0,0.20);
		border-radius: 0.25rem;
    }
    
    .emoticon-popup__emoticon-item__background--big  {
	    width: 4.125rem;
	    height: 4.125rem;
    }
}

/* moblie 세로*/
@media (max-width:64rem) {
	
	#talk__emoticon-popup,
    #emoticon-popup {
        position : relative;
        height: 11.8125rem;
        width: 100%;
        border-top: 0.0625rem solid #dddddd;
        box-shadow: 0 0 0 0;
    }
    
    /*
    .emoticon-popup__emoticon-item__background--big  {
	    width: 5.8594rem;
	    height: 5.8594rem;
    }
    */
}

#talk__emoticon-popup,
#emoticon-popup{
    /* position: absolute; */
    background: #FFFFFF;
    border-radius: 0.25rem;
    z-index: 9999;
}

#talk__emoticon-popup__tab,
#emoticon-popup__tab{
    width:100%;
    height:2.5rem;
    background: #FFFFFF;
    border-bottom:0.0625rem solid #C6CED6 ;
    border-radius: 0.25rem 0.25rem 0.25rem 0rem;
}

.emoticon-popup__tab-item{
    font-size: 1.125rem;
    height: 100%;
    margin-right: 0.9375rem;
    display: inline-flex;
    align-items: center;
    cursor:pointer;
    justify-content: center;
}

.emoticon-popup__tab-item-icon {
	display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.emoticon-popup__tab-item-icon:hover {
	background-color: #DCDDFF;
}

span.emoticon-popup__tab-item.icon-work_settings {
    float: right;
}

.emoticon-popup__tab-item:first-child{
    margin-left:1.25rem;
}

.emoticon-popup__tab-item:hover{
    color: #6C56E5;
    box-sizing: border-box;
    border-bottom: 0.125rem solid #6C56E5;
}

.emoticon-popup__tab-item--active{
    color: #6C56E5;
    border-bottom:0.125rem solid #6C56E5;
    box-sizing: border-box;
}

#talk__emoticon-popup__content,
#emoticon-popup__content{
    width:100%;
    height:calc(100% - 2.5rem);
}

.emoticon-popup__content-page{
    display: none;
    width:calc(100% - 0.938rem);
    height:calc(100% - 1.25rem);
    padding: 0.625rem 0rem 0.625rem 0.625rem;
}

.emoticon-popup__emoticon-container {
    width:100%;
    height:100%;
    line-height: 0.5625rem;
    overflow-y : scroll;
    overflow-x : hidden;
    white-space: initial;
}

.emoticon-popup__emoticon-item--small{
    display:inline-block;
    position : relative;
    width:1.25rem;
    height:1.25rem;
    cursor:pointer;
}

.emoticon-popup__emoticon-item--big{
    display:inline-block;
    position : relative;
    width:3.75rem;
    height:3.75rem;
    padding:0.1875rem;
    margin-right:0.25rem;
    margin-bottom:0.25rem;
    cursor:pointer;
}

.emoticon-popup__emoticon-item__background--small{
    width: 1.63rem;
    height: 1.63rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position : relative;
    top : 0rem;
    left : 0rem;
    border-radius: 0.25rem;
    margin-right: 0.56rem;
    margin-bottom: 0.56rem;
}

.emoticon-popup__emoticon-item__background--big{
    display: inline-block;
    position : relative;
    border-radius: 0.25rem;
    top : 0rem;
    left : 0rem;
    background: rgba(0, 164, 195, 0);
}

.emoticon-popup__emoticon-item__background--small:hover,
.emoticon-popup__emoticon-item__background--big:hover{
    background-color: #DCDDFF;
}