.mention {
    /*background: #ddf0f8;*/
    color: #523DC7;
    text-decoration: none;
    cursor: pointer;
    margin-right: 0.3125rem;
    font-weight:bold;
    -webkit-user-modify: read-only;
}

/* desktop */
@media (min-width:49.875rem) {
	#talk__mention-popup{
		width: 12.625rem;
	}
	#talk__mention-popup__search-container{
		width:11.313rem;
	}
	
	#talk__mention-popup__search-area {
		width:8.1rem;
	}
}
/* mobile*/
@media (max-width:49.875rem) {
	#talk__mention-popup{
		width: 100%;
	}
	
	#talk__mention-popup__search-container{
		width: calc(100% - 1rem);
	}
	
	#talk__mention-popup__search-area {
	    display: flex;
    	flex-grow: 1;
	}
}

#talk__mention-popup,
#mention-popup {
    display: none;
    position: absolute;
    border-radius:0.25rem;
    height: fit-content;
    background: #FFFFFF;
    padding-top: 0.313rem;
    z-index: 9999;
    border: 0.0625rem solid #C6CED6;
    box-shadow: 0 0.0625rem 0.25rem 0 rgba(0,0,0,0.20);
}

#talk__mention-popup__list-container,
#mention-popup__list-container {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 23rem;
    border-top: 0.0625rem solid #CDCDCF;
    border-left: 0.0625rem solid #CDCDCF;
    border-right: 0.0625rem solid #CDCDCF;
    border: none;
}

#talk__mention-popup__search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.875rem;
    background: #FFFFFF;
    /*js에서 css 먹이는 중이라 필요 없음*/
	/*border: 1px solid #6C56E5;*/
	border-radius: 1.5625rem;
}

#talk__mention-popup__search-area {
    height: 1.125rem;
    margin-left: 0.375rem;
    outline: 0rem;
    outline-offset: 0rem;
    border: 0rem solid #cccccc;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

#talk__mention-popup__search-icon {
    font-size: 0.875rem;
    margin-left: 0.625rem;
    display: inline-flex;
    align-items: center;
    height: 100%;
}

#talk__mention-popup__list,
#mention-popup__list {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-left: 0;
    overflow-y: hidden;
}


.mention-popup__list-item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 2.25rem;
}

.mention-popup__list-item--active {
    /*background: rgba(127, 209, 225, 0.70);*/
    background: #DCDDFF;
    border-radius:1.125rem;
}

.mention-popup__list-item:hover {
    background : #DCDDFF;
	border-radius: 1.125rem;
    cursor: pointer;
}

.mention-popup__status {
	display:none;
    /*display: inline-block;*/
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #6C56E5;
    margin-left: auto;
    margin-right:0.75rem;
}

.mention-popup__photo-wrapper {
    display: inline-block;
    width: 1.75rem;
    height: 1.75rem;
    margin-left: 0.688rem;
    margin-right: 0.375rem;
    border-radius:50%;
   	box-shadow: 0 0 0 1px rgba(0,0,0,0.05) inset;
    background-color: #EAEAFB;
}

.mention-popup__user-photo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.05) inset;
}

.mention-popup__user-info {
    display: inline-block;
    font-size: 0.8125rem;
    color: #000000;
    max-width: calc(100% - 3.75rem);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*version 2를 위한 css 수정*/
#talk__mention-popup__search-container__wrapper{
	display:flex;
	width : 100%;
	height : 2.625rem;
	background: #F3F3F5;
	border-radius: 0 0 0.125rem 0.125rem;
	text-align:center;
	border : 0.0625rem solid #E3E7EB;
	cursor: pointer;
}
	
#talk__mention-popup__search-container{
	margin:auto 0.5rem;
}

#talk__mention-popup__search-cancel {
	cursor:pointer;
	font-size:0.5rem;
	margin-right: 0.625rem;
}