#talk .context-menu {
    width: 8.625rem;
    display: flex;
    padding: 0.3125rem 0rem;
    box-sizing: border-box;
    flex-direction: column;
}

.context-menu {
    position : absolute; 
    border : 0.0625rem solid #C6CED6;
    box-shadow: 0 0.0625rem 0.25rem 0 rgba(0,0,0,0.35);
    border-radius: 0.25rem;
    font-size: 0.8125rem;
    color: #333333;
    background-color : white;
    z-index:1000;
    width : 8.688rem;
    /*height : 5.5rem;*/
}

.context-menu__background{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    /* background-color:yellow; */
    opacity: 0.5;
    z-index:999;
}
.context-menu__item {
    cursor : pointer;
    display: flex;
    padding: 0.25rem 0.75rem;
    width: 100%;
    box-sizing: border-box;
    font-size: 0.75rem;
	color: #0C0C0C;
	letter-spacing: 0;
	/*기획에 center인데 기획 그림이랑은 다름
	우선 center 먹여놓음*/
	text-align: center;
}

.context-menu__item:hover {
    background-color: #EAEAFB;
}

.context-menu__item--disabled {
    cursor : not-allowed;
    color : #dddddd;
    padding: 0.3125rem;
}