/* TALK CUSTOM STYLE */
.tooltip {
    width: auto;
    height: auto;
    padding: 0.3125rem 0.625rem;
    border-radius: 0.625rem;
    background: #666666;
    font-size: 0.75rem;
    color: white;
    position: fixed;
    z-index: 6;
    white-space: nowrap;
}

/* TOP STYLE */
/* .tooltip {
    width: auto;
    height: auto;
    background-color: #FFFAE4;
    padding: 6px 7px;
    color: #000000;
    border-radius: 0px;
    border: 1px solid #FAEEBC;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    font-size: 11px;
    position: fixed;
    z-index: 6;
    white-space: nowrap;
} */