/*html {
    font-size:16px !important;
}*/

/* 미니채팅방 badge icon*/
#talk_ICON .notibadge {
	width:0.4375rem;
	height:0.4375rem;
	max-height:0.4375rem;
	min-width:0.4375rem;
	margin-top:-1.625rem;
	margin-left:1.8125rem;
	background-color:#FF780A;
}

/* desktop */
@media (min-width:48.0625rem) {
	#talk__file-menu{
		display: flex;
	    align-items: center;
	    height: 2.8125rem;
	    margin-top:0.5rem;
	    padding: 0.5625rem 2.5rem;
	    box-sizing: border-box;
	}
	
	#talk-footer__reply-cancel-button,
	#talk-footer__emoticon-cancel-button {	
    	margin: 0.5rem 0.5rem 0 1.1875rem;
    	width : 1rem
	}

    .talk-main--user-group,
    .talk-main--user-group--mini,
    .talk-main--my-space--mini {
        display: flex;
        width: 100%
    }

    .talk-main--my-space {
        display: flex;
        width: 83.5%
    }

    .talk-sidebar--user-group,
    .talk-sidebar--user-group--mini,
    .talk-sidebar--my-space--mini {
        display: none;
        width: 16.5%;
        max-width: 17.25rem;
        min-width: 14.125rem;
    }

    .talk-sidebar--my-space {
        display: inline-block;
        width: 16.5%;
        max-width: 17.25rem;
        min-width: 14.125rem;
    }

/*    .talk-title-empty--user-group {
        display: inline-flex;
    }
*/
/*    .talk-title-empty--my-space,
    .talk-title-empty--my-space--mini,
    .talk-title-empty--user-group--mini {
        display: none;
    }
*/
	#talk-header {
	    display: flex;
	    position: relative;
	    height: 2.875rem;
	    /* z-index:1 */
	}
	
    .talk-title--user-group {
        width: 100%;
    }

    .talk-title--my-space--mini,
    .talk-title--user-group--mini,
    .talk-title--my-space {
        width: 100%;
    }

    #talk-sidebar {
        border-right: 0.0625rem solid #DADADA;
    }
    
    .talk__table-scroll{
        max-height : 78vh;
    }
    
    /* 
    #header__right-container{
        display:flex;
    } */


	#talk-content-main {
	    /* width: 100%; */
	    height: calc(100% - 8.31rem)
	}
	
    #talk-timeline {
        margin: 0 1.75rem;
        width: calc(100% - 3.5rem);
    }

    talk-message-layout {
        font-size:0.75rem;
        color: #8C8E92;
        padding: 0.3125rem 1.25rem;
    }

    #footer__top {
        padding: 1.1875rem 2.313rem 0.625rem 1.75rem;
    }

    #footer__bottom {
        margin: 0 1.5625rem; 
        padding: 0.5625rem;
    }

    #sidebar__logo-container{
        padding-left : 0.75rem;
    }

    #talk-title{
        padding : 0 1.75rem;
    }
}

/* moblie 세로*/
@media (max-width:64rem) {	
	#talk-footer__reply-cancel-button,
	#talk-footer__emoticon-cancel-button {	
    	margin: 0.6375rem 0.6375rem 0 0;
    	width:1.5938rem;
	}
	
	#talk__file-menu{
		display: flex;
	    align-items: center;
	    height: 2.8125rem;
	    padding: 0.5625rem 1.125rem;
	    border-bottom: 0.0625rem solid #C5C5C8;
	    box-sizing: border-box;
	}

    .talk-main--user-group {
        display: flex;
        width: 100%;
    }

    .talk-main--my-space {
        display: none;
        width: 100%;
    }

    .talk-sidebar--user-group {
        display: none;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }

    .talk-sidebar--my-space {
        display: inline-block;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }

     .talk__table-scroll{
        max-height : 67vh;
    }
    
/*    .talk-title-empty--user-group,
    .talk-title-empty--my-space {
        display: none;
    }
*/

	#talk-header {
	    display: flex;
	    position: relative;
	    height: 3.5rem;
	    /* z-index:1 */
	}
	
    .talk-title--user-group,
    .talk-title--my-space {
        width: 100%;
    }

    #talk-sidebar {
        border-right: 0rem solid #DADADA;
    }

    /* 
    #header__right-container{
        display:none;
    } */
    
	#talk-content-main {
	    /* width: 100%; */
	    height: calc(100% - 10.313rem)
	}
	
    #talk-timeline {
        margin: 0 0.5rem;
        width: calc(100% - 1rem);
    }

    talk-message-layout {
        padding: 0.3125rem 0.625rem;
    }

    #footer__top {
        padding: 0.75rem calc(5% + 0.563rem) 0.625rem 5%;
    }

    #footer__bottom {
        padding: 0 2%;
        margin: 0 3%;
    }

    #sidebar__logo-container{
        padding-left : 5%;
    }

    #talk-title{
        padding : 0 0.9375rem;
    }
}

.talk__hidden {
	display: none;
}

.talk__flex {
	display:flex;
}

#talk {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    line-height:0.8125rem;
}

#talk-sidebar {
    height: 100%;
    background-color: rgb(245, 245, 245);
    box-sizing: border-box;

}

#talk-main {
    display:flex;
    width:100%;
    /* height: 100%; */
    flex-direction: column;
    position: relative;
}

#talk-content-main {
    position: relative;
    flex: 1;
    overflow-y:hidden;
}


.talk-new-message {
	display: flex;
    align-items: center;
    justify-content: center;
    height: 1.25rem;
    margin: 1.25rem;
    font-size: 0.6875rem;
    color: #5C5C5C;
    background: #F5F5FB;
    border-radius: 0.7188rem;
}

.content__complete-message-container,
.content__temp-message-container {
	width:100%;	
}

.talk__table-scroll {
    position: relative;
    overflow: auto;
    display: block;
}

.message__content-body__content a:link,
.message__content-body__content a:visited,
.message__content-body__content a:hover,
.message__content-body__content a:active {
	color : #523DC7;
	text-decoration : underline;
	cursor: pointer;
}

/* 자주 쓰는 text overflow시 ellipsis*/
.talk__text-truncated {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*min-width: 0;*/
    flex: 1;
}

/* 모바일에서 메세지 전체보기 */
#talk__fullMsg-main {
	font-size:0.8125rem;
	word-break:break-all;
	white-space:normal;
	overflow:auto;	
    height: 80%;
}

/* Dialog */

/* 첨부파일 리스트 header*/
.talk__file-list-header {
    display: flex;
    justify-content: space-around;
    line-height: 2;
    height: 1.6875rem;
    font-size: 0.8125rem;
    background-color: #ADADAD;
    font-weight: bold;
}
	
#talk__file-menu>*:disabled,
#talk__file-menu span {
    border: 0.0625rem solid #C5C5C8;
}

#talk__file-menu>* {
    margin-right: 0.6875rem;
    width: 4.5rem;
    height: 1.5rem;
    border: 0.0625rem solid #00a4c3;
    border-radius: 0;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
}


#talk__pagination > * {
    margin-right : 0.3125rem;
    cursor:pointer;
    font-size : 0.875rem;
}
#talk__pagination > *:hover {
    color : rgb(0, 164, 195);
    text-decoration : underline;
}

.talk__file-list-item {
    /*텍스트가 길어질 경우 말줄임표시 기능 */
    font-size: 0.8125rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.talk__selectbox {
    outline: 0rem;
    border: 0.0625rem solid #CDCDCF;
    font-size: 0.8125rem;
    color: #333333;
    height: 1.6875rem;
}

.talk__selectbox:focus {
    border: 0.0625rem solid #00A4C3;
    outline: 0rem;
}

.talk__selectbox option:hover {
    background-color: rgba(0, 164, 195, 0.30);
}

.talk__input::placeholder {
    color: #C5C5C8;
    font-family: NotoSansCJKkr-Regular;
}

/* 버튼 */
.talk__common-button--purple {
    display: flex;
    height: 1.88rem;
    justify-content: center;
    align-items: center;
    background: #6C56E5;
    color: white;
    border: none;
    text-align: center;
    font-size: 0.8125rem;
    border-radius: 0.9375rem;
    width: 4.5rem;
}

.talk__common-button--white {
    display: flex;
    height: 1.88rem;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    color: #3B3B3B;
    border: 0.0625rem solid #C6CED6;
    text-align: center;
    font-size: 0.8125rem;
    border-radius: 0.9375rem;
    width: 4.5rem;
    
    /*dialog + 버튼 css 추가한거*/
    margin-right:1rem;
}

.talk__common-button--purple:disabled,
.talk__common-button--white:disabled {
    background-color: #F5F5F5;
    cursor: not-allowed;
    border: 0.0625rem solid #C5C5C8;
    color: #C5C5C8;
}

.talk__common-button--purple:focus,
.talk__common-button--white:focus {
    outline: 0rem;
}

.talk__common-button--purple:not(:disabled):hover {
    background-color: #5a3ae8;
}

.talk__common-button--white:not(:disabled):hover {
    background-color: rgba(234, 234, 251,0.8);
}

/* 체크박스 */
.talk__checkbox input[type='checkbox'] {
    display: none;
}

.talk__checkbox input[type='checkbox']+label {
    display: flex;
    position: relative;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.talk__checkbox input[type='checkbox']+label::after {
    display: none;
}

.talk__checkbox input[type='checkbox']:checked+label::after {
    display: inline-block;
    content: '';
    top: 0.3125rem;
    left: 0.1875rem;
    position: absolute;
    border-left: 0.125rem solid white;
    border-bottom: 0.125rem solid white;
    height: 0.375rem;
    width: 0.5625rem;
    transform: rotate(-45deg);
}

.talk__checkbox input[type='checkbox']+label::before {
    content: '';
    position: relative;
    display: inline-block;
    margin-right: 0.3125rem;
    width: 0.9375rem;
    height: 0.9375rem;
    border: 0.0625rem solid #9aa8b1;
    border-radius: 0.1875rem;
}

.talk__checkbox input[type='checkbox']:checked+label::before {
    background: #00A4C3;
}

/* 라디오 버튼 */
.talk__radio input[type='radio'] {
    display: none;
}

.talk__radio input[type='radio']+label {
    display: flex;
    position: relative;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.talk__radio input[type='radio']+label::after {
    display: none;
}

.talk__radio input[type='radio']:checked+label::after {
    display: inline-block;
    content: '';
    top: 0.4375rem;
    left: 0.3125rem;
    position: absolute;
    border: 0.1875rem solid white;
    height: 0.3125rem;
    width: 0.3125rem;
    border-radius: 0.625rem;
}

.talk__radio input[type='radio']+label::before {
    content: '';
    position: relative;
    display: inline-block;
    margin-right: 0.3125rem;
    width: 1rem;
    height: 1rem;
    border: 0.0625rem solid #9aa8b1;
    border-radius: 0.625rem;
}

.talk__radio input[type='radio']:checked+label::before {
    background: #00A4C3;
}

/* 스크롤바 */

#talk__mention-popup__list-container::-webkit-scrollbar {
	width: 0.3125rem;
}

#talk__mention-popup__list-container::-webkit-scrollbar-thumb {
    width: 0.3125rem;
}

::-webkit-scrollbar {
    width: 0.375rem;
    height: 0.625rem;
}

::-webkit-scrollbar-track {
    /* background-color: #d1d2dc; */
}

::-webkit-scrollbar-thumb {
    width: 0.375rem;
    background: #C5C5C8;
    /*border: 0.188rem solid transparent;*/
    background-clip: padding-box;
    border-radius: 0.5625rem;
    opacity: 0.6;
}