#sidebar__logo-container {
    display:flex;
    align-items: center;
    background:#FFFFFF;
    font-size:1.0625rem;
    box-sizing: border-box;
    border-bottom:0.0625rem solid #c5c5c8;
    width: 100%;
    height: 3.5rem;
}

/* 수정 */
#sidebar__talk-icon {
    display: inline-block;
    color:#717376;
    margin-right: 0.625rem;
}


#sidebar__room-search-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3.125rem;
    padding-left: 0.75rem;
    box-sizing: border-box;
}

#sidebar__room-search-input {
    display: inline-block;
    width: 100%;
    height: 1.375rem;
    padding: 0.125rem 0 0.125rem 0.625rem;
    border: 0.0625rem solid #cccccc;
}

#sidebar__room-search-input:focus {
    border: 0.0625rem solid #00A4C3;
    outline : 0rem;
}

#sidebar__room-search-input:empty {
    content: attr(placeholder);
}

#sidebar__room-search-icon {
    font-size: 0.8125rem;
    color: #49515d;
    display: inline-block;
    transform: translateX(-25px);
}

#sidebar__favorite-room-container {
    padding: 0 0 0 0.75rem;
    margin-bottom: 0.125rem;
}

#sidebar__normal-room-container {
    padding: 0 0 0 0.75rem;
}

#sidebar__favorite-title,
#sidebar__normal-title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 2.5625rem;
    border-top: 0.0625rem solid #088aa3;
    border-bottom: 0.0625rem solid #088aa3;
    color: #088aa3;
    font-weight: bold;
    font-size: 0.8125rem;
    padding-left: 1.0625rem;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
}

#sidebar__normal-title {
    justify-content: space-between;
}

#sidebar__btn-create-room {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: 0rem;
    color: #088AA3;
    width: 1.0625rem;
    height: 1.0625rem;
    font-size: 1.1875rem;
    margin-right: 0.75rem;
    background: #00A4C3;
    line-height: 0.0625rem;
}

#sidebar__btn-create-room:focus {
    outline: 0rem;
}

.sidebar__menu--inactive #sidebar__btn-create-room {
    /* box-shadow: 0 10px 20px -8px; */
    /*transform: translateY(-3px);*/
    background: transparent
}

.sidebar__menu--inactive:hover #sidebar__btn-create-room:hover {
    /* box-shadow: 0 10px 20px -8px; */
    /*transform: translateY(-3px);*/
    background: rgba(0, 164, 195, 0.20);
}

/* 변경해야 함 */
.sidebar__title-icon {
    display: inline-block;
    color: #088aa3;
    font-size: 0.6875rem;
    margin-right: 0.3125rem;
}

.sidebar__menu--inactive:hover {
    background: rgba(0, 164, 195, 0.25);
}

.sidebar__menu--inactive {
    background: rgba(0, 164, 195, 0.10);
}

#sidebar__favorite-rooms,
#sidebar__normal-rooms {
    transition: max-height 0.5s ease;
    overflow: hidden;
}

#sidebar__favorite-rooms.expanded,
#sidebar__normal-rooms.expanded {
    transition: max-height 0.5s ease;
}

#room-container {
    overflow-y: scroll;
    margin-right: 0.1875rem;
    max-height: calc(100% - 6.875rem);
}

.menu-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 2.25rem;
    align-items: center;
    padding: 0 0 0 1.3125rem;
    cursor: pointer;
    box-sizing: border-box;
}

.menu-item__name-text {
    display: inline-block;
    /*width: 100%;*/
    /* width: calc(100% - 100px); */
    /* max-width: calc(100% - 100px); */
    font-size: 0.8125rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 0.4375rem;
}

.menu-item:hover,
.menu-item.hover {
    background: rgba(218,218,218,0.4);
}

.menu-item.active {
    background: rgba(218,218,218,0.8);
}

.menu-item__unreadMsg{
	border-radius:0.625rem;
	background-color:red;
	color:white;
	font-size:0.8125rem;
	padding: 0 0.5rem;
}

.menu-item .menu-item__setting-icon {
    visibility: hidden;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 0.875rem;
    color: #999999;
    cursor: pointer;
}

.menu-item .menu-item__setting-icon:hover {
    color: #8C8E92;
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-item:hover .menu-item__setting-icon {
    visibility: visible;
}

.menu-item--hover {
    background-color: #DADADA;
}

.menu-item--hover .menu-item__setting-icon {
    color: #8C8E92;
    background-color: rgba(0, 0, 0, 0.1);
    visibility: visible;
}

.menu-item__favorite-icon {
    display: inline-block;
    cursor: pointer;
    font-size: 0.875rem;
    margin-right: 0.375rem;
}

.menu-item__alarm-icon {
    display: inline-block;
    font-size: 0.875rem;
    color: #999999;
    margin-right: 0.4375rem;
}