/* desktop */
@media (min-device-width:48.0625rem) {

    .header__menu-icon--my-space,
    .header__menu-icon--user-group {
        display: none;
    }    
}

/* moblie 세로*/
@media (max-device-width:64rem) {
    .header__menu-icon--my-space {
        display: inline-block;
    }

    .header__menu-icon--user-group {
        display: none;
    }
    
    #header__right-container {
    	display : flex;
    }
}

/* #talk-header-empty{
    width: 16.5%;
    min-width: 226px;
    max-width: 276px;
} */

#talk-header__room-list-container {
    display: flex;

    border-bottom: 0.0625rem solid #DADADA;
}

#talk-header__room-list {
    display: flex;
    flex: 1;
    align-items: center;
    width: 100%;
    height: 3.75rem;
    overflow-x: auto;
}

#talk-header__room-list::-webkit-scrollbar {
    display: none;
}

#talk-header__prev-room-button,
#talk-header__next-room-button {
    display: flex;
    flex-basis: 1.25rem;
    align-items: center;
    justify-content: center;
    font-size: 0.9375rem;
    color: rgb(113, 115, 118);
    height: 100%;
    background: rgba(238, 238, 238, 0.3);
    user-select: none;
    cursor: pointer;
}

#talk-header__prev-room-button:hover,
#talk-header__next-room-button:hover {
    background: rgba(238, 238, 238, 0.8);
}

.talk-header__room-item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 2.8125rem;
    height: 2.8125rem;
    margin: 0 0.1875rem;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
}

.talk-header__room-item--active{
    border: 0.125rem solid #FF9211;
}

.talk-header__room-item-text {
    font-size: 0.9375rem;
    color: #FFFFFF;
    user-select:none;
}

#header__room-info {
    display: flex;
    align-items: center;
    overflow: hidden;
    /* 기획상의 최소 간격*/
    margin-right: 2.5625rem;
}

#header__num-member {
	color : #00A4C3;
}

#header__right-container {
	display: flex;
	align-items:center;
}

#talk__right-container {
    align-items: center;
    margin-right: 1.25rem;
}

#talk-title-empty {
    width: 16.5%;
    min-width: 14.125rem;
    max-width: 17.25rem;
    height: 100%;
}

#talk-title {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    border-bottom: 0.0625rem solid #C5C5C8;
    box-sizing: border-box;
    z-index: 2;
}

.talk-title-right-items>* {
    display: inline-block;
}

#talk-timeline {
    display: flex;
    flex: 1;
    height: 1.125rem;
    color: #8C8E92;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.5);
    background-color: #eeeeee;
    font-size: 0.75rem;
    user-select: none;
    z-index: 2;
}

.talk-timeline--mini {
    font-size: 0.6875rem !important;
    line-height: 0.0625rem !important;
    margin: 0rem 0.625rem !important;
    background-color: rgba(0, 0, 0, 0.05) !important;
    color: #8C8E92 !important;	
}

/* TODO : timeline ver.2에서 확실히 없어진거면 삭제 */
#talk-timeline-container {
    width: 100%;
    height: 1.4375rem;
    display: none;
    padding-top: 0.3125rem;
    box-sizing: border-box;
}

#header__talk-icon {
    display: inline-block;
    color: rgb(153, 153, 153);
    font-size: 1.0625rem;
    margin-right: 0.375rem;
    cursor: pointer;
}

#header__talk-title {
    font-size: 1.125rem;
    color: #242424;
    /*padding-right: 18px;*/
    margin-right: 0.5625rem;
    /*border-right: 1px solid #D8D8D8;*/
}

#header__menu-icon {
    color: rgb(153, 153, 153);
    font-size: 1.0625rem;
    margin: 0 0.9375rem 0 0;
    cursor: pointer;
}

#header__name-text {
    /* display:inline-block; */
    color: #000000;
    font-size: 1.125rem;
    margin-right: 0.375rem;
    /* overflow-x: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 185px); */
}

#header__alarm-off-icon,
#header__alarm-on-icon {
    color: rgb(153, 153, 153);
    font-size: 1.0625rem;
    cursor: pointer;
    user-select: none;
}

#header__room-member-icon {
	margin-right: 0.375rem;
}

#header__num-member {
	font-size: 1.0625rem;
    color: rgb(0, 164, 195);
}

#header__room-member-icon,
#header__room-file-icon,
#header__message-search-icon,
#header__search-cancel__icon {
    cursor: pointer;
    font-size: 1.0625rem;
    color: rgb(153, 153, 153);
}

#header__num-member,
#header__message-search-icon,
#header__search-cancel__icon {
	margin-right:1.0625rem;	
}

#header__message-search-icon {
    display: none;
}

#header__message-search {
    display: none;
    align-items: center;
}

#header__message-search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 0.125rem);
    height: 1.6875rem;
    border: 0.0625rem solid rgb(205, 205, 207);
    margin-right: 0.5rem;
}

#header__message-search__icon {
    display: inline-flex;
    font-size: 1.0625rem;
    color: #C5C5C8;
    margin: 0 0.375rem;
}

#header__message-search__input {
    width: 100%;
    height: calc(100% - 0.125rem);
    outline: 0rem;
    outline-offset: 0rem;
    padding-right: 0.625rem;
    border: 0rem solid #cccccc;
}

#header__message-calendar__icon {
    font-size: 1.0625rem;
    color: rgb(153, 153, 153);
    padding-right: 0.5625rem;
    border-right: 0.0625rem solid #D8D8D8;
    margin-right: 0.375rem;
    cursor: pointer;
}