.file-upload__error-msg{
	display: none;
	position: relative;
font-size: 0.8125rem;
color: red;
margin-left: 10px;
}
.file-upload__error-msg span{
	display: none;
    background-color: red;
    border-radius: 5px;
    color: white;
    padding: 10px;
    font-size: 0.7rem;
    position: absolute;
    width: 12rem;
    left: -110%;
    bottom: 150%;
}

.file-upload__error-msg span::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 10%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: red transparent transparent transparent;
}


.file-upload__error-msg:hover span{
	display: inline-block;	
}

.talk-dialog__add-file-btn {
    border-color: rgb(119, 123, 255);
    color: rgb(119, 123, 255);
    border-radius: 1.3125rem;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 1.25rem;
    display: flex;
}

/*checkbox css 변경할꺼야*/
input[id="multipleFiles"] + label {
	position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
	border : 0.0625rem solid #C6CED6;
	border-radius : 0.469rem;
	width: 0.938rem;
	height: 0.938rem !important;
	margin-left: 1rem;
	margin-bottom: 0rem !important;
	margin-right: 0.438rem;
	float: left;
	color: white;
	text-align: center;
}

input[id="multipleFiles"]:checked + label
{
	background-color: #6C56E5;
}

input[id="multipleFiles"]{
	display: none;
	position:relative;
}
/**//////////////////////////////////**/

 #top-dialog-root_talk__file-upload-dialog #selected-item-container{
    overflow-x : hidden;
    overflow-y : scroll;
    background-color: #F5F5FB;
    box-sizing: border-box;
    padding: 0.625rem 1rem;
    height:9.625rem;
}

.talk__selected-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*margin-top: 20px;*/
}

.talk__selected-title > div:first-child {
	margin-bottom: 0.4375rem;
	/*display: flex;
    align-items: center;*/
}

.talk__selected-title > div:first-child > .talk-dialog__text:first-child {
    margin-right: 0.25rem;
    font-weight: bold;
    width: auto;
}

#talk__message-input-title {
    font-weight: bold;
    width: auto;
    white-space: pre-line;
    margin: 1.25rem 0.375rem 0.625rem 1rem;
}

#top-dialog-root_talk__file-upload-dialog #talk-dialog__text-area {
    margin-bottom: 0.5rem;
    border: 0.0625rem solid rgb(198, 206, 214);
    border-radius: 0.9375rem;
    height: 6.25rem;
}

.talk-dialog__button-container {
	display:flex;
    /* margin: 2.5rem auto 0 auto; */
    padding-top: 1rem;
    justify-content: flex-end;
    width: 100%;
    font-size: 0.8125rem;
    border-width: 0.06rem 0 0 0;
    border-style: solid;
    border-color: #E3E7EB;
}

/* TODO : talkDialog에 있는 createBtn 함수 안쓰면 지우기*/
#talk__action-btn {
	margin-left:auto;
    margin-right: 0.5rem;
}

#talk-dialog__action-btn {
	margin-left:auto;
    margin-right: 0.438rem;
}

/* desktop */
@media (min-width:48.0625rem) {
	.talk__tuserlist-head {
		font-size:0.75rem;
	}
	.talk__selected-container {
		display:block;
		width: 100%;
		height: 6.25rem;
		overflow-x : hidden;
	    overflow-y : scroll;
	    background-color: #F5F5FB;
	    box-sizing: border-box;
	    padding: 0.625rem 1rem;
	    height:9.625rem;
	}
	#included-user-container {
		height: 20.0625rem;
	}
	
	.talk-dialog__add-file-btn {
	    width: 1.5rem;
	    height: 1.5rem;
	}
}

/* moblie 세로*/
@media (max-width:64rem) {	
	#top-dialog-root_talk__file-upload-dialog,
	#top-dialog-root_talk__user-list-dialog {
		width : 100% !important;
		height : 100% !important;	
		top: 0 !important;
    	left: 0 !important;
	}
	#talk__message-input-title {
		margin-bottom: 2% !important;
	}
	
	#top-dialog-root_talk__file-upload-dialog #talk-dialog__text-area {
		height:20vh;
	}
	.talk-dialog__add-file-btn {
	    width: 6vw;
	    height: 6vw;
	    margin-bottom: 2%;
	}
	.talk__selected-container {
		display:block !important;
		width: 100%;
		height: 25vh;
		overflow-x : hidden;
	    overflow-y : scroll;
	    background-color: #F5F5FB;
	    box-sizing: border-box;
	    padding: 0.625rem 1rem;
	    height:9.625rem;
	}
	#included-user-container {
		height: 20.0625rem;
	}
	    
	#top-dialog-root_talk__user-list-dialog .top-dialog-content .fixed-width-dialog {
		height: 31.25rem !important;
	}
	
	#top-dialog-root_talk__file-upload-dialog .fixed-width-dialog {
		height: calc(100% - 3.438rem) !important;
	}
}

#talk-dialog__text-area {
	font-size: 0.8125rem;
    box-sizing: border-box;
    border: 0.0625rem solid rgb(172, 176, 188);
    padding: 0.625rem;
    margin-left: 1rem;
    margin-right: 1rem;
    overflow-x : hidden;
    overflow-y : scroll;
    outline: none;
}

#talk__dialog-layout label {
	font-size: 0.75rem;
    display: flex;
    align-items: center;
    height: 1.1875rem;
    margin-bottom:1.0625rem;
    margin-top: 1rem;
    /*margin-left:0px;
    margin-right:0px;*/
}

#talk__dialog-layout label input {
	margin-left : 1rem;
}

#selectedItemCount {
	color: #7762EB;
    width: auto;
    font-size: 0.8125rem;
    margin-left:0rem;
}

.talk__tuserlist {
    border: 0.0625rem solid rgb(172, 176, 188);
    margin-bottom: 0.625rem;
    display: flex;
    flex-direction: column;
}

.talk__tuserlist-container {
	width: 100%;
    height: 2.0625rem;
    background-color: rgb(148, 148, 148);
    display: inline-block;
}


.talk__tuserlist-head {
    border-right: 0.0625rem solid white;
    display: inline-block;
    height: 2.0625rem;
    padding-left: 1rem;
    box-sizing: border-box;
    color: white;
    line-height: 1.9375rem;
}

#included-user-container{
	width: 100%;
	overflow-y : scroll
}

/* ul 태그*/
#tuserlist{
	padding:0rem;	
	width: 100%;
}

#included-user-container ul li {
	line-height:2rem;
	width: 100%;
    display: flex;
    margin-left: -1em;
}

/* ul 밑에 li 밑에 span*/
.talk__tuserlist-body {
    font-size: 0.75rem;
    height: 2.0625rem;
    display: inline-block;
    padding-left: 1rem;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
}
.talk-dialog__input {
    outline: 0rem;
    border: 0.0625rem solid #CDCDCF;
    padding: 0.1875rem 0.625rem;
}

.talk-dialog__input:focus {
    border: 0.0625rem solid #777BFF;
    outline: 0rem;
}

#search-user-dialog input:focus {
	border:0rem;
    outline: 0.0625rem solid #777BFF;
}

.talk-dialog__text {
    display: inline-block;
    width: 100%;
    /*white-space:nowrap;*/
    font-size: 0.8125rem;
    color: #000000;
    letter-spacing: 0;
    margin-bottom : 0.625rem;
    margin-left:1rem;
    margin-top:1.25rem;
}

.talk-dialog__text-area {
	outline:none;
}

#room-create-dialog__input:empty {
    content: attr(placeholder);
}

#create-room-dialog__nameInput::placeholder{
	color: #C5C5C8;
}

.talk-chip span:nth-child(2) {
    font-size: 0.8125rem;
    margin-bottom: 0.625rem;
    margin-top: 0.3125rem;
    margin-right: 0.625rem;
    color: rgb(136, 136, 136);
    cursor: pointer;
    font-weight: bold;	
}

.talk-dialog__chip {
	display: inline-flex;
    background-color: #FFFFFF;
    border: 0.0625rem solid #C6CED6;
    border-radius: 1.5625rem;
    font-size: 0.8125rem;
    height: 1.875rem;
    margin: 0.18rem;
    /*margin-bottom: 6px;
    margin-top: 6px;
    margin-left: 10px;*/
    /*padding : 6px 10px 6px 10px;*/
    text-align: center;
    /*line-height: 18px;*/
    user-select: none;
    max-width: calc(100% - 0.625rem);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#talk-dialog__text-area[contenteditable=true]:empty:before {
    content: attr(data-placeholder);
   	color: #C5C5C8;
}
.talk-dialog__chip-text{
    display: inline-block;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
    margin: 0.375rem 0.625rem 0.375rem 0.625rem;
    overflow: hidden;
    font-size: 0.75rem;
	color: #434343;
	letter-spacing: 0;
	height:1.125rem;
}

/*version2를 위한 css class추가*/
#talk_noti_top{
	width : 17.9375rem;
	height : 1.125rem;
	font-size: 0.81rem;
	/*margin-top : 16px;*/
	color: #606060;
	margin-left: 1.125rem;
	letter-spacing: 0;
}

/*file dialog css 먹이는 부분*/
#top-dialog-root_talk__file-upload-dialog{
	border-radius:0.25rem;
	border : none;
}

#top-dialog-root_talk__file-upload-dialog > .top-dialog-title-layout{
	display: flex;
    justify-content: center;
    font-size: 0.875rem;
    color: black;
	border-top-left-radius: 0.25rem ;
	border-top-right-radius:0.25rem ;
	margin: 0rem !important;
}


#top-dialog-root_talk__file-upload-dialog button.top-dialog-close {
    transform: translate3d(-20px, 50px, 0px);
}



#top-dialog-root_talk__file-upload-dialog .top-dialog-content {
	margin: 0rem !important;
	padding-top : 1rem !important;
	width: 100% !important;
	border-bottom-left-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
	overflow-y : scroll;
}

/*delete dialog css 먹이는 부분*/
#top-dialog-root_talk__resend-message-dialog button.top-dialog-close,
#top-dialog-root_talk__delete-message-dialog button.top-dialog-close {
    transform: translate3d(-20px, 50px, 0px);
}

#top-dialog-root_talk__file-upload-dialog,
#top-dialog-root_talk__resend-message-dialog,
#top-dialog-root_talk__delete-message-dialog{
	box-shadow: 0 0 0.375rem 0 rgba(0,0,0,0.35);
	border-radius: 0.25rem;
	border : none;
   	top: 50% !important;
   	left: 50% !important;
    transform: translate(-50%,-50%);
}

#top-dialog-root_talk__delete-message-dialog .top-dialog-title-layout,
#top-dialog-root_talk__resend-message-dialog .top-dialog-title-layout {
	height:1.88rem !important;
	border-radius:0.25rem;
}

#top-dialog-root_talk__delete-message-dialog #talk__dialog-layout,
#top-dialog-root_talk__resend-message-dialog #talk__dialog-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

#top-dialog-root_talk__delete-message-dialog .top-dialog-content ,
#top-dialog-root_talk__resend-message-dialog .top-dialog-content {
	margin: 0rem !important;
	width: 100% !important;
	border-top:0px !important;
	border-bottom-left-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
	padding: 0 0 1rem 0 !important;
	display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

#top-dialog-root_talk__delete-message-dialog .talk-dialog__icon,
#top-dialog-root_talk__resend-message-dialog .talk-dialog__icon {
	font-size:1.25rem;
	color:#FB3A3A;
}

#top-dialog-root_talk__delete-message-dialog .talk-dialog__question-text,
#top-dialog-root_talk__resend-message-dialog .talk-dialog__question-text {
    margin: 1rem 0;
    font-size: 0.938rem;
    color: #000000;
}

#talk-dialog__cancel-btn {
	margin-right:auto !important
}

#talk-dialog__text-area p{
    margin : 0rem !important;
}

div#top-dialog-root_talk__file-upload-dialog span.top-dialog-title {
    font-weight: 500;
}

/* 20200428 mini-talk에서 티드라이브에서 첨부 호출 시 정렬하기 위함. */
.minitalk_teedrive_dialog {
	top : unset !important;
	left : unset !important;
}
.minitalk_local_upload_dialog{
	overflow-y: scroll !important;
}