/* desktop */
@media (min-width:49.875rem) {
	.message__content-body {
    	max-width: calc(900% / 11);
	}
	.attachment__og-container  {
		padding: 0.5rem;
   		max-width: 34.25rem;
    	flex-direction:row;
	}
	
	.myMessage .attachment__og-container {
		border-radius: 0.75rem 0.75rem 0 0.75rem ;
	}
	
	.othersMessage .attachment__og-container {
		border-radius: 0.75rem 0.75rem 0.75rem 0 ;
	}
	
	.attachment__og-image {
		border-radius:0.625rem;
	}
	.attachment__og-content-container {
		padding-right: 0.625rem;
		height: 5.625rem;
	}
	.message__fileList-item3, 
	.message__fileList-item3 > *, 
	.message__fileList-item3 > .talk__deleted-file {
	    width: 6.25rem;
	    height: 6.25rem;
	}
	
	.message__fileList-item2, .message__fileList-item2>*, 
	.message__fileList-item2>.talk__deleted-file {
	    width: 9.375rem;
	    height: 6.25rem;
	}
	.file-message__image-container {
	    max-width: 15rem;
	    max-height: 15rem;
	}
	.file-message__image-container .message__image-file {
	    max-width: 13.75rem;
    	max-height: 13.75rem;
	}
	.message__fileList-item2>.talk__deleted-file,
	.message__fileList-item3>.talk__deleted-file{
		height:6.375rem;
	}
	.message__fileList-item2--simple > span{
		font-size:1.75rem;
	}
	.message__fileList-item3--simple > span {
		font-size:1.5625rem;
	}
	.message__fileList-item2 > span,
	.message__fileList-item3 > span {
		font-size:2.3125rem;
	}
	.message__fileList-item2--simple > .talk__deleted-file > .talk__deletedFileIcon,
	.message__fileList-item3--simple > .talk__deleted-file > .talk__deletedFileIcon {
		height : 1.75rem;
	}
	.attachment__og-image {
		width: 7.5rem;	
		height: 5.625rem;	
    	margin-right: 1rem;
	}
	.file-message__image-container .talk__deleted-file-text {
		font-size:0.625rem;
		margin-top:0.75rem;
	} 
	
	.message__content-body__items {
	    width: fit-content;
	}
}

/* moblie 세로*/
/* mobile git이 따로 있기 때문에 미니채팅방을 이곳에 기록
   미니채팅방 최대 사이즈를 일단 798px이라고 생각
*/
@media (max-width:49.875rem) {
	.message__content-body {
    	max-width: 70%;
	}
	.attachment__og-container  {
		padding: 0rem;
		max-width: 70%;
	    border-radius: 0.9375rem;
	    flex-direction: column;
    	align-items: center;
	}
	.attachment__og-image {
		width:100%;
		border-radius:0.625rem 0.625rem 0 0;
		/*height:7.7rem;*/
		margin-left: auto;
    	margin-right: auto;
	}
	
	.attachment__og-content-container {
		padding: 0.625rem;
	}
	
	.talk__file_image{
		max-width:13.75rem;
		max-height:13.75rem;
	}
	.file-message__image-container {
	    max-height:15rem;
	    max-width:15rem;
	}
	.message__content-body__items {
		max-width:25rem;
	}
	
	/* 묶어보내기 */
	.message__fileList-item3, 
	.message__fileList-item3 > *, 
	.message__fileList-item3>.talk__deleted-file {
	    width: 5.5rem;
	    height: 5.5rem;
	}
	.message__fileList-item2, 
	.message__fileList-item2 > *, 
	.message__fileList-item2>.talk__deleted-file {
	    width: 8.25rem;
	    height: 5.5rem;
	}
	.message__fileList-item3 > span, 
	.message__fileList-item3 > .talk__deleted-file > .talk__deletedFileIcon {
	    font-size: 1.75rem;
	}
	.message__fileList-item2 > span, 
	.message__fileList-item2 > .talk__deleted-file > .talk__deletedFileIcon {
	    font-size: 1.875rem;
	}
}

.talk__deleted-message {
    color: #585858 !important;
    /*margin: 0px 0.3rem;*/
}

.file-message__image-container {
    display:flex;
    align-items:center;
    position:relative;
    justify-content:center;
    margin-top: 0.5rem;
    cursor:pointer;
}

.file-message__deleted {
	display:flex;
	align-items:center;
}

.file-message__deletedMsg-text {
	font-size: 0.813rem;
    color: rgba(0,0,0,0.5);
}

.file-message__deletedMsg {
    width: 13.75rem;
    height: 2.63rem;
    align-items: center;
}

.file-message__image-container .talk__deleted-file {
    font-size: 0.625rem;
    color: #A2A2A2;
	background-color:white;
	width:13.75rem;
	height:8.75rem;
}

.message__fileList-item2 .talk__deleted-file,
.message__fileList-item3 .talk__deleted-file {
	font-size: 0.625rem;
    color: #A2A2A2;
	background-color:white;
}
	
.message__content-body__items {
    box-sizing:border-box;
    padding: 0.5rem !important;
    font-size: 0.8125rem;
    color: #000000;
    line-height: 1.5625rem;
    user-select: text;
}

.message__bundle-item > * {
    height: fit-content;
}

.message__fileList-item2 img, 
.message__fileList-item3 img, 
.message__fileList-item2--simple img, 
.message__fileList-item3--simple img {
    object-fit: cover;
    border-radius: 0.625rem;
}

.message__fileList-item2>.talk__deleted-file,
.message__fileList-item3>.talk__deleted-file,
.message__fileList-item2--simple>.talk__deleted-file,
.message__fileList-item3--simple>.talk__deleted-file  {
	padding:0.3125rem;
}

.message__fileList-item2--simple{
	max-width: 8.25rem;
	max-height:8.25rem;
}
.message__fileList-item2--simple>*{
	max-width:8.25rem;
	max-height:8.25rem
}
.message__fileList-item3--simple{
	max-width: 5.5rem;
	max-height : 5.5rem;
}
.message__fileList-item3--simple>*{
	max-width:5.5rem;
	max-height:5.5rem
}

.message__fileList-item2--simple>.talk__deleted-file>div,
.message__fileList-item3--simple>.talk__deleted-file>div {
	display:none;
}

.message__fileList-item2,
.message__fileList-item3,
.message__fileList-item2--simple,
.message__fileList-item3--simple  {
	display: flex;
    justify-content: center;
    align-items:center;	
    cursor:pointer;
    text-align: center;
    position: relative;
}
.message__bundle-item {
	flex-direction: column;
    border: 0.0625rem solid #C6CED6;
    box-sizing: border-box;
    border-radius: 0.625rem;
    padding: 0.3125rem;
}

.message__fileList-item3,
.message__fileList-item2 {
    border: 0.0625rem solid #E0E5E9;
    box-sizing: border-box;
    border-radius: 0.625rem;	
}

.message__fileList-item3 .message__overlay,
.message__fileList-item2 .message__overlay {
	border-radius: 0.625rem;
}

.myMessage .attachment__og-container {
    align-self: flex-end;
    background-color: #CDCFFF;
}

.othersMessage .attachment__og-container {
    align-self: flex-start;
    /*background-color: #F5F5FB ;*/
    background-color: #FFFFFF;
    border-radius: 0 0.75rem 0.75rem 0.75rem;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,0.20);
}

.attachment__og-container {
    display: flex;
    cursor: pointer;
    margin: 0.3125rem 0 0 2.313rem;
    box-sizing: border-box;
    font-size: 0.8125rem;
    color: #000000;
    line-height: 1.5625rem;
    user-select: text;
}

/* TODO : 색 바꾸기 */
.attachment__og-container:hover{
    /* box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    background-image: linear-gradient(rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.1));
    opacity: 70%;*/
}

.attachment__og-image {
    display: block;
    flex-shrink: 0;
}

.attachment__og-title {
    font-size: 0.8125rem;
    color: #000000;


     /*2줄 띄우고 ...표시하기*/
     display: -webkit-box;
     /* line-height: 1.2rem; */
     overflow:hidden;
     text-overflow:ellipsis;
     -webkit-line-clamp:2;
     -webkit-box-orient:vertical;
}

.attachment__og-description {
	/* overflow: auto; */
    font-size: 0.75rem;
    color: rgba(0,0,0,0.6);
    
    /*2줄 띄우고 ...표시하기*/
    display: -webkit-box;
    line-height: 1.2rem;
    overflow:hidden;
    text-overflow:ellipsis;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
}

.attachment__og-content-container {
    display: flex;
    width: auto;
    justify-content: center;
    flex-direction: column;
    padding-right: 0.625rem;
}

.message__reply-layout,
.message__attachment-layout {
    display: flex;
    flex-direction: column;
}

.talk__reply-arrow {
	margin: 0 0.3125rem auto 0;
	width: 0.9375rem;
    height: 1.5625rem;
    filter: invert(27%) sepia(41%) saturate(3859%) hue-rotate(238deg) brightness(105%) contrast(80%);
}

#talk-footer__reply-content {
	max-height : 8.875rem;
}

font.talk-original__message {
	/* color:white; */
	/* background-color:black; */
	border-radius:0rem;
}

/*줄바꿈이 있는 경우 font에만 배경색 입히면 효과 없음*/
font.talk-original__message p {
	/* background-color:black; */
}

.message__original-msg-container {
	display:block;
}

.message__attachment-layout {
    margin-top: 0.625rem;
}

.message__attachment-layout:first-of-type {
    margin-top: 0rem;
}

.message__reply-container:hover {
    box-shadow: 0 0 0.0625rem rgba(0, 0, 0, 0.15);
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.1));
    background-image: linear-gradient(rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.1));
}

.message__reply-container {
    cursor: pointer;
    box-sizing: border-box;
    font-size: 0.8125rem;
    border-radius: 0.125rem;
    color: rgba(0, 0, 0, 0.5);
    display: flex;
}

.message__replyto {
	font-size: 0.75rem;
	color: #523DC7;
}

.message__attachment-body {
    font-size: 0.8125rem;
    /*background: skyblue;*/
    /*padding: 8px;*/
    /*border: 1px solid blue;*/
    /*border-radius: 3px;*/
}

.message__content-body__state {
    display: flex;
    align-items: flex-end;
    margin: 0 0.3125rem;
    /*min-width: 40px;*/
}

.myMessage .message__content-body__state {
	justify-content: flex-end;
}

.othersMessage .message__content-body__state {
	justify-content: flex-start;
}

.message__content-body__state--success {
    display: flex;
    flex-direction: column;
    /*line-height: 0;*/
}

.message__like {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    color: #439bed;
    /* margin: 0 10px; */
    cursor: pointer;
}

.message__like .icon-work_like {
    margin-right: 0.3125rem;
}

.message__like-count {
    white-space: nowrap;
}

.message__unread-count {
    display: flex;
    font-size: 0.75rem;
    color: #4647C0;
    margin-bottom:0.125rem;
    /* margin: 0 10px; */
    white-space: nowrap;
}

.message__content-body__state--fail {
    display: flex;
    font-size: 0.75rem;
}

.fail-message__retry-button,
.fail-message__cancel-button {
	display:flex;
	justify-content:center;
	align-items:center;
	width:1.25rem;
	height:1.25rem;
	color: #6C56E5;
	font-size:0.75rem;	
    margin-right: 0.3125rem;
    margin-left: 0.1875rem;
    border-radius: 50%;
    border: 0.0625rem solid #D3D3D3;
    background: #FFFFFF;
    cursor: pointer;
}

.file-message_text {
	overflow:hidden;
	user-select:none;
}

.other-message .talk-message__file-meta-with-msg {
    box-sizing: border-box;
    border: 1px solid #E3E7EB;
}
.other-message .talk-message__file-meta-with-msg{
    border-radius: 0 0 0.75rem 0.75rem;
}
.other-message .talk-message__file-meta-without-msg {
    border-radius: 0 0.75rem 0.75rem 0.75rem;
}
.other-message .talk-message__file-meta-with-msg .file-message,
.other-message .talk-message__file-meta-without-msg .file-message {
    padding: 0.5rem;
    background-color: #F3F5F7;
}

.other-message .talk-message__file-meta-with-msg .file-message__image-container,
.other-message .talk-message__file-meta-without-msg .file-message__image-container {
    padding: 0.69rem 0.63rem 0.63rem 0.63rem;
    margin-top:0rem !important;
}

.message__content-body__state--sending > .top-loader {
    position: relative;
    vertical-align: unset;
    width: 0.625rem;
    height: 0.625rem;
    margin:0;
    left:0;
}

.message__content-body__state--sending > .top-loader > li {
    width: 0.25rem;
    height: 0.25rem;
}

#talk__file-content-main {
    padding: 0.3125rem 1.75rem;
}

.other-message .talk-message__deleted-container {
    padding: 0.63rem 0.5rem 0.5rem 0.5rem;
    background-color: #F3F5F7 !important;
    margin-top: 0rem !important;
}

.talk__deleted-file{
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    color: rgba(0,0,0,0.50);
    border-radius: 0.375rem;
}

/*.file-message__image-container */
.talk__deletedFileIcon {
    width:1.4rem;
    border-radius: 0rem !important;
}

.file-message__image-container--simple {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

.talk__file_image--simple {
    height: 12.8125rem;
    width: 12.8125rem;
    object-fit: contain;
}

#talk__file-content-main > * {
    height: 1.6875rem;
}

#talk__file-list-table {
    width: 100%;
    /*height: calc(100% - 23px); timeline 없어짐 */
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
#talk-content {
    width: 100%;
    /*height: calc(100% - 23px); timeline 없어짐 */
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    min-width: 40%;
}

#talk__file-list-table {
    font-size: 0.8125rem;
    margin-top: 0.3125rem;
    table-layout: fixed;
}

#talk__file-list-table thead th,
#talk__file-list-table thead {
    background-color: #949494;
    color: #ffffff;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    font-weight: normal;
    border-right: 0.0625rem solid white;
}

#talk__file-list-table th,
#talk__file-list-table td {
    padding: 0 0.3125rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#talk__file-list-table thead tr {
    height: 2rem;
}

#talk__file-list-table tbody tr {
    height: 3rem;
    border-bottom: 0.0625rem solid #dddee7;
}

#talk__file-list-table tbody tr:hover td {
    background-color: rgba(0, 164, 195, 0.05);
}

#talk__file-list-table tbody tr:active td {
    background-color: rgba(0, 164, 195, 0.1);
}

.talk__file-item-name div.talk-tooltip div {
	max-width: calc(100% - 1.25rem);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
/*
#talk__file-list-table tbody .talk__file-item-name:hover{
	text-decoration:underline;
}
*/

#talk__file-list-table .talk__border_bottom td {
    border-bottom: 0.0625rem solid rgba(218, 218, 218, 0.8);
}

#talk-content-empty {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.375rem;
    color: black;
}

talk-message-layout {
    display: flex;
    flex-direction:column;
    position: relative;
    box-sizing: border-box;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-all;
    user-select: none;
}

/*
talk-message-layout:hover {
    background-color: #EAEAFB;
}
*/

.talk-system-message__read-mark{
    display: flex;
    height: 1.125rem;
    align-items: center;
    justify-content: center;
    color: #5C5C5C;
    font-size:0.75rem;
    background-color: #F5F5FB;
    margin : 1.25rem;
    user-select: none;
    border-radius:0.719rem;
    word-break: break-all;
    white-space: pre-line;
}

.talk-system-message__userInOut{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.5);
    background-color: #E7E7FD;
    font-size:0.75rem;
    margin : 1.25rem;
    user-select: none;
    border-radius:0.719rem;
    padding: 0.13rem;
}

.talk-system-message__inout-text {
	max-width:28.75rem;
	color:#5C5C5C;
	font-size:0.688rem;
	word-break: break-word;
    white-space: pre-line;
    text-align: center;
}

.talk-message__font-bold {
   	color: black;
    font-weight: 600;
}

talk-system-message-layout.talk-timeline {
    display:flex;
    justify-content : center;
    align-items:center;
    position:relative;
    margin:1.25rem;
    border-bottom: 0.0625rem solid #E3E7EB; 
   	line-height: 0.1em;
   	text-align:center;
}

talk-system-message-layout.talk-timeline div {
    color:#787D81;
    width: fit-content;
    height: 0.3125rem;
    background-color: white;
    font-size: 0.8125rem;
    position: absolute;
    padding: 0rem 0.375rem;
}

.message__photo-container {
    display: flex;
    flex: 0 0 auto;
    width: 1.88rem;
    height: 1.88rem;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.05) inset;
    background-color: #EAEAFB;
}

.message__photo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.05) inset;
}

.myMessage .message__photo-container,
.myMessage .message__content-header__name {
	display:none;	
}

.myMessage .message__content-header {
	justify-content : flex-end;
}

.myMessage .message__content-body {
	align-items : flex-end;
}

.message__content-container {
    display: flex;
    flex-direction: column;
}

.message__reply-container,
.message__attachment-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.message__sub-menu-container {
    display: flex;
    height: 1rem;
    box-sizing: border-box;
    font-size: 0.75rem;
    color: #523DC7;    
    align-self: flex-end;
    visibility: hidden;
    z-index: 1;
    margin-bottom: 0.9375rem;
}
/*dfdfd*/
.message__sub-menu-container img{
	-webkit-filter: opacity(.3) drop-shadow(0 0 0 gray);
	filter: opacity(.3) drop-shadow(0 0 0 gray);
}
.message__sub-menu__item:hover img{
	-webkit-filter: opacity(.7) drop-shadow(0 0 0 #523DC7);
	filter: opacity(.7) drop-shadow(0 0 0 #523DC7);
}


.message__sub-menu-container:empty {
    border: 0;
}

talk-message-layout:hover .message__sub-menu-container {
    display: flex;
    color: gray;
}

.message__sub-menu__item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction:column;
    height: 1.875rem;
    width: 1.25rem;
    line-height: 0.0625rem;
    cursor: pointer;
    font-size: 0.625rem;
    margin-right: 0.375rem;
}

.message__sub-menu__item > div{
	font-size:0.9375rem;
}

.message__sub-menu__item > img {
	height:0.9375rem;
}

.message__sub-menu__item:hover {
    color:#523DC7;
    opacity: 100%;
}

.message__content-header {
    /*display: flex; is_head 확인하고 넣어주는 로직 있다*/
    display:none;
    font-size: 0.8125rem;
    margin-top:0.375rem;
    margin-bottom: 0.375rem;
}

.message__content-header__name {
    display: inline-flex;
    align-self: center;
    color: #000000;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin:0rem 0.375rem;
}

.message__content-header__time {
    display: inline-flex;
    align-self: center;
    margin-top: 0.2rem;
    font-size: 0.625rem;
    color: #787D81;
    white-space: nowrap;
}

.message__content-body-wrapper {
	display: flex;
	width: 100%;
	margin-left: 2.313rem;
}

.myMessage .message__content-body-wrapper {
	margin-left : auto;
	flex-direction:row-reverse;
}

.othersMessage .message__content-body-wrapper {
	margin-right:auto;
	flex-direction:row;
}

.message__content-body {
    display: flex;
}

.myMessage .message__content-body {
    flex-direction: row-reverse;
}

.othersMessage .message__content-body {
    flex-direction: row;
}

.message__overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
    opacity: 0;
    color: white;
    font-size: 1.25rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-flow: column wrap;
    overflow:hidden;
}

.message__overlay:hover,
.message__overlay:active {
    opacity: 1;
}
*/
div.message__overlay > p {
	visibility:hidden;
	color: #ffffff;	
}
div.message__overlay:hover > p {
	visibility:visible;	
}

.message__image-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
    margin-left: 0.5rem;
    color: #ffffff;
    background-color: #2295CE;
    border-radius: 0.375rem;
    width: 2.125rem;
    height: 2.125rem;
}

.message__content-body__content {
    /* display: flex; -> <br> 태그 적용하기 위해 flex제거*/
    /*margin-bottom: 12px;*/
    box-sizing: border-box;
    font-size: 0.8125rem;
    color: #000000;
    line-height: 1.5625rem;
    border-radius: 0.3125rem;
    user-select: text;
}
.message__reply-content {
	display:flex;
	flex-direction:row;
    margin-top: 0.625rem;
}
#goto-last-button {
    position: absolute;
    bottom: 0.75rem;
    right: 0.75rem;
    width: 1.875rem;
    height: 1.875rem;
    background: white;
    color: #777BFF;
    border-radius: 50%;
    border: 0.0625rem solid #777BFF;
    cursor: pointer;
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#goto-last-button:hover {
    background-color: #DCDDFF;
}

#goto-last-button:acive {
	color:white;
    background-color: #523DC7;
}

.my-message {
    background-color: #CDCFFF;
    border-radius: 0.75rem 0 0.75rem 0.75rem;
}

.other-message {
    background-color: #FFFFFF;
    border-radius: 0 0.75rem 0.75rem 0.75rem;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,0.20);
}

.illust-message {
    background-color: transparent;
    border-width: 0rem;
}

.file-message {
    display: flex;
    cursor: pointer;
    height: 2.625rem;
    justify-content: center;
    align-items: center;
}

.talk-file-message__arrow {
    display: flex;
    align-items: center;
    height:100%;
    width: 0.625rem;
    font-size: 0.625rem;
    padding-left: 0.4625rem;
    color: #75757F;
}

.file-info {
    display: flex;
    position: relative;
    background-color: white;
    padding: 0.375rem;
	border-radius: 0.5rem;
	width: 12.5rem;
    box-sizing: border-box;
}

.talk__fileDownloadBtn,
.file-message__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right : 0.375rem;
    width: 1.875rem;
    height: 1.875rem;
    flex-shrink: 0;
}

.file-message__icon {
	position:relative;
	cursor:default;
}

.talk__deletedFileMsg {
	color: red;
    font-size: 0.875rem;
    position: absolute;
    left: 1.7rem;
    top: 0.08rem;
}

.talk__fileDownloadBtn {
    background-color: #CDCFFF;
    color: #6C56E5;
    border-radius: 50%;
    font-size: 1.2rem;
    height: 1.875rem;
    width: 1.875rem;
    flex-shrink: 0;
}

.file-message__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    overflow: hidden;
    margin-right: 0.5rem;
    line-height: 1.5;
}
.file-message__title {
    display: flex;
    align-items: center;
    max-width: -moz-fit-content;
  	max-width: -webkit-fit-content;
    border-bottom:0.0625rem solid transparent;
}
.file-message__title:hover,
.file-message__title:active {
    border-bottom:0.0625rem solid #4D4D4D;
	box-sizing:border-box;	
}

.talk__deleted-file-text {
	text-align: center;
	margin-top:0.75rem;
	width:100%;
}

.message__fileList-item2 p,
.message__fileList-item3 p {
	font-size:0.7rem;
}

.message__fileList-item2>div,
.message__fileList-item3>div,
.message__fileList-item2--simple>div,
.message__fileList-item3--simple>div,
.message__fileList-item2>.talk__deleted-file
.message__fileList-item2>.talk__deleted-file
.message__fileList-item2--simple>.talk__deleted-file,
.message__fileList-item3--simple>.talk__deleted-file {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 0.3125rem;
    box-sizing: border-box;
}
.message__fileList-item2>div>span:first-child,
.message__fileList-item3>div>span:first-child,
.message__fileList-item2--simple>div>span:first-child,
.message__fileList-item3--simple>div>span:first-child,
.message__bundle-item >span,
.talk__deleted-file-text, 
.file-message__file-name,
.file-message__file-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box
}

.file-message_title {
	display:flex;
	line-height:0.9375rem;
}

.file-message__file-extension,
.file-message__file-name {
    font-size: 0.6875rem;
    color: #45474A;;
}
.file-message__file-extension {
    white-space: nowrap;
}
.file-message__file-size {
    font-size: 0.625rem;
    color: #888D96;
    line-height:0.9375rem;
    cursor: default;
}

.talk__meeting-start-wrapper {
    display: flex;
    flex-direction: column;
    width: 17.25rem;
    background-color: #FFFFFF;
    border-radius: 0.75rem;
    border: 0.0625rem solid #E0E5E9;
}

.talk__meeting-msg {
	display:flex;
	align-items: center;
	padding: 0.63rem 0.75rem;
	height: 4.06rem;
    box-sizing: border-box;
}

.talk__meeting-msg img {
	width:2.5rem;
	height:3rem;
}

.talk__meeting-start-msg,
.talk__meeting-end-msg {
	margin-left:0.75rem;
	font-size: 0.813rem;
}

.talk__meeting-end-msg {
	color:#777777;
}

.talk__meeting-button-wrapper {
	display: flex;
    justify-content: center;
    padding: 0.63rem 0.75rem;
    border-top : 0.0625rem solid #E3E7EB;
}

.talk__meeting-button{
    display: inline-flex;
    width: 7.25rem;
    height: 1.88rem;
    background-color: #6C56E5;
    border-radius: 1rem;
    color: white;
    font-size: 0.75rem;
    align-items: center;
    justify-content: center;
    cursor:pointer;
}

#talk__Content-search-button:hover {
    background-color: #DCDDFF;
}


#talk__Search-total-wrapper{
	margin:0rem !important;
	position: absolute;
	top: 0.5rem;
	left: 1.25rem;
	background: white;
	width: calc(100% - 2*1.25rem);
	height : 2.5rem;
	border-radius: 3.125rem;
	border : 0.0625rem solid #6C56E5;
	font-size:0rem;
	z-index: 2;
}

@media (max-width:49.875rem){
#talk__Search-total-wrapper{
    width: calc(100% - 2*0.813rem);
    left: 0.813rem;
}
}

#talk__Content-search-category{
    cursor : pointer ;
	width : 4.063rem !important;
	height:2.5rem; 
	background : white;
	border-top-left-radius: 3.125rem;
	border-bottom-left-radius: 3.125rem;
}

#talk__Search-category-name{
	display:inline-block;
	font-size: 0.75rem;
	letter-spacing:0rem;
	margin-top: 0.751rem;
	margin-left:1rem;	
}

#talk__Search-category-selector{
	margin-right: 0.313rem;
	display:inline-block;
	
	cursor : pointer;
	font-size: 0.813rem;
    color: #75757F;
    width: 0.875rem;
    height: 0.875rem;
    margin-left: 0.375rem;
}

#talk__Content-search-container-wrapper{
	font-size: 0rem;
	display: inline-block;
    padding-top : 0.313rem;
    padding-bottom : 0.313rem;
    width:100%;
	height : 1.974rem;
}
@media (max-width:49.875rem){
    #talk__Content-search-container-wrapper{
        width: 87%;
    }
}

#talk__Content-search-container{
	width: calc(100% - 2rem);
	height: 100%;
    border-left: 0.0625rem solid #C6CED6;
    justify-content: end;
    display: grid;
    grid-template-columns: 2rem 60fr 2fr 1rem 1rem;
}
@media (max-width:49.875rem){
    #talk__Content-search-container{
        width: 90%;
        grid-template-columns: 2rem 20fr 4fr 1rem 1rem;
    }
}

#talk__Content-small-search-icon{
	cursor: pointer;
	font-size: 0.813rem;
    color: #000000;
    width: 0.875rem;
    height: 0.875rem;
    margin-left: 0.563rem;
    margin-top:0.5rem;
}

#talk__Content-search-input{
	width: 100%;
	height:1.125rem;
    margin-right: 0rem;
	border-radius : 0rem;
	margin-top : 0.313rem;
	border : none;
}
#talk__Content-search-input::placeholder {
    font-size: 0.8125rem;
    color: #A0A9B6;
}

#talk__Content-search-input:hover{
	    background: #FFFFFF;
}

#talk__Search-MsgCounter-wrapper{
	display: inline-block;
    width: calc(100% - 0.3rem);
    margin-right: 0.281rem;
    text-align: right;
}

#talk__Search-curIdxOfMsg{
	color:#523DC7;
	font-size:0.625rem;
	text-align: right;
	width: fit-content;
	margin-top:0.5rem;
}

#talk__Search-numOfTotals{
	text-align:right;
	font-size:0.625rem;
	width: fit-content;
	text-align:right;
	margin-top:0.5rem;
}


#talk_Content-search-arrowDown, #talk_Content-search-arrowUp{
	/* margin-left : 0.125rem; */
	margin-top:0.5rem;
	
	/* display: inline-block; */
	cursor : pointer;
	font-size: 0.813rem;
    color: #75757F;
    width: 0.875rem;
    height: 0.875rem;
    opacity: 0.6;
    /* transform: rotate(-90deg); */
    /* margin-left: 0.375rem; */
}

#talk__Search-close{
	position: absolute;
	top: 0.75rem;
	right: 0.75rem;
	cursor: pointer;
	font-size: 1rem;
	color: #000000;	
	width: 1rem;
    height: 1rem;
    margin-left: 0.5rem;
}


#talk__Search-categoryList-container{
	position: absolute;
	top: 3.25rem;
	left: 1.187rem;
	z-index: 2;
	background: white;
	border: 0.0625rem solid #000000;
	width : 3.938rem;
	height : 4.812rem; 
	padding : 0.313rem 0.063rem;
	background: #FFFFFF;
	border: 0.0625rem solid #C6CED6;
	box-shadow: 0 0.0625rem 0.25rem 0 rgba(0,0,0,0.20);
	border-radius: 0.25rem;
}
@media (max-width:49.875rem){
    #talk__Search-categoryList-container{
        left: 0.75rem;
    }
}

#talk__Search-category-list li{
	cursor: pointer;
	background:#FFFFFF;
	font-size: 0.75rem;
	color: #000000;
	display: flex;
    align-items: center;
    height: 1.625rem;
    width: cal(100%- 2*0.688rem);
    padding-left:0.688rem;
}

#talk__Search-category-list li:hover{
	background: #DCDDFF;
	border-radius: 0.8125rem;
}


#talk__Search-category-list{
    padding-inline-start: 0rem;
    margin-top:0rem !important;
    width : 100%;
}


.two-line{
    display:-webkit-box;
    overflow:hidden;
    text-overflow:ellipsis;
    -webkit-line-clamp:3;
    -webkit-box-orient:vertical;
}