/* html {font-size:16px !important;} */
#note{
	width:100%;
	height:100%;
}
#note-title-cover{
	width:100%;
	height:2.56rem;
}
#note-app-name{
	display:flex;
	flex : auto;
	font-weight:600;
	font-size:0.88rem;
	line-height:0rem;
}
#tagLayout_search .icon-work_expand,
#editorTitle .icon-work_expand,
#note-lnb-upper-menu .icon-work_expand {margin-right: 0.3125rem;}
#tagLayout_search .icon-work_cancel,
#editorTitle .icon-work_cancel,
#note-lnb-upper-menu .icon-work_cancel {margin-right: 0.15rem;}
#tagLayout_search .icon-work_expand, #tagLayout_search .icon-work_cancel, #tagLayout_search .icon-work_collapse,
#editorTitle .icon-work_expand, #editorTitle .icon-work_cancel, #editorTitle .icon-work_collapse,
#note-lnb-upper-menu .icon-work_expand, #note-lnb-upper-menu .icon-work_cancel, #note-lnb-upper-menu .icon-work_collapse{
	display : flex;
	font-size : 1rem;
	color:#75757F;
	cursor:pointer;
}

.note-expand-btn{
	transform: rotate(90deg);
	width: 1.563rem;
    height: 1.563rem;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin:0rem !important;
}
.note-title-close-btn{
    display:inline-flex;
	width: 1.563rem;
    height: 1.563rem;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    margin-left: 0.69rem;
}

.note__header__column .note-lnb_cancel-img {
    width:1rem;
    height:1rem;
    filter: invert(52%) sepia(1%) saturate(2165%) hue-rotate(202deg) brightness(90%) contrast(109%);
}

.note-title-close-btn:hover {background-color: rgba(30,168,223,0.20);}
.note-expand-btn:hover{background-color: rgba(30,168,223,0.20);}
#note-content-area{
	width : 100%;
	height: 100%;
	display : flex;
/* 	padding-top: 0.2rem; 이 상단 영역의 box-sizing때문에 밀려서 넣어둠 또 변경돼부렀네*/
}
#note-lnb-menus-cover{
	display : flex;
	flex-direction : column;
	overflow-y:scroll;
	overflow-x:hidden;
	width : 100%;
	min-width : 23.06rem;
	flex : 1 1 23.06rem;
	line-height: 100% !important;
}
#note-editor-container{
	display:flex;
	flex : 2 2 46rem;
	position: relative;
	min-width: calc(100% - 23.06rem);
}
#note-editor-container #note-empty-div{
    display: none;
    width: 100%;
    height: 100%;
    line-height: 100%;
    border-left: 1px solid rgb(218, 218, 218);
}
#note-editor-container .note-editor_page-none-header {
    height: 3.19rem;
    display: flex;
    padding: 0 0.75rem;
    justify-content: space-between;
    align-items: center;
}

.note_pre-btn {
    cursor:pointer;
}

#note-editor-container .note-editor_page-none {
    width: 100%;
    height: 30%;
    padding-top: 18%;
    text-align: center;
}

#note ul#tag{
	cursor: pointer;
}
#note-tag-container{
    display:flex;
    flex-direction:column;
	line-height : normal;
	min-width: calc(100% - 23.06rem);
	flex : 2 2 46rem;
    width : 100%;
    border-left: 1px solid rgb(218, 218, 218);
}
#note-tag-empty-div {
    display:flex;
    flex-direction:column;
    width:100%;
    height: calc(100% - 3.19rem);
    align-items: center;
    justify-content: center;
    padding-top: 20%;
}

#TagsearchResultLayout{
	display: flex;
	height: 100%;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow-y: auto;
    line-height: 1.313rem;
    padding-left: 0.81rem;
    padding-right: 0.75rem;
    border: 0.0625rem solid #c6ced6;
}
.Tagempty_div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
div#note-tag-tagLayout{
	display: block;
	line-height : normal;
    width : 100%;
    height:calc(100% - 3.19rem);
}

div#note-tag-tagLayout div.note-tag_top-layout {
    width:100%;
    height:100%;
    border:0px;
}

.note-lnb-ul-text .note-chapter-text{
	overflow:hidden;
	text-overflow:ellipsis;
	max-width: 100%;
	min-width: calc(100% - 1.3rem);
    line-height: normal;
    font-weight:bold;
}
.note-lnb_selected-chapter {
    color: #008cc8;
}
#editorDIV{
	width : 100%;
	height : 100%;
	display: flex;
}
.sun-editor .se-wrapper {
	background: #FFFFFF;
	background: radial-gradient(rgba(0,0,0,0.04) 0.063rem, transparent 0rem) !important;
    background-size: 0.625rem 0.625rem !important;
    white-space:normal;	
    height : calc(100% - 2.94rem);
}
.sun-editor .se-wrapper #editorDIV{
	background: transparent;
}

#note-lnb-new-chapter[disabled="disabled"]{
	cursor: not-allowed;
}
.tag-chip-for-search{
	display:flex;
	align-items: center;
	font-size: 0.8125rem;
    font-weight: 400;
	height: 1.63rem;
	color: #3B3B3B;
	width: fit-content;
	border: 0.0625rem solid #00A4C3;
	background-color: rgba(30,168,223,0.20) !important;
    border-radius: 1.563rem;
    user-select: none;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    line-height: 110%;
}
.tag-chip-for-search-text{
    max-width: 9rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tag-chip-for-search .icon-close{
	cursor: pointer;
    width: 0.5rem;
    height: 0.5rem;
    font-size: 0.5rem;
    margin-left: 1rem;
}
/* Text Field */

.note-lnb-search{
	display: inline-flex;
	align-items:center;
	padding-left:0.63rem;
	width:14.81rem;
	height:1.88rem;
	border-radius:1.563rem 1.563rem;
	border:0.0625rem solid #c6ced6;
	box-sizing: border-box;
	flex:1;
}
.note-lnb-search input{
	background-color: transparent !important;
}
.note-lnb-search input {
	font-size :0.81rem !important;
}
#note .note-lnb_search-cancel {
    padding: 0 0.63rem;
    font-size: 1rem;
    color: #c6ced6;
    cursor: pointer;
    margin-left: auto;
}

#note .note-lnb_search-cancel.note-lnb_cancel-img {
    width:1rem;
    height:1rem;
    filter: invert(100%) sepia(46%) saturate(1548%) hue-rotate(177deg) brightness(83%) contrast(103%);
}

#note-Tag-search:hover,
.note-lnb-search:hover{
	background: #D2EEF9;
	border: 1px solid #1EA8DF;
}
#note-Tag-search:focus-within,
.note-lnb-search:focus-within{
	background: #FFFFFF;
	border: 1px solid #1EA8DF;
}
#note-Tag-search{
	display: inline-flex;
	align-items:center;
	padding-left:0.63rem;
	width:10.5rem;
	height:1.88rem;
	border-radius:1.563rem 1.563rem;
	border:0.0625rem solid #c6ced6;
	box-sizing: border-box;
}
#note-Tag-search input {
	background-color: transparent !important;
	font-size :0.81rem !important;
}
#note-lnb-search-textfield{
	flex: auto;
	width : 13.3rem;
	align-self:center;
	font-size : 0.81rem !important;
	line-height:3rem !important;
	border : 0rem;
	overflow: hidden;
}
#note-Tag-search-textfield{
	width : 13.3rem;
	align-self:center;
	font-size : 0.81rem !important;
	line-height:3rem !important;
	border : 0rem;
	overflow: hidden;
}
#note-lnb-search-textfield::placeholder{
	color:#BDC6D3;
}
#note-Tag-search-textfield::placeholder{
	color:#BDC6D3;
}

.note-lnb-ul-folder.icon-arrow_up, .note-lnb-ul-folder.icon-arrow_down{color: #75757F;}
#note-lnb-upper-menu .icon-search{
	display: flex;
	user-select: none;
	font-size : 0.82rem;
	color:#c6ced6;
	margin-right:0.43rem;
	cursor: pointer;
}
#tagLayout_search .icon-search{
	user-select: none;
	font-size : 0.82rem;
	color:#c6ced6;
	margin-right:0.43rem;
}
#tagLayout_search:focus-within .icon-search,
#note-lnb-upper-menu:focus-within .icon-search{
	color:#000000;
}

/* LNB MENU */

#note-lnb-upper-menu{
	width:100%;
	min-height: 3.19rem;
	display:flex;
    align-items: center;
    border-bottom: 0.0625rem solid #dadada;
    padding: 0.63rem;
    box-sizing: border-box;
}
#note-title-bar{
	display: flex;
    justify-content: space-between;
    padding: 0.625rem 0.75rem 0.75rem 0.75rem;
    box-sizing: border-box;
    border-bottom: 0.0625rem solid #e3e7eb;
    height: 2.56rem;
}
#note-app-logo{
	width:100%;
	height: auto;
	transform: translateY(0.1rem);
}
.note-divider__column{
	display: flex;
	align-items:center;
	position: relative
}
.note-lnb-divider {
	display: flex;
	background: #C6CED6;
	width: 0.063rem;
	height:1rem;
	margin: 0 0.625rem;
}
.note__header__column {
    display: flex;
    font-size: 1rem;
    color: #75757F;
    cursor: pointer;
    position:relative;
    align-items:center;
}

.note__header__column .note-expand-btn { 
    display:flex;
}
.note__header__logo {
    display: flex;
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 0.54rem;
}
#note-lnb-new-chapter{
	align-items:center;
	display:flex;
	width:6.31rem;
	height:1.88rem;
	margin-right:0.63rem;
	color: #ffffff;
	font-size:0.8125rem;
	background-color:#1ea8df;
	justify-content: center;
	border: 0px solid #ffffff;
}
.note-lnb-ul{
  user-select: none;
  margin: 0rem 0.81rem 0rem 0.81rem;
  padding: 0rem;
  display: flex;
  flex-direction: column;
  font-size: 0.81rem;
  height: auto;
  width: auto;
}
.note-lnb-ul-div{
  height: 2.81rem;
  display: flex;
  font-weight: 500;
  border-bottom: 0.0625rem solid #dadada;
}
.search-chapter-div{
  width: 100%;
  height: 3.81rem;
  display: flex;
  font-weight: bold;
  padding-left: 1.69rem;
}
.search-chapter-div .note-lnb-li-text{
	font-size: 0.8125rem;
	font-weight: bold;
	margin-left: 0rem;
	color: #000000;
}
.search-page-div{
	font-size: 0.8125rem;
    width: 100%;
    display: flex;
    padding-left: 1.69rem;
    flex-direction: column;
    justify-content: center;
    height: 3.81rem;
    cursor:pointer;
}
.search-chapter-div:hover, .search-page-div:hover{
	background-color: rgba(30,168,223,0.20);
}

.note-search_page-item {
    font-weight:bold;
    color:#000000;
}

.note-search_page-parent {
    color:#888D96;
}

.note-lnb-ul-icon{
  display: flex;
  width: fit-content;
  align-items:center;
}
.note-lnb-ul-text{
  display: flex;
  flex:auto;
  margin-left: 1.19rem;
  margin-right: 0.2rem;
  height:100%;
  font-weight:500;
  max-width: calc(100% - 3.36rem);
  align-items: center;
  cursor:pointer;
}
.note-lnb-ul .note-lnb-li{
  display: flex;
  width: 100%;
  height: 2.81rem;
  cursor: pointer;
}
.note-lnb-li-text-cover{
	width : 100%;
	border-bottom: 0.0625rem solid #dadada;
	display: flex;
	flex: auto;
    min-width: calc(100% - 1.875rem);
    max-width: calc(100% - 2.7rem);
    padding-right: 0.25rem;
    box-sizing: border-box;
}
#searchResultLayout{
    display: flex;
	height: 100%;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow-y: auto;
    line-height: 1.313rem;
    padding-left: 0.81rem;
    padding-right: 0.75rem;
}
.empty_div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.resultText{
	font-size: 0.8125rem;
	color: #000000;
	text-align: center;
	margin-bottom: 1.25rem;
}

.note-lnb_loading-img {
    width:8.44rem;
    height:8.44rem;
}

.note-lnb-ul .note-lnb-li.selected{
	background-color: rgba(30,168,223,0.20);
}
.search-page-div.selected{
	background-color: rgba(30,168,223,0.20);
}
.note-lnb-ul.selected{
	background-color: rgba(30,168,223,0.20);
}

.note-lnb-ul.folded .note-lnb-li, .note-lnb-ul.folded .note-new-page{
  display: none;
}
.note-lnb-temp-ul{
  user-select: none;
  margin: 0rem 0.81rem;
  padding: 0rem;
  display: flex;
  flex-direction: column;
  line-height: 100% !important;
  font-size: 0.8125rem;
  height: auto;
  width: auto;
}
.note-lnb-name-change-div{
	width: calc(100% - 1rem);
	border-bottom : 0.0625rem solid #dadada;
	display: flex;
	align-items: center;
	height: 3.125rem;
}

.note-lnb-temp-ul-text{
	height: 50%;
    width: calc(100% - 1.6rem);
    max-width: calc(100% - 1.6rem);
    overflow: hidden;
    align-self: center;
    border: 0rem !important;
    background-color: transparent !important;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
}
.note-lnb-temp-ul-text::placeholder{
	color:#d0d0d0;
}
.note-lnb-temp-ul-text::selection{
	background: rgba(30,168,223,0.20);
	color: #000000;
	
}

.note-lnb-li-icon{
  flex: 0 0 1.875rem;
  height: 100%;
  display: flex;
}
.search-chapter-div .note-lnb-li-text{
	padding-left: 1.19rem;
}
.note-lnb-li-text{
    display: inline-block;
    cursor: pointer;
    margin-left: 1.25rem;
    line-height: 130%;
    align-self: center;
    max-width: calc(100% - 2rem);
    min-width: calc(100% - 2.775rem);
    overflow: hidden;
/*     text-overflow: ellipsis; */
    white-space: nowrap;
    font-weight:400;
}
.note-new-page-text{
    display: inline-block;
    cursor: pointer;
    align-self: center;
    line-height: 100%;
}
.note-new-page-block{
	width: 9.38rem;
	height: 1.88rem;
	display: flex;
    justify-content: center;
	margin-left: 1.06rem;
	cursor: pointer;
}
.note-new-page-block:hover{
	background: rgba(30,168,223,0.20);
	border-radius: 0.94rem;	
}

#note .icon-ellipsis_vertical_small{
    display: none;
    align-self: center;
    flex: 0 0 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border-radius: 1.5rem 1.5rem;
    align-items: center;
    justify-content: center;
}
#note .icon-ellipsis_vertical_small:hover{
	background-color: rgba(30,168,223,0.20);
}
.note-lnb-ul-div:hover .icon-ellipsis_vertical_small{
	display: flex !important;
}

.note-lnb-li:hover .icon-ellipsis_vertical_small{
	display: flex !important;
}
#note-tag-cover .icon-ellipsis_vertical_small{
	display: none !important;
}



.note-new-page{
  display: flex;
  height: 2.81rem;
  align-items: center;
  color: #0090CA;
/*   margin-left: 2.94rem; */
  border-bottom: 0.0625rem solid #dadada;
}

.note-lnb-chapter-color{
  	width: 0.25rem;
    height: 2.19rem;
    align-self: center;
    border-radius: 0.13rem / 0.13rem;
}

.note-lnb-ul-folder{
  display: flex;
  align-self: center;
  flex: 0 0 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1.5rem 1.5rem;
  align-items: center;
  cursor: pointer;
  margin-left: 0.2rem;
  justify-content: center;
}
.note-lnb-ul-folder:hover{
	background-color: rgba(30,168,223,0.20);
}
/* 여기까지 note lnb menu*/
/* 일부 잡 css */
div#chipLayout div.top-chip-root form{
	display: inline-flex !important;
}
#top-dialog-root_noteIsEditDialog{
	height: 11.88rem !important;
	width: 22.5rem !important;
	top: calc(50% - 6.565rem) !important;
    left: calc(50% - 12.565rem) !important;
    border-radius: 0.25rem !important;
    border: 0px !important;
}

#top-dialog-root_noteIsEditDialog .top-dialog-content {
    width: 100% !important;
    margin: 0rem !important;
    padding: 0rem 0 1.25rem 0!important;
    border-radius: 0.25rem !important;
}

#top-dialog-root_noteIsEditDialog .top-dialog-content img#Icon186_1 {
    background-image: url("../../res/note/ts_popup_info_alert@3x.png");
    background-repeat:no-repeat;
    background-size:1.25rem;
    border-radius:50%;
    border:0rem;
}

#top-dialog-root_noteIsEditDialog top-textview#noteDelTextView {
    color:black;
}

.note-alarm {
    display: flex;
    width: 22.5rem;
    height: 11.88rem;
    padding: 0 0 1.25rem 0;
}
.note-alarm_info-mark {
    width:1.25rem;
    height:1.25rem;
    margin-top: 2.13rem;
}

.note-alarm .button-container {
    margin-top:auto;
}

.note-alarm .button-container button {
    margin:0px;
}
div#tag_accordion{
	width: 100%;
}
div#tag_kor_tablayout, div#tag_eng_tablayout, div#tag_num_tablayout, div#tag_etc_tablayout{
	background-color: transparent !important;
}

#notePreBtn,#tagPreBtn,#noteSearchBtn{
	cursor: pointer;
	border: 0rem solid #000000;
}

#note top-imagebutton#noteSearchBtn{ /* 우선 순위에 의해 개발 완료 될 때 까지는 페이지 내 검색 버튼 안보이게 해달라고 함 */
	display: none !important;
}

.note-file-contextmenu-container{
	display:none; 
	position:absolute; 
	border: 0.0625rem solid #dadada; 
	background: #ffffff;
	align-items: center;
	width : 6.7rem;
	height : 1.625rem;
	list-style-type: none;
	border: 1px solid #C6CED6;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.35);
	border-radius: 0.25rem;
}
.note-contextmenu-container{
	display:none; 
	position:absolute; 
	border: 1px solid #cdcdcf; 
	background: #ffffff;
	align-items: center;
	width : 5.56rem;
	height : 3.6rem;
	list-style-type: none;
	border: 1px solid #C6CED6;
	border-radius: 0.25rem;	
}
.note-contextmenu-container .note-context-menu__rename,
.note-contextmenu-container .note-context-menu__delete {
    display:flex;
    align-items:center;
}
.note-file-contextmenu-container div{
	width: calc(100% - 1.2rem);
	height: 1.625rem;
	border-bottom : 0.0625rem solid #dadada;
	font-size: 0.75rem;
	color: #0C0C0C;
	cursor : pointer;
	line-height: 2;
}
.note-contextmenu-container div{
	width: calc(100% - 0.713rem);
	height: 1.8rem;
	font-size: 0.75rem;
	color: #0C0C0C;
	font-weight: 300;
	padding : 0rem 0rem 0rem 0.69rem;
	cursor : pointer;
}
.note-file-contextmenu-container div:hover,
.note-contextmenu-container div:hover{
	background-color: rgba(30,168,223,0.20);
	border-radius : 1.125rem;
}
/*태그에서 사용하던거 here*/
#note div.top-chip-root{
	width: 100%;
	display: inline-flex !important;
	overflow: auto hidden;
}
#note div#LinearLayout154{
	width: calc(100% - 1.875rem) !important;
/* 	line-height: 2.5rem !important; */
}
#note div#chipLayout{
    width: calc(100% - 1.56rem) !important;
    height: 2.94rem !important;
    line-height: 2.94rem !important;
}

/* 여기까지 일부 잡 css */

/* 새로만든 tag chip 관련 css */
#note .note-tag-add-textfield{
    width: 5rem;
    height: 1.88rem;
    margin-right: 0.38rem;
    border-radius: 1.563rem;
    padding-left: 0.63rem;
    padding-right: 0.63rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    display: none;
    border: 0.0625rem solid #1EA8DF;
}
/*(SJ) 공통팀 css랑 겹쳐서 추가 */
#note .note-tag-add-textfield:hover {
    background-color:white;
    border:1px solid #1EA8DF;
}
#note .note-real-tag-name{
    height: 100%;
    display: flex;
    align-items: center;
}
.note-tag-more-inner-div .note-real-tag-name{
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 11.5rem;
}
.note-tag-more-inner-div{
	height: 1.88rem;
	width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 0.25rem;
}
.note-tag-more-inner-div .tag-name-change-input {
    height:1.63rem;
}
/*
.note-tag-more-inner-div:hover{
	background-color: rgba(0,164,195,0.05);
}
*/
.note-tag-more-cover{
	width: 10.81rem;
    max-height: 11.5rem;
	position: absolute;
	border: 0.0625rem solid #dadada;
	display: none;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
    background-color: #ffffff;
    white-space: nowrap;
    padding: 0.56rem 0.75rem;
    box-sizing: border-box;
    box-shadow: 0 0.0625rem 0.25rem 0 rgba(0,0,0,0.10);
    border-radius: 0.25rem;
}
#note .tag-more-button{
	display: none !important;
	flex: 0 0 1.1rem;
	font-size: 0.63rem;
	margin-right: 0.5rem;
	align-items: center;
    cursor: pointer;
    color: #75757F;
}
#note .note-tag-add-icon{
	display:flex; 
	flex:0 0 1.25rem; 
	border:none; 
	margin-left:0.75rem; 
	margin-right:0.88rem;
	align-self: center;
    background-color: transparent;
    cursor: pointer;
}
#note .note-tag-add-icon.readmode{
	cursor: not-allowed;
}
#note div#noteTagContainer{
	border-top: 0.0625rem solid #dadada !important;
	display: flex;
}
#note .tags-length-checker{
    display: flex !important;
    align-items: center !important;
	width: calc(100% - 2.4rem);
    box-sizing: border-box;
}
#note .tags-inner-container{
	display: flex;
    align-items: center;
    overflow-x: scroll;
    max-width: none;
    white-space: nowrap;
    box-sizing: border-box;
}
#note .tags-inner-container::-webkit-scrollbar{
	display:none;
}
.note-tag-chip-container, #note .note-tag-chip-container{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 0.4375rem;
    margin-top: 0.4375rem;
	margin-right:0.38rem;
	color: #333333;
    font-size: 0.875rem;
    font-weight: 400;
    border: 0.0625rem solid #1EA8DF;
    border-radius: 1.563rem;
    min-width: 4.5rem;
    max-width: 9.31rem; /*(SJ)임의로 넣음, 너무 긴 경우 빈 공간이 많아져서*/
    height: 1.88rem;
    z-index: 1;
    float: left;
    cursor: pointer;
    user-select: none;
    background-color: rgba(30,168,223,0.20);
}
.note-tag-chip-container-focus {
	background-color: #8DD3EF !important;
}
.tag-name-change-input {
	display: flex;
	align-items: center;
    padding-right: 0.63rem;
    padding-left: 0.63rem;
	justify-content: center;
	margin-bottom: 0.4375rem;
    margin-top: 0.4375rem;
    border: 0.0625rem solid #1EA8DF !important;
    background-color: transparent !important;
	border-radius: 1.563rem !important;
    min-width: 4.5rem;
    height: 1.88rem;
    z-index: 1;
    float: left;
	margin-right:0.38rem;
	color: #333333 !important;
    font-size: 0.875rem !important;
    font-weight: 400;
}
.note-tag-more-inner-div .note-tag-chip-content, #note .note-tag-chip-content{
	display: flex;
    padding-right: 0.63rem;
    padding-left: 0.63rem;
    height: 100%;
}

/*sj 추가*/
.note-tag-chip-content {
    overflow:hidden;
}
.note-tag-chip-icon {
    color: rgba(0,0,0,0.5);
    font-size: 0.65rem;
}
.note-tag-more-inner-div .note-tag-chip-container {
    margin:0rem;
    height:calc(100% - 0.25rem);
}
/*/////////////////*/
.note-tag-more-inner-div .note-tag-chip-text, #note .note-tag-chip-text{
	display: inline-block;
	height: 100%;
	min-width: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    line-height: 1.88rem;
}
.note-tag-more-inner-div .note-tag-chip-icon, #note .note-tag-chip-icon{
	display: flex;
	height: 100%;
	margin-left: 0.5rem;
	flex : 0 0 0.5rem;
	align-items: center;
}
.note-tag-more-inner-div .note-tag-chip-icon .hide, #note .note-tag-chip-icon .hide{
	display: none;
}

/* 여기까지 새로만든 tag chip 관련 css */



/* 호출 순서 상 맨 위로 올려둠 */
#newNoteBtn{
	visibility: hidden !important;
}
div#LinearLayout89{
	text-align : right;
}
div#content_title, div#LinearLayout7, div#tagLayout_title,div#trashCanTitle {
    z-index : 2;
}
div#tagLayout_search{
    min-height: 3.19rem;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: 0.81rem;
}
div#note-tag-PreBtnLayout{
    align-items: center;
    display: flex;
	margin-left: 0.625rem;
}
div#note-tag-tagTitleLayout{
	border-bottom: 0.0625rem solid #dadada;
    display: flex;
    height:3.19rem;
    box-sizing:border-box;
    padding: 0 0.75rem;
}
.note-tag__btn-container {
    display:flex;
}

.SunEditor > .top-customwidget-root {
	display : inline !important;
	height: 100% !important;
}

.sun-editor {
    height: 100% !important;
	display: inline !important;
}

.font_convert {
	background-color : rgba(0,164,195,0.40);
}

.noteMenu {
	cursor : pointer;
	margin : 0rem;
}
.noteMenu:hover {
	
}

.noteMenu.active .top-linearlayout-root {
	color : #36ADCC;
	background-color: rgba(0,108,125,0.15) !important;
}

.noteTextArea > .top-textarea-root {
    padding: 1.25rem 0.625rem;
}

#noteName input:focus::-webkit-input-placeholder{
    text-indent : 0rem;
    color : #C5C5C8;
    font-size : 0.8125rem;
}
#notebookName input:focus::-webkit-input-placeholder{
    text-indent : 0rem;
    color : #C5C5C8;
    font-size : 0.8125rem;
}
#noteName input::-webkit-input-placeholder{
    text-indent : 0rem;
    color : #C5C5C8;
    font-size : 0.8125rem;
}
#notebookName input::-webkit-input-placeholder{
    text-indent : 0rem;
    color : #C5C5C8;
    font-size : 0.8125rem;
}

.alert-success {
    background-color: rgba(0, 0, 0, 0.6);
    border-color: rgba(0, 0, 0, 0.6);
    border-radius : 0.125rem;
    color: #ffffff;
}

.noteEditor_overlay1 {
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    opacity: .5;
    filter: alpha(opacity=50);
    z-index: 17;
}
.noteEditor_overlay2 {
    position: fixed;
    top: 0;
    background: transparent;
    opacity: .5;
    filter: alpha(opacity=50);
    z-index: 17;
}
.noteEditor_overlay3 {
    position: absolute;
    top: 0;
    right: 0;
    float:right;
    background: transparent;
    opacity: .5;
    filter: alpha(opacity=50);
    z-index: 17;
}
.noteEditor_overlay4 {
    position: absolute;
    left: 30px;
    float: left;
    background: transparent;
    opacity: .5;
    filter: alpha(opacity=50);
    z-index: 17;
}
.noteEditor_overlay5 {
    position: absolute;
    float: left;
    background: transparent;
    opacity: .5;
    filter: alpha(opacity=50);
    z-index: 17;
}
.noteEditor_overlay6 {
	position: absolute;
    float: left;
    background: transparent;
    opacity: .5;
    filter: alpha(opacity=50);
    z-index: 17;
}


.noteList > .top-listview-container .top-listview-list {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    display: block;
    overflow: hidden;
    font-size: 0.875rem;
    font-weight: 400;
    color: #494949;
    border-bottom: 0.0625rem solid #f3f4f6;
    background: rgb(248, 248, 248);
}
.noteListCheck .top-checkbox-text i::before {
    content: "\e925";
    position: absolute;
    font-size: 0.8125rem;
    color: #9aa8b1;
    top: calc(50% - 6.5px);
    line-height: 1.1;
    font-family: 'tmaxop';
    font-style: normal;
    background: #ffffff !important;
}
#noteCheckBox .top-checkbox-check:focus+.top-checkbox-text i::before {
    outline: 0rem !important;
}
#rootCheckBox .top-checkbox-check:focus+.top-checkbox-text i::before {
    outline: 0rem !important;
}

/* 아코디언 메뉴 */
#note top-accordionlayout.accordion_01 .top-accordionlayout-title{
    background-color: #EFEFF2;
    color: #313131;
    font-size: 0.8125rem !important;
    border-radius: 1.313rem;
    display:flex;
    align-items:center;
    flex-direction:row-reverse;
}

#note top-accordionlayout.accordion_01 .top-accordionlayout-title .icon-arrow_up,
#note top-accordionlayout.accordion_01 .top-accordionlayout-title .icon-arrow_down {
    margin-left:auto;
    line-height:normal;
}
top-accordionlayout.accordion_01 .top-accordionlayout-title:hover {
    background-color: #ADADAD;
}

top-accordionlayout.accordion_01 .top-accordionlayout-title {
/*     padding: 0.4375rem 0.9375rem; */
    font-size: 13px !important;
    color: #313131;
    font-weight: bold;
    line-height: 1.25rem;
    height: 1.38rem;
    padding: 0rem 0.81rem 0rem 0.75rem;
}

top-accordionlayout.accordion_01 .top-accordionlayout-content {
    color: #494949;
    font-weight: 400;
    font-size: 0.75rem;
    background-color: #ffffff;
}
top-accordionlayout .top-accordionlayout-container {
	border-top : 0rem;
	border-bottom : 0rem;
}

top-accordionlayout.accordion_01 .top-accordionlayout-title .top-accordionlayout-icon {
    color: #313131;
}
top-accordionlayout.accordion_01 .top-accordionlayout-title .icon-arrow_up,
top-accordionlayout.accordion_01 .top-accordionlayout-title .icon-arrow_down {
    float:right;
    width: 0.94rem;
    height: 0.94rem;
    line-height:2.5;
}
top-accordionlayout.accordion_01 .top-accordionlayout-title.active:hover{
	background-color: #ADADAD;
}
top-accordionlayout.accordion_01 .top-accordionlayout-title.active .top-accordionlayout-icon {
    color: #313131;
}

top-accordionlayout.accordion_01 .top-accordionlayout-title:hover .top-accordionlayout-icon {
    color: #313131;
}

top-accordionlayout .top-accordionlayout-container .top-accordionlayout-content {
    padding: 0.9375rem 0rem;
    text-align: left;
    overflow: hidden;
}
top-accordionlayout.accordion_01 .top-accordionlayout-title.active {
    background-color: #EFEFF2;
    color: #313131;
    font-weight: 600;
    border-radius: 1.313rem;
}


.iconFixed > .top-linearlayout-root {
    line-height: 1 !important;
}


div#innerframe_notebookTable {
	display : none;
}

top-contextmenu .top-contextmenu-container .top-contextmenu_item:hover:not(.selected) {
    background-color: rgba(178,228,237);
    color: #333;
    font-weight: 500;
}

top-contextmenu .top-contextmenu-container .top-contextmenu_item {
    min-width: 84px;
    height:1.75rem;
    padding: 0.125rem 0.5rem;
	
}

top-contextmenu .top-contextmenu-container ul {
    border: 0.0625rem solid #C2C2C2;
}

.readMode {
	display: inline-block;
}

.note-editor_read-title {
    display:flex;
    align-self:center;
    width:1.25rem;
    height:1.25rem;
    margin : 0.0625rem 0rem 0rem 1.19rem;
    filter: invert(78%) sepia(8%) saturate(0%) hue-rotate(336deg) brightness(78%) contrast(88%);
}

#noteFileTable .icon-work_folder .top-icon-root     { color : #FFC412  }
#noteFileTable .icon-work_toword .top-icon-root     { color : #0074DF  }
#noteFileTable .icon-work_topoint .top-icon-root    { color : #F15A55  }
#noteFileTable .icon-work_tocell .top-icon-root     { color : #35BC68  }
#noteFileTable .icon-work_img_file .top-icon-root   { color : #00A4C3  }
#noteFileTable .icon-work_video_file .top-icon-root { color : #9E0EFA; }
#noteFileTable .icon-work_document .top-icon-root   { color : #000000; }


/* 드롭다운 */

#noteDrop .Menu_type_dropdown .top-menu_btn {
/*     padding: 0.25rem 0.5rem; 아래 세 줄이 top90-02버전 용 padding 수정값*/
    padding-bottom: 1.438rem;
    padding-top: 0.3125rem;
    padding-left: 0.5625rem;

    border : 0rem solid #000000;
    background-color : #FF780A;
    width: 100%;
    color: #ffffff;
    font-weight: 400;
    font-size: 0.8125rem;
    position: relative;
    display: inline-block;
    min-width: 5.625rem !important;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}
#noteDrop .Menu_type_dropdown .top-menu_item:hover {
    color: #333333;
    background-color: rgba(229,245,249);
}
#noteDrop .Menu_type_dropdown .top-menu_item:active {
	color: #333333;
	background-color: rgba(178,227,237);
	
}
#noteDrop .Menu_type_dropdown .top-menu-root {
    min-width: 5.625rem;
    position: relative;
    z-index: 105;
    text-align: initial;
    min-height: 1.875rem;
/*     font-size: 0.8125rem; */
}

#noteDrop .Menu_type_dropdown .top-menu_item {
    padding: 0rem 0.5rem;
    font-weight: 400;
    font-size: 0.8125rem;
    color: #333333;
    background-color: #fff;
    position: relative;
    min-width: 7.375rem;
   
}
#noteDrop .Menu_type_dropdown ul {
    transform: translateX(0%);
}

#noteDrop .Menu_type_dropdown .top-menu_item_inner {
    text-decoration: none;
    display: block;
    padding: 0.625rem 0rem;
    color: #333333;
}
#noteDrop .Menu_type_dropdown .top-menu_nav {
    border: 0.0625rem solid #CDCDCF;
}
#noteDrop .Menu_type_dropdown .top-menu_nav {
/*     top: 103px !important; */
    width : 135px;
}
#noteDrop .Menu_type_dropdown .top-menu_btn:hover{
	background-color: #FFA53B;
}
#noteDrop .Menu_type_dropdown .top-menu_btn:active{
	background-color: #FF780A;
}
/* 버튼 */
.smallBtn > .top-button-root {
    display: inline-block;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
	border: 0rem solid #CDCDCF;
	border-radius: 0.125rem;
    color: #828894;
    font-weight: 500;
    font-size: 0.75rem;
    min-width: 1.563rem;
    min-height: 1.563rem;
    padding: 0.1875rem 0.75rem 0.625rem 0.3125rem;    
    background-color: #ffffff;
    outline : none;    
}
.smallBtn >.top-button-root:hover {
	cursor: pointer;
	color: #292A4D;
    background-color: rgba(78,79,132,0.20);
}
.smallBtn >.top-button-root:active {
	cursor: pointer;
	color: #292A4D;
    background-color: rgba(78,79,132,1);
}

.smallBtn .top-button-text{
    margin-left: 0rem;
}

.basicBtn > .top-button-root {
    display: inline-block;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
	border: 0.0625rem solid #CDCDCF;
	border-radius: 0.125rem;
    color: #828894;
    font-weight: 500;
    font-size: 0.875rem;
    padding: 0.4375rem 0.75rem 0.4375rem 0.75rem;
    min-width: 60px;
    background-color: #ffffff;
}
.basicBtn >.top-button-root:hover {
	cursor: pointer;
	color: #292A4D;
    background-color: rgba(78,79,132,0.20);
}
.basicBtn >.top-button-root:active {
	cursor: pointer;
	color: #292A4D;
    background-color: rgba(78,79,132,1);
}

.refreshBtn > .top-button-root {
    display: inline-block;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
	border: 0.0625rem solid #00A4C3;
	border-radius: 0.125rem;
    color: #00A4C3;
    font-weight: 500;
    font-size: 0.9375rem;
    min-width: 1.688rem;
    min-height: 1.688rem;
    padding: 0.125rem 0.375rem 0.625rem 0.3125rem;    
    
    background-color: #ffffff;
}
.refreshBtn > .top-button-root:hover {
	color : #ffffff;
	background-color: #09BFD5;
}
.refreshBtn > .top-button-root:active {
	color : #ffffff;
	background-color: #088AA3;
}

.refreshBtn .top-button-text{
    margin-left: 0rem;
}

.sortBtn > .top-button-root {
    display: inline-block;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
	border: 0.0625rem solid #ACB0BC;
	border-radius: 0.125rem;
    color: #8C8E92;
    font-weight: 500;
    font-size: 0.9375rem;
    min-width: 1.688rem;
    min-height: 1.688rem;
    padding: 0.125rem 0.375rem 0.625rem 0.3125rem;    
    background-color: #ffffff;
    outline : none;
}

.saveBtn > .top-button-root {
    display: inline-block;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
	border: 0.0625rem solid #00A4C3;
	border-radius: 0.125rem;
    color: #00A4C3;
    font-weight: 500;
    font-size: 0.8125rem;
    min-width: 3.25rem;
    min-height: 1.688rem;
    padding: 0.125rem 0.375rem 0.625rem 0.3125rem;        
    background-color: #ffffff;
}

.saveBtn .top-button-text{
    margin-left: 0rem;
}

.newBtn > .top-button-root {
	background-color: #FF780A;
	color : #ffffff;
    min-height: 1.688rem;	
	display: inline-block;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
	border: 0rem solid #CDCDCF;
	border-radius: 0rem;
    font-weight: 500;
    font-size: 0.8125rem;
    line-height: 0.6875rem;
    padding: 0.4375rem 0rem;
}
.newBtn > .top-button-root:hover {
	background-color: #FFA53B;
}
.newBtn > .top-button-root:active {
	background-color:  #FF780A;
}

.Menu_type_dropdown .top-menu_btn .icon-arrow_filled_up {
    color: #FFFFFF;
}

.newBtn .top-button-text{
    margin-left: 0rem;
}
.top-selectbox .top-selectbox-container{
	border-radius : 0rem;
}

.noteCommonBtn .top-button-root {
	background-color: transparent;
    border: 0.0625rem solid #00A4C3;
    color: #00A4C3;
    padding: 0rem;
    cursor: pointer !important;
    line-height: 0.6875rem;
    padding: 0.4375rem 0rem;
    font-weight: 500;
    font-size: 0.8125rem;
}

.noteCommonBtn .top-button-root:hover {
	background-color: rgba(0,164,195,0.20);
    border: 0.0625rem solid #00A4C3;
    color: #00A4C3;
    padding: 0rem;
    cursor: pointer !important;
    line-height: 0.6875rem;
    padding: 0.4375rem 0rem;
    font-weight: 500;
    font-size: 0.8125rem;
}
.noteCommonBtn .top-button-root:active {
	background-color: #00A4C3;
    border: 0.0625rem solid #00A4C3;
    color: #ffffff;
    padding: 0rem;
    cursor: pointer !important;
    line-height: 0.6875rem;
    padding: 0.4375rem 0rem;
    font-weight: 500;
    font-size: 0.8125rem;
}

.noteCommonBtn .top-button-root:disabled {
    background-color: transparent;
    border: 0.0625rem solid #CDCDCF;
    color: #CDCDCF;
    padding: 0rem;
    cursor: not-allowed;
}

.noteCommonBtn .top-button-root .top-button-text {
	cursor: pointer !important; 
}
.noteCommonBtn .top-button-root:disabled .top-button-text {
    cursor: not-allowed !important;
}

.noteCommonBtn .top-button-text{
    margin-left: 0rem;
}

.noteCancelBtn .top-button-root {
	background-color: #00A4C3;
    border: 0.0625rem solid #00A4C3;
    color: #ffffff;
    padding: 0rem;
    cursor: pointer !important;
    line-height: 0.6875rem;
    padding: 0.4375rem 0rem;
    font-weight: 500;
    font-size: 0.8125rem;
}

.noteCancelBtn .top-button-root:hover {
	background-color: #09BFD5;
    border: 0.0625rem solid #00A4C3;
    color: #ffffff;
    padding: 0rem;
    cursor: pointer !important;
    line-height: 0.6875rem;
    padding: 0.4375rem 0rem;
    font-weight: 500;
    font-size: 0.8125rem;
}
.noteCancelBtn .top-button-root:active {
	background-color: #088AA3;
    border: 0.0625rem solid #088AA3;
    color: #ffffff;
    padding: 0rem;
    cursor: pointer !important;
    line-height: 0.6875rem;
    padding: 0.4375rem 0rem;
    font-weight: 500;
    font-size: 0.8125rem;
}

.noteCancelBtn .top-button-root:disabled {
    background-color: transparent;
    border: 0.0625rem solid #CDCDCF;
    color: #CDCDCF;
    padding: 0rem;
    cursor: not-allowed;
}
.noteCancelBtn .top-button-text{
    margin-left: 0rem;
}

.wideBtn .top-imagebutton-root {
    display: inline-block;
    outline: none;
    position: relative;
    box-sizing: border-box;
}
.tagimage .top-imageview-root {
    outline: none;
}
button#permRequestBtn:hover {
    background-color: #000000;
    color: #ffffff;
    content: "권한요청";
}

/* 리스트 뷰 */

#noteListView .top-listview-container .top-listview-list.selected {
    color: #000000;
    background-color: rgba(0,164,195,0.12);
}

#noteListView .top-listview-container .top-listview-list:active {
    color: #000000;
    background-color: rgba(0,164,195,0.12);
}

#noteListView .top-listview-container .top-listview-list:hover {
    background-color: rgba(0,164,195,0.05);
}

/* 태그 리스트 뷰*/

#tagMoreList .top-listview-container .top-listview-list.selected {
    color: #000000;
    background-color: rgba(0,164,195,0.12);
}

#tagMoreList .top-listview-container .top-listview-list:active {
    color: #000000;
    background-color: rgba(0,164,195,0.12);
}

#tagMoreList .top-listview-container .top-listview-list:hover {
    background-color: rgba(0,164,195,0.05);
}

#tag_accordion .top-textview-url{
	font-family: NotoSansCJKkr-Regular;
	font-size: 1rem;
	font-weight: bold;
	color: #000000;
}

.tagList .top-chip-root {
    background-color: transparent;
    border: 0rem solid #d3dbdf;
    display: inline-block;
    outline: none;
    box-sizing: border-box;
    background-image: none;
    border-radius: 0.125rem;
    position: relative;
    padding: 0rem !important;
}
.tagList .top-chip-box {

    color: #333333;
    font-size: 0.875rem;
    font-weight: 400;
    border: 0rem solid #2984ec;
    border-radius: 13.5px;
    min-width: 61px;
    height: 1.688rem;
    z-index: 1;
    float: left;
    cursor: pointer;
    user-select: none;
    background-color: #E3E4E9;
}
.tagList .top-chip-box .top-chip-icon {
   display : none;
}

.tagList .top-chip-text {
    display :none;
}

.tagList .top-chip-box .top-chip-close:before {
    content: "\e9b9";
    font-family: "tmaxop";
    font-size: 0.5rem;
    font-style: normal;
    display: block;
    cursor: pointer;
    color: #000000;
}
.tagList .top-chip-content {
    margin-top: 0.3125rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    max-width: 110px;
}


/* chip */ 
#tag_chip .top-chip-root {
    background-color: #ffffff;
    border: 0rem solid #d3dbdf;
    display: inline-block;
    outline: none;
    box-sizing: border-box;
    padding: 0rem 0rem 0rem 0.625rem;
    background-image: none;
    border-radius: 0.125rem;
    position: relative;
    vertical-align : middle !important;
}
#tag_chip .top-chip-box {

    color: #333333;
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom : 0rem;
    border: 0.0625rem solid #1EA8DF;
	border-radius: 1.563rem;
    min-width: 3.813rem;
    height: 1.688rem;
    z-index: 1;
    float: left;
    cursor: pointer;
    user-select: none;
    background-color: rgba(30,168,223,0.20) !important;
    white-space : pre;
}
#tag_chip .top-chip-box .top-chip-icon {
   display : none;
}

#tag_chip .top-chip-text {
    display :none;
}

#tag_chip .top-chip-box .top-chip-close:before {
    content: "\e9b9";
    font-family: "tmaxop";
    font-size: 0.5rem;
    font-style: normal;
    display: block;
    cursor: pointer;
    color: #000000;
}
#tag_chip .top-chip-content {
    margin-top: 0.3125rem;
}

top-framelayout#permissionRequestLayoutCover {       
       z-index: 4;
       position:absolute;
       right:0.0625rem;
       bottom:0.0625rem;
}

top-framelayout#tagMoreLayoutCover {
	right: 0.375rem;
	bottom: 0.3125rem;
	z-index: 3;
	position: absolute;
}
#note top-linearlayout#LinearLayout15{
	height: calc(100% - 6.13rem) !important;
}

top-textfield #tagTextField{
	border : 0.0625rem solid #1EA8DF;
	border-radius: 1.563rem;
}
.more_tag_chipLayout {
	background: #FFFFFF;
	width:9.375rem;
	height:9.75rem;
}

.tag_layout .top-chip-box .top-chip-close:before {
    color: #333333;
}

.tag_layout .top-chip-root {
    background-color: #ffffff;
    border: 0rem solid #d3dbdf;
    display: inline-block;
    outline: none;
    box-sizing: border-box;
    padding: 0.4375rem 1.25rem 0.625rem 1.25rem;
    background-image: none;
    border-radius: 0.125rem;
    position: relative;
}
.tag_layout .top-chip-box {

    color: #333333;
    font-size: 0.81rem;
    font-weight: 400;
    padding-left: 0.63rem !important;
    padding-right: 0.75rem !important;
    border: 0.06rem solid #1EA8DF;
    border-radius: 1.563rem;
    height: 1.88rem;
    z-index: 1;
    float: left;
    cursor: pointer;
    user-select: none;
    background-color: rgba(30,168,223,0.20) !important;
    white-space : pre;
    display : flex;
}
.tag_layout .top-chip-box .top-chip-icon {
   display : none;
}

.tag_layout .top-chip-text {
    display :none;
}

.tag_layout .top-chip-box .top-chip-close:before {
    color: #333333;
}

.tag_layout .top-chip-box .top-chip-close:before {
    content: "\e9b9";
    font-family: "tmaxop";
    font-size: 0rem;
    font-style: normal;
    display: block;
    cursor: pointer;
    color: #2984ec;
}
.tag_layout .top-chip-content {
    align-self: center;
    font-family: NotoSansCJKkr-Regular !important;
	font-size: 0.8125rem;
	color: #000000;
	letter-spacing: 0;
}
#note #tagLayout #LinearLayout1002 span{
	font-family: NotoSansCJKkr-Regular !important;
}

.noteappDialog .top-dialog-title-layout .top-dialog-close {
	font-size: 1.25rem;
    line-height: 0rem;
    transform: translate(-1.313rem, 36px);
    color: #444;
}
.noteappDialog .top-dialog-title-layout .top-dialog-title{
    font-weight: 100;
}

#top-dialog-root_noteDeleteDialog{
	height : auto !important;
}
#top-dialog-root_noteIsEditDialog .top-dialog-title-layout, #top-dialog-root_noteDeleteDialog .top-dialog-title-layout{
	display : none;
}
#top-dialog-root_noteIsEditDialog .top-dialog-content.fixed-width-dialog.fixed-height-dialog, #top-dialog-root_noteIsEditDialog .top-dialog-content.fixed-width-dialog.fixed-height-dialog{
	height : 100%
}

/* Text field */
#contenteditorTitle .top-textfield-root .top-textfield-text {
	display: inline-block;
    width: 100%;
    outline: none;
    box-sizing: border-box;
    padding: 0.1875rem 0.75rem;
    background-image: none;
    border-radius: 0.125rem;
    color: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    background-color: #ffffff;
    border: 0rem solid #d3dbdf !important;
}
#contenteditorTitle .top-textfield-root .top-textfield-text:focus {
    border-color: none;
    color: #1c458d;
    -webkit-box-shadow: rgba(120, 182, 241, 0.18) 0 0 0.625rem;
    box-shadow: none;
}

top-linearlayout#editor_title_container_2 {
    display:flex;
    align-items:center;
}
div#editor_title_container_2 top-textview#noteEditorModifiedUser,
div#editor_title_container_2 top-textview#noteEditorTimeStamp,
div#editor_title_container_2 top-textview#noteSearchBtn {
    display:flex;
    align-items:center;
    font-size:0.688rem;
}

div#editor_title_container_2 span#noteEditorModifiedUser {
    padding: 0 0.38rem 0 0 !important;
}

div#editor_title_container_2 top-textview#noteEditorModifiedUser a.top-textview-url{
    padding: 0rem !important;
}

div#editor_title_container_2 span#noteEditorTimeStamp {
    border-left:1px solid #D8D8D8 !important;
    padding: 0 0 0 0.38rem !important;
}

div#editor_title_container_2 top-textview#noteEditorTimeStamp a.top-textview-url{
    padding: 0rem !important;
}

#noteName .top-textfield-root .top-textfield-text:focus {
    border-color: #00A4C3 ;
    color: #333333;
}

#notebookName .top-textfield-root .top-textfield-text:focus {
    border-color: #00A4C3 ;
    color: #333333;
}

#noteName::selection{
    background-color: rgba(0,164,195,0.2);
    color: #333333;
}
#notebookName::selection{
    background-color: rgba(0,164,195,0.2);
    color: #333333;
}

#noteTagAdd .top-imagebutton-root[disabled="true"] {
    cursor: not-allowed;
    background-color: #ffffff;
    border: 0rem solid #000000;
}
#noteTagAdd .top-imagebutton-root {
	border: 0rem solid #000000;
}




.tagEllipsis {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 12.5rem;
}

/* 읽기모드 툴 팁 */
[note-tooltip-text]:hover {
	position: relative;
}
[note-tooltip-text]:hover::after {
	background-color: #FFFAE4;
	border: 0.0625rem solid #FAEEBC;
	color: #000000;
	padding: 0.4375rem 0.5rem;
	font-family: NotoSansCJKkr-Regular;
	font-size: 0.6875rem;
	letter-spacing: 0;
	z-index: 999;
	content:attr(note-tooltip-text);
	position: absolute;
	top : 100%;
}
/* 첨부 파일함 */
#noteFileCheckBox .top-checkbox-text i::before{
	outline: none !important;
}
#noteRestoreView {
    font-weight : bold;
}

#noteEditor .top-htmleditor-container .se-toolbar,
#noteEditor .top-htmleditor-container .se-menu-list{
    background-color :#ffffff;
}
/* 에디터 타이틀 영역 정렬 */
div#editorTitle{
    display : flex;
    flex-direction : row;
    padding:0 0.75rem !important;
    box-sizing:border-box;
}
#editor_title_container_1{
    display : flex;
    flex : auto;
    position: relative;
}
#editor_title_container_1 top-imagebutton#notePreBtn{
    margin: auto 1rem auto 0;
}
#editor_title_container_1 input#notePreBtn:hover {
    background-color:rgba(30,168,223,0.20);
}
#editor_title_container_2{
    display : flex;
    flex-direction : row;
    position: relative;
}
#contenteditorTitle{
    display : flex;
    flex : auto;
}
#contenteditorTitle .top-textfield-root{
    display : flex;
    flex : auto;
}

.note-folding-sub {
	width: 0.94rem;
    height: 2.06rem;
    display: flex;
    align-self: center;
    background-color: #1EA8DF;
    border: 0px solid #9ca7ad;
    cursor: pointer;
    border-top-left-radius: 0.31rem;
    border-bottom-left-radius: 0.31rem;
    margin-top: auto;
    position: absolute;
    margin-bottom: auto;
    z-index: 18;
    top: 50%;
    left : 0;
    transform: translate(-0.9rem, 0rem);
    background-image: url(../../res/note/arrow_left.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
.note-folding-sub:hover{background-color: #008CC8;}
.note-folding-sub:active{background-color: #0072B0;}

#note #saveButton.top-button-root{
	width: 3.5rem;
    height: 1.69rem;
    color: white;
/*     margin : 0rem !important; */
    align-self: center;
    background-color: #008CC8;
	border: 0rem;
	border-radius: 0.25rem;
	font-size: 0.75rem;
	font-family: NotoSansCJKkr-Regular
}

#note top-button#saveButton {
    display: flex;
    align-items: center;
}

#note #saveButton.top-button-root:hover{
    background-color: #1EA8DF;
    border:0px;
}
#note #saveButton.top-button-root:focus,
#note #saveButton.top-button-root:active{
    background-color: #41B4E2 ;
    border:0px;
}
div#AppSplitRightLayout #filled_downBtn button{
	display:inline-block;
}
div#AppSplitRightLayout #tagRefreshBtn button {
    display: none;
}

/* note File Layout */
.sun-editor-content,
.sun-editor-file-body{
	height: 3rem;
}
.sun-editor-file-body{
    display: flex !important;
    position: relative;
    background-color: white !important;
    padding: 0.375rem !important;
    border-radius: 0.5rem;
    width: 13.75rem;
    box-sizing: border-box;
}
.sun-editor-file-body:hover{
	background-color: #DCDDFF !important;
}
.sun-editor-file-content,
.sun-editor-file-content{
	background-color: inherit !important;
	min-width: calc(100% - 1.325rem);
}
.sun-editor-dataArea{
	line-height: 0.9375rem;
	height: auto !important;
}
.sun-editor-font-fix{
    font-size: 0.6875rem !important;
    background-color: inherit !important;
    margin-right : 0rem !important;
    margin-top : 0 !important;
    color: #45474A !important;
   	line-height: 0.9375rem;
 	width: 1.875rem;
    height: 1.875rem;    
}
.sun-editor-font-fix2{
	font-size : 0.63rem !important;
	background-color: inherit !important;
	line-height: 0.9375rem;
}
.note-file-icon{
 	margin-right : 0.38rem !important;
	margin-top : 0 !important;
    width: 1.875rem;
    height: 1.875rem;
}
.note-file-download{
    width: 1.875rem;
    height: 2.188rem;
    background-color: #CDCFFF;
    color: #6C56E5;
    border-radius: 50%;
    font-size: 1.2rem;
    margin-right: 0.375rem !important;
    min-width: 1.875rem;
	min-height: 2.188rem;
    align-items: center;	
}
#noteEditor .sun-editor [class*=icon-work_download]:before {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-left: 0.3rem;
}
#noteEditor .sun-editor-editable[contenteditable=true] .note-file-icon .se-component{
	outline : 0;
}
.note-file-icon .se-image-container img.sun-editor-font-fix{
	min-width: 1.875rem;
	min-height: 1.875rem;
}
.sun-editor-font-fix3 .se-image-container{
    width: 1.875rem;
    height: 1.875rem;
}

/*
* Editor toolbar
*/
#noteEditor .sun-editor .se-btn{
	width: 1.81rem;
	height: 1.81rem;
}
#noteEditor .sun-editor .note-div-border{ 
	width: 0.06rem;
    background: #E8E8E8;
    height: 1.81rem;
    margin: 0 0.25rem;
}
#noteEditor .sun-editor .se-toolbar [class*=se-icon-arrow-down]:before{
	font-size: 0.62rem;
}
#noteEditor .sun-editor .se-btn-select{
	margin-right : 0.25rem !important;
}
#noteEditor .sun-editor .se-btn-select .se-icon-arrow-down{
	line-height :1.5;
}
#noteEditor .sun-editor .se-toolbar{
	padding: 0.5rem 0.38rem;
}
#noteEditor .sun-editor .se-btn-select.se-btn-tool-font{
	width: 5.56rem;
	height: 1.69rem;
}
#noteEditor .sun-editor .se-btn-select.se-btn-tool-size{
	width: 3.13rem;
	height: 1.69rem;
}
#noteEditor .sun-editor .se-tooltip .se-tooltip-inner,
#noteEditor .sun-editor .se-tooltip .se-tooltip-inner .se-tooltip-text{
	left: 0%;
}
#noteEditor .sun-editor .se-btn:enabled:hover{
	background-color:  rgba(176,176,176,0.20);
    border-color:  rgba(176,176,176,0.20);
    color: #38434D;
    border-radius: 0.25rem;
    outline: 0 none;
}
#noteEditor .sun-editor .se-btn:enabled.on {
    background-color: rgba(176,176,176,0.40);
    border-color: rgba(176,176,176,0.40);
    border-radius: 0.25rem;
    color: #38434D;
    outline: 0 none;
}
/* new noteFile layout */
.note-file-content {
    display: flex !important;
    cursor: pointer;
    height: 2.625rem;
    justify-content: left;
    align-items: center;
    width : fit-content;
}
.note-file-body_close{
    display: flex;
    height:100%;
    width: 0.625rem;
    font-size: 0.625rem;
    padding-left: 0.4625rem;
    color: #75757F;
    cursor :pointer;
}
.note-file-body {
    display: flex !important;
    position: relative;
    background-color: white;
    padding: 0.375rem !important;
    border: 1px solid #E0E5E9;
    border-radius: 0.5rem;
    width: 12.5rem;
    box-sizing: border-box;
}
.note-file-icon {
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-right : 0.375rem !important;
    width: 1.875rem;
    height: 1.875rem;
   	position:relative !important;
	cursor: pointer;
}
.note-file-text {
	overflow:hidden;
}
.note-file-title {
	display: flex;
    line-height: 0.9375rem;
}
.note-file-name{
	font-size: 0.6875rem;
    color: #45474A;
    max-width: 9rem;
}
.note-file-size {
	font-size: 0.625rem;
    color: #888D96;
    line-height: 0.9375rem;
    cursor: default;
}
