@charset "UTF-8";



/* desktop */
@media (min-width:769px) {
	#meetingHeaderButtonLayout {
	    text-align: right;
	}
	#meetingHeaderTitleLayout{
		text-align: left;
	}
    #meetingDisablePageLayout {
        align-content: center;
    }
}

/* remote Video Layout*/
.meeting-room-space {
	height: calc(100% - 60px);
    width: calc(100% - 18px);
    margin: 13px 9px;
    align-content: center;
    text-align: center;
    vertical-align: middle;
}

.meeting-video-row {
    position: relative;
    display: flex;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    margin: 5px 0;
}

.meeting-video-layout {
    position: relative;
    display: inline-block;
    height: calc(100% - 10px);
    margin: 0 5px;
    background: black;
}

.video-title-text {
    position: absolute;
    top: 50%;
    left: 0;
    width: calc(100% - 60px);
    height: fit-content;
    transform: translate(0, -50%);
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    font-size: 24px;
    color: white;
}

.video-bottom-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 7px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    color: rgba(255,255,255,0.5);
}

.meeting-on-name-space {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: calc(50% + 21px);
    text-align: center;
    z-index: 5;
}

/*header*/
/*NOTE(20200221,soojin_park) :이런 방식으로 svg 파일로 이미지 교체 할 수 있음! meetingHeaderIcon 추후 수정 예정 
#meetingHeaderIcon .top-icon-root 		{ content : url(../../res/TeeMeeting.svg); }
*/
#meetingExtraMenu ul {
	border-radius: 4px; 
	background-color: #FFFFFF;
	border: 1px solid #C6CED6;
	box-shadow: 0 1px 4px 0;
}
#meetingExtraMenu li {border-radius: 18px;}
#meetingExtraMenu .top-contextmenu_item{
	color : #000000;
	font-size:13px;
	min-width: 6rem;
	height : 1.5rem;
	padding-top: 0.25rem;
}
#meetingExtraMenu .top-contextmenu_item:hover{
	background-color: #FCD0D0;
}
#meetingExtraMenu .top-contextmenu_image{
	width: 0.85rem;
	height: 0.85rem;
	margin-right: 0.5rem;
}
#iconEllipsis.meeting-footer-icon{
	transform: rotate(-90deg);
}
#meetingFooterBtnBar top-imageview, #meetingBtnBarContainer top-imageview{
	outline: 0px;
}
#meetingFooterBtnBar img, #meetingBtnBarContainer img{
	border: 0px;
}
#meetingFooterBtnBar img:hover, #meetingBtnBarContainer img:hover{
	border: 0px;
}
#meetingFooterBtnBar img:focus, #meetingBtnBarContainer img:focus{
	outline: 0px;
}
#meetingAppIcon{
	border: 0px;
}

.meeting2Header {
    display: flex;
    justify-content: space-between;
    padding: 0.625rem 0.75rem 0.75rem 0.55rem;
    box-sizing: border-box;
    border-bottom: 0.0625rem solid #e3e7eb;
    height: 2.56rem;
}
.meeting2Col {
    display: flex;
    align-items: center;
}

#meeting2Title {
    font-size: 0.88rem;
    font-weight: 600;
    line-height:0rem;
    margin-left: -0.25rem;
}

#meeting2Icon {
    display: flex;
    width: 2.15rem;
    height: 2.15rem;
    margin-right: 0.54rem;
}

#meeting2CancelBtn{
    display: inline-flex;
    align-items: center;
    width: 1.563rem;
    height: 1.563rem;
    border-radius: 50%;
    font-size : 1rem;
    cursor: pointer;
}


#meeting2ExpandBtn {
    display: inline-flex;
    align-items: center;
    width: 1.563rem;
    height: 1.563rem;
    border-radius: 50%;	
    font-size : 1rem;
    cursor: pointer;
}

#meeting2FoldBtn {
    display: inline-flex;
    align-items: center;
    width: 1.563rem;
    height: 1.563rem;
    border-radius: 50%;	
    font-size : 1rem;
    cursor: pointer;
}
