#dauReloadBtn .top-button-icon.left {
	margin-right: 0px;
}

#mntrChevronPrevBtn .top-button-icon.left {
	margin-right: 0px;
}

#mntrChevronNextBtn .top-button-icon.left {
	margin-right: 0px;
}

/* landing.css #LinearLayout1036 button 가져옴 */

#mntrSubMenuBtnLayout button {
	padding: unset;
	font-weight: unset;
	background-color:#ADADAD;
	border:solid 1px #ADADAD;
	border-radius:14px;
	outline:none;
}

#mntrSubMenuBtnLayout button:hover {
	background-color:#09BFD5;
	border:solid 1px #09BFD5;
}

#mntrSubMenuBtnLayout button:active {
	background-color:#088AA3;
	border:solid 1px #088AA3;
}

#mntrSubMenuBtnLayout button .top-button-root .clicked {
	padding: unset;
	font-weight: unset;
	background-color:#27B1CC;
	border:solid 1px #27B1CC;
	border-radius:14px;
	outline:none;
}

#mntrSubMenuBtnLayout div {
	line-height : unset !important;
}
