/* original theme */


/* App LNB Background*/
.app-lnb .top-linearlayout-root:first-child {
	background-color :  #F5F5F5;
}
/* App Contents Background */
.app-bg .top-linearlayout-root:first-child {
	background-color : #FFFFFF;
}
/* RNB Background */
.rnb-talk .top-linearlayout-root:first-child {
	background-color :  #F5F5F5;
}
.rnb-title .top-linearlayout-root:first-child {
	background-color : #ECECEC;
}

/* Btn/Text/Solid */
.text-solid .top-button-root {
	background-color : #00A4C3;
	border : 0px;
	color : #FFFFFF;
	padding : 0px;
	border-radius : 0px;
	font-weight : normal;
	min-height : 0px;
	min-width : 0px;
}
.text-solid .top-button-root:hover {
	background-color : #09BFD5;
	
}
.text-solid .top-button-root:active {
	background-color : #088AA3;
}
top-button[disabled="true"].text-solid .top-button-root {
	background-color : #DADADA;
	border : 0px;
	color : #C5C5C8;
}


/* Btn/Text/Solid2 */
.text-solid2 .top-button-root {
	background-color : #FFFFFF;
	border : 0px;
	color : #00A4C3;
	padding : 0px;
	border-radius : 0px;
	font-weight : normal;
	min-height : 0px;
	min-width : 0px;
}
.text-solid2 .top-button-root:hover {
	background-color : #09BFD5;
}
.text-solid2 .top-button-root:active {
	background-color : #088AA3;
}
top-button[disabled="true"].text-solid2 .top-button-root {
	background-color : #DADADA;
	border : 0px;
	color : #C5C5C8;
}


/* Btn/Text/Solid3 */ 
.text-solid3 .top-button-root {
	background-color : #FF780A;
	border : 0px;
	color : #FFFFFF;
	padding : 0px;
	border-radius : 0px;
	font-weight : normal;
	min-height : 0px;
	min-width : 0px;
}
.text-solid3 .top-button-root:hover {
	background-color : #FFA53B;
}
.text-solid3 .top-button-root:active {
	background-color : #FF780A;
}
top-button[disabled="true"].text-solid3 .top-button-root {
	background-color : #DADADA;
	border : 0px;
	color : #C5C5C8;
}



/* Btn/Text/Line */
.text-line .top-button-root {
	background-color : #FFFFFF;
	border : 1px solid #00A4C3;
	color : #00A4C3;
	padding : 0px;
	border-radius : 0px;
	font-weight : normal;
	min-height : 0px;
	min-width : 0px;
}
.text-line .top-button-root:hover {
	background-color : rgba(0,164,195,0.20);
}
.text-line .top-button-root:active {
	background-color : #00A4C3;
	color : #FFFFFF;
}
top-button[disabled="true"].text-line .top-button-root {
	background-color : #FFFFFF;
	border : 1px solid #CDCDCF;
	color : #DADADA;
}


/* Btn/Text/Line2 */
.text-line2 .top-button-root {
	background-color : #FFFFFF;
	border : 1px solid #ACB0BC;
	color : #000000;
	padding : 0px;
	border-radius : 0px;
	font-weight : normal;
	min-height : 0px;
	min-width : 0px;
}
.text-line2 .top-button-root:hover {
	background-color : rgba(0,164,195,0.20);
	border : 1px solid #00A4C3;
}
.text-line2 .top-button-root:active {
	background-color : #00A4C3;
	border : 1px solid #00A4C3;
	color : #FFFFFF;
}
top-button[disabled="true"].text-line2 .top-button-root {
	background-color : #F1F1F1;
	border : 1px solid #C5C5C8;
	color : #D8D8D8;
}



/* Btn/IC/Solid */
.ic-solid .top-button-root {
	background-color : #00A4C3;
	border : 0px;
	color : #FFFFFF;
	padding : 0px;
	border-radius : 0px;
	font-weight : normal;
	min-height : 0px;
	min-width : 0px;
}
.ic-solid .top-button-root:hover {
	background-color : #09BFD5;
}
.ic-solid .top-button-root:active {
	background-color : #088AA3;
}
top-button[disabled="true"].ic-solid .top-button-root {
	background-color : #DADADA;
	border : 0px;
	color : #C5C5C8;
}
.ic-solid .top-linearlayout-root {
	background-color : #00A4C3;
	border : 0px;
	color : #FFFFFF;
	cursor : pointer;
}
.ic-solid .top-linearlayout-root:hover {
	background-color : #09BFD5;
}
.ic-solid .top-linearlayout-root:active {
	background-color : #088AA3;
}
top-button[disabled="true"].ic-solid .top-linearlayout-root {
	background-color : #DADADA;
	border : 0px;
	color : #C5C5C8;
}


/* Btn/IC/Line */
.ic-line .top-button-root {
	background-color : #FFFFFF;
	border : 1px solid #00A4C3;
	color : #00A4C3;
	padding : 0px;
	border-radius : 0px;
	font-weight : normal;
	min-height : 0px;
	min-width : 0px;
}
.ic-line .top-button-root:hover {
	background-color : rgba(0,164,195,0.20);
}
.ic-line .top-button-root:active {
	background-color : #00A4C3;
	color : #FFFFFF;
}
top-button[disabled="true"].ic-line .top-button-root {
	background-color : #FFFFFF;
	border : 1px solid #CDCDCF;
	color : #DADADA;
}
.ic-line .top-linearlayout-root {
	background-color : #FFFFFF;
	border : 1px solid #00A4C3 !important;
	cursor : pointer;
}
.ic-line .top-linearlayout-root .top-icon-root {
	color : #00A4C3;
}
.ic-line .top-linearlayout-root:hover {
	background-color : rgba(0,164,195,0.20);
}
.ic-line .top-linearlayout-root:active {
	background-color : #00A4C3;
}
.ic-line .top-linearlayout-root:active .top-icon-root {
	color : #FFFFFF;
}
top-linearlayout[disabled="true"].ic-line .top-linearlayout-root {
	background-color : #FFFFFF;
	border : 1px solid #C5C5C8;
}
top-linearlayout[disabled="true"].ic-line .top-linearlayout-root .top-icon-root{
	color : #C5C5C8;
}


/* Btn/IC/Line2 */
.ic-line2 .top-button-root {
	background-color : #FFFFFF;
	border : 1px solid #ACB0BC;
	color : #00A4C3;
	padding : 0px;
	border-radius : 0px;
	font-weight : normal;
	min-height : 0px;
	min-width : 0px;
}
.ic-line2 .top-button-root:hover {
	background-color : rgba(0,164,195,0.20);
}
.ic-line2 .top-button-root:active {
	background-color : #00A4C3;
	color : #FFFFFF;
}
top-button[disabled="true"].ic-line2 .top-button-root {
	background-color : #FFFFFF;
	border : 1px solid #CDCDCF;
	color : #DADADA;
}
.ic-line2 .top-linearlayout-root {
	background-color : #FFFFFF;
	border : 1px solid #ACB0BC !important;
	cursor : pointer;
}
.ic-line2 .top-linearlayout-root .top-icon-root {
	color : #8C8E92;
}
.ic-line2 .top-linearlayout-root:hover {
	background-color : rgba(0,164,195,0.20);
}
.ic-line2 .top-linearlayout-root:active {
	background-color : #00A4C3;
}
.ic-line2 .top-linearlayout-root:active .top-icon-root {
	color : #FFFFFF;
}
top-linearlayout[disabled="true"].ic-line2 .top-linearlayout-root {
	background-color : #F1F1F1;
	border : 1px solid #C5C5C8;
}
top-linearlayout[disabled="true"].ic-line2 .top-linearlayout-root .top-icon-root{
	color : #C5C5C8;
}


/* Btn/Text+Dropdown/Solid */
.td-solid .top-selectbox-container {
	background-color : #FF780A;
	border : 0px;
	color : #FFFFFF;
}
.td-solid .top-selectbox-container .top-selectbox-icon {
	color : #FFFFFF;
}
.td-solid .top-selectbox-container:hover {
	background-color : #FFA53B;
}
.td-solid .top-selectbox-container:active {
	background-color : #FF780A;
}
.td-solid .top-selectbox-container.active {
	color : #FFFFFF;
}
top-selectbox[disabled="true"].td-solid .top-selectbox-container {
	background-color: #DADADA;
	border : 0px;
	color : #C5C5C8;
}
top-selectbox[disabled="true"].td-solid .top-selectbox-container .top-selectbox-icon {
	color : #C5C5C8;
}

/* Btn/Text+Dropdown/Line */
.td-line .top-selectbox-container {
	background-color : #FFFFFF;
	border : 1px solid #00A4C3;
	color : #00A4C3;
}
.td-line .top-selectbox-container .top-selectbox-icon {
	color : #00A4C3;
}
.td-line .top-selectbox-container:hover {
	background-color : rgba(0,164,195,0.20);
	border : 1px solid #00A4C3;
}
.td-line .top-selectbox-container:active {
	background-color : #00A4C3;
	color : #FFFFFF;
	border : 1px solid #00A4C3x;
}
.td-line .top-selectbox-container:active .top-selectbox-icon {
	color : #FFFFFF;
}
.td-line .top-selectbox-container.active {
	background-color : #00A4C3;
	color : #FFFFFF;
}
.td-line .top-selectbox-container.active .top-selectbox-icon {
	color : #FFFFFF;
}
top-selectbox[disabled="true"].td-line .top-selectbox-container {
	background-color: #FFFFFF;
	border : 1px solid #CDCDCF;
	color : #DADADA;
}
top-selectbox[disabled="true"].td-line .top-selectbox-container .top-selectbox-icon {
	color : #DADADA;
}



/* Btn/Text+Dropdown/Line2 */
.td-line2 .top-selectbox-root {
	font-size : 13px;
}
.td-line2 .top-selectbox-container {
	background-color : #FFFFFF;
	border : 1px solid #ACB0BC;
	color : #000000;
	padding : 0px 0px 0px 9px;
	line-height : 26px;
}
.td-line2 .top-selectbox-container .top-selectbox-icon {
	color : #8C8E92;
	padding : 0px 10px 0px 6px;
	line-height : 27px;
}
.td-line2 .top-selectbox-container:hover {
	background-color : rgba(0,164,195,0.20);
	border : 1px solid #00A4C3;
}
.td-line2 .top-selectbox-container:active {
	background-color : #00A4C3;
	color : #FFFFFF;
	border : 1px solid #00A4C3;
}
.td-line2 .top-selectbox-container:active .top-selectbox-icon {
	color : #FFFFFF;
}
.td-line2 .top-selectbox-container.active {
	background-color : #00A4C3;
	color : #FFFFFF;
}
.td-line2 .top-selectbox-container.active .top-selectbox-icon {
	color : #FFFFFF;
}
top-selectbox[disabled="true"].td-line2 .top-selectbox-container {
	background-color: #F1F1F1;
	border : 1px solid #C5C5C8;
	color : #DADADA;
}
top-selectbox[disabled="true"].td-line2 .top-selectbox-container .top-selectbox-icon {
	color : #DADADA;
}



/* Btn/IC+Text+Dropdown/Solid */

/* Btn/IC+Text+Dropdown/Line */


/* Btn/IC+Text/Solid */
.it-solid .top-linearlayout-root {
	background-color : #FFFFFF;
	border : 0px;
	color : #00A4C3;
	cursor : pointer;
}
.it-solid .top-linearlayout-root .top-icon-root {
	color : #00A4C3;
}
.it-solid .top-linearlayout-root:hover {
	background-color : #09BFD5;
}
.it-solid .top-linearlayout-root:active {
	background-color : #088AA3;
}
top-linearlayout[disabled="true"].it-solid .top-linearlayout-root {
	background-color : #DADADA;
	border : 0px;
	color : #C5C5C8;
}
top-linearlayout[disabled="true"].it-solid .top-linearlayout-root .top-icon-root{
	color : #C5C5C8;
}


/* Btn/IC+Text/Line */
.it-line .top-linearlayout-root {
	background-color : #FFFFFF;
	border : 1px solid #8C8E92;
	color : #000000;
	cursor : pointer;
}
.it-line .top-linearlayout-root .top-icon-root {
	color : #8C8E92;
}
.it-line .top-linearlayout-root:hover {
	background-color : rgba(0,164,195,0.20);
	border : 1px solid #00A4C3;
	color : #00A4C3;
}
.it-line .top-linearlayout-root:hover .top-icon-root {
	color : #00A4C3;
}
.it-line .top-linearlayout-root:active {
	background-color : #088AA3;
	border : 0px;
	color : #FFFFFF;
}
.it-line .top-linearlayout-root:active .top-icon-root {
	color : #FFFFFF;
}
top-linearlayout[disabled="true"].it-line .top-linearlayout-root {
	background-color : #F1F1F1;
	border : 1px solid #C5C5C8;
	color : #DADADA;
}
top-linearlayout[disabled="true"].it-line .top-linearlayout-root .top-icon-root{
	color : #DADADA;
}

.it-line .top-button-root {
    background-color : #FFFFFF;
    border : 1px solid #ACB0BC;
    color : #000000;
    padding: 0px;
    font-weight: normal;
    min-height : 0px;
    min-width : 0px;
    outline: 0px;
} 
.it-line .top-button-root:hover {
    background-color : rgba(0,164,195,0.20);
    border : 1px solid #00A4C3;
}
.it-line .top-button-root:active {
    background-color : #00A4C3;
    border : 1px solid #00A4C3;
    color : #FFFFFF;
}
.it-line .top-button-root:disabled {
    background-color : #F1F1F1;
    border : 1px solid #C5C5C8;
    color : #D8D8D8;
}


/* Btn/Text+Dropdown/Solid */
/* Btn/IC+Text+Dropdown/Line */


/* Btn/IC/Gray */
.ic-gray .top-linearlayout-root {
	background-color : inherit !important;
}
.ic-gray .top-icon-root .top-icon-content{
	cursor : pointer;
}
.ic-gray .top-icon-root:before {
	color : #8C8E92;
}
.ic-gray .top-icon-root:hover:before{
	color : #09BFD5;
}
.ic-gray .top-icon-root:active:before{
	color : #088AA3;
}
top-icon[disabled="true"].ic-gray .top-icon-root{
	color : #C5C5C8;
}

.ic-gray .top-button-root {
   background-color : inherit !important;
   outline: 0px;
   color: #8C8E92;
   min-height : 0px;
	min-width : 0px;
}
.ic-gray .top-button-root:hover {
   color: #09BFD5;
}
.ic-gray .top-button-root:active {
   color: #088AA3;
}
.ic-gray .top-button-root:disabled {
   color: #C5C5C8;
}

/* Btn/IC/White */
.ic-white .top-icon-root .top-icon-content{
	cursor : pointer;
}
.ic-white .top-icon-root:before {
	color : #FFFFFF;
}
.ic-white .top-icon-root:hover:before{
	color : #09BFD5;
}
.ic-white .top-icon-root:active:before{
	color : #088AA3;
}

.ic-white .top-button-root {
   background-color : inherit !important;
   outline: 0px;
   color: #FFFFFF;
   min-height : 0px;
    min-width : 0px;
}
.ic-white .top-button-root:hover {
   color: #09BFD5;
}
.ic-white .top-button-root:active {
   color: #088AA3;
}
.ic-white .top-button-root:disabled {
   color: #C5C5C8;
}



/* Btn/IC/Star */
.ic-star .top-icon-root .top-icon-content{
	cursor : pointer;
}
.ic-star .top-icon-root:before {
	color : #FFD21C;
}
.ic-star .top-icon-root:hover:before{
	color : #FFE636;
}
.ic-star .top-icon-root:active:before{
	color : #FFC412;
}
top-icon[disabled="true"].ic-star .top-icon-root{
	color : #C5C5C8;
}



/* TextField_1Line/TextBox */

/* SearchBox */

/* Datepicker */

/* RadioBtn */
top-radiobutton .top-radiobutton-text.checked i::before, top-radiobutton .top-radiobutton-check:checked+.top-radiobutton-text i::before {
	color : #6c56e5;
}

/* CheckBox */
top-checkbox .top-checkbox-check:checked+label::before {
	color : #00A4C3;
}
top-checkbox .top-checkbox-text.checked i::before {
	color : #00A4C3;
}

/* Pagination */

/* CalendarHeader */


/* TextState1 */
.ts1 .top-textview-root {
	color : #FFFFFF;
	cursor : pointer;
}
.ts1 .top-textview-root:hover {
	text-decoration : underline;
}
.ts1 .top-textview-root:active {
	text-decoration : underline;
}
.ts1 .top-button-root {
	background-color : transparent;
	border : 0px;
	color : #FFFFFF;
	padding : 0px;
	border-radius : 0px;
	font-weight : normal;
	min-height : 0px;
	min-width : 0px;
}
.ts1 .top-button-root:hover {
	text-decoration : underline;
}
.ts1 .top-button-root:active {
	text-decoration : underline;
}
top-button[disabled="true"].ts1 .top-button-root {
	background-color : transparent;
	border : 0px;
	color : #FFFFFF;
	padding : 0px;
	border-radius : 0px;
	font-weight : normal;
	text-decoration : initial;
}

/* TextState2 */
.ts2 .top-textview-root {
	color : #00A4C3;
	cursor : pointer;
	text-decoration : underline;
}
.ts2 .top-textview-root:hover {
	color : #09BFD5;
}
.ts2 .top-textview-root:active {
	color : #088AA3;
}
.ts2 .top-button-root {
	background-color : transparent;
	border : 0px;
	color : #00A4C3;
	padding : 0px;
	border-radius : 0px;
	font-weight : normal;
	text-decoration : underline;
	min-height : 0px;
	min-width : 0px;
}
.ts2 .top-button-root:hover {
	color : #09BFD5;
}
.ts2 .top-button-root:active {
	color : #088AA3;
}
top-button[disabled="true"].ts2 .top-button-root {
	background-color : transparent;
	border : 0px;
	color : #00A4C3;
	padding : 0px;
	border-radius : 0px;
	font-weight : normal;
}


/* TextState3 */
.ts3 .top-textview-root {
	color : #00A4C3;
	cursor : pointer;
}
.ts3 .top-textview-root:hover {
	color : #09BFD5;
	text-decoration : underline;
}
.ts3 .top-textview-root:active {
	color : #088AA3;
	text-decoration : underline;
}
.ts3 .top-button-root {
	background-color : transparent;
	border : 0px;
	color : #00A4C3;
	padding : 0px;
	border-radius : 0px;
	font-weight : normal;
	min-height : 0px;
	min-width : 0px;
}
.ts3 .top-button-root:hover {
	color : #09BFD5;
	text-decoration : underline;
}
.ts3 .top-button-root:active {
	color : #088AA3;
	text-decoration : underline;
}
top-button[disabled="true"].ts3 .top-button-root {
	background-color : transparent;
	border : 0px;
	color : #00A4C3;
	padding : 0px;
	border-radius : 0px;
	font-weight : normal;
	text-decoration : initial;
}

/* TextState4 */
.ts4 .top-textview-root {
	color : #808080;
	cursor : pointer;
}
.ts4 .top-textview-root:hover {
	text-decoration : underline;
}
.ts4 .top-textview-root:active {
	text-decoration : underline;
}
.ts4 .top-button-root {
	background-color : transparent;
	border : 0px;
	color : #808080;
	padding : 0px;
	border-radius : 0px;
	font-weight : normal;
	min-height : 0px;
	min-width : 0px;
}
.ts4 .top-button-root:hover {
	text-decoration : underline;
}
.ts4 .top-button-root:active {
	text-decoration : underline;
}
top-button[disabled="true"].ts4 .top-button-root {
	background-color : transparent;
	border : 0px;
	color : #808080;
	padding : 0px;
	border-radius : 0px;
	font-weight : normal;
	text-decoration : initial;
}

/* Chip */
top-chip .top-chip-box {
	background-color : #E3E4E9 !important;
	color : #333333 !important;
}
top-chip .top-chip-box:hover {
	border : 1px solid #00A4C3 !important;
}
top-chip .top-chip-box .top-chip-content .top-chip-close:active::before {
	color : #00A4C3 !important;
}


/* Tab1 */
.tab1 .top-tablayout-container {
    background-color: #FFFFFF !important;
    border: 0px !important;
}
.tab1 .top-tablayout-tab {
	background-color: #FFFFFF !important;
    text-align: center !important;
    vertical-align: middle !important;
    height: 31px !important;
    min-width: 110px !important;
    padding: 5px 20px !important;
    border-right : 0px !important;
    border-left: 0px !important;
    border-bottom: 1px solid #8C8E92 !important;
    border-top: 0px !important;
    background-color: #FFFFFF !important;
    font-size: 13px !important;
    color: #717376 !important;
}
.tab1 .top-tablayout-tab:hover {
    color: #09BFD5 !important;
}
.tab1 .top-tablayout-tab.active,
.tab1 .top-tablayout-tab.active:hover {
    color: #00A3C2 !important;
    font-weight: bold !important;
    border-bottom: 0px !important;
    border-top : 1px solid #8C8E92 !important;
    border-left : 1px solid #8C8E92 !important;
    border-right : 1px solid #8C8E92 !important;
}
.tab1 .top-tablayout-tab.last,
.tab1 .top-tablayout-tab.last:hover {
    background-color: #FFFFFF !important;
    width: auto !important;
    max-width: 100% !important;
    padding: 0 !important;
    display: block !important;
    height: 31px !important;
    border: 0px !important;
    border-bottom: 1px solid #8C8E92 !important;
}



/* Tab2 */
.tab2 .top-button-root {
	background-color : #C5C5C8;
	border : 0px;
	color : #000000;
	padding : 0px;
	border-radius : 0px;
	font-weight : normal;
}
.tab2 .top-button-root:hover {
	background-color : #09BFD5;
	color : #000000;
}
.tab2 .top-button-root:active {
	background-color : #00A4C3;
	color : #000000;
}


/* Common Menu */

/* Category */
/* linearLayout*/
.category .top-linearlayout-root {
	background-color : rgba(0,164,195,0.10);
	border-top : 1px solid #00A4C3 !important;
	border-bottom : 1px solid #00A4C3 !important;
}
.category .top-linearlayout-root .top-icon-root {
	color : #00A4C3;
}
.category .top-linearlayout-root .top-textview-root {
	color : #00A4C3;
	font-weight : bold;
}
.category .top-linearlayout-root:hover {
	background-color : rgba(0,164,195,0.25);
}
.category .top-linearlayout-root:active {
	background-color : rgba(8,138,163,0.40);
}


/* accordionLayout T-Talk*/
.chat-menu-container {
    color: #666666;
}
.chat-menu-item {
    background-color: #F5F5F5;
}
.chat-menu-item>.icon {
    color: #999999;
}
.chat-menu-item>.icon.active {
    color: #ffca00;
}
.chat-menu-item:hover:not(span),
.chat-menu-item.hover:not(span) {
    background-color: rgba(0, 164, 195, 0.25);
}
.chat-menu-item.active:not(span) {
    background-color: rgba(0, 164, 195, 0.15);
}


/* treeView T-Note */
.noteMenu .top-linearlayout-root {
	
}
.noteMenu .top-linearlayout-root .top-textview-root {
}
.noteMenu:hover .top-linearlayout-root{
	background-color: rgb(218, 218, 218, 0.4);
}
.noteMenu.active .top-linearlayout-root {
	color : #36ADCC;
	background-color: rgba(0,108,125,0.15) !important;
}
#noteTree .top-treeview-container .top-treeview-list.selected #root {
	background-color :  rgba(0,108,125,0.15);
	color : #00A4C3 ;
}
#noteTree .top-treeview-container .top-treeview-list.selected > input.top-treeview-button+i:before {
	color : #00A4C3 ;
}
#noteTree .top-treeview-container .top-treeview-list #root {
	color : #000000 ;
}
#noteTree .top-treeview-container .top-treeview-list #root:hover {
	background-color: rgb(218, 218, 218, 0.4);
}
#noteTree .top-treeview-draggedNode {
    color: #ffffff;
    background-color: rgba(85, 142, 213, 0.45);
}
#noteTree .top-treeview-container .top-treeview-list .top-treeview-item:hover {
	background-color: rgb(218, 218, 218, 0.4);
	color: #4D5464;
}
#noteTree .top-treeview-container .top-treeview-list .top-treeview-item.selected {
	background-color: rgba(0,108,125,0.15);
	color: #00A4C3;
}
#noteTree .top-treeview-icon:before {
	color: #595B5D;
}
#noteTree .top-treeview-container .top-treeview-list .top-treeview-item.selected > .top-treeview-icon:before{
	color: #00A4C3;
}

#tagTree .top-treeview-container .top-treeview-list.selected #tagroot {
	background-color : rgba(0,108,125,0.15);
	color : #00A4C3 ;
}
#tagTree .top-treeview-container .top-treeview-list #tagroot {
	color : #000000 ;
}
#tagTree .top-treeview-container .top-treeview-list #tagroot:hover {
	background-color:   rgb(218, 218, 218, 0.4);
}
#tagTree .top-treeview-container .top-treeview-list .top-treeview-item:hover {
	background-color: rgb(218, 218, 218, 0.4);
	color: #4D5464;
}
#tagTree .top-treeview-container .top-treeview-list .top-treeview-item:active {
	background-color: rgb(218, 218, 218, 0.8);
	color: #4D5464;
}
#tagTree .top-treeview-container .top-treeview-list .top-treeview-item.selected {
	background-color: rgba(0,108,125,0.15);
	color: #00A4C3;
}
#tagTree .top-treeview-container .top-treeview-list.selected > input.top-treeview-button+i:before {
	color : #00A4C3 !important;
}
#tagTree .top-treeview-container .top-treeview-list .top-treeview-item.selected > .top-treeview-icon:before {
	color : #00A4C3 !important;
}
#tagTree .top-treeview-container input.top-treeview-button+i:before {
	color: #8C8E92;
}
#tagTree .top-treeview-icon:before {
	color: #595B5D;
}



/* treeView T-Drive */
.file-common-tree-view .top-treeview-container .top-treeview-list #root, 
.file-common-tree-view .top-treeview-container .top-treeview-list #recycleBin {
    font-weight: bold;
}

.file-common-tree-view .top-treeview-container .top-treeview-list .top-treeview-item {
	color: #3C3C3C;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
} 
.file-common-tree-view .top-treeview-container .top-treeview-list .top-treeview-item:active {
    background-color: rgba(8, 138, 163, 0.2) !important;
    color: rgba(8, 138, 163, 1) !important;
}
.file-common-tree-view .top-treeview-container .top-treeview-list .top-treeview-item.selected {
	background-color: rgba(0, 108, 125, 0.15) !important;
	color: #00A4C3;
}

.file-common-tree-view .top-treeview-container input.top-treeview-button+i:before {
	color: #3C3C3C;
}
.file-common-tree-view .top-treeview-container .top-treeview-list.selected > input.top-treeview-button+i:before {
    color: #00A4C3; 
}
.file-common-tree-view .top-treeview-icon:before {
	color: #595B5D;
}



/* linearLayout T-Mail*/
.category2 .top-linearlayout-root {
	background-color : rgba(0,164,195,0.10) !important;
	border-top : 1px solid #00A4C3 !important;
	border-bottom : 1px solid #00A4C3 !important;
	line-height : 37px !important;
}
.category2 .top-linearlayout-root .top-icon-root {
	color : #00A4C3;
}
.category2 .top-linearlayout-root .top-textview-root {
	color : #00A4C3;
	font-weight : bold;
}
.category2 .top-linearlayout-root:hover {
	background-color : rgba(0,164,195,0.25) !important;
}
.category2 .top-linearlayout-root:active {
	background-color : rgba(8,138,163,0.40) !important;
}
.category2-active .top-linearlayout-root {
	background-color : rgba(8,138,163,0.40) !important;
	border-top : 1px solid #00A4C3 !important;
	border-bottom : 1px solid #00A4C3 !important;
	line-height : 37px !important;
}
.category2-active .top-linearlayout-root .top-textview-root {
	font-weight : bold;
}


/* SplitScreen */
/* SplitScreen/Btn1 */
.split-button1 .top-icon-root .top-icon-content{
	cursor : pointer;
}
.split-button1 .top-icon-root:before {
	color : #00B04F;
}
.split-button1 .top-icon-root:hover:before{
	color : #08D563;
}
.split-button1 .top-icon-root:active:before{
	color : #00B04F;
}


/* SplitScreen/Btn2 */
.split-button2 .top-icon-root .top-icon-content{
	cursor : pointer;
}
.split-button2 .top-icon-root:before {
	color : #FFC412;
}
.split-button2 .top-icon-root:hover:before{
	color : #FFE636;
}
.split-button2 .top-icon-root:active:before{
	color : #FFC412;
}


/* SideBar */

/* RNB/Notice/IC */
.rnb-ic .top-button-root {
	background-color : transparent;
	border : 0px;
	color : #FFFFFF;
	padding : 0px;
	border-radius : 0px;
	font-weight : normal;
}
.rnb-ic .top-button-root:hover {
	background-color : #09BFD5;
}
.rnb-ic .top-button-root:active {
	background-color : #088AA3;
}


/* RNB/Profile/Btn */
.rnb-profile .top-linearlayout-root {
	background-color : #09BFD5;
	border : 0px;
	cursor : pointer;
}
.rnb-profile .top-linearlayout-root:hover {
	background-color : #00A4C3;
}
.rnb-profile .top-linearlayout-root:active {
	background-color : #0092B0;
}
.rnb-profile .top-linearlayout-root .top-imagebutton-root{
	border-radius : 50%;
}
.rnb-profile-view .top-linearlayout-root {
	background-color : #00A4C3;
}


/* SideBar */
.side-profile {
	background-color : #00A4C3;
}
.side-noti-title {
	background-color : #ECECEC;
}
.n-noti {
	background-color : #F5F5F5;
	border-color: #C5C5C8;
}
.n-noti:hover {
	background-color : #E4E4E4;
}
.n-noti:active {
	background-color : #CFCFCF;
}
.n-noti-top {
	color: #088AA3;
}
.n-noti-bottom {
	color: #088AA3;
}
.n-noti-icon svg {
	fill : #088AA3;
}
#SVGID_1_ {
	fill : #088AA3;
}
.more-noti .top-button-root {
	background-color : #F5F5F5;
}
.more-noti .top-button-root:hover {
	background-color : #E4E4E4;
}
.more-noti .top-button-root:active {
	background-color : #CFCFCF;
}



/* LNB */

#workspaceStateUpperLayout .top-linearlayout-root {
	background-color : #FFA53B;
}
#workspaceStateUnderLayout .top-linearlayout-root {
	background-color : #088AA3;
}
#leftLogoImageView .top-imageview-root {
	content : url(../res/img_lnb_bg.png);
}
#AbsoluteLayout187 .top-absolutelayout-root {
	background-color : #27B1CC;
}
#workspaceLnbTypeLayout .top-linearlayout-root {
	background-color : #088AA3;
}
#workspaceLnbGroupArcodion .top-accordionlayout-root .top-accordionlayout-container .top-accordionlayout-title:hover{
	background-color: #00a4c3 !important;
}
#workspaceLnbGroupArcodion .top-accordionlayout-root .top-accordionlayout-container .top-accordionlayout-title:active{
	background-color: #0092b0 !important;
}
#workspaceLnbGroupArcodion .top-accordionlayout-root .top-accordionlayout-container .top-accordionlayout-title{
	color: #ffffff;
	background-color: #088AA3;
}
#workspaceLnbGroupArcodion .top-accordionlayout-root .top-accordionlayout-container .top-accordionlayout-title .top-accordionlayout-icon{
	color: #ffffff;
}
#workspaceLnbAppArcodion .top-accordionlayout-root .top-accordionlayout-container .top-accordionlayout-title:hover{
	background-color: #00a4c3 !important;
}
#workspaceLnbAppArcodion .top-accordionlayout-root .top-accordionlayout-container .top-accordionlayout-title:active{
	background-color: #0092B0 !important;
}
#workspaceLnbAppArcodion .top-accordionlayout-root .top-accordionlayout-container .top-accordionlayout-title{
	color: #ffffff;
	background-color: #088AA3;
	font-size: 13px !important;
}
#workspaceLnbAppArcodion .top-accordionlayout-root .top-accordionlayout-container .top-accordionlayout-title .top-accordionlayout-icon{
	color: #ffffff;
}
#AbsoluteLayout417 .top-absolutelayout-root {
	background-color : #00A4C3;
}
.wscClickedBtn .top-button-root{
	background-color: #088AA3 !important;
}
.wscAppList .top-linearlayout-root{
	background-color: #088AA3;
}
.wscAppLayout .top-linearlayout-root{
	background-color: #0095B0 !important;
	color: #ffffff;
}
.wscAppLayout .top-linearlayout-root:hover{
	background-color: #FFBE5B !important;
	color: #005C6E;
}
.wscAppLayout .top-linearlayout-root:active{
	background-color: #FFA53B !important;
}
.wscBtnMenu .top-button-root{
	background-color: #FFBE5B !important;
	color: #005C6E;
}
.wscBtnMenu .top-button-root:hover{
	background-color: #FF885B !important;
}
.wscBtnMenu .top-button-root:active{
	background-color: #F65F03 !important;
}
.appBtnMenu .top-button-root{
	background-color: #FFBE5B !important;
	color: #005C6E;
}
.appBtnMenu .top-button-root:hover{
	background-color: #FF885B !important;
}
.appBtnMenu .top-button-root:active{
	background-color: #F65F03 !important;
}
.wscExpandLayout .top-linearlayout-root{
	background-color: #0095B0 !important;
}
.wscExpandInner .top-linearlayout-root{
	border-top: 1px solid #ffffff !important;
}
.wscBtnExpand .top-button-root{
	background-color: #0095B0;
}
.wscBtnExpand .top-button-root .top-button-text{
	color: #ffffff;
}
.wscBtnReduce .top-button-root{
	background-color: #0095B0;
}
.wscBtnReduce .top-button-root .top-button-text{
	color: #ffffff;
}
#workspaceLnbGroupButton .top-button-root {
	background-color: #27B1CC;
}
#workspaceLnbGroupButton .top-button-root:hover{
	background-color: #00A4C3 !important;
}  
#workspaceLnbGroupButton .top-button-root:active{
	background-color: #088aa3 !important;
} 
#workspaceLnbAppButton .top-button-root {
    background-color : #27B1CC;
}
#workspaceLnbAppButton .top-button-root:hover{
	background-color: #00A4C3 !important;
}  
#workspaceLnbAppButton .top-button-root:active{
	background-color: #088aac !important;
}  
#workspaceLnbStarButton .top-button-root {
	background-color : #27B1CC;
}
#workspaceLnbStarButton .top-button-root:hover{
	background-color: #00A4C3 !important;
}  
#workspaceLnbStarButton .top-button-root:active{
	background-color: #088aac !important;
}
.wscGroupList .top-linearlayout-root{
	background-color: #088AA3;
}
.wscWorkLayout .top-linearlayout-root{
	background-color: #0095B0 !important;
	color: #ffffff;
}
.wscWorkLayout .top-linearlayout-root:hover{
	background-color: #FFBE5B  !important;
	color: #005C6E;
}
.wscWorkLayout .top-linearlayout-root:active{
	background-color: #FFA53B !important;
}
.wscClickedLayout .top-linearlayout-root{
	background-color: #ffa53b !important;
}
#TreeView11 .top-treeview-container .top-treeview-list:hover{
	background-color: #ffbe5b !important;	
}
#TreeView11 .top-treeview-container .top-treeview-list:active{
	background-color: #ffa53b !important;	
}
#TreeView11 .top-treeview-container.auto-width a.top-treeview-item:hover{
	background-color: #ffbe5b !important;	
}
#TreeView11 .top-treeview-container.auto-width a.top-treeview-item:active{
	background-color: #ffa53b !important;
}

.top-tooltip-text {
   background-color: #FFFAE4;
   color: #000000;
   border-radius: 0px;
   border: 1px solid #FAEEBC;
   box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
   font-size: 11px;
}

top-tableview .body .selected,
.body .selected>td {
	background-color : rgba(0,164,195,0.05);
}
top-tableview .body-row:hover,
.body-row:hover>td,
.body-row:hover>.selected {
	background-color : rgba(0,164,195,0.05);
}


/* common dialog */
top-textview .alert.top-textview-url{
	color:#FF6060;
}

top-textview .guide.top-textview-url{
	color:#00A4C3;
}



top-textview.required_before a.top-textview-url:before {
    content: '*';
    color: red;
    padding-right: 2px;
}
top-textview.required_after a.top-textview-url:after {
    content: '*';
    color: red;
    padding-left: 2px;
}
