/* ************************************************** */
/* components */
/* ************************************************** */
:root {
    --color-gray: #e3e7eb;
    --color-f5: #f5f5f5;
    --color-lightblue: #00a4c3;
    --color-8c: #8c8e92;
    --color-date-color: #75777D;
}

/* layout and border */
.cmp-lnb1 {
    margin: 0rem;
    /* 0px */
}

.cmp-lnb1>div {
    width: 100% !important;
    border-width: 0rem
        /* 0px */
         !important;
}

.cmp-lnb1 .cmp-lnb-sub>div {
    width: 100% !important;
    border-width: 0 !important;
    border-color: #DDDDDD;
    padding: 0.4444rem 0;
    /* 10px */
}

.cmp-lnb1 .root-child button {
    font-weight: bold;
}

.cmp-lnb2 .root-child button {
    font-weight: normal;
}

.cmp-lnb2 {
    margin: 0 0.4444rem;
    /* 10px */
}

.cmp-lnb2>div {
    width: 100% !important;
    border-width: 0rem
        /* 0px */
         !important;
}

.cmp-lnb2 .cmp-lnb-sub>div {
    width: 100% !important;
    border-width: 0rem
        /* 0px */
         !important;
}

.cmp-lnb1 .cmp-lnb-button button {
    width: 100%;
    text-align: left;
    padding: 0rem;
    /* 0px */
    padding-left: 0.6667rem;
    /* 15px */
    height: 1.5556rem;
    /* 35px */
    border-radius: 0rem;
    /* 0px */
    font-size: 0.5778rem;
    /* 13px */
}

.cmp-lnb2 .cmp-lnb-button button {
    width: 100%;
    text-align: left;
    padding: 0rem;
    /* 0px */
    padding-left: 0.6667rem;
    /* 15px */
    height: 1.5556rem;
    /* 35px */
    border-radius: 0rem;
    /* 0px */
    font-size: 0.5778rem;
    /* 13px */
}

.cmp-lnb1 .cmp-lnb-button button {
    background-color: transparent;
    color: #3C3C3C;
}

.cmp-lnb2 .cmp-lnb-button button {
    background-color: transparent;
    color: white;
}

.cmp-lnb1 .cmp-lnb-button button:hover {
    background-color: rgb(234, 234, 251);
    border-radius: 1.3333rem;
    /* 30px */
}

.cmp-lnb1 .cmp-lnb-button button:active,
.cmp-lnb1 .cmp-lnb-button button.selected {
    background-color: rgb(234, 234, 251) !important;
    color: #000000;
    border-radius: 1.3333rem;
    /* 30px */
    font-weight: bold !important;
}

.cmp-lnb2 .cmp-lnb-button button:hover {
    /* 	background-color: orange; */
    /* 	color: black; */
    background-color: #225E75;
    color: white;
}

.cmp-lnb2 .cmp-lnb-button button:active,
.cmp-lnb2 .cmp-lnb-button button.selected {
    /* 	background-color: orange !important; */
    background-color: #00A4C3 !important;
    color: black;
    font-weight: bold !important;
}

.cmp-lnb-button.child button {
    padding-left: 2rem;
    /* 45px */
    font-weight: normal;
}

.cmp-lnb-button span.top-button-icon {
    margin-right: 0.2222rem;
    /* 5px */
    visibility: hidden;
}

.cmp-lnb-button.parent span.top-button-icon {
    visibility: visible;
}


/* .cmp-tab1 button { */
/*     padding: 0px 7px; */
/*     font-size: 12px; */
/*     text-align: center; */
/*     margin: 0 10px 0 0; */
/*     color: black; */
/*     background: #C5C5C8; */
/*     border-radius: 12px; */
/*     height: 23px; */
/*     min-width: 80px; */
/*     vertical-align: middle !important; */
/* } */

/* .cmp-tab1 button:hover { */
/*     color: white; */
/*     background: #00A4C3; */
/*     filter: brightness(1.15); */
/* } */

/* .cmp-tab1 button:active { */
/*     color: white; */
/*     background: #00A4C3; */
/*     filter: brightness(0.90); */
/* } */

/* .cmp-tab1 button.selected { */
/*     color: white; */
/*     background: #00A4C3; */
/* } */


.cmp-tab2 button {
    padding: 0rem;
    /* 0px */
    margin: 0 0.8889rem 0 0;
    /* 20px */
    background: transparent;
    color: #8C8E92;
    font-size: 0.5333rem;
    /* 12px */
    font-weight: bold;
    vertical-align: middle !important;
    min-width: auto;
}

.cmp-tab2 button.top-button-root:hover {
    color: #00A4C3;
    background: transparent;
    filter: brightness(1.1);
}

.cmp-tab2 button.top-button-root:active {
    color: #00A4C3;
    background: transparent;
    filter: brightness(0.9);
}

.cmp-tab2 button.top-button-root.selected {
    color: #00A4C3;
    background: transparent;
}

/* version 2 */

.cmp-tab1 button {
    padding: 0rem 0.3111rem;
    /* 0px 7px */
    font-size: 0.6rem;
    text-align: center;
    margin: 0 0.4444rem 0 0;
    /* 10px */
    color: #8D8D8D;
    background: white;
    height: 100%;
    min-width: 3.5556rem;
    /* 80px */
    vertical-align: middle !important;
}

.cmp-tab1 button:hover {
    color: #523DC7;
    background: white;
    filter: brightness(1.00);
    border-bottom: solid 0.1333rem
        /* 3px */
        #523DC7;
}

.cmp-tab1 button:active {
    color: #523DC7;
    background-color: white;
}

.cmp-tab1 button.selected {
    color: #523DC7;
    background: white;
    border-bottom: solid 0.1333rem
        /* 3px */
        #523DC7;
}

.cmp-tab2 button {
    padding: 0rem 0.2222rem 0rem 0.2222rem;
    /* 0px 5px 0px 5px */
    margin: 0 0.2222rem 0 0;
    /* 5px */
    background: transparent;
    color: #777777;
    border-radius: 0.5333rem;
    /* 12px */
    font-size: 0.5rem;
    font-weight: bold;
    vertical-align: middle !important;
    min-width: auto;
    height: 1.1556rem;
    /* 26px */
    width: 4rem;
    /* 90px */
}

.cmp-tab2 button.top-button-root:hover {
    color: #FFFFFF;
    background: #7787CF;
    filter: brightness(1.0);
}

.cmp-tab2 button.top-button-root.selected {
    color: #FFFFFF;
    background: #283158;
}


.spt-attach {
    height: 1.3333rem;
    width: 9.7778rem;
    max-width: 10rem;
    min-width: 6rem;
    display: flex;
    flex-direction: row;
    /* border-radius: 0.6rem; */
    border-style: solid;
    border-width: 0.0444rem;
    /* 1px */
    border-color: #E0E5E9;
    border-radius: 0.4444rem;
    opacity: 0.8;
    /* 10px */
    margin-right: 0.2222rem;
    /* 5px */
    margin-bottom: 0.2222rem;
    /* 5px */
    padding: 0.2667rem;
    /* 6px */
    line-height: normal;
}

.spt-attach:hover {
    background-color: #F0F0F0;
}

.spt-attach>div {
    box-sizing: border-box;
}

.spt-attach-img {
    height: 100%;
    padding-right: 0.2667rem;
    flex: 0 0 1.6rem;
    cursor: pointer;
    position: relative;
}

.spt-attach-img .file-image {
    width: 100%;
    height: 100%;
}

.spt-attach-txt {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* justify-content: flex-start; */
    justify-content: stretch;
    flex: 1 1 auto;
    /* max-width: calc(100% - 50px); */
    min-width: 0;
}

.spt-attach-txt div {
    position: relative;
}

.spt-attach-txt .file-name {
    font-size: 0.4889rem;
    /* 11px */
    color: #45474A;
    line-height: 0.6667rem;
    /* 15px */
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.spt-attach-txt .file-size {
    font-size: 0.4444rem;
    /* 10px */
    color: #888D96;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.spt-attach-btn {
    flex: 0 0 0.6666rem;
    /* background-color: skyblue; */
    padding-left: 0.2222rem;
}

.spt-attach-btn .close-btn {
    display: inline-block;
    font-size: 0.6667rem;
    padding: 0;
    border-radius: 50%;
    line-height: 1;
    font-weight: normal;
    cursor: pointer;
}

.spt-attach-btn .close-btn:hover {
    background-color: gray;
}


.spt-attach-img .added {
    display: none;
}

.spt-attach-img .uploaded {
    position: absolute;
    /* right: -0.1rem; */
    /* bottom: -0.1rem; */
    right: 0.1rem;
    /* -3px */
    bottom: -0.1333rem;
    /* -3px */
    max-width: 0.7556rem;
    /* 17px */
    /* background: #16AC66; */
    /* border-radius: 50%; */
}