div#sptMainLayout {
    font-size: 16px;
}

.cm img#logoImage {
    cursor: pointer;
}

.cm button {
    padding: 0;
}

.cm .dropdown-list {
    position: absolute;
    z-index: 33;
    text-align: center;
    top: 2.0889rem
        /* 47px */
         !important;
    right: 0.5778rem
        /* 13px */
         !important;
}

.cm .dropdown-list .top-linearlayout-root {
    border-width: 0.0444rem;
    /* 1px */
    border-style: solid;
    border-color: rgb(205, 205, 207);
    text-align: center;
    vertical-align: top;
    overflow: hidden;
    visibility: visible;
}

.cm .dropdown-list .top-linearlayout-root .button {
    width: 6.6667rem
        /* 150px */
         !important;
    height: 1.2444rem
        /* 28px */
         !important;
    outline: none;
    background-color: #FFFFFF;
    padding: 0rem 0rem 0.0444rem 0.4444rem;
    /* 0px 0px 1px 10px */
    color: rgb(51, 51, 51);
    border-width: 0rem 0rem 0.0444rem;
    /* 0px 0px 1px */
    border-style: solid;
    border-color: rgb(205, 205, 207);
    text-align: left;
}

.cm .dropdown-list .top-linearlayout-root .button:hover {
    background-color: #b2e3ed;
}

.margin-right {
    margin-right: 0.4444rem;
    /* 10px */
}

.disp-none {
    display: none !important;
}

.vis-hidden {
    visibility: hidden !important;
}

top-button.float-right,
top-linearlayout.float-right,
top-textview.float-right,
top-textfield.float-right {
    float: right;
}

.cm top-textview a.top-textview-url {
    padding-left: 0rem;
    /* 0px */
    border-width: 0rem;
    /* 0px */
    outline: none;
}

.cm .is-new {
    width: 0.9333rem;
    /* 21px */
}

.cm .is-new a.top-textview-url {
    background: orange;
    border-radius: 33%;
    padding: 0.0444rem 0.1778rem;
    /* 1px 4px */
    margin-left: 0.0444rem;
    /* 1px */
    margin-right: 0.0444rem;
    /* 1px */
    color: white;
    font-weight: normal;
    font-size: 0.5333rem;
    /* 12px */
}



top-button.cmbutton>button.top-button-root {
    padding: 0 0.3111rem;
    /* 7px */
    min-width: 2.1333rem;
    /* 48px */
    min-height: 1.2rem;
    /* 27px */
    border-radius: 0.1778rem;
    /* 4px */
    width: auto;
    height: auto;
    vertical-align: middle !important;
    border: 0.0444rem
        /* 1px */
        solid #C6CED6;
    color: #3B3B3B;
}

.cm .cmborder {
    border-color: #F34545;
}

.cm-table .head .head-cell {
    text-align: left;
    height: 1.4222rem;
    /* 32px */
    border-color: #E3E4E9;
    background: #E3E4E9;
    color: #777777;
    font-size: 0.4889rem;
    /* 11px */
}

.cm-table td.body-cell {
    border-right: 0.0444rem
        /* 1px */
        solid transparent !important;
    border-left: 0.0444rem
        /* 1px */
        solid transparent !important;
}

.cm-table .body-cell.incapable_column {
    color: transparent;
    background: transparent !important;
    border: 0rem
        /* 0px */
         !important;
    /*     width: 0px; */
}

.cm-table .head .head-cell:first-child:not(.no-border-left) {
    border-left: 0.0444rem
        /* 1px */
        solid transparent;
}


.cm top-textview span a {
    padding: 0;
    vertical-align: middle;
}

.cmradio label {
    padding: 0 !important;
}

.cmcheck label {
    padding: 0 !important;
}

/* alert */
.cmalert .top-textview-root,
.cmalert .top-icon-root:before {
    color: #ff6060;
}

.cmalert top-icon {
    margin-left: 0.2222rem;
    /* 5px */
    margin-right: 0.2222rem;
    /* 5px */
}

.cmalert top-icon span.top-icon-root {
    font-size: 0.6222rem
        /* 14px */
         !important;
    height: auto !important;
}



.cm top-imageview .top-imageview-root,
.cm top-imageview .top-imageview-root:hover {
    border: 0rem
        /* 0px */
        solid;
    border-radius: 0rem;
    /* 0px */
}

.cm div#titleLL {
    display: flex;
    align-items: center;
    height: 1.3333rem;
    /* 30px */
}

.cm top-button#titleButton {
    height: 1.2rem;
    /* 27px */
    width: 3.6889rem;
    /* 83px */
}

.cm button#titleButton {
    height: 100%;
    width: 100%;
    padding: 0;

}

.cm div#topLL {
    /* height: 85px; */
    border-bottom: 0.0444rem
        /* 1px */
        solid rgb(227, 231, 235) !important;
}

/* intro */
.cm top-textview#titleText .top-textview-url {
    font-size: 0.875rem;
    font-weight: bold;
}

.cm top-linearlayout#descLL {
    margin-bottom: 0.8889rem;
    /* 20px */
}

.cm top-textview#descText .top-textview-url {
    font-size: 0.625rem;
    color: #8D8D8D;
}



.cmicon span.top-icon-root {
    font-size: 0.6222rem
        /* 14px */
         !important;
    height: auto !important;
}

.cm-icon-button button {
    padding: 0;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    min-width: 1.3333rem;
    /* 30px */
    min-height: auto;
}

.cm-icon-button button.top-button-root span.top-button-icon {
    margin: 0rem;
    /* 0px */
}


.disp-none {
    display: none !important;
}


.cmtab button {
    padding: 0.1333rem 0.3111rem;
    /* 3px 7px */
    font-size: 0.5333rem;
    /* 12px */
    text-align: center;
    margin: 0 0.4444rem 0 0;
    /* 10px */
    color: black;
    background: #C5C5C8;
    border-radius: 0.5333rem;
    /* 12px */
    height: 1.0222rem;
    /* 23px */
    min-width: 3.5556rem;
    /* 80px */

}

.cmtab button:hover {
    color: white;
    background: #00A4C3;
    filter: brightness(1.15);
}

.cmtab button:active {
    color: white;
    background: #00A4C3;
    filter: brightness(0.90);
}

.cmtab button.selected {
    color: white;
    background: #00A4C3;
}

.cmtab2 button {
    padding: 0rem;
    /* 0px */
    margin: 0 0.8889rem 0 0;
    /* 20px */
    background: transparent;
    color: #8C8E92;
    font-size: 0.5333rem;
    /* 12px */
    font-weight: bold;
    min-width: 0;
}

.cmtab2 button.top-button-root:hover {
    color: #00A4C3;
    background: transparent;
    filter: brightness(1.1);
}

.cmtab2 button.top-button-root:active {
    color: #00A4C3;
    background: transparent;
    filter: brightness(0.9);
}

.cmtab2 button.top-button-root.selected {
    color: #00A4C3;
    background: transparent;
}

.cm top-textview.cm-text-status span.top-textview-root a.top-textview-url {
    color: #00A4C3;
    background: transparent;
}

/* 공통 타이틀 ************************************************************** */
/* 공통 타이틀 ************************************************************** */

.cm top-linearlayout#titleLL {
    margin-bottom: 0.4444rem;
    /* 10px */
}

.cm top-textview#titleText {
    margin-right: 0.4444rem;
    /* 10px */
}

.cm top-textview#titleText .top-textview-root .top-textview-url {
    vertical-align: top;
    line-height: 1.2rem;
    /* 27px */
}

.cm div#topLL div#titleLL button#titleButton {
    font-size: 0.5333rem;
    /* 12px */
}

.cm top-icon.icon-circle span.top-icon-root {
    color: #FF486D;
    font-size: 0.0444rem
        /* 1px */
         !important;
    margin: 0rem 0.1333rem;
    /* 0px 3px */
}