.write .sun-editor .se-wrapper .se-wrapper-inner {
    /* background-color: #ffffee; */
}

.write div#commonWriteLayout {
    /* overflow-y: scroll !important; */
    width: calc(100% - 3px) !important;
}

.write .cm-text.label a.top-textview-url {
    padding-left: 0.4444rem;
    /* 10px */
    font-size: 0.5778rem;
    /* 13px */
}

.write div#annWrapper {
    float: right;
    transform: translateY(-50%);
    top: 50%;
}

.write top-linearlayout#attachmentLL {
    margin-bottom: 0.2222rem;
    /* 5px */
    /* padding: 0.4444rem; */
    /* 10px */
}

.write top-linearlayout#attachmentLL div#attachmentLL {
    overflow: auto !important;
    height: auto !important;
    max-height: 5.7778rem;
    /* 130px */
}

.write #attachmentTable .icon-work_img_file .top-icon-root {
    color: red;
}

.write #attachmentTable .icon-work_tocell .top-icon-root {
    color: blue;
    color: gray;
}

.write #attachmentTable .icon-work_topoint .top-icon-root {
    color: green;
    color: gray;
}

.write #attachmentTable .icon-work_toword .top-icon-root {
    color: orange;
    color: gray;
}

.write #attachmentTable .icon-work_document .top-icon-root {
    color: black;
    color: gray;
}

.write #attachmentTable top-icon {
    margin-right: 0.4444rem;
    /* 10px */
}

.write #attachmentTable button span {
    margin: 0;
}

.write #attachmentTable #innerframe_attachmentTable {
    margin-top: 1.7778rem
        /* 40px */
         !important;
}

.write top-textview#attachSizeText {
    height: 100%;
    float: right;
    color: #808080 !important;
    margin: 0 0.4444rem;
    /* 10px */
}

.write top-radiobutton.cmradio {
    margin-right: 0.8889rem;
    /* 20px */
}

.write #annIcon .top-icon-root {
    color: #ff6060;
}

.write button#attachExpandButton {
    background-color: transparent;
    color: black;
    min-width: 0.7111rem;
    /* 16px */
    border-width: 0rem;
    /* 0px */
    font-size: 0.6222rem;
    /* 14px */
    font-weight: bold;
    padding: 0rem 0.2667rem;
    /* 0px 6px */
    margin: 0rem;
    /* 0px */
    text-align: center;
    margin-left: 0.3111rem;
    /* 7px */
}

.write button#attachExpandButton:hover {
    background-color: rgb(234, 234, 251);
    color: black;
}

.write button#attachExpandButton span {
    margin: 0;
}

.write top-linearlayout#bottomButtonWrapper {
    text-align: center !important;
    position: absolute;
    /* position: fixed; */
    bottom: 0;
    margin: 0.4444rem 0 0rem 0;
    /* 10px 0px */
    padding-top: 0.4444rem;
    /* 10px */
    border: solid #e0e0e0 !important;
    border-width: 0.0444rem 0 0 0
        /* 1px */
         !important;
    /* width: calc(83.5% - 60px); */
    width: 100%;
    /* outline: none; */
}

.write div#bottomButtonWrapper {
    text-align: center;
    /* display: flex;
    justify-content: center;

    border-top-width: 1px !important;
    border-top-color: #e0e0e0;
    background-color: #ffffff; */
}

.write top-linearlayout[style*="text-align: left"]>div>top-button.cmbutton>button {
    margin-right: 0.4444rem;
    /* 10px */
}

.write top-linearlayout[style*="text-align: right"]>div>top-button.cmbutton>button {
    margin-left: 0.4444rem;
    /* 10px */
}

.write .detach-button button.top-button-root {
    color: black;
    color: gray;
    font-size: 0.7111rem;
    /* 16px */
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    min-width: 0;
    text-align: center;
    background: transparent;
}

.write .detach-button span {
    margin: 0 0.4444rem;
    /* 10px */
}



.write .cmalert.contents {
    position: fixed;
    bottom: 3.5556rem;
    /* 80px */
    margin-left: 0rem;
    /* 0px */
}

.write .cmalert.title {
    position: absolute;
    top: 50%;
    right: 0rem;
    /* 0px */
    /* left: 140px; */
    transform: translateY(-50%);
}

/* .write div#editorLL{ */
/* 	border-bottom-width: 1px !important; */
/* 	border-bottom-color: #E0E0E0;	 */
/* } */
/* .write top-linearlayout#editorLL{ */
/* 	border-bottom-width: 1px !important; */
/* 	border-bottom-color: #E0E0E0; */
/* } */



.write div#bottomButtonWrapper button {
    margin: 0 0.4444rem;
    /* 10px */
    font-size: 0.5778rem;
    /* 13px */
}

.write div#editorLL top-htmleditor {
    height: 100% !important;
}

.write #subcateWrapper span {
    vertical-align: middle;
    margin-left: 0.2222rem;
    /* 5px */
}

.write ul.top-selectbox-options {
    background-color: white;
}