#sptHomeLayout top-linearlayout#shortcutLL {
    margin-bottom: 1.3333rem;
    /* 30px */
}

#sptHomeLayout top-linearlayout#shortcutLL a.top-textview-url {
    font-size: 0.6222rem;
    /* 14px */
}

#sptHomeLayout top-linearlayout#shortcutLL label.top-button-text {
    font-size: 0.5778rem;
    /* 13px */
}

#sptHomeLayout top-linearlayout#shortcutLL .container>div {
    background: #f5f5f5;
    margin-right: 0.8889rem;
    /* 20px */
    padding: 0.6667rem 0rem 0.5333rem 0rem;
    /* 15px 0px 12px 0px */
    max-height: 7.1111rem;
    /* 160px */
    width: auto !important;
    min-width: 7.6444rem;
    /* 172px */
}

#sptHomeLayout top-linearlayout#shortcutLL .container top-textview {
    margin-bottom: 0.6222rem;
    /* 14px */
}

#sptHomeLayout top-linearlayout#shortcutLL .container top-imageview {
    margin-bottom: 0.9778rem;
    /* 22px */
}


#sptHomeLayout top-linearlayout#shortcutLL .container button {
    width: 4.9778rem;
    /* 112px */
}


#sptHomeLayout top-linearlayout.ann-ll {
    margin-bottom: 1.3333rem;
    /* 30px */
}

#sptHomeLayout top-linearlayout.ann-title-ll>div {
    padding-bottom: 0.4444rem;
    /* 10px */
    border-color: #9898A1;
}

#sptHomeLayout .ann-title-ll span.top-textview-root {
    vertical-align: middle;
    font-size: 0.7111rem;
    /* 16px */
    font-weight: bold;
}

#sptHomeLayout .ann-title-ll .top-button-root {
    font-weight: bold;
    color: #523DC7;
    background-color: transparent;
    border: 0;
    margin: 0;
    outline: none;
    padding: 0;
}

#sptHomeLayout .ann-title-ll .top-button-root:hover {
    filter: brightness(1.15);
}

#sptHomeLayout .ann-title-ll .top-button-root:active {
    filter: brightness(0.9);
}

#sptHomeLayout .ann-ll .post-ll .top-textview-url {
    font-size: 0.5333rem;
    /* 12px */
    cursor: pointer;
}

#sptHomeLayout .ann-ll .empty .post-ll .top-textview-url {
    font-size: 0.6222rem;
    /* 14px */
    cursor: default;
}

#sptHomeLayout .ann-ll .post-ll top-textview {
    font-size: 0.5333rem;
    /* 12px */
    height: 100%;
}

#sptHomeLayout .ann-ll .post-ll span {
    font-size: 0.6222rem;
    /* 14px */
    height: 100%;
}

#sptHomeLayout .ann-ll .post-ll a {
    vertical-align: middle;
}

#sptHomeLayout .post-ll .date span a {
    color: var(--color-date-color);
}

#sptHomeLayout .ann-ll top-listview .top-listview-container .top-listview-list:active,
#sptHomeLayout .ann-ll top-listview .top-listview-container .top-listview-list:focus,
#sptHomeLayout .ann-ll top-listview .top-listview-container .top-listview-list.selected {
    background-color: #EEEEEE;
    color: black;
}

#sptHomeLayout .ann-ll top-listview ul li div {
    cursor: pointer;
}

#sptHomeLayout .ann-ll top-listview.empty ul li div {
    cursor: default;
}

#sptHomeLayout .ann-ll top-listview.empty .top-listview-container .top-listview-list:hover {
    background: transparent;
}


#sptHomeLayout .ann-title-ll img {
    vertical-align: middle !important;
}

#sptHomeLayout .ann-title-ll .ann-title-text {
    margin-left: 0.2222rem;
    /* 5px */
}

#sptHomeLayout .ann-title-ll .ann-title-text a {
    vertical-align: top !important;
}


#sptHomeLayout .shortcut-container>div {
    border-width: 0.0444rem
        /* 1px */
         !important;
    border: solid #E3E7EB;
    border-radius: 0.8889rem;
    /* 20px */
    margin: 0 0.8889rem;
    /* 20px */
}

/* ******************************** */
#sptHomeLayout div#shortcutLL {
    display: flex;
    justify-content: center;
}

#sptHomeLayout img#annTitleImage_0,
#sptHomeLayout img#annTitleImage_1 {
    width: 1.1556rem
        /* 26px */
         !important;
    filter: invert(30%) sepia(79%) saturate(1290%) hue-rotate(219deg) brightness(108%) contrast(108%);

}

#sptHomeLayout span#annTitleText_0,
#sptHomeLayout span#annTitleText_1 {
    vertical-align: middle !important;
}

/* #sptHomeLayout top-imageview.img {
    width: 200px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #283158;
} */

/* #sptHomeLayout top-imageview.img img {
    width: 100px !important;
} */

#sptHomeLayout button#shortcutButton0,
#sptHomeLayout button#shortcutButton1,
#sptHomeLayout button#shortcutButton2 {
    font-size: 0.5333rem;
    /* 12px */
}

#sptHomeLayout button#shortcutButton0 label,
#sptHomeLayout button#shortcutButton1 label,
#sptHomeLayout button#shortcutButton2 label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#sptHomeLayout top-icon.new-post span.top-icon-root {
    margin-top: -0.5rem;
}