#sptManualLayout div#sptManualLayout_bottom_LL {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#sptManualLayout top-imageview#downloadImage {
	/* margin-bottom: 10px; */
	margin-bottom: 0.0444rem;
	/* 1px */
}

#sptManualLayout img#downloadImage {
	/* width: 207px; */
	/* height: 170px; */
	width: 9.2rem;
	height: 7.556rem;
}

#sptManualLayout button#downloadButton {
	/* width: 132px; */
	/* height: 36px; */
	width: 5.867rem;
	height: 1.6rem;
	padding: 0;
}

/*매뉴얼 다운로드 버튼 크기 조정 */
#sptManualLayout div#sptManualLayout_download_LL button#sptManualLayout_download_Btn {
	/* font-size: 14px; */
	font-size: 0.622rem;
}

#sptManualLayout div#sptManualLayout_download_LL button#sptManualLayout_download_Btn label {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}