.list div#commonListLayout {
	overflow-y: scroll;
}

.list top-linearlayout#searchLL {
	float: right;
}

.list #searchField form,
.list #searchField input#searchField::placeholder {
	color: #c5c5c8;
}

.list div#periodLL {
	float: right;
}

.list div#subTabLL {
	height: auto;
	line-height: normal;
}

.list top-textview#datePickText {
	margin: 0 0.4444rem;
	/* 10px */
}

.list top-linearlayout#datePickWrapper,
.list top-linearlayout#exportButtonWrapper {
	margin-left: 0.4444rem;
	/* 10px */
}

.list #commonListLayout div#controlLL top-button {
	margin-right: 0.4444rem;
	/* 10px */
}

.list div#periodBox,
.list div#searchBox,
.list top-textfield#searchField div.top-textfield-root {
	height: 1.3333rem
		/* 30px */
		 !important;
}

.list div#searchBox li {
	border: 0.0444rem
		/* 1px */
		solid white !important;
}

.list div#searchBox .top-selectbox-options {
	background-color: white !important;
}

.list top-checkbox#checkAll {
	margin-left: 0.6222rem;
	/* 14px */
	margin-right: 0.3111rem;
	/* 7px */
}

/* 테이블 */
.list #ptv top-linearlayout.post-title-ll {
	cursor: pointer;
}

.list #ptv top-linearlayout.post-title-ll>div {
	width: 100% !important;
}

.list #ptv top-linearlayout.post-title-ll:hover span a,
.list #ptv top-linearlayout.post-title-ll:active span a {
	font-weight: bold;
}

.list #ptv top-linearlayout.post-title-ll>div top-textview.title span {
	max-width: calc(100% - 80px) !important;
	font-weight: bold;
}

.list top-icon[id^='ptvPostAttachIcon'] span.top-icon-root:before {
	color: #2295ce;
	font-size: 0.7556rem
		/* 17px */
		 !important;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.list .is-ann span {
	margin-right: 0.2222rem;
	/* 5px */
}

.list .is-reply span {
	margin-left: 0.0889rem;
	/* 2px */
	font-weight: bold;
}

.list top-pagination[type='basic'] .top-pagination-container .cell_link {
	border-width: 0rem;
	/* 0px */
}

.list .reply-img img {
	margin-bottom: -0.15rem;
	margin-left: 0.2rem;
}

.list div#tabWrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	margin-bottom: 0.4444rem;
	/* 10px */
	border-bottom-width: 0.0444rem
		/* 1px */
		 !important;
}

.list div#periodBox {
	vertical-align: middle !important;
}

/*등록일 색 변경*/
div.top-tableview-scrollBody-border td.body-cell.column_6.non-tooltip {
	color: #6a6c71;
}

/*조회수 색변경*/
div.top-tableview-scrollBody-border td.body-cell.column_7.non-tooltip {
	color: #6a6c71;
}

/*1:1문의글 목록의 체크박스*/
top-checkbox[id='checkAll'] .top-checkbox-text.checked i::before,
top-checkbox[id^='ptv_ColumnItem'] .top-checkbox-text.checked i::before {
	color: #6c56e5;
}

.list #ptv .title span {
	margin-left: 0.2222rem;
	/* 5px */
}

.list .top-tableview-scroll {
	border-right: 0rem
		/* 0px */
		solid #d6d6d6;
}

.list div#controlWrapper {
	height: auto !important;
}

.list div#controlWrapper div#controlLL button#viewButton {
	font-size: 0.5333rem;
	/* 12px */
	height: 1.3333rem;
	/* 30px */
	width: 4.2667rem;
	/* 96px */
}

.list div#ptv th.headIndex_1 span.top-icon-root {
	font-size: 0.4889rem;
	/* 11px */
	margin-left: 0.3111rem;
	/* 7px */
	font-weight: 1000;
	cursor: pointer;
}

.list top-icon#statusFilterIcon div.statusFilterRadioWrapper {
	padding-right: 0.3111rem;
	/* 7px */
	height: 2.7556rem;
	/* 62px */
	width: 4.4444rem;
	/* 100px */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 0.0444rem
		/* 1px */
		solid #c6ced6 !important;
	box-shadow: 0 0.0444rem 0.1778rem 0;
	/* 1px 4px */
	border-radius: 0.1778rem;
	/* 4px */
}

.list top-icon#statusFilterIcon span.top-icon-root:hover {
	color: #6c56e5;
	filter: brightness(1.2);
}

.list top-icon#statusFilterIcon div.filterRadio {
	margin: 0.0667rem 0rem;
	/* 1.5px 0px */
	display: flex;
	align-items: center;
}

.list top-icon#statusFilterIcon div.filterRadio input[type='radio'] {
	border: 0rem;
	/* 0px */
	height: 0.7556rem;
	/* 17px */
}

.list top-icon#statusFilterIcon div.statusFilterRadioWrapper span {
	color: black;
	font-size: 0.5778rem;
	/* 13px */
	font-family: NotoSansCJKkr-Regular;
}

.list div#ptv td.reply-status top-textview span {
	padding-left: 0.4444rem;
	/* 10px */
}

.list div#ptv td.reply-status top-textview.OPEN a {
	padding: 0.1778rem 0.3111rem;
	/* 4px 7px */
	vertical-align: middle;
	background-color: #cccccc;
	color: white;
	border-radius: 0.2667rem;
	/* 6px */
}

.list div#ptv td.reply-status top-textview.OPEN a:before {
	border-top: 0.2222rem
		/* 5px */
		solid transparent;
	border-left: 0.3111rem
		/* 7px */
		solid transparent;
	border-right: 0.3111rem
		/* 7px */
		solid #cccccc;
	border-bottom: 0.2222rem
		/* 5px */
		solid transparent;
	content: '';
	position: absolute;
	top: 0.9778rem;
	/* 22px */
	left: -0.1778rem;
	/* -4px */
}

.list div#ptv td.reply-status top-textview.CLOSED a {
	padding: 0.1778rem 0.3111rem;
	/* 4px 7px */
	vertical-align: middle;
	background-color: rgb(226, 227, 251);
	color: rgb(82, 61, 199);
	border-radius: 0.2667rem;
	/* 6px */
}

.list div#ptv td.reply-status top-textview.CLOSED a:after {
	border-top: 0.2222rem
		/* 5px */
		solid transparent;
	border-left: 0.3111rem
		/* 7px */
		solid transparent;
	border-right: 0.3111rem
		/* 7px */
		solid rgb(226, 227, 251);
	border-bottom: 0.2222rem
		/* 5px */
		solid transparent;
	content: '';
	position: absolute;
	top: 0.9778rem;
	/* 22px */
	left: -0.1778rem;
	/* -4px */
}

.list div#subTabLL {
	padding: 0.0889rem 0.0889rem 0.0889rem 0.2222rem;
	/* 2px 2px 2px 5px */
	border-width: 0.0444rem
		/* 1px */
		 !important;
	border-radius: 1.2222rem;
	/* 27.5px */
}

.list div#searchLL div#searchBox span,
.list div#searchLL top-textfield#searchField input {
	font-size: 0.6222rem;
	/* 14px */
}

.list #ptv div.top-tableview-scrollHead {
	border-radius: 0.2667rem 0.2667rem 0 0;
	/* 6px 6px */
}

.list div.filterRadio [type='radio']:checked,
.list div.filterRadio [type='radio']:not(:checked) {
	position: absolute;
	left: -444.4rem;
	/* -9999px */
}

.list div.filterRadio [type='radio']:checked+label,
.list div.filterRadio [type='radio']:not(:checked)+label {
	position: relative;
	padding-left: 1.2444rem;
	/* 28px */
	cursor: pointer;
	line-height: 0.8889rem;
	/* 20px */
	display: inline-block;
	color: #666;
}

.list div.filterRadio [type='radio']:checked+label:before,
.list div.filterRadio [type='radio']:not(:checked)+label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 0.8rem;
	/* 18px */
	height: 0.8rem;
	/* 18px */
	border: 0.0444rem
		/* 1px */
		solid #ddd;
	border-radius: 100%;
	background: #fff;
}

.list div.filterRadio [type='radio']:checked+label:after,
.list div.filterRadio [type='radio']:not(:checked)+label:after {
	content: '';
	width: 0.5333rem;
	/* 12px */
	height: 0.5333rem;
	/* 12px */
	background: #6c56e5;
	position: absolute;
	top: 0.1778rem;
	/* 4px */
	left: 0.1778rem;
	/* 4px */
	border-radius: 100%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.list div.filterRadio [type='radio']:not(:checked)+label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.list div.filterRadio [type='radio']:checked+label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

/*게시글 목록 제목 컬럼 위치 조정*/
.list th#ptv_HeaderColumn3 {
	padding-left: 1.5556rem;
	/* 35px */
}

.list .viscroll {
	width: inherit;
	height: 0.2222rem;
	/* 5px */
	position: absolute;
	background-color: #c5c5c8;
	border-radius: 0.4444rem;
	/* 10px */
}

.list .vibar {
	width: 0.2222rem;
	/* 5px */
	margin: 0.4444rem 0rem 0rem 0rem;
	/* 10px 0px 0px 0px */
	position: inherit;
	background-color: #ffffff;
	border-radius: 0.4444rem;
	/* 10px */
}

.list .vidownbtn {
	/* background: url(fonts/caret-down.svg) no-repeat; */
	background-position: center;
	width: 0.6667rem;
	/* 15px */
	height: 0rem;
	/* 0px */
	background-color: #eeeeee;
	right: 0rem;
	/* 0px */
}

.list .viupbtn {
	/* background: url(fonts/caret-down.svg) no-repeat; */
	background-position: center;
	width: 0.6667rem;
	/* 15px */
	height: 0rem;
	/* 0px */
	background-color: #eeeeee;
}

.list #ptv td,
.list #ptv top-icon.new-post,
.list #ptv top-imageview.reply-img,
.list #ptv top-linearlayout.post-title-ll {
	outline: none;
}

.list #ptv td:not(.checkable) {
	cursor: pointer;
}