/* meta ******************************/
.read top-linearlayout#metaTableWrapper {
    margin-bottom: 0.6667rem;
    /* 15px */
}

.read .meta .row {
    /* 	border-width: 1px 0 !important; */
    /* 	border-color: #E0E0E0 !important; */
    /* 	margin-bottom: -1px; */
    /*     margin: 0.5px 0; */
    /*         margin: 1px 0; */
    /*     margin: 0; */
    /*     background: var(--color-f5); */
    background: transparent;
}

.read .meta .row .top-linearlayout-root {
    border-width: 0 !important;
    /* 	width: 100% !important; */
}

.read .meta .row span {
    text-align: left;
}

.read .meta .row span a {
    font-size: 0.5778rem;
    /* 13px */
}

.read .meta .row .key span a {
    margin-left: 0.4444rem;
    /* 10px */
    margin-right: 0.4444rem;
    /* 10px */
}

.read .meta .row .key span {
    background: var(--color-lightblue);
    color: white;
    border-width: 0.0444rem 0
        /* 1px */
         !important;
    border-color: #e0e0e0 var(--color-lightblue);
    /*     	border-color: var(--color-lightblue) white white white; */
    border-style: solid;
}

.read .meta .row .val span {
    background: #f5f5f5;
    color: #38434d;
    border-width: 0.0444rem 0
        /* 1px */
         !important;
    border-color: #e0e0e0;
    border-style: solid;
}

.read .meta .row .val span a {
    max-width: calc(100% - 100px);
    margin-left: 0.4444rem;
    /* 10px */
    margin-right: 0.4444rem;
    /* 10px */
}