/* @media (max-device-width: 729px) { */

/* .h-scroll, */
/* .list .h-scroll>div { */
/* width: 100% !important; */
/* } */

/* .h-scroll>div { */
/* overflow: auto auto !important;
        overflow-x: scroll !important; */
/* Must be 'scroll' not 'auto' */
/* -webkit-overflow-scrolling: touch; */
/* } */

/* .h-scroll>div::-webkit-scrollbar { */
/* height: 0px; */
/* } */

/* div#contentsLL { */
/* width: calc(100% - 30px) !important;
        height: calc(100% - 30px) !important;
        padding: 15px !important; */
/* } */

/* div#sptHomeLayout { */
/* overflow: auto auto !important;
        overflow-x: scroll !important; */
/* Must be 'scroll' not 'auto' */
/* -webkit-overflow-scrolling: touch; */
/* } */

/* div#subtabLL { */
/* overflow: auto auto !important;
        overflow-x: scroll !important; */
/* Must be 'scroll' not 'auto' */
/* -webkit-overflow-scrolling: touch; */
/* iOS */
/* } */

/* div#subtabLL::-webkit-scrollbar { */
/* height: 0px; */
/* } */

/* } */