.cm.dialog .dark .top-textview-url {
    color: #333333;
}

.cm.dialog .red .top-textview-url {
    color: #ff6060;
}

.cm.dialog .blue .top-textview-url {
    color: #00A4C3;
}

.cm.dialog top-linearlayout#buttonLL {
    margin-top: 0.8889rem;
    /* 20px */
}

.cm.dialog .cmtext .top-textview-root .top-textview-url {
    font-size: 0.6222rem;
    /* 14px */
}

div#top-dialog-root_commonDialog {
    border: 0.0444rem
        /* 1px */
        solid #C6CED6;
    border-radius: 0.1778rem;
    /* 4px */
}

div#top-dialog-root_commonDialog div.top-dialog-title-layout {
    display: none;
}

div#top-dialog-root_commonDialog div.top-dialog-content.fixed-width-dialog {
    border: none;
}

div#top-dialog-root_commonDialog div#iconLL {
    display: flex;
    justify-content: center;
    margin-bottom: 0.6667rem;
    /* 15px */
}

div#top-dialog-root_commonDialog div#msgLL {
    display: flex;
    justify-content: center;
    margin-bottom: 0.2222rem;
    /* 5px */
}

div#top-dialog-root_commonDialog div#descLL,
div#top-dialog-root_commonDialog div#buttonLL {
    display: flex;
    justify-content: center;
    margin-bottom: 0.0889rem;
    /* 2px */
}


div#top-dialog-root_commonDialog button {
    margin: 0rem 0.2222rem;
    /* 0px 5px */
}

div#top-dialog-root_commonDialog span.top-icon-root {
    color: #FF486D;
}

div#top-dialog-root_commonDialog span#msgTv a {
    font-size: 0.6667rem;
    /* 15px */
    color: #000000;
    font-family: NotoSansCJKkr-Medium;
    font-weight: 600;
}

div#top-dialog-root_commonDialog div#buttonLL button {
    width: 3.2rem
        /* 72px */
         !important;
    height: 1.3333rem
        /* 30px */
         !important;
}