.read div#commonReadLayout {
	overflow-y: scroll !important;
	/* 	padding-right: 3px; */
}

.read top-linearlayout#attachmentTitleLL {
	overflow-y: scroll;
}

@keyframes expandAttachEffect {
	from {
		max-height: 0;
	}

	to {
		max-height: 13.3333rem
			/* 300px */
			 !important;
	}
}

/* .read top-linearlayout#attachmentTitleLL div#attachmentTitleLL { */
/* .read top-linearlayout#attachmentTitleLL.effect { */
/* 	background: yellow; */

/*     animation-name: expandAttachEffect; */
/*     animation-duration: 4s; */
/*     Safari 4.0 - 8.0 */
/*     -webkit-animation-name: expandAttachEffect; */
/*     -webkit-animation-duration: 4s; */
/* } */

/* .read top-linearlayout#attachmentTitleLL.expand { */
/*     height: 500px; */
/*     background-color: blue; */
/*     -webkit-transition-property: height background-color; */
/*     -webkit-transition-duration:2s; */
/*     -webkit-transition-timing-function: ease; */
/*     transition-property: height background-color; */
/*     transition-duration:1s; */
/*     transition-timing-function: ease; */
/* } */
/* .read top-linearlayout#attachmentTitleLL.squeeze{ */
/* 	 height: 100px; */
/*     background-color: white; */
/*     -webkit-transition-property: height background-color; */
/*     -webkit-transition-duration:4s; */
/*     -webkit-transition-timing-function: ease; */
/*     transition-property: height background-color; */
/*     transition-duration:4s; */
/*     transition-timing-function: ease; */
/* } */

.read top-linearlayout#attTitleLL {
	margin-bottom: 0.4444rem;
	/* 10px */
}

.read top-linearlayout#attTitleLL span.top-textview-root a.top-textview-url {
	margin: 0 0.1333rem;
	/* 3px */
	font-size: 0.5778rem;
	/* 13px */
}

.read top-button#attTitleExpand button {
	color: var(--color-8c);
	background: transparent;
}

.read top-button#attTitleExpand button span.top-button-icon {
	padding: 0.1333rem;
	/* 3px */
	font-weight: bold;
}

.read top-button#attTitleExpand button:hover {
	/* color: white; */
	/* color: var(--color-8c); */
	/* background: transparent; */
	filter: brightness(0.5);
}

.read top-button#attTitleExpand button:hover span.top-button-icon {
	/* color: white; */
	/* background: var(--color-8c); */
	/* filter: brightness(0.9); */
}

.read top-icon#attTitleClip .top-icon-root {
	color: var(--color-8c);
	font-size: 0.6222rem;
	/* 14px */
}

.read span#attTitleClip {
	vertical-align: middle !important;
	height: auto !important;
}

.read #attTitleLabel a.top-textview-url {
	color: black;
}

.read #attTitleNum a.top-textview-url {
	color: var(--color-lightblue);
}

.read #attTitleSize a.top-textview-url {
	color: #38434d;
}

.read #attTitleSave a.top-textview-url {
	color: var(--color-8c);
	cursor: pointer;
}

.read #attTitleSave a.top-textview-url:hover {
	font-weight: bold;
	/* text-decoration: underline; */
}

/* each attached files */

.read .attach-file-wrapper button.top-button-root:hover {
	/* to hide default effect */
	background-color: transparent;
	/* filter: brightness(0.8); */
}

.read .attach-file-wrapper>div.top-linearlayout-root {
	box-sizing: border-box;
	border-width: 0.0444rem
		/* 1px */
		 !important;
	border-color: #acb0bc !important;
	border-radius: 0rem;
	/* 0px */
	margin-left: 1.3333rem;
	/* 30px */
	margin-top: 0.0444rem;
	/* 1px */
	margin-bottom: 0.0444rem;
	/* 1px */
	/*     min-width: auto !important; */
}

/* 다운로드 버튼, 파일 이름 간 css효과 연동 */
.read .attach-file-wrapper-sub {
	cursor: pointer;
}

.read .attach-file-wrapper-sub:hover top-button.download button {
	/* background: transparent;*/
	/* color: transparent; */
	color: var(--color-lightblue);
}

.read .attach-file-wrapper-sub:hover top-button.download button span {
	/* background: transparent; */
	/* color: var(--color-lightblue); */
	color: white;
	filter: brightness(0.9);
}

.read .attach-file-wrapper-sub:hover top-textview.file-name span a {
	font-weight: bold;
	/* text-decoration: underline; */
}

.read .attach-file-wrapper-sub:hover top-textview.file-size span a {
	font-weight: bold;
}

.read .attach-file-wrapper top-button.download span.top-button-icon {
	background: var(--color-lightblue);
	padding: 0.1333rem;
	/* 3px */
}

.read .attach-file-wrapper top-textview.file-name {
	margin-right: 0.4444rem;
	/* 10px */
	color: #38434d;
}

.read .attach-file-wrapper top-textview.file-size {
	color: var(--color-8c);
}

.read .attach-file-wrapper top-button.delist button {
	float: right;
	display: none;
}

.read .attach-file-wrapper top-button.delist button:hover span.top-button-icon {
	background: var(--color-8c);
	color: white;
}

.read .attach-file-wrapper top-button.delist span.top-button-icon {
	color: var(--color-8c);
	background: transparent;
	padding: 0.1333rem;
	/* 3px */
}

/* contents */
.read div#postContentsLL {
	overflow-y: auto !important;
}

.read div#contentsButtonLL {
	margin: 0.4444rem 0;
	/* 10px */
}

/* answer */
.read div#ansReadLL {
	background: var(--color-f5);
}

/* reply titlebar */
.read top-linearlayout#replyTitleLL {
	margin-top: 1.7778rem;
	/* 40px */
	/*     padding-left: 15px; */
	padding-bottom: 0.4444rem;
	/* 10px */
	border-bottom-width: 0.0889rem
		/* 2px */
		 !important;
	border-bottom-color: #9898a1;
}

.read #replyTitleLL #replyLabelText span a {
	vertical-align: middle !important;
	font-size: 0.5778rem;
	/* 13px */
}

.read #replyTitleLL #replyCountText span a {
	font-size: 0.5778rem;
	/* 13px */
	font-weight: bold;
	color: #7762eb;
	margin-left: 0.2222rem;
	/* 5px */
	margin-right: 0;
}

.read #replyTitleLL top-button {
	margin-left: 0.6667rem;
	/* 15px */
}

.read #replyLL #noreplyText span a {
	font-size: 0.5778rem;
	/* 13px */
	color: var(--color-8c);
	line-height: 0.8889rem;
	/* 20px */
}

/* reply */

@keyframes recentReplyEffect {
	from {
		filter: brightness(0.7);
	}

	to {
		filter: brightness(1);
	}
}

.read .rep.recent>div {
	animation-name: recentReplyEffect;
	animation-duration: 3s;
	/* Safari 4.0 - 8.0 */
	-webkit-animation-name: recentReplyEffect;
	-webkit-animation-duration: 3s;
}

@keyframes squeezeReplyEffect {
	from {
		height: auto !important;
	}

	to {
		height: 1.7778rem
			/* 40px */
			 !important;
	}
}

.read .rep.squeeze {
	animation-name: squeezeReplyEffect;
	animation-duration: 3s;
	/* Safari 4.0 - 8.0 */
	-webkit-animation-name: squeezeReplyEffect;
	-webkit-animation-duration: 3s;
}

@keyframes expandReplyEffect {
	from {
		height: 1.7778rem
			/* 40px */
			 !important;
	}

	to {
		height: auto !important;
	}
}

.read .rep.expand {
	animation-name: expandReplyEffect;
	animation-duration: 3s;
	/* Safari 4.0 - 8.0 */
	-webkit-animation-name: expandReplyEffect;
	-webkit-animation-duration: 3s;
}

.read .rep>div.top-linearlayout-root {
	border-width: 0.0444rem 0rem 0rem 0rem
		/* 1px 0px 0px 0px */
		 !important;
	border-color: var(--color-gray) !important;
	background: white;
	margin: 0;
}

.read .rep.admin>div.top-linearlayout-root {
	background: var(--color-f5);
	border-width: 0.0444rem 0rem 0rem 0rem
		/* 1px 0px 0px 0px */
		 !important;
	border-color: var(--color-gray) !important;
}

.read .rep.background {
	background: var(--color-f5);
}

.read .rep .buttons {
	visibility: hidden !important;
	text-align: right !important;
	padding: 0rem 0.6667rem 0.4444rem;
	/* 0px 15px 10px */
}

.read .rep:hover .buttons,
.read .rep:active .buttons {
	visibility: visible !important;
}

.read .rep:hover>div,
.read .rep:active>div {
	filter: brightness(0.97);
}

.read .rep .wrapper {
	padding: 0.6667rem 0.6667rem 0rem;
	/* 15px 15px 0px */
}

.read .rep .mark span {
	text-align: center;
	background: var(--color-lightblue);
	border-radius: 0.0889rem;
	/* 2px */
}

.read .rep .mark span a {
	font-size: 0.5778rem;
	/* 13px */
	color: white;
	font-weight: bold;
	background: transparent;
	vertical-align: top;
}

.read .rep .name-wrapper {
	margin-bottom: 0.2667rem;
	/* 6px */
}

.read .rep .name {
	margin-right: 0.2667rem;
	/* 6px */
}

.read .rep .name span a {
	font-size: 0.5778rem;
	/* 13px */
	font-weight: bold;
	color: black;
}

.read .rep .owner {
	color: white;
}

.read .rep .owner span {
	background-color: #7762eb;
	padding: 0 0.2667rem;
	/* 6px */
	border-radius: 0.4444rem;
	/* 10px */
}

.read .rep .date {
	margin-bottom: 0.2667rem;
	/* 6px */
}

.read .rep .date span a {
	font-family: NotoSansCJKkr-Regular;
	font-size: 0.5333rem;
	/* 12px */
	color: var(--color-8c);
}

.read .rep .contents {
	padding: 0.6667rem 0 0.4444rem 0.6667rem;
	/* 15px 10px 15px */
}

/* editor */

.read div#replyEditorLL {
	width: 100% !important;
	border-width: 0rem
		/* 0px */
		 !important;
	margin-top: 0.4444rem;
	/* 10px */
	/* margin-top: 20px; */
}

.read div#replyEditorLL top-linearlayout#replyButtonWrapper {
	text-align: right !important;
	margin: 0.4444rem 0.6667rem;
	/* 10px 15px */
	width: calc(100% - 30px) !important;
}

.read div#replyEditorLL top-linearlayout#replyButtonWrapper div#replyButtonWrapper {
	width: auto !important;
	border-width: 0rem
		/* 0px */
		 !important;
}

/* control at bottom */
.read top-linearlayout#controlBottomLL {
	margin-top: 0.6667rem;
	/* 15px */
	margin-bottom: 0.4444rem;
	/* 10px */
}

/* adjacents */
.read div#adjacentWrapper {
	padding: 0.0889rem 0rem;
	/* 2px 0px */
}

.read #adjacentWrapper div[id^='adjLL']:hover {
	background: var(--color-f5);
}

.read #adjacentWrapper div[id^='adjLL']:active {
	background: var(--color-f5);
	filter: brightness(0.8);
}

.read #adjacentWrapper .post-title-ll .cm-text {
	margin-right: 0.2222rem;
	/* 5px */
}

.read top-icon[id^='postAttach_'] span.top-icon-root {
	font-size: 1.0222rem
		/* 23px */
		 !important;
}

.read top-icon[id^='postAttach_'] span.top-icon-root:before {
	vertical-align: middle;
}

.read #adjacentWrapper top-icon.arrow span.top-icon-root:before {
	float: left;
	top: 50%;
	transform: translateY(50%);
}

.read #adjacentWrapper top-icon.arrow span.top-icon-root {
	margin-left: 0.6667rem;
	/* 15px */
	margin-right: 0.6667rem;
	/* 15px */
}

.read #adjacentWrapper top-icon.attach span.top-icon-root {
	margin-bottom: -0.1778rem;
	/* -4px */
}

.read .adj-wrapper * {
	cursor: pointer;
}

.read .adj-wrapper .adj-icon-wrapper .top-icon-root {
	color: var(--color-8c);
}

.read .adj-wrapper a.top-textview-url {
	color: #38434d;
}

.read top-icon#showRepIcon span {
	font-size: 0.5333rem
		/* 12px */
		 !important;
	font-weight: bolder;
	margin-left: 0.2222rem;
	/* 5px */
}

.read top-linearlayout#contentWriter_LL {
	margin-left: 0.4444rem;
	/* 10px */
}

.read div#replyTitleLL {
	width: auto !important;
	padding-left: 0.4444rem;
	/* 10px */
	padding-right: 0.4444rem;
	/* 10px */
	cursor: pointer;
	/*     border-radius: 50%; */
	border-radius: 0.8889rem;
	/* 20px */
}

.read div#replyTitleLL:hover {
	background: var(--color-gray);
}

.read div#replyTitleLL:active {
	filter: brightness(0.95);
}

.read #replyIconImg img {
	margin-bottom: -0.1rem;
}

.read #contentProfile_IV img {
	width: 1.4667rem;
	/* 33px */
}

.read div#contentHead2_LL {
	display: flex;
	align-items: center;
}

.read #contentDateHits_LL {
	width: auto !important;
}

.read top-icon#contentHits_Icon {
	margin-right: 0.1333rem;
	/* 3px */
}

.read #contentHits_Icon span {
	font-size: 0.8rem
		/* 18px */
		 !important;
}

.read .icon-work_view #contentHits_Icon.top-icon-root:before {
	position: absolute;
	top: 0;
	top: -0.05rem;
	left: 0;
}

.read top-textview#contentWriter_TV {
	margin-bottom: 0.1333rem;
	/* 3px */
}

.read top-textview#contentTitle_TV {
	max-width: 100%;
}

.read top-textview#contentTitle_TV span a {
	font-weight: bold;
	font-size: 0.815rem;
}

.read top-textview#contentStatus_TV {
	margin-left: 0.6667rem;
	/* 15px */
}

.read div#contentHits_Wrapper {
	border-left: 0.0444rem
		/* 1px */
		solid #6a6c71 !important;
	padding-left: 0.2222rem;
	/* 5px */
	margin-left: 0.2222rem;
	/* 5px */
}

.read #contentWriter_TV a {
	color: black;
	font-size: 0.6rem;
}

.read #contentDateHits_LL a {
	color: #6a6c71;
	font-size: 0.5rem;
}

.read div#contentHead3_LL {
	margin: 0.5778rem 0;
	/* 13px */
}

.read #contentCategory_TV span {
	background: #283158;
	color: white;
	padding: 0 0.5333rem;
	/* 12px */
	border-radius: 0.4444rem;
	/* 10px */
}

.read div#topLL {
	border: solid var(--color-gray);
	border-width: 0 0 0.0444rem 0
		/* 1px */
		 !important;
}

.read div#contentHead_LL {
	margin: 0.5778rem 0;
	/* 13px */
	border: solid var(--color-gray);
	border-width: 0 0 0.0444rem 0
		/* 1px */
		 !important;
}

.read div#contentHead1_LL {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.read div.adj-wrapper {
	border: solid #e0e0e0 !important;
	border-width: 0.0444rem 0
		/* 1px */
		 !important;
}

.read span#adjIcon_0,
span#adjIcon_1 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.read span#adjStatus_0,
span#adjStatus_1 {
	vertical-align: middle !important;
}

.read div#adjLL_0 {
	border-width: 0.0444rem 0rem 0.0444rem 0rem
		/* 1px 0px 1px 0px */
		 !important;
}

.read div#adjLL_1 {
	/* border-width: 0px 0px 1px 0px !important; */
	border-width: 0.0444rem 0rem 0.0444rem 0rem
		/* 1px 0px 1px 0px */
		 !important;
	margin-top: -0.0444rem;
	/* -1px */
}

/*ReadLayout 답변 상태*/
top-textview#contentStatus_TV[text='답변대기'] a.top-textview-url {
	padding: 0.1778rem 0.3111rem;
	/* 4px 7px */
	vertical-align: middle;
	background-color: var(--color-gray);
	color: white;
	border-radius: 0.2667rem;
	/* 6px */
}

top-textview#contentStatus_TV[text='답변완료'] a.top-textview-url {
	padding: 0.1778rem 0.3111rem;
	/* 4px 7px */
	vertical-align: middle;
	background-color: rgb(226, 227, 251);
	color: rgb(82, 61, 199);
	border-radius: 0.2667rem;
	/* 6px */
}

top-textview#adjStatus_0[text='답변대기'] a.top-textview-url,
top-textview#adjStatus_1[text='답변대기'] a.top-textview-url {
	padding: 0.1778rem 0.3111rem;
	/* 4px 7px */
	vertical-align: middle;
	background-color: var(--color-gray);
	color: white;
	border-radius: 0.2667rem;
	/* 6px */
}

top-textview#adjStatus_0[text='답변완료'] a.top-textview-url,
top-textview#adjStatus_1[text='답변완료'] a.top-textview-url {
	padding: 0.1778rem 0.3111rem;
	/* 4px 7px */
	vertical-align: middle;
	background-color: rgb(226, 227, 251);
	color: rgb(82, 61, 199);
	border-radius: 0.2667rem;
	/* 6px */
}

.read div#replyButtonWrapper {
	display: flex;
	justify-content: center;
}

.read div#replyButtonWrapper button {
	width: 3.0667rem;
	/* 69px */
	height: 1.3333rem;
	/* 30px */
	font-size: 0.5778rem;
	/* 13px */
	margin: 0rem 0.2222rem;
	/* 0px 5px */
	padding: 0;
}

.read span#contentHits_Icon {
	color: #75757f;
}

/*댓글달 때 이름 옆에 프로필 아이콘 나오게 */
.read .profileIcon {
	border-radius: 0.7111rem;
	/* 16px */
	margin: 0rem 0rem 0rem 0rem;
	/* 0px 0px 0px 0px */
}

.read .sun-editor .se-container {
	border: 0.0444rem
		/* 1px */
		solid var(--color-gray) !important;
	border-radius: 1.1111rem
		/* 25px */
		 !important;
	outline: none !important;
}

.read .sun-editor .se-toolbar {
	background-color: transparent;
	outline: none;
	border-bottom: 0.0444rem
		/* 1px */
		solid var(--color-gray) !important;
	padding: 0 1.1111rem
		/* 25px */
		 !important;
}

.read .sun-editor .se-wrapper .se-wrapper-inner {
	background-color: transparent;
}

.read .se-wrapper-inner.se-wrapper-code.top-htmleditor-textarea {
	color: black;
}

.read .rep div.input_editor.sun-editor-id-wysiwyg.sun-editor-editable {
	padding: 0;
	background-color: transparent;
}

.read top-linearlayout#replyTitleLL {
	display: inline-block;
	width: auto;
}

.read top-linearlayout#replyTitleLL>div {
	height: 1.3333rem;
	/* 30px */
	border-width: 0rem;
	/* 0px */
	border-style: solid;
	overflow: hidden;
	visibility: visible;
	display: flex;
	align-items: center;
}

.read top-textview#replyLabelText {
	margin-left: 0.2222rem;
	/* 5px */
}