.drive__preview {
    /* display: flex; */
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

.drive__preview__download-button {
    position: absolute;
    right: 5.5rem;
    top: 2rem;
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
}

.drive__preview__close-button {
    position: absolute;
    right: 2rem;
    top: 2rem;
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
}

.drive__preview__content {
    display:flex;
    width:100%;
    height:100%;
    justify-content: center;
    align-items: center;
}


.drive__preview__content video{
    width: fit-content;
    height: fit-content;
    max-width: 43.75rem;
    max-height: 32.8125rem;
}

.drive__preview__content img{
    width: auto;
    height: auto;
    max-width: 43.75rem;
    max-height: 32.8125rem;
}

#drivePreviewDownloadContextMenu {
    z-index: 15;
}

#drive__preview__filename {
    position: absolute;
    left: 4rem;
    top: 2rem;
    color: #ffffff;
    font-size: 1rem;
}

#drive__preview__icon {
    position: absolute;
    left: 2rem;
    top: 2rem;
    color: #ffffff;
    font-size: 1.5rem;
}