/* Drive Title css */
div.drive__header--viewfile span.drive__button--expand,
div.drive__header--viewfile span.drive__button--collapse {
    transform: rotate(90deg);
}

div.drive__content span.drive__button--expand,
div.drive__content span.drive__button--collapse {
    transform: rotate(90deg);
}

/* Drive contextMenu, Dialog css */
.drive .context-menu__item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

div#top-dialog-root_driveAttachFileDialog {
	width: 38.75rem !important;
	height: 32rem !important;
}

div#top-dialog-root_driveAttachFileDialog {
	border-color: white;
	border-radius: 0.31rem;
}

div#top-dialog-root_driveAttachFileDialog div.top-dialog-title-layout {
	font-size: 0.88rem;
    display: flex;
    justify-content: center;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    color: #000000;
    height: 2.88rem;
}

div#top-dialog-root_driveAttachFileDialog .top-dialog-title {
	line-height: 2.88rem;
}

div#top-dialog-root_driveAttachFileDialog .top-dialog-content.fixed-width-dialog.fixed-height-dialog {
	height: calc(100% - 2.88rem);
	width: calc(100%);
	margin: 0rem;
}

.drive__attachfile__sidebar {
    display: flex;
    flex-direction: column;
    flex: 0 0 5rem;
    background-color: #f4fbf8;
    padding: 0.38rem 0.25rem 0 0.25rem;
    border-right: 0.0625rem solid #e3e7eb;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

.drive__attachfile__content__row {
    display: flex;
    flex: 0 0 2.813rem;
    padding: 0.3125rem 0.75rem 0.3125rem 0rem;
    box-sizing: border-box;
    align-items: center;
}

.drive__attachfile__content__row:nth-child(1) {
    font-size: 1.25rem;
    color: #000000;
    justify-content: space-between;
    border-bottom: 0.0625rem solid #e3e7eb;
}

.drive__attachfile__content__row:nth-child(2) {
    /* display : none; */
    color: #45474A;
    font-size: 0.69rem;
    flex: 0 0 2.5rem;
    padding-bottom: 0;
}

.file__item__attachfile--grid .file__item__attachfile__size {
    max-width: 100%;
    color: #888D96;
    font-size: 0.63rem;
    line-height: 0.94rem;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.file__item__attachfile--grid .file__item__attachfile__icon {
    font-size: 2.5rem;
    width: 1.88rem;
    height: 1.88rem;
}

.file__item__attachfile--grid[data-is-folder="true"] .file__item__attachfile__icon {
	cursor: pointer;	
}

.file__item__attachfile--grid .file__item__attachfile__icon img{
    width: 100%;
    height: auto;
}

.file__item__attachfile--list[data-is-folder="true"] .file__item__attachfile__icon,
.file__item__attachfile--list[data-is-folder="true"] .file__item__attachfile__title,
.drive__attachfile__button--change-view {
    cursor: pointer;
}

.file__item__attachfile--list.file__item__attachfile--selected .file__item__attachfile__icon {
    display: none;
}

#top-dialog-root_driveAttachFileDialog .drive__saveAs .file__item__attachfile--list:hover .file__item__attachfile__icon,
#top-dialog-root_driveAttachFileDialog .drive__send .file__item__attachfile--list:hover .file__item__attachfile__icon {
    display: flex;
}

#top-dialog-root_driveAttachFileDialog .drive__attach .file__item__attachfile--list:hover[data-is-folder="false"] .file__item__attachfile__icon {
    display: none;
}

#top-dialog-root_driveAttachFileDialog .drive__attach .drive__attachfile__content__row:nth-child(2) {
	display: none;
}

div#top-dialog-root_driveNewFolderDialog div.top-popover,
div#top-dialog-root_driveRenameDialog div.top-popover,
div#top-dialog-root_driveAttachFileDialog div.top-popover {
	display: none !important;
}

div#top-dialog-root_driveNewFolderDialog top-icon.error-popover div.top-popover,
div#top-dialog-root_driveRenameDialog top-icon.error-popover div.top-popover,
div#top-dialog-root_driveAttachFileDialog top-icon.error-popover div.top-popover {
	display: block !important;
}

div#top-dialog-root_driveNewFolderDialog {
    width: 22.5rem !important;
    height: 12.88rem !important;
    border-width: 0rem;
    border-radius: 0.31rem;
}

div#top-dialog-root_driveNewFolderDialog .top-dialog-content.fixed-width-dialog.fixed-height-dialog,
div#top-dialog-root_driveRenameDialog .top-dialog-content.fixed-width-dialog.fixed-height-dialog,
div#top-dialog-root_driveDetailedInfoDialog .top-dialog-content.fixed-width-dialog.fixed-height-dialog {
	height: calc(100% - 2.69rem);
	width: calc(100%);
	margin: 0rem;
}

div#top-dialog-root_driveNewFolderDialog .top-dialog-title-layout,
div#top-dialog-root_driveRenameDialog div.top-dialog-title-layout,
div#top-dialog-root_driveDetailedInfoDialog div.top-dialog-title-layout {
    font-size: 0.88rem;
    display: flex;
    justify-content: center;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    color: #000000;
    height: 2.69rem;
}

div#top-dialog-root_driveNewFolderDialog top-icon.error-popover div.top-popover,
div#top-dialog-root_driveRenameDialog top-icon.error-popover div.top-popover {
	transform: translate(-10.6rem, -1.7rem);
}

div#top-dialog-root_driveAttachFileDialog top-icon.error-popover .top-popover {
	transform: translate(-11.4rem, -1.5rem);
}

div#top-dialog-root_driveNewFolderDialog .top-popover-arrow,
div#top-dialog-root_driveRenameDialog .top-popover-arrow,
div#top-dialog-root_driveAttachFileDialog .top-popover-arrow {
	transform: translateX(4.6rem);
}

div#top-dialog-root_driveRenameDialog {
    width: 20.75rem !important;
    height: 12.44rem !important;
    border-width: 0rem;
    border-radius: 0.31rem;
}

div#top-dialog-root_driveNewFolderDialog .top-dialog-title,
div#top-dialog-root_driveRenameDialog .top-dialog-title,
div#top-dialog-root_driveDetailedInfoDialog .top-dialog-title {
	line-height: 2.69rem;
}

div#top-dialog-root_driveNewFolderDialog .top-icon-root,
div#top-dialog-root_driveRenameDialog .top-icon-root,
div#top-dialog-root_driveAttachFileDialog .top-icon-root {
	font-size: 1.3rem !important;
}

div#top-dialog-root_driveDeleteDialog .top-icon-root {
	font-size: 1.25rem !important;
}

div#driveAttachFile_footer {
    justify-content: center;
    display: flex;
    padding-top: 0.5rem !important;
}
.error-textfield .top-textfield-text {
    border-color: red !important;
}

div#top-dialog-root_driveNewFolderDialog top-button.error-button button#successBtn,
div#top-dialog-root_driveRenameDialog top-button.error-button button#successBtn,
div#top-dialog-root_driveAttachFileDialog top-button.error-button button#successBtn {
    background-color: #cccccc !important;
    color: #ffffff !important;
}

top-contextmenu#driveFileContextMenu li.top-contextmenu_item {
    color: #000000;
}

div#top-dialog-root_driveNewFolderDialog div.top-dialog-content,
div#top-dialog-root_driveRenameDialog div.top-dialog-content,
div#top-dialog-root_driveDetailedInfoDialog div.top-dialog-content,
div#top-dialog-root_driveAttachFileDialog div.top-dialog-content,
div#top-dialog-root_driveSendFailDialog div.top-dialog-content,
div#top-dialog-root_driveOverWriteDialog div.top-dialog-content {
    padding: 0;
}

/*
div#top-dialog-root_drivePassFileDialog div.top-dialog-title-layout span.top-dialog-title {
    font-size: 0.88rem;
    color: #000000;
}*/

div#top-dialog-root_driveNewFolderDialog div.top-dialog-title-layout button.top-dialog-close,
div#top-dialog-root_driveRenameDialog div.top-dialog-title-layout button.top-dialog-close,
div#top-dialog-root_driveDetailedInfoDialog div.top-dialog-title-layout button.top-dialog-close,
div#top-dialog-root_drivePassFileDialog div.top-dialog-title-layout button.top-dialog-close,
div#top-dialog-root_driveAttachFileDialog div.top-dialog-title-layout button.top-dialog-close,
div#top-dialog-root_driveSendFailDialog div.top-dialog-title-layout button.top-dialog-close {
    font-size: 0.7rem;
    line-height: 0rem;
    transform: translate(-1rem, 1.95rem);
    color: #000000;
    font-weight: 600;
}

div#top-dialog-root_driveDeleteDialog,
div#top-dialog-root_driveSendFailDialog {
    width: 22.5rem !important;
    height: 10.88rem !important;
    border-color: white;
    border-radius: 0.31rem;
}

div#top-dialog-root_driveOverWriteDialog {
	width: 22.5rem !important;
    height: fit-content !important;
    border-color: white;
    border-radius: 0.31rem;
}

div#top-dialog-root_driveDeleteDialog div.top-dialog-title-layout,
div#top-dialog-root_driveSendFailDialog div.top-dialog-title-layout,
div#top-dialog-root_driveOverWriteDialog div.top-dialog-title-layout {
    display: none;
}

div#top-dialog-root_driveDeleteDialog div.top-dialog-content,
div#top-dialog-root_driveSendFailDialog div.top-dialog-content,
div#top-dialog-root_driveOverWriteDialog div.top-dialog-content {
    padding: 0;
    height: calc(100%);
    border-radius: 0.31rem;
    border-top: 0rem;
}

div#top-dialog-root_driveDetailedInfoDialog {
    width: 24.38rem !important;
    height: 21.13rem !important;
    border-width: 0rem;
    border-radius: 0.31rem;
}

div#top-dialog-root_drivePassFileDialog {
    width: 18.13rem !important;
    height: 27.81rem !important;
    border-color: white;
    border-radius: 0.31rem;
}

div#top-dialog-root_drivePassFileDialog div.top-dialog-content {
    padding: 0;
    margin: 0;
    height: calc(100% - 3.48rem);
}

div#top-dialog-root_driveOverWriteDialog span#overWriteTextView a.top-textview-url {
	white-space: normal;
}

/* TEST */
.drive *{
    user-select: none;
}

.file__item,
.file__item__attachfile {
    display: flex;
    font-size: 0.8125rem;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.file__item .file__item__more,
.file__item__attachfile .file__item__attachfile__more {
    cursor: pointer;
}

.file__item__text-container,
.file__item__attachfile__text-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.file__item input[type="checkbox"],
.file__item__attachfile input[type="checkbox"] {
    display: none;
}
.file__item label,
.file__item__attachfile label {
    position: absolute;
    width: 0.8125rem;
    height: 0.8125rem;
    border: 0.0625rem solid #bcbcbc;
    border-radius: 0.625rem;
    cursor: pointer;
}

.file__item input[type="checkbox"]:not([disabled]):checked + label span
.file__item__attachfile input[type="checkbox"]:not([disabled]):checked + label span {
    position: absolute;
    content: "";
    left: 0.25rem;
    top: 0.125rem;
    width: 0.1875rem;
    height: 0.375rem;
    border: solid white;
    border-width: 0 0.125rem 0.125rem 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* 16AC66 */
.file__item:hover,
.file__item__attachfile:hover {
    box-shadow: 0rem 0.0625rem 0.25rem 0rem rgba(0, 0, 0, 0.2);
}

.file__item--selected,
.file__item__attachfile--selected {
    background-color: #f1fbf6;
    /* outline: 0.125rem solid #16ac66;
    outline-offset: -0.625rem; */
    box-shadow: 0 0 0 0.125rem #16ac66 inset !important;
}

div#driveContentsMainLayout {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y: auto !important;
}

/* test!!! */
/* test!!! */
/* test!!! */
/* test!!! */

.drive,
.drive__attachfile {
    display: flex;
    flex-direction: column;
    height: 100%;
    line-height: 1.563rem;
    font-size: 1rem;
    color: #000000;
}

/* header */
.drive__header--viewfile {
    display: flex;
    justify-content: space-between;
    padding: 0.625rem 0.75rem 0.75rem 0.75rem;
    box-sizing: border-box;
    border-bottom: 0.0625rem solid #e3e7eb;
    height: 2.56rem;
}

.drive__header--drive {
    display: flex;
    justify-content: space-between;
    padding: 0.625rem 0.75rem 0.75rem 0.55rem;
    box-sizing: border-box;
    border-bottom: 0.0625rem solid #e3e7eb;
    height: 2.56rem;
}

.drive__header__column {
    display: flex;
    align-items: center;
}

.drive__header__column:last-child span {
    color: #75757f;
    margin-right: 0.3125rem;
}

.drive__button--more {
    visibility: hidden;
}

.drive__vertical-line {
    display: flex;
    height: 1.563rem;
    margin-right: 0.3125rem;
    margin-left: 0.3125rem;
    border-right: 0.0625rem solid #c6ced6;
}

.drive__sort__vertical-line {
    vertical-align: middle;
    display: inline-flex;
    height: 1rem;
    border-right: 0.0625rem solid #c6ced6;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
}

.drive__attachfile__vertical-line {
	display: flex;
    height: 1.563rem;
    border-right: 0.0625rem solid #c6ced6;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.drive__attachfile__vertical-line-one {
	display: flex;
    height: 1.563rem;
    border-right: 0.0625rem solid #c6ced6;
}

.drive__sidebar {
    display: flex;
    flex-direction: column;
    flex: 0 0 5.06rem;
    background-color: #f4fbf8;
    padding: 0.38rem 0.25rem 0 0.26rem;
    border-right: 0.0625rem solid #e3e7eb;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

.drive__attachfile__sidebar.drive__save {
	display: none;
}
/*
.drive__attachfile__search__input.drive__save {
	visibility: hidden;
}*/

.drive__attachfile__content.drive__save {
	width: 100%;
}

.file__item__attachfile[data-is-folder="true"]:hover label{
	display: none;
}

/* .file__item__attachfile[data-is-folder="true"] .file__item__attachfile__icon {
	cursor: pointer;
} */

div#top-dialog-root_driveAttachFileDialog top-linearlayout.drive__saveAs div#driveAttachFile_main {
	height: 21.5rem !important;
}

.drive__sidebar__title {
    font-size: 0.63rem;
    display: inline-block;
    max-width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.drive__sidebar__item--selected .drive__sidebar__title{
    font-weight: bold;
}

.drive__sidebar__item,
.drive__attachfile__sidebar__item {
    display: flex;
    flex: 0 0 3.44rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 0.3rem;
    line-height: 1rem;
    cursor: pointer;
}
/*
.drive__sidebar__item:hover {
	background-color: #19bf72;
	opacity: 0.3;
}
*/

.drive__sidebar > .drive__sidebar__item--selected,
.drive__attachfile__sidebar > .drive__attachfile__sidebar__item--selected {
	background-color: rgba(25, 191, 114, 0.3);
}

.drive__sidebar__item--selected,
.drive__attachfile__sidebar__item--selected {
    /*border-left: 0.25rem solid #19bf72;*/
    background-color: #ffffff;
    border-radius: 0.25rem;
}

.drive__content,
.drive__attachfile__content {
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    width: calc(100% - 5rem);
}

.drive__content__row {
    display: flex;
    flex: 0 0 2.813rem;
    padding: 0.3125rem 0.625rem;
    box-sizing: border-box;
    align-items: center;
}

.drive__content__row:nth-child(1) {
    font-size: 0.75rem;
    color: #777777;
    justify-content: space-between;
    margin-top: 0.3125rem;
    border-bottom: 0.0625rem solid #e3e7eb;
}

/* bread crumb */

.drive__bread-crumb {
    display: flex;
    align-items: center;
    font-size: 0.88rem;
    line-height: 1.25rem;
    height: 100%;
    box-sizing: border-box;
    max-width:100%;
}

.drive__attachfile__bread-crumb {
    width: 13.75rem;
    display: flex;
    align-items: center;
    font-size: 0.88rem;
    line-height: 1.25rem;
    height: 100%;
    box-sizing: border-box;
    margin-right: 2.5rem;
}

.drive__bread-crumb__item,
.drive__attachfile__bread-crumb__item {
    cursor: pointer;
    color: #000000;
}

.drive__bread-crumb__item:last-child {
    max-width:100%;
    overflow-x:hidden;
    text-overflow: ellipsis;
}

.drive__attachfile__bread-crumb__item:last-child {
    max-width:100%;
    overflow-x:hidden;
    text-overflow: ellipsis;
}
.drive__bread-crumb__divider {
    content: url(../../res/drive/drive_arrow_right_line.svg);
    border-radius: 0%;
    vertical-align: text-bottom;
    height: 1rem;
    width: 1rem;
    margin: 0rem 0.25rem;
    color: #000000;
}

.drive__content__row:nth-child(2),
.drive__content__row:nth-child(1) {
    border-bottom: 0.0625rem solid #e3e7eb;
    justify-content: space-between;
    color: #75757f;
}


.drive__search,
.drive__search__select,
.drive__search__input,
.drive__attachfile__search,
.drive__attachfile__search__input {
    display: inline-flex;
    align-items: center;
    height: 1.88rem;
    width:100%;
    box-sizing: border-box;
}

.drive__search__input,
.drive__attachfile__search__input {
    margin: 0 0 0 0.25rem;
    border-radius: 1.563rem;
    border: 0.0625rem solid #c6ced6;
    background-color: #ffffff;
    color: #3b3b3b;
    outline: none;
}

.drive__search__input input,
.drive__attachfile__search__input input{
    font-size: 0.81rem !important;
}

.drive__search__input input::placeholder,
.drive__attachfile__search__input input::placeholder{
    color : #555555;
    font-size: 0.81rem !important;
}


.drive__search__input:hover,
.drive__attachfile__search__input:hover{
    background-color: rgba(25, 191, 114, 0.3);
}

.drive__search__input input,
.drive__attachfile__search__input input {
    background-color: transparent !important;
    overflow: auto;
}

.drive__attachfile__search__input {
    border-radius: 1.563rem;
    border: 0.0625rem solid #c6ced6;
    background-color: #ffffff;
    font-size: 0.75rem;
    color: #3b3b3b;
    outline: none;
    width : 12.5rem;
}

.drive__content__row:nth-child(3) {
    /* display : none; */
    justify-content: space-between;
    color: #75757f;
    font-size: 0.9375rem;
}

.drive__content__row:last-child {
    flex: auto;
    padding: 0.3125rem 0 0.3125rem 0.3125rem;
    box-sizing: border-box;
    width: 100%;
    height: 0;
}

.drive__attachfile__content__row:last-child {
    flex: 1;
    max-height:calc(100% - 0.625rem);
    padding: 0.3125rem 0 0.3125rem 0.3125rem;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}


.drive__buttons span:not(:last-child),
.drive__attachfile__buttons span:not(:last-child) {
    margin-right: 0.1rem;
}

.drive__header__logo--drive {
    display: flex;
    width: 2.15rem;
    height: 2.15rem;
    margin-right: 0.54rem;
}

.drive__header__logo--viewfile {
    display: flex;
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 0.54rem;
}

.drive__header__logo img {
    width: 100%;
    height: auto;
    transform: translateY(0.1rem);
}

.drive__header__text--viewfile {
    font-size: 0.88rem;
    font-weight: 600;
    line-height:0rem;
}

.drive__header__text--drive {
    font-size: 0.88rem;
    font-weight: 600;
    line-height:0rem;
    margin-left: -0.25rem;
}

/* checkbox */
.file__item input[type="checkbox"],
.file__item__attachfile input[type="checkbox"],
.drive__select-all input[type="checkbox"],
.drive__attachfile__select-all input[type="checkbox"] {
    display: none;
}

.file__item label,
.file__item__attachfile label,
.drive__select-all label,
.drive__attachfile__select-all label {
    display: inline-block;
    position: relative;
    width: 0.8125rem;
    height: 0.8125rem;
    border: 0.0625rem solid #bcbcbc;
    border-radius: 0.625rem;
    cursor: pointer;
    margin-top: 0.125rem;
    /* margin-left: 0.3125rem; */
}

.file__item label,
.file__item__attachfile label{
    position: absolute;
}

.file__item input[type="checkbox"]:not([disabled]):checked + label span,
.file__item__attachfile input[type="checkbox"]:not([disabled]):checked + label span,
.drive__select-all input[type="checkbox"]:not([disabled]):checked + label span,
.drive__attachfile__select-all input[type="checkbox"]:not([disabled]):checked + label span {
    position: absolute;
    content: "";
    left: 0.25rem;
    top: 0.125rem;
    width: 0.1875rem;
    height: 0.375rem;
    border: solid white;
    border-width: 0 0.125rem 0.125rem 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.file__item input[type="checkbox"]:not([disabled]):checked + label,
.file__item__attachfile input[type="checkbox"]:not([disabled]):checked + label,
.drive__select-all input[type="checkbox"]:not([disabled]):checked + label,
.drive__attachfile__select-all input[type="checkbox"]:not([disabled]):checked + label {
    background-color: #16ac66;
    border: 0.0625rem solid #16ac66;
}

.drive__select-all input[disabled] + label,
.drive__attachfile__select-all input[disabled] + label {
    background-color: gray;
    cursor:not-allowed;
}

.drive__files {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    overflow-y: auto;
    align-content: flex-start;
    line-height: 1.313rem;
}

.drive__attachfile__files {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    overflow-y: auto;
    align-content: flex-start;
    line-height: 1.313rem;
    margin-left: 0.5rem;
}


/* grid view */
.drive__gridlayout__button{
    content: url(../../res/drive/drive_thumbnail.svg);
    border-radius: 0%;
    vertical-align: text-bottom;
    height: 1.25rem;
    width: 1.25rem;
}

.drive__gridlayout__button:hover {
    background-color: rgba(25, 191, 114, 0.3);
    cursor: pointer;
}

.file__item--grid,
.file__item__attachfile--grid {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 6.25rem;
    height: 6.25rem;
    border: 0.0625rem solid rgb(224, 229, 233);
    border-radius: 1.25rem;
    box-sizing: border-box;
    margin: 0.3125rem;
    padding: 1.25rem 0 0 0;
    /* padding: 0.9375rem 0.125rem 0.4375rem 0.125rem; */
}

.file__item--grid .file__item__text-container,
.file__item__attachfile--grid .file__item__attachfile__text-container {
    flex-direction: column;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 0 0 1.063rem 1.063rem;
    padding: 0.3125rem;
    /* line-height: 1.125rem; */
    box-sizing: border-box;
}

.file__item--grid label,
.file__item__attachfile--grid label {
    display: none;
    position: absolute;
    top: 0.4375rem;
    left: 0.4375rem;
}

.file__item--grid .file__item__more,
.file__item__attachfile--grid .file__item__attachfile__more{
    display: none;
    position: absolute;
    top: 0.6875rem;
    right: 0.5625rem;
    font-size: 0.75rem;
    color: #75757f;
}

.file__item--grid .file__item__icon {
    font-size: 2.5rem;
    width:1.88rem;
    height:1.88rem;
    cursor: pointer;
}

.file__item--grid .file__item__icon img{
    width:100%;
    height:auto;
}

.file__item__attachfile--grid .file__item__attachfile__icon {
    font-size: 2.5rem;
}

.file__item__attachfile[data-is-folder="true"] .file__item__attachfile__title {
	cursor: pointer;
}

.file__item--grid .file__item__title {
    font-size: 0.69rem;
    line-height: 1.06rem;
    /* margin-bottom: 0.3125rem; */
    max-width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.file__item__attachfile--grid .file__item__attachfile__title {
	font-size: 0.8125rem;
    /* margin-bottom: 0.3125rem; */
    max-width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.file__item--list .file__item__title {
    cursor: pointer;
}

.file__item--list.file__item__prev .file__item__title,
.file__item__attachfile--list.file__item__attachfile__prev .file__item__attachfile__title {
    padding-left: 2.3rem;
}

.file__item--grid .file__item__time,
.file__item--grid .file__item__last-update-user,
.file__item--sub .file__item__last-update-user,
.file__item--list.file__item--sub .file__item__size,
.file__item__attachfile--grid .file__item__attachfile__time,
.file__item__attachfile--grid .file__item__attachfile__last-update-user,
.file__item__attachfile--sub .file__item__attachfile__last-update-user {
    display: none;
}

.file__item--grid .file__item__size {
    max-width: 100%;
    color: #484a4e;
    font-size: 0.625rem;
    line-height: 0.94rem;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.file__item--grid:hover label,
.file__item--grid:hover .file__item__more,
.file__item__attachfile--grid:hover label,
.file__item__attachfile--grid:hover .file__item__attachfile__more {
    display: inline-block;
}

/* list view */
.drive__listlayout__button {
    content: url(../../res/drive/drive_list_view.svg);
    border-radius: 0%;
    vertical-align: text-bottom;
    height: 1.25rem;
    width: 1.25rem;
}
.drive__listlayout__button:hover {
    background-color: rgba(25, 191, 114, 0.3);
    cursor: pointer;
}

.file__item--list,
.file__item__attachfile--list  {
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 3.125rem;
    /*border-top: 0.0625rem solid rgb(224, 229, 233);*/
    border-bottom: 0.0625rem solid rgb(224, 229, 233);
    padding-left: 0.63rem;
    padding-right: 0.625rem;
    box-sizing: border-box;
}
.file__item--list:first-child,
.file__item__attachfile--list:first-child {
    border-top: 0.0625rem solid rgb(224, 229, 233);
}

.file__item--list .file__item__text-container,
.file__item__attachfile--list .file__item__attachfile__text-container {
    flex-direction: row;
    padding-left: 2.3rem;
    box-sizing: border-box;
}

/* .file__item--list:hover .file__item__text-container,
.file__item__attachfile--list:hover .file__item__attachfile__text-container {
    padding-left: 2.3rem;
} */

.file__item--list .file__item__icon,
.file__item__attachfile--list .file__item__attachfile__icon {
    display:inline-block;
    position: absolute;
    width:1.63rem;
    height:1.63rem;
    font-size: 1.563rem;
    margin-right: 0.625rem;
}


.file__item--list .file__item__icon img,
.file__item__attachfile--list .file__item__attachfile__icon img{
    display:inline-block;
    width:1.63rem;
    height:auto;

}

.file__item--list.file__item--sub .file__item__title {
    margin-right: 1rem;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100rem;
}

.file__item__attachfile--list.file__item__attachfile--sub .file__item__attachfile__title {
    margin-right: 0.625rem;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100rem;
}

.file__item--list.file__item--main .file__item__title,
.file__item__attachfile--list.file__item__attachfile--main .file__item__attachfile__title {
    margin-right: 0.625rem;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 53.13rem;
}

.file__item--list.file__item--sub .file__item__time {
    width: 40rem;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.file__item__attachfile--list.file__item__attachfile--sub .file__item__attachfile__time {
    width: 30rem;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.file__item--list.file__item--main .file__item__time,
.file__item__attachfile--list.file__item__attachfile--main .file__item__attachfile__time {
    width: 12.5rem;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.file__item--list.file__item--main .file__item__last-update-user,
.file__item__attachfile--list.file__item__attachfile--main .file__item__attachfile__last-update-user {
    width: 12.5rem;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.file__item--list .file__item__time,
.file__item__attachfile--list .file__item__attachfile__time {
    width: 6.25rem;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.file__item--list .file__item__size {
    width: 5.125rem;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.file__item__attachfile--list .file__item__attachfile__size {
    width: 16rem;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.file__item--list label,
.file__item__attachfile--list label {
    display: none;
    left : 1rem;
    /* position: absolute; */
    /* left: 0.9375rem;
    top: 0.9375rem; */
}

.file__item--list:hover label,
.file__item__attachfile--list:hover label {
    display: inline-block;

}

.file__item--list .file__item__more,
.file__item__attachfile--list .file__item__attachfile__more {
    display: none;
    margin-right: 0.625rem;
    font-size: 0.9375rem;
    right: 1.25rem;
    top: 0.625rem;
}

.file__item--list:hover .file__item__more,
.file__item__attachfile--list:hover .file__item__attachfile__more {
    display: inline-block;
}

.file__item--list:not(.file__item__prev):hover .file__item__icon{
    display:none;
}

.drive__file--selected > .top-linearlayout-root {
    background-color: #f1fbf6;
    box-shadow: 0 0 0 0.1rem #16ac66 inset !important;
}

.file__item .icon-folder2,
.upload__item .icon-folder2,
.file__item__attachfile .icon-folder2,
.upload__item .icon-folder2 {
    color: #ffd068;
}

.file__item .icon-work_toword,
.upload__item .icon-work_toword
.file__item__attachfile .icon-work_toword,
.upload__item .icon-work_toword {
    color: #0074df;
}

.file__item .icon-work_topoint,
.upload__item .icon-work_topoint,
.file__item__attachfile .icon-work_topoint,
.upload__item .icon-work_topoint {
    color: #ec5071;
}

.file__item .icon-work_tocell,
.upload__item .icon-work_tocell,
.file__item__attachfile .icon-work_tocell,
.upload__item .icon-work_tocell {
    color: #20ad8f;
}

.file__item .icon-work_img_file,
.upload__item .icon-work_img_file,
.file__item__attachfile .icon-work_img_file,
.upload__item .icon-work_img_file {
    color: #2295ce;
}

.file__item .icon-work_video_file,
.upload__item .icon-work_video_file,
.file__item__attachfile .icon-work_video_file,
.upload__item .icon-work_video_file {
    color: #9e0efa;
}

.file__item .icon-work_document,
.upload__item .icon-work_document,
.file__item__attachfile .icon-work_document,
.upload__item .icon-work_document {
    color: #6c56e5;
}

div#upload__dialog span.upload__expand-button, 
div#upload__dialog span.upload__collapse-button,
div#upload__dialog span.upload__close-button {
	cursor: pointer;
}

.file__item--selected label,
.file__item__attachfile--selected label {
    display: inline-block;
}

[class*="drive__button--"] {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 50%;
}

[class*="drive__button--"]:hover {
    background-color: rgba(25, 191, 114, 0.3);
    cursor: pointer;
}

[class*="drive__button--"][disabled] {
    color: #75757f;
    opacity: 0.4;
}

[class*="drive__button--"][disabled]:hover {
    background-color: transparent;
    cursor: not-allowed;
}

.drive__button--download,
.drive__button--share,
.drive__button--delete {
    display: none;
}

.drive__button--download {
    content: url(../../res/drive/drive_download.svg);
    border-radius: 0%;
    vertical-align: text-bottom;
}

.drive__button--delete{
    content: url(../../res/drive/drive_delete.svg);
    border-radius: 0%;
    vertical-align: text-bottom;
}

.drive__button--new-folder {
    content: url(../../res/drive/drive_new_folder.svg);
    border-radius: 0%;
    vertical-align: text-bottom;
}

.drive__button--upload {
    content: url(../../res/drive/drive_upload.svg);
    border-radius: 0%;
    vertical-align: text-bottom;
}
.drive__button--order {
    width: 0.9375rem;
    height: 0.9375rem;
    margin-left: 0.5rem;
    transform: rotate(-90deg);
    color: #75757f;
    opacity: 0.4;
}

/* search */
top-selectbox#drive__search__selectbox div.top-selectbox-root {
    width: 5.44rem;
    height:1.88rem;
    line-height: 1.625rem !important;
}

top-selectbox#drive__search__selectbox ul.top-selectbox-options {
	background-color: #ffffff;
}

top-selectbox#drive__search__selectbox li.top-selectbox-option:hover {
	background-color: #19BF72; /*rgba(25, 191, 114, 0.3);*/
}

top-selectbox#drive__search__selectbox li.top-selectbox-option.active {
	background-color: #19BF72;
}

.file__item--list.file__item--selected .file__item__icon{
    display:none;
}

.drive .top-selectbox-container{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 0.3rem 0 0.6rem;
}

.drive .top-selectbox-container:hover{
    background-color:rgba(25, 191, 114, 0.3) !important;
}

/* EMPTY LAYOUT */
.drive__empty,
.drive__error,
.drive__search__empty,
.drive__attachfile__empty,
.drive__search__empty,
.drive__attachfile__search__empty {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.drive__empty img,
.drive__error img,
.drive__attachfile__empty img {
    width: 13rem;
    height: 13rem;
    margin-bottom: 1.63rem;
}

/* Attach Dialog */
#top-dialog-root_driveAttachFileDialog top-button#successBtn[disabled="true"] button#successBtn {
	background-color: #b7b7b7 !important
}

#top-dialog-root_driveAttachFileDialog span.drive__attachfile__title__text {
	font-size: 0.88rem;
    font-weight: 600;
}

#top-dialog-root_driveAttachFileDialog top-linearlayout.drive__attach span.drive__attachfile__title__text,
#top-dialog-root_driveAttachFileDialog top-linearlayout.drive__attach div.drive__attachfile__vertical-line-one {
	display: none;
}

#top-dialog-root_driveAttachFileDialog top-linearlayout.drive__saveAs .file__item__attachfile label,
#top-dialog-root_driveAttachFileDialog top-linearlayout.drive__send .file__item__attachfile label {
	display: none;
}

span.top-tooltip-text.fileName_tooltip,
span.top-tooltip-text.fileLocation_tooltip {
	display: inline-table !important;
}

.drive-font-convert {
	background-color: rgba(255, 249, 0, 0.5);
}

