#upload__dialog div {
    box-sizing: border-box;
}
#upload__dialog {
    display: flex;
    position: fixed;
    right: 0.625rem;
    bottom: 0.625rem;
    flex-direction: column;
    width: 18.75rem;
    box-sizing: border-box;
    background: #ffffff;
    box-shadow: 0 0 0.375rem 0 rgba(0, 0, 0, 0.35);
    border-radius: 0.25rem 0.25rem 0 0;
    border-radius: 0.25rem 0.25rem 0rem 0rem;
    z-index: 100;
}
#upload__dialog__header {
    display: flex;
    flex: 0 0 3.125rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background: #16ac66;
    border-radius: 0.25rem 0.25rem 0 0;
    border-radius: 0.25rem 0.25rem 0rem 0rem;
    padding: 0.8125rem;
}

#upload__dialog__content {
    display: flex;
    flex-direction: column;
    padding-top: 0.125rem;
    width: 100%;
    max-height: 15.63rem;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 0.8125rem;
    white-space: nowrap;
}

.upload__item {
    display: inline-flex;
    flex: 0 0 3.125rem;
    width: 100%;
    align-items: center;
    background: #ffffff;
    padding: 0.3125rem 0.625rem;
    max-width: 100%;
}

.upload__vertical-line {
    border-right: 0.0625rem solid rgba(255, 255, 255, 0.5);
    margin: 0 0.625rem;
    height: 1rem;
}

.upload__item:hover {
    background: rgb(25, 191, 114, 0.2);
    border-radius: 1.25rem;
}

.upload__item--selected {
    background: rgb(25, 191, 114, 0.6);
    border-radius: 1.25rem;
}

#upload__progress-text,
#upload__progress-count {
    font-size: 0.875rem;
    color: #ffffff;
}
#upload__success-text,
#upload__success-count {
    font-size: 0.75rem;
    color: #ffffff;
}

.upload__file__icon {
    display: flex;
    font-size: 1.75rem;
    margin-right: 0.4375rem;
}
.upload__status__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 1rem;
    height: 1rem;
    font-size: 1rem;
    margin-left: 0.625rem;
}
.upload__expand-button {
    display: none;
}

.upload__expand-button,
.upload__collapse-button {
    margin-right: 0.875rem;
}

.new-file-loader {
    border: 0.1875rem solid #B9EBD4;
    border-top: 0.1875rem solid #19BF72;
    border-radius: 50%;
    width: 0.75rem;
    height: 0.75rem;
    -webkit-animation: new-file-loader-spin 2s linear infinite; /* Safari */
    animation: new-file-loader-spin 2s linear infinite;

    display: inline-flex !important;
    vertical-align: middle;
}

.upload__status__icon.icon-check {
	color: #19BF72;
}

.upload__status__icon.icon-chart_error {
	color: #FB3A3A;
}

@-webkit-keyframes new-file-loader-spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes new-file-loader-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
