.c-loading {
	display: none !important;
}

div#top-dialog-root_CreateSpaceDialog {
	width: 35rem !important;
    height: 38.56rem !important;
}

div#top-dialog-root_CreateSpaceDialog.b2c.empty {
	width: 27.5rem !important;
	height: 31.75rem !important;
}

#create-space-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;
}

div#top-dialog-root_CreateSpaceDialog.empty.b2c .create-space-inner,
div#top-dialog-root_CreateSpaceDialog.empty.b2c .option-container,
div#top-dialog-root_CreateSpaceDialog.empty.b2c .container-bottom {
	display: none;
}

/**
 * B2C 프렌즈가 없을 경우에 대한 문구 
 */
div#top-dialog-root_CreateSpaceDialog .no-friends {
	display: none;
}

div#top-dialog-root_CreateSpaceDialog.empty.b2c .no-friends {
	display: block;
	flex: 1;
	margin-top: 3.25rem;
}

div#top-dialog-root_CreateSpaceDialog.empty.b2c .no-friends h3 {
	font-size: 0.94rem;
	color: #000;
	text-align: center;
	margin: 0 0 0.63rem 0;
}
div#top-dialog-root_CreateSpaceDialog.empty.b2c .no-friends p {
	font-size: 0.75rem;
	color: #696969;
	text-align: center;
}
div#top-dialog-root_CreateSpaceDialog.empty.b2c .no-friends img {
	width: 14.08rem;
	height: 12.87rem;
	margin: 0 auto;
	display: block;;
	margin-bottom: 1.77rem;
}
div#top-dialog-root_CreateSpaceDialog.empty.b2c .no-friends button {
	display: block;
	margin: 0 auto; 
	padding: 0.38rem 0.9rem;
}


#create-space-container top-checkbox .top-checkbox-text i:before {
	color: #6C56E5;
	content: "\e920";
}

#create-space-container top-checkbox .top-checkbox-text.checked i:before {
	content: "\e907";
}

#create-space-container .create-space-inner {
	display: flex;
	flex: 1;
	overflow: hidden;
}

#create-space-container .create-space-inner .friend-list-container {
	flex: 1;
	overflow: auto;
}

#create-space-container .create-space-inner .left-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

#create-space-container .create-space-inner .left-container .friend-search {
    border-bottom: 1px solid #E3E7EB;
    display: flex;
    justify-content: center;
   	align-items: center;
	flex-shrink: 0;
	padding: 0.38rem 0;   
}

#create-space-container .create-space-inner .left-container .friend-search top-icon {
	color: #BDC6D3;
	font-size: 0.88rem;
    position: absolute;
    left: 1.3rem;
}

#create-space-container .create-space-inner .left-container .friend-search input {
	width: 100%;
	height: 1.81rem;
    margin: 0 0.75rem;
	padding: 0 1rem 0 1.6rem;
}

#create-space-container .create-space-inner .left-container .friend-container-title {
	font-size: 0.75rem;
	color: #000;
	display: flex;
	border-bottom: 1px solid #e3e7eb;
	align-items: center;
	height: 2rem;
	flex-shrink: 0;
}

#create-space-container .create-space-inner .left-container .friend-container {
	border-top: 1px solid #e3e7eb;
}
#create-space-container .create-space-inner .left-container .only-friend .friend-container {
	border-top: none;
}

#create-space-container .create-space-inner .left-container .friend-container-title span.head {
	margin-left: 1.19rem;
}

#create-space-container .create-space-inner .left-container .friend-container-title span.highlight {
	margin-left: 0.25rem;
	color: #000;
	opacity: 0.5;
}

#create-space-container .create-space-inner .left-container ul {
	padding: 0;
	margin: 0;
	overflow: auto;
}

#create-space-container .create-space-inner .left-container ul li {
	display: flex;
	height: calc(3rem - 1px);
    align-items: center;
	border-bottom: 1px solid #e3e7eb;
	color: #000;
	background-color: #fff;
	overflow: hidden;
	left: 0;
	right: 0;
	margin-left: 0.75rem;
    margin-right: calc(0.75rem - 8px);
}

#create-space-container .create-space-inner .left-container ul li:last-child {
	border-bottom: none;
}

#create-space-container .create-space-inner .left-container ul li.disabled {
	color: #818181;
}

#create-space-container .create-space-inner .left-container ul li.disabled .checkbox {
	display: none;
}

#create-space-container .create-space-inner .left-container ul li.checked {
	background-color: #EAEAFB;
}

#create-space-container .create-space-inner .left-container ul li.none {
	font-size: 0.75rem;
    text-align: center;
	justify-content: center;
	border-bottom: none;
	color: #696969;
}

#create-space-container .create-space-inner .left-container ul li img {
	border-radius: 50%;
	margin-left: 0.63rem;
	width: 2.13rem;
	height: 2.13rem;
	flex-shrink: 0;
}

#create-space-container .create-space-inner .left-container ul li span.name {
	font-size: 0.81rem;
	margin-left: 0.63rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#create-space-container .create-space-inner .left-container .org-info .checkbox {
	margin-right: 1.38rem !important;
}

#create-space-container .create-space-inner .left-container .org-info .checkbox,
#create-space-container .create-space-inner .left-container ul li .checkbox {
    border: 1px solid #C6CED6;
    border-radius: 50%;
    width: 0.94rem;
    height: 0.94rem;
    font-size: 0.4rem;
    display: flex;
    align-items: center;
	justify-content: center;
	color: #fff;
	margin-right: 0.63rem;
	flex-shrink: 0;
}

#create-space-container .create-space-inner .left-container .org-info .checkbox {
	margin-left: 0.56rem;
}

#create-space-container .create-space-inner .left-container ul li .checkbox {
	margin-left: auto;
}

#create-space-container .create-space-inner .left-container .org-info .checkbox.checked,
#create-space-container .create-space-inner .left-container ul li.checked .checkbox {
	background-color: #6C56E5;
	border: 1px solid #6C56E5;
	width: 0.94rem;
    height: 0.94rem;
}

#create-space-container .create-space-inner .right-container {
	width: 12.56rem;
	background-color: #F5F5FB;
	display: flex;
	flex-direction: column;
	padding: 0 0.56rem;
	align-items: flex-start;
	overflow: auto;
	flex-shrink: 0;
	border-left: 1px solid #e3e7eb;
}

#create-space-container .create-space-inner .right-container .chip:first-child {
	margin-top: 0.56rem;
}

#create-space-container .create-space-inner .right-container.empty {
	justify-content: center;
}

#create-space-container .create-space-inner .right-container .empty-container {
	display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

#create-space-container .create-space-inner .right-container .empty-container span.title {
	font-size: 0.81rem;
    color: #000;
    font-weight: 400;
}

#create-space-container .create-space-inner .right-container .empty-container span.desc {
	font-size: 0.75rem;
    color: #6F6F73;
}

#create-space-container .create-space-inner .right-container .chip {
	background: #FFFFFF;
	border: 1px solid #C6CED6;
	border-radius: 25px;
	padding: 0.13rem;
	display: flex;
    align-items: center;
    margin-bottom: 0.19rem;
}

#create-space-container .create-space-inner .right-container .chip:hover {
	color: #000;
	background-color: #dcddff;
	border-color: #6c56e5;
}
#create-space-container .create-space-inner .right-container .chip:active {
	background: #6C56E5;
}
#create-space-container .create-space-inner .right-container .chip:active span,
#create-space-container .create-space-inner .right-container .chip:active top-icon {
	color: #fff;
}

#create-space-container .create-space-inner .right-container .chip.none {
	background-color: #E0E1EB;
}
#create-space-container .create-space-inner .right-container .chip.none:hover {
	border-color: #C6CED6;
}

#create-space-container .create-space-inner .right-container img {
	width: 1.63rem;
	height: 1.63rem;
	border-radius: 50%;
}

#create-space-container .create-space-inner .right-container span.name {
	font-size: 0.75rem;
	line-height: 0.75rem;
	color: #3B3B3B;
	letter-spacing: 0;
	margin-left: 0.31rem;
}

#create-space-container .create-space-inner .right-container top-icon {
	color: #75757F;
	font-size: 0.7rem;
	cursor: pointer;
	margin-left: 0.46rem;
    margin-right: 0.36rem;
}

#create-space-container .create-space-inner .right-container .chip.none top-icon {
	cursor: default;
}

#create-space-container .option-container {
	border-top: 1px solid #e3e7eb;
}

#create-space-container .option-container > div {
	margin: 0 1.19rem;
}

#create-space-container .option-container .room-name-checkbox {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#create-space-container .option-container .room-name-checkbox top-checkbox span {
	color: #523dc7;
	display: inline-flex;
	align-items: center;
}

#create-space-container .option-container .room-name-checkbox top-checkbox span img {
	margin-right: 0.19rem;
}

#create-space-container .option-container .room-name-checkbox top-checkbox span img.enabled {
	display: inline;
}
#create-space-container .option-container .room-name-checkbox top-checkbox span img.disabled {
	display: none;
}

#create-space-container .option-container .room-name-checkbox.disabled top-checkbox .top-checkbox-text i:before {
	color: #ccc;
	background-color: transparent;
}

#create-space-container .option-container .room-name-checkbox.disabled top-checkbox span {
	color: #000;
}

#create-space-container .option-container .room-name-checkbox.disabled top-checkbox span img.enabled {
	display: none;
}
#create-space-container .option-container .room-name-checkbox.disabled top-checkbox span img.disabled {
	display: inline;
}

#create-space-container .option-container .room-name-checkbox p {
	font-size: 0.75rem;
	color: #777;
	margin: 0.31rem 0 0.5rem 0.9rem;
}

#create-space-container .option-container .room-name-checkbox #room-name-form {
	position: relative;
	display: flex;
	margin-left: 0.9rem;
}

#create-space-container .option-container .room-name-checkbox #room-name-form input[name=room-name] {
	width: 100%;
	padding: 0.38rem 2.75rem 0.38rem 0.75rem;
}

#create-space-container .option-container .room-name-checkbox #room-name-form .room-name-length {
	font-size: 0.69rem;
    position: absolute;
    right: 0.625rem;
    top: 0.45rem;
    color: #BDC6D3;
}

#create-space-container .option-container .meeting-checkbox {
	margin-bottom: 1.13rem;
}


#create-space-container .option-container top-checkbox span {
	font-size: 0.81rem;
}

#create-space-container .container-bottom {
	margin-top: auto;
	height: 3rem;
	display: flex;
    align-items: center;
	justify-content: center;
	border-top: 1px solid #e3e7eb;
}

#create-space-container .container-bottom button {
	width: 4.5rem;
	height: 1.88rem;
	font-size: 0.75rem;
}

#create-space-container .container-bottom button[disabled],
#create-space-container .container-bottom button:disabled {
	background-color: #ccc;
	color: #fff;
}

#create-space-container .container-bottom button.cancel {
	margin-left: 0.31rem;
	border: none;
	background: #FFFFFF;
	border: 1px solid #C6CED6;
	border-radius: 21px;
	color: #3b3b3b;
}

#create-space-container .friend-view-container {
	overflow: hidden;
    display: flex;
	flex-direction: column;
	flex: 1;
}

#create-space-container .friend-view-container.empty {
	align-self: center;
}

#create-space-container .friend-view-container.empty .friend-search,
#create-space-container .friend-view-container.empty .friend-list-container {
	display: none;
}

#create-space-container .friend-view-container .empty-container {
	display: none;
}

#create-space-container .friend-view-container.empty .empty-container {
	display: flex;
    flex-direction: column;
    align-items: center;
}

#create-space-container .friend-view-container.empty .empty-container span.title {
	font-size: 0.94rem;
    font-weight: bold;
    margin-bottom: 0.63rem;
}

#create-space-container .friend-view-container.empty .empty-container span.body {
	font-size: 0.75rem;
    color: #696969;
    margin-bottom: 1.24rem;
}

#create-space-container .friend-view-container.empty .empty-container img {
	width: 11.04rem;
}

#create-space-container .friend-view-container.empty .empty-container button {
	display: block;
	margin: 0 auto; 
	padding: 0.38rem 0.9rem;
	margin-top: 1.77rem;
}

#create-space-container .tab-view-container {
	flex: 1;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

#create-space-container .tab-view-container .tab-content-container {
	overflow: hidden;
	display: flex;
	flex: 1;
}

#create-space-container #add-friends-by-organization {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	flex: 1;
}

#create-space-container #add-friends-by-organization .org-member-list {
	flex: 1;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

#create-space-container #add-friends-by-organization .friend-list {
	flex: 1;
}

#create-space-container #add-friends-by-organization .org-info {
	padding: 0.19rem 0;
}

#create-space-container #add-friends-by-organization .org-info .highlight {
	margin-left: auto;
	color: #6c56e5;
	margin-right: 0.56rem;
}

#create-space-container #add-friends-by-organization .org-select {
	margin-left: 0.75rem;
	min-width: 6.88rem;
	display: flex;
	align-items: center;
	cursor: pointer;
	border: 1px solid #fff;
	height: 1.5rem;
}

#create-space-container #add-friends-by-organization .org-select.active {
	border: 1px solid #6c56e5;
	border-radius: 1.56rem;
	background-color: #dcddff;
}

#create-space-container #add-friends-by-organization .org-select .name {
	margin-left: 0.75rem;
	margin-right: 0.5rem;
}

#create-space-container #add-friends-by-organization .org-select .handle {
	margin-left: auto;
	margin-right: 0.75rem;
	margin-top: 0.05rem;
	font-size: 0.6rem;
}