div#top-dialog-overlay_ShowMemDialog{
	opacity: 0;
}
#top-dialog-root_ShowMemDialog .top-dialog-title-layout{
    display : none;
}
#top-dialog-root_ShowMemDialog{
	height :32.5rem!important;
}
#show-member-container .edit-space-name{
	text-align: center;
}
#show-member-container .notsp{
	border-radius: 0px;
	width :90%;
	background-color: #0B1D41;
	color : #FFFFFF;
	border-width: 0px 0px 2px 0px;
}
#show-member-container .solid{
	width: 4.23rem;
	height : 1.88rem;
}
#show-member-container .disabled{
	font-size : 0.8rem;
	width: 4.23rem;
	height : 1.88rem;
}
#show-member-container .outlined{
	margin-left : 0.44rem;
	width: 4.23rem;
	height : 1.88rem;
}
#top-dialog-root_ShowMemDialog{
	width : 17.5rem!important;
	min-height : 26rem!important;
	max-height : 37rem!important;
	height : auto;
}
#show-member-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;
}
#show-member-container .memtop-container{
	height : 15.88rem;
	width : 100%;
	background-color: #0B1D41;
    border-radius : 0px 0px 30px 30px / 0px 0px 30px 30px;
}
#show-member-container .memtop-container .btn-div{
    text-align : right;
}
#show-member-container .memtop-container .btn-div .icon-close{
    text-align : right;
    background-color: #0B1D41;
    margin-top : 0.96rem;
    margin-right :0.96rem;
    font-size : 0.7rem;
    color : #FFFFFF;
    border-radius : 4px 4px 30px 30px / 4px 4px 30px 30px;
}
#show-member-container .memtop-container .space-img{
	user-select: none;
	display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
	width:auto;
	height:6rem;
	border-radius:1.72rem;
}
#show-member-container .memtop-container .space-img .thumbDiv{
	margin-left : 0px!important;
}
#show-member-container .memtop-container .space-name {
	display:flex;
    text-align: center;
    font-size : 0.93rem;
	color : #FFFFFF; 
	white-space: nowrap;   
	justify-content: center;
}
#show-member-container .memtop-container .space-name span{
    width : 90%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}


#show-member-container .memtop-container .mem-num {
    width : 100%;
    height : 40px;
    text-align: center;
    font-size : 0.81rem;
    color : #9D9FFF;
    margin-bottom : 1.19rem;
}
#show-member-container .memtop-container .edit-btn { 
    width : 100%;
    height : 40px;
    display : flex;
    text-align: center;
    flex-direction: row;
    -webkit-justify-content: center;
     justify-content: center;
    -webkit-align-items: center;
    align-items: center; 
    margin-bottom : 1.31rem;
}
#show-member-container .memtop-container .edit-btn2 {
    width : 100%;
    height : 40px;
    display : flex;
    text-align: center;
    flex-direction: row;
    -webkit-justify-content: center;
     justify-content: center;
    -webkit-align-items: center;
    align-items: center; 
    margin-bottom : 1.31rem;
}
#show-member-container .memtop-container .edit-btn div{
	width: 4.75rem;
	height :4.13rem;
}
#show-member-container .memtop-container .edit-btn div:hover{
	border-radius: 10px;
	background-color: #344360;
	cursor:pointer;
}
#show-member-container .memtop-container .edit-btn div:active{
	border-radius: 10px;
	background-color: #081734;
}
#show-member-container .memtop-container .edit-btn .edit-name{
	display :block;
}
#show-member-container .memtop-container .edit-btn .edit-name .icon-work_edit{
	margin-top : 0.69rem;
	content: url(../../res/profile/edit_white.svg);
	width : 1.5rem;
	height : 1.5rem;
	justify-content: center;
}
#show-member-container .memtop-container .edit-btn .edit-name span{
	font-size :0.69rem;
	color:#ffffff;
}
#show-member-container .memtop-container .edit-btn .teetalk-div{
	display :inline-block;
}
#show-member-container .memtop-container .edit-btn .teetalk-div .icon-ttalk1{
	margin-top : 0.69rem;
	content: url(../../res/icon/system/ts_TeeTalk.svg);
	width : 1.5rem;
	height : 1.5rem;
	justify-content: center;
}
#show-member-container .memtop-container .edit-btn .teetalk-div span{
	font-size:0.69rem;
	color : #FFFFFF;
}
#show-member-container .memtop-container .edit-btn .teemeeting-div{
	display :inline-block;
}

#show-member-container .memtop-container .edit-btn .teemeeting-div .icon-tmeet{
	margin-top : 0.69rem;
	content: url(../../res/profile/TeeMeeting_white.svg);
	width : 1.5rem;
	height : 1.5rem;
	justify-content: center;
}
#show-member-container .memtop-container .edit-btn .teemeeting-div span{
	font-size : 0.69rem;
	color : #FFFFFF;
}
#show-member-container .mem-list-container{
	font-size : 20px;
	overflow-y:scroll;
	height : 13.5rem;
}
#show-member-container .mem-list-container .mem-list{
	list-style:none;
	padding-left : 0.94rem;
	margin-top : 1.13rem;
}
#show-member-container .mem-list-container .mem-list li{
    display: flex;
    align-items: center;
	color: #000;
	height : 1.5rem;
    margin-bottom : 0.63rem;
	background-color: #fff;
}
#show-member-container .mem-list-container .mem-list img {
	border-radius: 50%;
	margin-left: 0rem;
	width: 1.5rem;
	height: 1.5rem;
}
#show-member-container .mem-list-container .mem-list i{
	margin-left : 0.5rem;
	margin-right : 0.31rem;
	font-size : 0.44rem;
}
#show-member-container .mem-list-container .mem-list span.name {
    font-size: 0.75rem;
	color: rgb(46, 41, 41);
	letter-spacing: 0;
}

div.space-img .thumbDiv {
	position: relative;
	flex-shrink:0;
	width:3.75rem;
	height:3.75rem;
	align-self:center;
	margin-left:0.63rem;
}

div.space-img .thumbPhoto1_1 {
	position: absolute;
	flex-shrink:0;
	width:inherit;
	height:inherit;
	border-radius:3.12rem;
}

div.space-img .thumbPhoto1_2 {
	position: absolute;
	flex-shrink:0;
	width:2.8rem;
	height:2.8rem;
	border-radius:3.12rem;
}

div.space-img .thumbPhoto2_2 {
	position: absolute;
	right: 0px;
	bottom: 0px;
	flex-shrink:0;
	width:2.8rem;
	height:2.8rem;
	border-radius:3.12rem;
}

div.space-img .thumbPhoto1_3 {
	position: absolute;
	left: 50%;
	margin-left: -1.5rem;
	flex-shrink:0;
	width:2.1rem;
	height:2.1rem;
	border-radius:3.12rem;
}

div.space-img .thumbPhoto2_3 {
	position: absolute;
	flex-shrink:0;
	bottom: 0px;
	width:2.1rem;
	height:2.1rem;
	border-radius:3.12rem;
}

div.space-img .thumbPhoto3_3 {
	position: absolute;
	bottom: 0px;
	right: 0px;
	flex-shrink:0;
	width:2.1rem;
	height:2.1rem;
	border-radius:3.12rem;
}

div.space-img .thumbPhoto1_4 {
	position: absolute;
	flex-shrink:0;
	width:1.97rem;
	height:1.97rem;
	border-radius:3.12rem;
}

div.space-img .thumbPhoto2_4 {
	position: absolute;
	right: 0px;
	flex-shrink:0;
	width:1.97rem;
	height:1.97rem;
	border-radius:3.12rem;
}

div.space-img .thumbPhoto3_4 {
	position: absolute;
	bottom: 0px;
	flex-shrink:0;
	width:1.97rem;
	height:1.97rem;
	border-radius:3.12rem;
}

div.space-img .thumbPhoto4_4 {
	position: absolute;
	right: 0px;
	bottom: 0px;
	flex-shrink:0;
	width:1.97rem;
	height:1.97rem;
	border-radius:3.12rem;
}

#top-dialog-root_ShowMemDialog .top-dialog-resize{
	display: none;
}

#show-member-container .invite-container .mem-invite{
	display:flex;
	justify-content: center;
	height : 3.13rem;
	margin-top : 0.81rem;
}
#show-member-container .invite-container i{
	content: url(../../res/common/frends_add.svg);
    font-family: "NotoSansCJKkr-Medium";
	font-style: normal;
    display: inline-block;
    width: 1.5rem;
	height: 1.5rem;
}
#show-member-container .invite-container span{
	font-family: 'NotoSansCJKkr-Medium';
	font-size: 0.81rem;
	color: #3B3B3B;
	font-weight: 550;
	letter-spacing: 0;
	display: inline-block;
	margin-top:5px;
	margin-left:0.38rem;
}
div.mem-invite:hover {
	cursor: pointer;
}