

div.lnbSpaceList {
	user-select: none;
	display:flex;
	flex-direction:row;
	width:auto;
	height:3.38rem;
	border-radius:1.72rem;
}

div#spaceListLayoutHead {
	height: 2.94rem !important;
}

div#spaceListLayoutHead top-textfield#spaceListSearch > div {
	margin: 0.56rem 0.75rem !important;
}

div#spaceListLayoutHead top-textfield#spaceListSearch .icon-search {
	color: #BDC6D3;
	font-size: 0.75rem;
    position: absolute;
	left: 0.55rem;
	top: 0.5rem;
}

div#spaceListLayoutHead top-textfield#spaceListSearch input {
	padding: 0 1rem 0 1.6rem;
	height: 1.81rem;
}

div.lnbSpaceList.selected {
	
	background-color: #E2E3FB;
	
}


div.lnbSpaceList:hover {
	
	background-color: #EAEAFB;
}


div.lnbSpaceList .thumbDiv {
	position: relative;
	flex-shrink:0;
	width:2.13rem;
	height:2.13rem;
	align-self:center;
	margin-left:0.63rem;
	cursor:pointer;
}

div.lnbSpaceList .thumbPhoto1_1 {
	position: absolute;
	flex-shrink:0;
	width:inherit;
	height:inherit;
	border-radius:3.12rem;
}

div.lnbSpaceList .thumbPhoto1_2 {
	position: absolute;
	flex-shrink:0;
	width:1.5rem;
	height:1.5rem;
	border-radius:3.12rem;
}

div.lnbSpaceList .thumbPhoto2_2 {
	position: absolute;
	right: 0px;
	bottom: 0px;
	flex-shrink:0;
	width:1.5rem;
	height:1.5rem;
	border-radius:3.12rem;
}

div.lnbSpaceList .thumbPhoto1_3 {
	position: absolute;
	left: 50%;
	margin-left: -0.6rem;
	flex-shrink:0;
	width:1.19rem;
	height:1.19rem;
	border-radius:3.12rem;
}

div.lnbSpaceList .thumbPhoto2_3 {
	position: absolute;
	flex-shrink:0;
	bottom: 0px;
	width:1.19rem;
	height:1.19rem;
	border-radius:3.12rem;
}

div.lnbSpaceList .thumbPhoto3_3 {
	position: absolute;
	bottom: 0px;
	right: 0px;
	flex-shrink:0;
	width:1.19rem;
	height:1.19rem;
	border-radius:3.12rem;
}

div.lnbSpaceList .thumbPhoto1_4 {
	position: absolute;
	flex-shrink:0;
	width:1.13rem;
	height:1.13rem;
	border-radius:3.12rem;
}

div.lnbSpaceList .thumbPhoto2_4 {
	position: absolute;
	right: 0px;
	flex-shrink:0;
	width:1.13rem;
	height:1.13rem;
	border-radius:3.12rem;
}

div.lnbSpaceList .thumbPhoto3_4 {
	position: absolute;
	bottom: 0px;
	flex-shrink:0;
	width:1.13rem;
	height:1.13rem;
	border-radius:3.12rem;
}

div.lnbSpaceList .thumbPhoto4_4 {
	position: absolute;
	right: 0px;
	bottom: 0px;
	flex-shrink:0;
	width:1.13rem;
	height:1.13rem;
	border-radius:3.12rem;
}


div.lnbSpaceList .body {
	align-self:center;
	margin-left:0.44rem;
 	margin-right:0.3rem; 
	overflow:hidden;
}

div.lnbSpaceList .wsBody {
	display: flex;
}

div.lnbSpaceList .wsName {
	white-space:nowrap;
	line-height:1.06rem;
	font-size:0.81rem;
	color:#000000;
	height:1.19rem;
	overflow:hidden;
	text-overflow:ellipsis;
}

div.lnbSpaceList .userCount {
	margin-left: 0.25rem;
	line-height:1.06rem;
	font-size:0.81rem;
	opacity: 0.5;
	color:#000000;
	height:1.19rem;
}



div.lnbSpaceList .msgBody {
	white-space:nowrap;
	line-height:0.94rem;
	font-size:0.69rem;
	color:#47474D;
	height:1.06rem;
	overflow:hidden;
	text-overflow:ellipsis;
}

div.lnbSpaceList .unreadBadge {
	height:1.06rem;
	background-color:#FF486D;
	align-self:center;
	border-radius:3.12rem;
	margin-left:auto;
	margin-right:0.63rem;
	padding-right:0.38rem;
	padding-left:0.38rem;
}


div.lnbSpaceList .unreadCount {
	font-size:0.63rem;
	color:#FFFFFF;
	text-align:center;
	line-height:1.1rem;
}

div.lnbSpaceList .sp_menu {
	height:1.06rem;
	align-self:center;
	border-radius:3.12rem;
	margin-left:auto;
	margin-right:0.63rem;
	padding-right:0.38rem;
	padding-left:0.38rem;
}
div.lnbSpaceList .sp_menu .icon-ellipsis_vertical_small{
	border-width :0px;
	background-color :#EAEAFB;
	color : #75757F;
	font-size : 0.78rem;
}
div.lnbSpaceList .sp_menu .icon-deploy{
	border-width :0px;
	background-color :#EAEAFB;
	color : #75757F;
	font-size : 0.78rem;
}
div.lnbSpaceList .wsBody .icon-work_noti_off{
	padding-left : 0px!important;
}
div.lnbSpaceList .wsBody button{
	border-width :0px;
	background-color: rgba(255,255,255,0);
	color : #75757F;
	font-size : 0.78rem;
}

#top-dialog-root_OutSpaceDialog .top-dialog-title-layout{
	display : none;
}

#top-dialog-root_OutSpaceDialog .top-dialog-root.popup_01 .top-dialog-content.fixed-height-dialog {
	height : calc( 100% - 0px )!important;
}

#top-dialog-root_OutSpaceDialog.top-dialog-root.popup_01 .top-dialog-content.fixed-height-dialog {
	height : calc( 100% - 0px )!important;
}

button#createSpaceButton {
	border: none;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #5A5FFF;
    border-radius: 1.31rem;
    color: #5A5FFF;
    font-size: 0.81rem;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
button#createSpaceButton:hover {
	background-color: #DCDDFF;
	border: 1px solid #C6CED6;
	color:#000000;
}


button#createSpaceButton svg {
	fill: #5A5FFF;
	margin-right: 0.19rem;
}

button#createSpaceButton:hover svg {
	fill: #000;
}

