div#top-dialog-root_AddFriendsDialog {
	width: 27.5rem !important;
}

div#AddFriendsLayout input {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	height: 1.875rem;
}

#add-friends-dialog i.icon-add_friend:before {
	content: url(../../../res/common/frends_add.svg);
	font-family: "tmaxop";
	font-style: normal;
	display: inline-block;
	width: 1.2rem;
	height: 1.2rem;
}

#add-friends-dialog {
	display: flex;
	flex-direction: column;
}

#add-friends-dialog #add-friends-content .friends-results {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-self: center;
    justify-content: center;
    height: 21.625rem;
}

#add-friends-dialog #add-friends-content .friends-results h2 {
	font-size: 0.9375rem;
}

#add-friends-dialog #add-friends-content .friends-results p {
	font-size: 0.75rem;
	color: #696969;
	margin: 0.625rem 0 1.125rem 0;	
}

#add-friends-dialog #add-friends-content .friends-results button {
	font-size: 0.75rem;
	width: 5.13rem;
	height: 1.875rem;
    align-self: center
}

#add-friends-dialog #add-friends-content #add-friends-by-contact,
#add-friends-dialog #add-friends-content #add-friends-by-id-search,
#add-friends-dialog #add-friends-content #add-friends-by-recommendation,
#add-friends-dialog #add-friends-content #add-friends-by-invitation {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}

/**
 * 프렌즈 추가 탭
 */
#add-friends-tabs {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #E3E7EB;
}

#add-friends-tabs .add-friends-tab {
	font-size: 0.75rem;
	color: #777;
	padding: 0.625rem 0;
	flex: 1;
    text-align: center;
    cursor: pointer;
}

#add-friends-tabs .selected {
	color: #000;
	border-bottom: 3px solid #6C56E5;
}

/**
 * 프렌즈 추가::연락처로 추가
 */
#add-friends-by-contact {
	display: flex;
	flex-direction: column;
}

#add-friends-by-contact #friends-nickname {
	margin-top: 1rem;
	position: relative;
	display: flex;
}

#add-friends-by-contact #friends-nickname input[name=nickname] {
	width: 100%;
	padding-top: 0;
	padding-bottom: 0;
}

#add-friends-by-contact #friends-nickname .nickname-length {
	font-size: 0.69rem;
    position: absolute;
    right: 0.625rem;
    top: 0.5rem;
    color: #BDC6D3;
}

#add-friends-by-contact .friends-phone-number {
	margin-top: 0.625rem;
	display: flex;
}

#add-friends-by-contact .friends-phone-number top-selectbox {
	height: 1.875rem !important;
	width: 5.19rem !important;
}

#add-friends-by-contact .friends-phone-number top-selectbox .top-selectbox-options {
    background: #fff;
    width: 200px !important;
}

#add-friends-by-contact .friends-phone-number top-selectbox span.top-selectbox-container {
	display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
}

#add-friends-by-contact .friends-phone-number top-selectbox span.top-selectbox-container i {
	margin-left: auto;
}

#add-friends-by-contact .friends-phone-number input {
	flex: 1;
	margin-left: 6px;
	padding-top: 0;
	padding-bottom: 0;
}

/**
 * 프렌즈 추가::아이디 검색
 */
#add-friends-by-id-search.b2c {
	margin-top: calc(1rem + 8px);
}
#add-friends-by-id-search.b2b {
	margin-top: calc(0.38rem + 8px);
}

#add-friends-by-id-search #friends-id {
	height: 1.18rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-friends-by-id-search #friends-id top-icon {
	color: #bdc6d3;
	font-size: 0.88rem;
    position: absolute;
    left: 1.3rem;
}

#add-friends-by-id-search #friends-id input {
	height: 1.81rem;
    width: 100%;
    padding-left: 1.6rem;
	padding-right: 1rem;
	padding-top: 0;
	padding-bottom: 0;
}

#add-friends-by-id-search input[name=id] {
	width: 100%;
}

#add-friends-by-id-search .friend {
	display: flex;
	flex-direction: column;
	align-content: center;
    justify-content: center;
    align-items: center;
}

#add-friends-by-id-search .friend img {
	width: 5.63rem;
	height: 5.63rem;
	border-radius: 50%;
	margin-bottom: 6px;
}

#add-friends-by-id-search .friend .friend-info {
	display: flex;
}

#add-friends-by-id-search.b2b .friend .friend-info {
	flex-direction: column;
}

#add-friends-by-id-search .friend span.name {
	font-size: 0.81rem;
	color: #000;
}

#add-friends-by-id-search .friend span.status {
	font-size: 0.75rem;
	color: #777;
	margin-left: 2px;
}

#add-friends-by-id-search .friend button {
	margin-top: 1.13rem;
}

/**
 * 프렌즈 추가::추천 프렌즈
 */
#add-friends-by-recommendation {
	height: 23.44rem;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

#add-friends-by-recommendation.no-friends {
	justify-content: center;
}

#add-friends-by-recommendation .no-friends {
	text-align: center;
}

#add-friends-by-recommendation .no-friends h2 {
	font-size: 0.94rem;
	color: #000;
	margin-bottom: 0 0 0 0.63rem;
}

#add-friends-by-recommendation .no-friends p {
	font-size: 0.75rem;
	color: #696969;
}

#add-friends-by-recommendation .no-friends img {
	width: 14.03rem;
	height: 12.83rem;
	margin-top: 1.29rem;
}

#add-friends-by-recommendation ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

#add-friends-by-recommendation ul li {
	display: flex;
	height: 52px;
	border-bottom: 1px solid #E3E7EB;
}

#add-friends-by-recommendation ul li span {
	align-self: center;
}

#add-friends-by-recommendation ul li span.profileImage {
	width: 1.88rem;
	height: 1.88rem;
	margin-left: 0.625rem;
}

#add-friends-by-recommendation ul li span.profileImage img {
	border-radius: 50%;
	width: 1.88rem;
	height: 1.88rem;
}

#add-friends-by-recommendation ul li span.userName {
	font-size: 0.81rem;
	margin-left: 0.625rem;
}

#add-friends-by-recommendation ul li span.action {
	display: flex;
	font-size: 0.75rem;
	margin-left: auto;
	margin-right: 0.75rem;
    align-items: center;
}

#add-friends-by-recommendation ul li span.action .add {
	cursor: pointer;
	width: 1.5rem; 
	height: 1.5rem;
	display: flex;
    align-items: center;
	justify-content: center;
	border-radius: 50%;
}

#add-friends-by-recommendation ul li span.action .add:hover {
	background-color: #DCDDFF;
}

#add-friends-by-recommendation ul li span.action .block {
	color: #75757F;
	cursor: pointer;
	border-radius: 50%;
	width: 1.5rem;
	height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-friends-by-recommendation ul li span.action .block:hover {
	background-color: #DCDDFF;
}

/**
 * 프렌즈 추가::초대장 보내기
 */
#add-friends-by-invitation {
	padding: 0.9375rem 0 1rem 0;
}

#add-friends-by-invitation button {
	width: 6rem;
}

#add-friends-by-invitation button[name=copy-link] {
	background-color: #6c56e5;
	color: #fff;
}

#add-friends-by-invitation button[name=copy-link]:hover {
	background-color: #DCDDFF;
	border: none;
	color: #000000;
}

#add-friends-by-invitation .divider {
	display: flex;
	margin-top: 1.81rem;
}

#add-friends-by-invitation .divider .border {
	background-color: #E3E7EB;
	height: 1px;
	align-self: center;
	flex: 1;
	
}

#add-friends-by-invitation .divider .border-text {
	margin: 0 0.625rem;
	color: #787D81;
	font-size: 0.81rem;
}

#add-friends-by-invitation h3 {
	font-size: 0.81rem;
	color: #000;
	margin: 0 0 5px 0;
}

#add-friends-by-invitation p {
	font-size: 0.75rem;
	color: #777;
	margin: 0;
}

#add-friends-by-invitation .invite-count {
	font-size: 0.81rem;
	color: #6C56E5;
	margin-left: 4px; 
}

#add-friends-by-invitation .link-form,
#add-friends-by-invitation .email-form {
	display: flex;
	margin: 1.25rem 0 20px 0;
}

#add-friends-by-invitation .link-form input,
#add-friends-by-invitation .email-form input {
	flex: 1;
}

#add-friends-by-invitation .link-form button,
#add-friends-by-invitation .email-form button {
	margin-left: 8px;
}

#add-friends-by-invitation .invite-list .handle {
	margin-left: 5px;
	cursor: pointer;
}

#add-friends-by-invitation .invite-list ul {
	padding: 6px 0 6px 0;
	margin: 0.81rem 0 0 0;
	list-style-type: none;
	overflow: auto;
	max-height: 154px;
	background-color: #F5F5FB;
}

#add-friends-by-invitation .invite-list ul li {
	display: flex;
	font-size: 0.81rem;
	margin-bottom: 2px;
}

#add-friends-by-invitation .invite-list ul li span.name {
	flex: 1;
	margin-left: 1.625rem;
}

#add-friends-by-invitation .invite-list ul li span.id {
	flex: 2;
}

#add-friends-by-invitation .send-email-container {
	margin-top: 1.81rem;
}

#add-friends-by-invitation .send-email-container div.paragraph {
	font-size: 0.75rem;
	margin-top: 0.5rem;
	background-color: #6C56E5;
    color: #fff;
    border-radius: 11px;
	padding: 0.75rem;
	position: relative;
}

#add-friends-by-invitation .send-email-container div.paragraph .bg {
	position: absolute;
    width: 10.56rem;
    height: 5rem;
    right: 0.8rem;
    top: 0.73rem;
    background-image: url(../../../res/illust/invite.png);
	background-size: contain;
	background-repeat: no-repeat;
}

#add-friends-by-invitation .email-chips {
	display: flex;
	font-size: 0.75rem;
	color: #3b3b3b;
	flex-wrap: wrap;
	background-color: #f5f5fb;
	border-radius: 1px;
	border-bottom: 1px solid #e3e7eb;
	max-height: 154px;
	overflow: auto;
	padding: 6px 0.75rem;
}

#add-friends-by-invitation .email-chips .chip {
	background-color: #dcddff;
	border: 1px solid #c6ced6;
	border-radius: 25px;
	padding: 6px 0.625rem;
	margin: 3px;
}

#add-friends-by-invitation .email-chips .chip.invalid {
	padding: 0px 0.625rem 0 0;
	background-color: #FFDADA;
	border: 1px solid #FF5353;
	display: flex;
	align-items: center;
}

#add-friends-by-invitation .email-chips .chip.invalid .icon-chart_error {
	font-size: 1.625rem;
    color: #FB3A3A
}

#add-friends-by-invitation .email-chips .chip.invalid span {
	margin-left: 6px;
}

#add-friends-by-invitation .email-chips .chip .delete {
	font-size: 0.625rem;
	cursor: pointer;
	margin-left: 6px;
}

/**
 * 프렌즈 추가::조직도 조회
 */
#add-friends-by-organization {
	font-size: 0.75rem;
}

#add-friends-by-organization .org-search-container.close {
	display: none;
}

#add-friends-by-organization .org-search-container {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #E3E7EB;
}

#add-friends-by-organization .org-search-container .search-input-container {
	padding: 0.38rem 0;
    display: flex;
    justify-content: center;
	align-items: center;
	flex: 1;
}

#add-friends-by-organization .org-search-container .search-input-container top-icon {
	color: #BDC6D3;
	font-size: 0.88rem;
    position: absolute;
    left: 1.3rem;
}

#add-friends-by-organization .org-search-container .search-input-container input {
	height: 1.81rem;
    width: 100%;
	margin-left: 0.75rem;
	margin-right: 0.75rem;
    padding-left: 1.6rem;
	padding-right: 1rem;
	padding-top: 0;
	padding-bottom: 0;
}

#add-friends-by-organization .org-search-container .cancel {
	margin-left: 0.38rem;
	width: 1.88rem;
    height: 1.88rem;
    display: flex;
    align-items: center;
	justify-content: center;
	border-radius: 50%;
	margin-right: 0.75rem;
	cursor: pointer;
}

#add-friends-by-organization .org-search-container .cancel:hover {
	background: #EAEAFB;
}

#add-friends-by-organization .org-info {
	padding: 0.19rem 0;
}

#add-friends-by-organization .org-select {
	margin-left: 0.75rem;
	min-width: 6.88rem;
	display: flex;
	align-items: center;
	cursor: pointer;
	border: 1px solid #fff;
	height: 1.5rem;
}

#add-friends-by-organization .org-select:hover {
	background-color: #dcddff;
	border: 1px solid #C6CED6;
	border-radius: 1.56rem;
}

#add-friends-by-organization .org-select.active {
	border: 1px solid #6c56e5;
	border-radius: 1.56rem;
	background-color: #dcddff;
}

#add-friends-by-organization .org-select .name {
	margin-left: 0.75rem;
}

#add-friends-by-organization .org-select .handle {
	margin-left: auto;
	margin-right: 0.75rem;
	margin-top: 0.05rem;
	font-size: 0.6rem;
}

#add-friends-by-organization .org-info {
    border-bottom: 1px solid #e3e7eb;
    display: flex;
    align-items: center;
}

#add-friends-by-organization .org-info .name {
	margin-left: 0.75rem;
	margin-right: 0.5rem;
}

#add-friends-by-organization .org-info .highlight {
	margin-left: auto;
	color: #6c56e5;
	margin-right: 1.69rem;
}

#add-friends-by-organization ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	height: 18.56rem;
	overflow-y: scroll;
}

#add-friends-by-organization ul li {
	margin-left: 0.75rem;
	margin-right: calc(0.75rem - 8px);
	height: 3.25rem;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #E3E7EB;
	left: 0; 
	right: 0;
}

#add-friends-by-organization ul li.none {
	font-size: 0.75rem;
    text-align: center;
    justify-content: center;
    border-bottom: none;
    color: #696969;
}

#add-friends-by-organization ul li > img {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	margin-left: 0.63rem;
	flex-shrink: 0;
}

#add-friends-by-organization ul li span.name {
	font-size: 0.81rem;
	margin-left: 0.63rem;
	flex: 1;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#add-friends-by-organization ul li span.action {
	margin-right: 0.81rem;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

#add-friends-by-organization ul li span.action .add {
	cursor: pointer;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#add-friends-by-organization ul li span.action .add:hover {
	background: #EAEAFB;
}

#add-friends-by-organization ul li span.action span.text {
	font-size: 0.75rem;
	color: #818181;
}

.org-select-container {
	display: flex;
	height: 2.63rem;
	align-items: center;	
	border-bottom: 1px solid #E3E7EB;
}

.org-select-container .search:hover,
.org-select-container .search.active {
	background: #EAEAFB;
}

.org-select-container .org-select {
	border: 1px solid #C6CED6;
	border-radius: 25px;
	display: flex;
	flex: 1;
	height: 1.88rem;
	align-items: center;
	margin-left: 0.75rem;
}

.org-select-container .search {
	margin-left: 0.38rem;
	width: 1.88rem;
    height: 1.88rem;
    display: flex;
    align-items: center;
	justify-content: center;
	border-radius: 50%;
	margin-right: 0.75rem;
	cursor: pointer;
}

.org-select-container .org-select {
	cursor: pointer;
}

.org-select-container .org-select.active {
	background: #DCDDFF;
	border: 1px solid #6C56E5;
	color: #000;
}

.org-select-container .org-select .name {
	margin-left: 0.75rem;
    flex: 1;
}

.org-select-container .org-select .handle {
	margin-right: 0.75rem;
	flex-shrink: 0;
}
