div#adminOrgTreeManageLayout div#LinearLayout33 {
	display: flex;
	align-items: center;
}

div#orgTreeTableView div#TopTables_Table_orgTreeTableView_wrapper div.top-tableview-scrollHeadInner th.head-cell{
	background-color: #949494;
	font-size: 12px;
	color: white;
	border: 1px solid #DDDDDD;
}

div#orgTreeTableView table.top-tableview tbody.body tr.body-row td.body-cell {
	vertical-align: middle;
} 

div#orgTreeTableView table.top-tableview tbody.body tr.body-row div.top-linearlayout-root top-icon.icon-arrow_right span.top-icon-root,
div#orgTreeTableView table.top-tableview tbody.body tr.body-row div.top-linearlayout-root top-icon.icon-arrow_down span.top-icon-root {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	font-size: 13px;
	opacity: 0.8 !important;
}

div#orgTreeTableView table.top-tableview tbody.body tr.body-row div.top-linearlayout-root top-button span.icon-circle_check {
	position: absolute;
	top: 50%;
	transform: translateY(50%);
	right: 2px;
}

div#orgTreeTableView table.top-tableview tbody.body tr.body-row div.top-linearlayout-root span.top-textview-root {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 3.5%;
}

div#orgTreeTableView table.top-tableview tbody.body tr.body-row td.column_1,
div#orgTreeTableView table.top-tableview tbody.body tr.body-row td.column_2  {
	text-align: center;
}

div#orgTreeTableView table.top-tableview tbody.body tr.body-row div.top-linearlayout-root div.top-textfield-root {
	left: 5%;
}

div#orgTreeTableView table.top-tableview tbody.body tr.body-row div.top-linearlayout-root top-icon.icon-arrow_right,
div#orgTreeTableView table.top-tableview tbody.body tr.body-row div.top-linearlayout-root top-icon.icon-arrow_down {
	margin-right: 5px;
/* 	vertical-align: center; */
/* 	vertical-align: middle; */
/* 	display: inline-block; */
}

div#orgTreeTableView table.top-tableview tbody.body tr.body-row div.top-linearlayout-root top-textview span,
div#orgTreeTableView table.top-tableview tbody.body tr.body-row td {
	font-size:13px;
}

div#orgTreeTableView table.top-tableview tbody.body tr.body-row:hover .more-btn button{
	visibility: visible !important;
}

div#orgTreeTableView tbody.body>.body-row {
	height: 41px !important;
}



/*하위 조직 추가 dialog*/
div#orgNameLayout,
div#adminNameLayout,
div#departmentCodeLayout,
div#isPublicLayout {
	display: flex;
	align-items: center;
}

/* div#orgNameLayout top-textfield#subOrgNameField div.top-textfield-root, */
/* div#adminNameLayout top-textfield#subOrgAdminNameField div.top-textfield-root, */
/* div#departmentCodeLayout top-textfield#subOrgDepartmentCodeField div.top-textfield-root, */
/* div#orgDetailLayout top-textarea#subOrgCommentField textarea { */
/* 	right: 3px; */
/* 	position: absolute; */
/* 	top: 50%; */
/* 	transform: translateY(-50%); */
/* } */

div#orgTreeTableView .body-row.pressed_row,
div#orgTreeTableView .body-row.drag_overed {
	background-color: rgba(0,164,195,0.10);
}

/*조직도 일괄 추가 dialog*/
div#adminLoadOrgTreeDialogLayout div#LinearLayout211 {

}

div#adminLoadOrgTreeDialogLayout div#LinearLayout813 span#Icon957_1,
div#adminLoadOrgTreeDialogLayout div#LinearLayout789 span#Icon957_1_1	{
	float: right;
}

div#LoadOrgTableView div#TopTables_Table_LoadOrgTableView_wrapper div.top-tableview-scrollHeadInner th.head-cell{
	background-color: #D6D6D6;
	font-size: 13px;
	color: black;
	border: 1px solid #DDDDDD;
}




