/* 공통 */
top-linearlayout#adminContentsLayout{
	padding: 20px;
}

.admin-left>div{
	background: #3A3B50;
}

.admin-titlebar>div{
	border-width: 0 0 1px 0 !important;
	border-color: #DADADA;
}

#TopTables_Table_orgTreeTableView_wrapper .body-cell.column_0{
	border-right : 0px !important;
	outline-style : none !important;
}
#TopTables_Table_orgTreeTableView_wrapper .body-cell.column_1{
	outline-style : none !important;
}
#TopTables_Table_orgTreeTableView_wrapper .head-cell.headIndex_0{
	border-right : 0px !important;
	outline-style : none !important;
}
#TopTables_Table_orgTreeTableView_wrapper .head-cell.headIndex_1{
	border-left : 0px !important;
	outline-style : none !important;
}
.admin-top>div{
	background: #0C829B;
}

.cmp-gnb-button>div{
	background:#0C829B;
	cursor: pointer;
}
.cmp-gnb-button>div:hover{
	background: rgba(58,59,80,0.50);
/* 	filter: brightness(1.5); */
/* 	background:#3A3B50; */
}
.cmp-gnb-button>div:active,
.cmp-gnb-button>div.selected{
	background:#3A3B50;
}
.cmp-gnb-button>div{
	vertical-align: middle !important;
}

/* .cmp-gnb-button top-imageview, */
/* .cmp-gnb-button top-textview{ */
/* 	text-align: center !important; */
/* } */

/* .cmp-gnb-button .cmp-gnb-button-inner-wrapper{ */
/* 	position: absolute; */
/*     top: 50%; */
/*     left: 50%; */
/*     transform: translate(-50%,-50%); */
/* } */

.cmp-gnb-button top-imageview{
	position: absolute;
    top: 9px;
    left: 50%;
    transform: translateX(-50%);	
}
.cmp-gnb-button top-textview{
	position: absolute;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);	
}



.cmp-gnb-button span a{
	color: white;
	font-weight: normal;
	font-size: 12px;
}

/* lnb */
/* #3A3B50 */
/* background: #225E75; hover*/
/* background: #00A4C3; selec*/


.admin-title span{
	padding-right: 12px;
}
.admin-title span a{
	font-size: 16px;
color: #242424;
font-weight: normal;
}
.admin-desc>span{
	height: 18px !important;
	border-width: 0 0 0 1px !important;
	border-color: #D8D8D8;
	padding-left: 12px;
}
.admin-desc span a{
	font-size: 13px;
color: #242424;
font-weight: normal;
}

div#top-dialog-root_adminUserTreeviewDialog {
	z-index: 1000 !important;
}

div#top-dialog-overlay_adminUserTreeviewDialog {
	z-index: 999 !important;
}

/* 테이블 렌더링 전에 버튼이 보이지 않도록 수정 */
#adminOrgUserLayout div#LinearLayout385{
	border: 0px !important;
}
#LinearLayout385 button#userUpdateButton,
#LinearLayout385 button#userDeleteButton{  
	background-color: #ffffff !important;
}


#adminGuestManageLayout div#LinearLayout3227{
	height: calc(100% - 33px) !important;
}

/* Logout layout */
#AdminUserImageLayout {
	position: absolute;
	right: 5px;
	top: 10px;	
}
}
