#guestGroupTreeView .top-treeview-container .top-treeview-list .top-treeview-item .top-treeview-edit_btn{
	border:0;
    margin: 0;
    border: 0;
    height: 20px;
    border-radius: 0;
    padding-top: 3px;
}
#guestGroupTreeView .top-treeview-container .top-treeview-list .top-treeview-item .top-treeview-edit_btn:before {
    content: "\22EE";
    font-family: "tmaxop";
    font-size: 18px;
    font-weight: bold;
}

/*** 조직도 메뉴 listview ***/
#adminOrgManageUsersTab{
	cursor : pointer;
}
#adminOrgManageChartTab{
	cursor : pointer;
}
#MenuListView .top-listview-container .top-listview-list{
	color : #FFFFFF;
	background : #00A4C3;
	height: 27px;
	padding-top: 3px;
	font-size: 12px;
}
#MenuListView .top-listview-container .top-listview-list:hover{
	background-color: #088AA3;
}

/*** TextView css ***/
#TitleTextView .top-textview-url {
	padding: 0px;
	border: 0px;
}
#MessageTextView .top-textview-url {
	padding: 0px;
	border: 0px;
}
#BadgeTextView .top-textview-url {
	padding: 0px;
	border: 0px;
	height: 12px;
}

/*** Button css ***/
#RefreshButton, #XButton, #ExcelAddDialogCloseButton, #ExcelRemoveDialogCloseButton, #OMButton, #GMButton, #CMButton .top-button-root {
	min-width: 0px;
	min-height: 0px;
	padding: 0px;
}

.moveorg {
	background-color: #9A9A9A !important;
}

/*
#OMButton, #OUMButton .top-button-root:hover {
	background-color : #00A4C3;	
}
#OMButton, #OUMButton .top-button-root:active {
	background-color : #00A4C3;
}
*/
/*** TableView css ***/
#UserTableView .incapable_column, .incapable_header {
	display: none;
}
#UserTableView .head .head-cell  {
	height: 32px;
	background-color: #ADADAD;
	color: #FFFFFF;	
	font-weight: 100;
}
#UserTableView .empty  {
	/*height: 400px;*/
	display: none;
}
#UserTableView .top-tableview-scrollBody-border {
	height: auto !important
}
#UserTableView .top-tableview-result {
	width: 70px;
	border-right: 0px;
}
#UserTableView .top-tableview-pager {
	width: calc(100% - 70px);
	text-align: center;
}
#UserTableView .top-tableview-pager > top-pagination {
	float: none;
}
#UserTableView .top-tableview-pager .top-selectbox-root {
	float: right;
}
#UserTableView top-pagination[type="big"] .top-pagination-container>li>.cell_link {
	border: 0px;
    color: #8C8E92;
    background: transparent !important;
}
#UserTableView top-pagination[type="big"] .top-pagination-container>li>.cell_link:hover {
	color: #000000;
}
#UserTableView top-pagination[type="big"] .top-pagination-container>.active>.cell_link {
    color: #00A4C3;
}
#UserTableView top-pagination[type="big"] .top-pagination-container>.disabled>.cell_link {
    color: #C5C5C8;
}
#UserTableView top-pagination[type="big"] .top-pagination-container>.first>.cell_link,
#UserTableView top-pagination[type="big"] .top-pagination-container>.prev>.cell_link,
#UserTableView top-pagination[type="big"] .top-pagination-container>.next>.cell_link,
#UserTableView top-pagination[type="big"] .top-pagination-container>.last>.cell_link {
    margin-top: 1px;
}

/*************** 조직도 추가 Dialog ***************/
#top-dialog-root_adminExcelAddDialog .top-dialog-title-layout, #top-dialog-root_adminExcelAddDialog .top-textview-aligner{
	display: none;
}
#top-dialog-root_adminExcelAddDialog .top-dialog-content {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}
#ExcelFileNameTextView .top-textview-url {
	display: -webkit-box;
}

/*************** 일괄 삭제 Dialog ***************/
#top-dialog-root_adminExcelRemoveDialog .top-dialog-title-layout, #top-dialog-root_adminExcelRemoveDialog .top-textview-aligner{
	display: none;
}
#top-dialog-root_adminExcelRemoveDialog .top-dialog-content {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

/*************** 패스워드 초기화 Dialog ***************/
#top-dialog-root_adminPwResetDialog .top-dialog-title-layout, #top-dialog-root_adminPwResetDialog .top-textview-aligner{
	display: none;
}
#top-dialog-root_adminPwResetDialog .top-dialog-content {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

/************** AccordionLayout **************/
#DAUAccordionLayout .top-accordionlayout-container{
	/*height: 27px;*/
	border-top: 0px;
	cursor: pointer;
}	
	
#DAUAccordionLayout .top-accordionlayout-container .top-accordionlayout-title{
	barckground-color: transparent;
	color: #FFFFFF;
	border: 0px;
	background-color: #3A3B50;
	font-size: 13px !important;
	letter-spacing: 0;
	display: flex;
	font-weight: bold;
	padding-left: 0px;
} 	

#DAUAccordionLayout .top-accordionlayout-container .top-accordionlayout-title .top-accordionlayout-icon:before{
	content: "\e913";
	float: left;
	color: #FFFFFF;
	font-weight: normal;
	margin-right: 6px;
	margin-top: 1px;
	font-size: 13px;
} 		

#DAUAccordionLayout .top-accordionlayout-container .top-accordionlayout-title.active{
	background-color: #3A3B50;
}

#DAUAccordionLayout .top-accordionlayout-container .top-accordionlayout-content .top-linearlayout-root>div{
	width: 100% !important;
	background-color: #3A3B50;
	color: #FFFFFF;
}

#DAUAccordionLayout .top-accordionlayout-container .top-accordionlayout-content .top-linearlayout-root>div:hover{
	background-color: #00A4C3;
	color: #000000;
}

#DAUAccordionLayout .top-accordionlayout-container .top-accordionlayout-content .top-linearlayout-root>div:active{
	background-color: #00A4C3;
	color: #000000;
}

#DAUAccordionLayout .top-accordionlayout-container .top-accordionlayout-title.active .top-accordionlayout-icon:before{
	content: "\ea88";
}

#DAUAccordionLayout .top-accordionlayout-container .top-linearlayout-root .adminLnbText .top-textview-root{
	font-weight: bold;
	margin-left: 20px;
	width: 230px;
}

#DAUAccordionLayout .top-accordionlayout-container .top-linearlayout-root{
	border: 0px;
	width: 100% !important;
} 			

#DAUAccordionLayout .top-accordionlayout-container .top-linearlayout-root .adminLnbText .top-textview-root .top-textview-url{ 
	vertical-align: -webkit-baseline-middle;
	width: 205px;
}  




	
/* popup-02 다이얼로그 x표시 위치 수정*/
div#top-dialog-root_adminAssignmentDialog .top-dialog-close{
	position: absolute;
    right: 20px;
    top: 18px;
}
div#top-dialog-root_adminUserAddDialog .top-dialog-close{
	position: absolute;
    right: 20px;
    top: 18px;
}
div#top-dialog-root_adminUserAddManyDialog .top-dialog-close{
	position: absolute;
    right: 20px;
    top: 18px;
}
div#top-dialog-root_adminUserInfoViewDialog .top-dialog-close{
	position: absolute;
    right: 20px;
    top: 18px;
}


/* 사진 임포트 다이얼로그 */
#top-dialog-root_adminPhotoImportDialog .top-dialog-title-layout .top-dialog-close {
    font-size: 20px;
    line-height: 0px;
    transform: translate(-21px, 36px);
    color: #444;
}
#top-dialog-root_adminPhotoImportDialog div.top-dialog-content {
	padding: 0px;
}


/*조직원 개별추가 프로필 드롭다운 css*/
.position-Sidebar_drop_adminProfile_add {
	position : absolute;
	z-index : 1;
	text-align: center;

}

.position-Sidebar_drop_adminProfile_add .top-linearlayout-root{
	width: 188px;
    height: auto;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(205, 205, 207);
    text-align: center;
    vertical-align: top;
    overflow: hidden;
    visibility: visible;
}

top-button[id^="Sidebar_drop_adminProfile_add_"]{
	text-align: center;
}
#Sidebar_drop_adminProfile_add button {
	outline: none;
	background-color: #FFFFFF;
	height: 28px;
    padding: 0px 0px 1px 10px;
    color: rgb(51, 51, 51);
    border-width: 0px 0px 1px;
    border-style: solid;
    border-color: rgb(205, 205, 207);
    text-align: left;
    width: 100%;
    border-bottom: 0.5px solid #cccccc !important;
}
div#UserInfoAdd_UserProfilePictureWrapper #Icon_profile_admin_camera_add{
	position: absolute;
       top: 15px;
    right: 31px;	
}
div#UserInfoAdd_UserProfilePictureWrapper #Icon_admin_profile_error_add{
	position : absolute;
	left : 15px;
}
/*조직원 정보 가져오기 프로필 드롭다운 css*/
.position-Sidebar_drop_adminProfile {
	position : absolute;
	z-index : 1;
	text-align: center;

}

.position-Sidebar_drop_adminProfile .top-linearlayout-root{
	width: 188px;
    height: auto;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(205, 205, 207);
    text-align: center;
    vertical-align: top;
    overflow: hidden;
    visibility: visible;
}

top-button[id^="Sidebar_drop_adminProfile_"]{
	text-align: center;
}
#Sidebar_drop_adminProfile button {
	outline: none;
	background-color: #FFFFFF;
	height: 28px;
    padding: 0px 0px 1px 10px;
    color: rgb(51, 51, 51);
    border-width: 0px 0px 1px;
    border-style: solid;
    border-color: rgb(205, 205, 207);
    text-align: left;
    width: 100%;
    border-bottom: 0.5px solid #cccccc !important;
}
/**조직원 정보 다이얼로그 프로필 사진 수정 **/
div#UserInfoModify_UserProfilePictureWrapper #Icon_profile_admin_camera{
	position: absolute;
       top: 15px;
    right: 28px;	
}




/*** 회사정보관리 css ***/

.companyinfo-tabactive .top-button-root {
	background-color : #00A4C3;
	border : 0px;
	color : #FFFFFF;
	padding : 0px;
	border-radius : 13.5px;
	font-weight : normal;
}
.companyinfo-tab .top-button-root {
	background-color : #C5C5C8;
	border : 0px;
	color : #000000;
	padding : 0px;
	border-radius : 13.5px;
	font-weight : normal;
}
.companyinfo-tab .top-button-root:hover {
	background-color : #00A4C3;
	color : #000000;
}
.companyinfo-tab .top-button-root:active {
	background-color : #00A4C3;
	color : #000000;
}

/*** Admin 게스트 관리 css 시작 ***/
.guest-detail-remove-textbox .top-textfield-root .top-textfield-text[readonly] {
	background-color : #FFFFFF;
	border-color : #FFFFFF;
}

/*** Admin 게스트 관리 css 끝 ***/

div#LinearLayout_org_name_field #Button_org_name_change,
div#LinearLayout_org_name_field #Button_org_name{
	position : absolute;
    top: 22%;
    left: 80%;
}
div#LinearLayout_org_cap_field #Button_org_cap_change,
div#LinearLayout_org_cap_field #Button_org_cap{
	position : absolute;
    top: 22%;
    left: 78%;
}
div#LinearLayout_org_mail_field #Button_org_mail_change,
div#LinearLayout_org_mail_field #Button_org_mail{
	position : absolute;
    top: 22%;
    left: 78%;
}
div#LinearLayout_org_url_field #Button_org_url_change,
div#LinearLayout_org_url_field #Button_org_url{
	position : absolute;
    top: 10%;
    left: 78%;
}
div#LinearLayout_org_address_field #Button_org_address_change,
div#LinearLayout_org_address_field #Button_org_address{
	position : absolute;
    top: 22%;
    left: 78%;
}
div#LinearLayout_org_phone_field #Button_org_phone_change,
div#LinearLayout_org_phone_field #Button_org_phone{
	position : absolute;
    top: 22%;
    left: 78%;
}

#top-dialog-root_adminAddOneGuestDialog .top-dialog-title-layout .top-dialog-close,
#top-dialog-root_adminUserTreeviewDialog .top-dialog-title-layout .top-dialog-close,
#top-dialog-root_adminAddManyGuestDialog .top-dialog-title-layout .top-dialog-close {
    font-size: 20px;
    line-height: 0px;
    transform: translate(-21px, 36px);
    color: #444;
}
#top-dialog-root_adminAddOneGuestDialog div.top-dialog-content {
	padding: 0px;
}



/* 게스트 개별 추가 다이얼로그 */
/* 페딩 제거 */
#top-dialog-root_adminAddOneGuestDialog .top-textview-url {
	padding: unset;
}

/* 부서 소속 추가 텍스트 */
#top-dialog-root_adminAddOneGuestDialog span#tvDepartment_0 {
	line-height: 24px;
}
/* 부서 소속 추가 버튼 */
top-linearlayout#adminAddOneGuestContents{
	overflow: hidden scroll;
}

div#adminAddOneGuestContents{
	height: auto !important;
}

#top-dialog-root_adminAddOneGuestDialog button#GuestInfoAdd_addIcon {
	width: 24px;
	height: 24px;
	background-color: #FFFFFF;
	border: solid 1px #00A4C3;
	padding: unset;
	min-width: unset;
	color: #00A4C3;
    border-radius: unset;
    font-size: 20px;
    line-height: 0;
    vertical-align: middle !important;
    margin-left: 28px;
    margin-bottom: 6px;
}

top-linearlayout[id^="llGroupInfo_"] {
	width: 100%;
    height: 27px;
    margin-bottom: 27px;
}

top-linearlayout[id^="llGroupInfo_"]>div{
	border: none;
	float: left;
	height: 100%;
}

top-textview[id^="tvGroupInfo_"] {
	font-size: 13px;
    width: 73px;
    text-align: right;
    float: left;
    margin-right: 30px;
}

top-textview[id^="tvGroupInfo_"]>span {
	line-height: 2.3;
}

span[id^="tvArrow_"] {
	line-height: 2;
    margin-left: 8px;
    margin-right: 8px;
}

top-selectbox[id^="g_path_selectbox_"]>div{
	outline: none;
}

top-selectbox[id^="g_path_selectbox_"] span{
	line-height: 24px;
}

top-selectbox[id^="g_path_selectbox_"] .top-selectbox-icon {
	line-height: 24px;
}

/*회사정보관리*/

div#LinearLayout420 #TextView_show_url{
	font-weight:bold !important;
	margin: 5px -5px 0px 15px !important;
	}
div#LinearLayout_org_mail_field #TextView_show_mail{
	font-weight:bold !important;
	margin: 0px -5px 0px 15px !important;
}

/*조직도 관리 하위 조직 추가 다이얼로그 */
div#adminNameLayout #subOrgAdminNameView .top-textview-url{
	 margin: 5px 10px 6px 10px;
}

/* 로그아웃 관련 */
.position-admin_sideBar_drop1 {
position : absolute;
	z-index : 2;
	text-align: center;
}

.position-admin_sideBar_drop1 .top-linearlayout-root{
	width: 188px;
    height: auto;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(205, 205, 207);
    text-align: center;
    vertical-align: top;
    overflow: hidden;
    visibility: visible;
}
   
top-button[id^="admin_sideBar_drop1_"]{
	text-align: center;
}

#admin_sideBar_drop1 button {
	outline: none;
	background-color: #FFFFFF;
	height: 28px;
    padding: 0px 0px 1px 10px;
    color: rgb(51, 51, 51);
    border-width: 0px 0px 1px;
    border-style: solid;
    border-color: rgb(205, 205, 207);
    text-align: left;
    width: 100%;
}

#admin_sideBar_drop1 button:hover{
	background-color: #b2e3ed;
}


top-button[id^="TextView_affiliation_path_"] label{
	overflow: hidden;
	display: block;
	text-overflow: ellipsis;
}




