/* Header bar를 위한 CSS 정의 */
#officeHeaderRightWrapper {
	
	position: absolute;
	right : 0;
	height : 100%;
	
}


.officeHeader {
	/*font-weight: bold;*/
	font-family: NotoSansCJKkr-Medium;	
}

#officeAppIcon{
	border: 0px;
}

#officeAppIcon:hover{
	border: 0px;
}

div#officeHeaderRightWrapper img{
	border: 0px;
}

div#officeHeaderRightWrapper img:hover{
	border: 0px;
}


/*
.officeHeader #officeAppName {
	font-size: 16px;
}
*/