.office_dialog_base div.top-dialog-title-layout {
    display: none;
}
.office_dialog_base div.top-dialog-content {
    padding: 0;
    height: calc(100%) !important;
    border-radius: 0.31rem;
    border-top: 0rem;
}
.office_dialog_base {
    width: 22.5rem !important;
    height: 10.88rem !important;
    border-color: white;
    border-radius: 0.31rem;
}
.office_dialog_base .top-icon-root {
	font-size: 1.25rem !important;
}

.office_dialog_col {
    width: 22.5rem !important;
    height: 15.94rem !important;
    border-color: white;
    border-radius: 0.31rem;
}
.office_dialog_col .top-icon-root {
	font-size: 1.25rem !important;
}
.office_dialog_col div.top-dialog-title-layout {
    display: none;
}
.office_dialog_col div.top-dialog-content {
    padding: 0;
    height: calc(100%) !important;
    border-radius: 0.31rem;
    border-top: 0rem;
}