/* Header bar를 위한 CSS 정의 */

/*
#officeTitleRightWrapper {
	
	position: absolute;
	right : 0;
	height : 100%;
	
}
*/
/*
#officeMainButton {
	
	position: absolute;
	right : 100;
	height : 100%;
	
}*/
div#officeTitleBar img{
	border: 0px;
}

top-linearlayout .officeButton > div:hover{
	border-radius: 50%;
	background-color: #dcddff;
}

/*
.officeTitle {
	font-weight: bold;
	font-family: NotoSansCJKkr-Medium;
}


.officeTitle #officeFileName {
	font-size: 15px;
}

.officeTitle #officeEditingUsersNum {
	font-size: 14px;
}
*/