#newmailwritePopup__receiverAddress__chip .top-chip-root .top-chip-text,
#newmailwritePopup__ccAddress__chip .top-chip-root .top-chip-text
{
	height: 1.88rem;
    margin-top: 0.03rem;
    border-width: 0rem;
}

#newmailwritePopup__receiverAddress__chip .top-chip-root .top-chip-box,
#newmailwritePopup__ccAddress__chip .top-chip-root .top-chip-box
{
    height: 1.63rem;
    margin-top: 0.13rem;
    margin-left: 0.13rem;
    margin-bottom: 0;
    border: 0px;
    border-radius: 25px;
    background-color: #DCDDFF !important;
    
}

#newmailwritePopup__receiverAddress__chip .top-chip-root .top-chip-box .top-chip-content,
#newmailwritePopup__ccAddress__chip .top-chip-root .top-chip-box .top-chip-content{
	font-size : 0.75rem;
	margin-top : 0.4rem;
}

ul.typeahead.dropdown-menu.newmailwritePopup__receiverAddress__chip{
	z-index : 111;
}
ul.typeahead.dropdown-menu.newmailwritePopup__ccAddress__chip{
	z-index : 111;
}
