#Text_ReceiverAddress > div > form > input,
#Text_Cc > div > form > input,
#Text_HiddenCc > div > form > input
{
	display : flex !important;
}

button#mailWriteLayout_recAddressBookButton__workTree,
button#mailWriteLayout_recAddressBookButton,
button#mailWriteLayout_ccAddressBookButton__workTree,
button#mailWriteLayout_ccAddressBookButton,
button#mailWriteLayout_bccAddressBookButton__workTree,
button#mailWriteLayout_bccAddressBookButton
{
	
	border-radius: 15px;
}

div#mailWriteLayout_AttachFile {
    background: #FFFFFF;
    border: 1px solid #C6CED6;
    border-radius: 25px;
}

span#TextView583_Private,
span#TextView583_1_1,
span#TextView583_1_1_1,
span#TextView583_1_1_2,
span#TextView583_1_1_2_1,
span#TextView583_1_1_2_1_1,
span#TextView1004,
span#TextView1025 
{
	font-size: 0.75rem!important;
}

button#mailWriteLayout_Button_Preview,
button#mailWriteLayout_Button_Preview_1
{ 
	background: #FFFFFF;
    border: 1px solid #C6CED6;
    border-radius: 4px;
    color: #3B3B3B;
    font-size: 0.75rem!important;
    width: 4.25rem!important;
    height: 1.69rem!important;
}

button#mailWriteLayout_Button_Send{
    background: #6C56E5;
    border-radius: 0.94rem;
    width: 6.13rem !important;
    height: 1.88rem !important;
    font-size: 0.75rem !important;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
}

div#mailWriteLayout_Info_Sender_Account > ul.top-selectbox-options{
	    background: rgb(255, 255, 255) !important;
	    border-radius: 18px !important;
        padding: 0.025rem 0rem !important;
}

ul.Text_ReceiverAddress > li > a,
ul.Text_Cc > li > a,
ul.Text_HiddenCc > li > a
{
	    color: #000000;
   		text-decoration: none;
}

#mailWriteLayout_WorkArea_HtmlEditor {
		white-space:pre-line;
}


.mail-write-file-box{
	display : flex;
	width : fit-content;
	height : auto;
	margin : 0 0.31rem 0.31rem 0;
	border : 1px solid #E0E5E9;
	border-radius : 0.625rem;
}
.mail-write-file-icon{
	height: 1.875rem;
    width: 1.875rem;
	margin-top : 0.38rem;
	margin-left : 0.38rem;
	border : 0px;
}

.mail-write-file-info{
	width : 9.94rem; 
	height : 1.88rem;
	margin : 0.38rem 0.63rem 0.38rem 0.38rem; 
	
}
.mail-write-file-name{
	font-size : 0.69rem;
	overflow : hidden;
	text-overflow : ellipsis;
	white-space : nowrap;
	color : #45474A;
	display : block;
}

.mail-write-file-size{
	font-size : 0.63rem;
	color : #888D96; 
	display : block; 
	
}

.mail-write-file-delete{
	width : 0.56rem;
	height : 0.56rem;
	color : #000000;
	font-size : 0.55rem;
	margin-right : 0.63rem;
	margin-top : 0.38rem;
	cursor : pointer
}

div#mailWriteLayout_AttachFiles{
	display : flex;
	flex-wrap: wrap;
	width : calc(100% - 8.25rem) !important;
	max-height : 8.9rem;
	overflow-y : scroll !important;
	
}

#mailWriteLayout top-checkbox .top-checkbox-text i::before{
	content : "\e920";
	font-size : 0.9375rem;
	color : #C6CED6;
	margin-top : -5px;
}
#mailWriteLayout top-checkbox .top-checkbox-text.checked i::before{
	content : "\e907";
	font-size : 0.9375rem;
	color : #6C56E5;
	margin-top : -5px;
	
}
