div#mailThreePanelLayout_Receive_Panels,
div#mailThreePanelLayout_Sent_Panels,
div#mailThreePanelLayout_ToMe_Panels,
div#mailThreePanelLayout_Spam_Panels,
div#mailThreePanelLayout_Trash_Panels,
div#mailThreePanelLayout_Temp_Panels
{
	text-align : right;
}

#mailThreePanelLayout_Receive_All_CheckBox > label,
#mailThreePanelLayout_Sent_All_CheckBox > label,
#mailThreePanelLayout_Temp_All_CheckBox > label,
#mailThreePanelLayout_ToMe_All_CheckBox > label,
#mailThreePanelLayout_Spam_All_CheckBox > label,
#mailThreePanelLayout_Trash_All_CheckBox > label
{
	margin : 0 0.98rem 0 1rem;
    cursor: pointer;
}

#mailThreePanelLayout_Sent_SelectBox_Filter > div > span,
#mailThreePanelLayout_Temp_SelectBox_Filter > div > span,
#mailThreePanelLayout_ToMe_SelectBox_Filter > div > span,
#mailThreePanelLayout_Spam_SelectBox_Filter > div > span,
#mailThreePanelLayout_Trash_SelectBox_Filter > div > span,   
#mailThreePanelLayout_Receive_SelectBox_Filter > div > span
{
	min-width : 4.38rem;
	border-width: 0rem 0.06rem 0rem 0rem;
	font-size: 0.75rem;
	border-radius : 0rem;
}   
div#mailThreePanelLayout_Receive_SelectBox_Filter > ul > li,
div#mailThreePanelLayout_Sent_SelectBox_Filter > ul > li,
div#mailThreePanelLayout_Temp_SelectBox_Filter > ul > li,
div#mailThreePanelLayout_ToMe_SelectBox_Filter > ul > li,
div#mailThreePanelLayout_Spam_SelectBox_Filter > ul > li,
div#mailThreePanelLayout_Trash_SelectBox_Filter > ul > li
{
    line-height: 2.38rem !important;
} 
#mailThreePanelLayout_Receive_Search_Text > div,
#mailThreePanelLayout_Sent_Search_Text > div,
#mailThreePanelLayout_Temp_Search_Text > div,
#mailThreePanelLayout_ToMe_Search_Text > div,
#mailThreePanelLayout_Spam_Search_Text > div,
#mailThreePanelLayout_Trash_Search_Text > div
{
	margin : 0 0.63rem 0 0;
	width : 9rem;
}

#mailThreePanelLayout_Sent_Search_Text > div > form > input,
#mailThreePanelLayout_Temp_Search_Text > div > form > input,
#mailThreePanelLayout_ToMe_Search_Text > div > form > input,
#mailThreePanelLayout_Spam_Search_Text > div > form > input,
#mailThreePanelLayout_Trash_Search_Text > div > form > input,
#mailThreePanelLayout_Receive_Search_Text > div > form > input{
	 min-width: 9rem;
	border-width: 0rem ;
	font-size: 0.75rem;
	border-radius : 0rem;
}

button#mailThreePanelLayout_Receive_Delete,
button#mailThreePanelLayout_Sent_Delete,
button#mailThreePanelLayout_Temp_Delete,
button#mailThreePanelLayout_ToMe_Delete
{
	border-radius : 0.25rem;
	width : 3rem;
	margin : 0 0.31rem 0 0;
	font-size : 0.75rem;
}

button#mailThreePanelLayout_Receive_Unread,
button#mailThreePanelLayout_Temp_Unread,
button#mailThreePanelLayout_ToMe_Unread,
button#mailThreePanelLayout_Sent_Unread, 
button#mailThreePanelLayout_Spam_Unread,
button#mailThreePanelLayout_Trash_Unread
{
	border-radius : 0.25rem;
	width : 3rem;
	margin : 0 0.31rem 0 0;
	font-size : 0.75rem;
}

#mailThreePanelLayout_Receive_SelectBox_Move > span,
#mailThreePanelLayout_Sent_SelectBox_Move > span,
#mailThreePanelLayout_ToMe_SelectBox_Move > span,
#mailThreePanelLayout_Spam_SelectBox_Move > span,
#mailThreePanelLayout_Trash_SelectBox_Move > span
{
	border-radius : 0.25rem;
	width : 3.5rem;
	margin : 0 0.31rem 0 0;
	cursor: pointer;
 
}
button#mailThreePanelLayout_Sent_SendAgain{
	width : 5.5rem;
	margin : 0 0.31rem 0 0;
	border-radius : 0.25rem;
	font-size : 0.75rem;
}
button#mailThreePanelLayout_Spam_Button_NotSpam{
	width : 5rem;
	margin : 0 0.31rem 0 0;
	border-radius : 0.25rem;
	font-size : 0.75rem;
}
button#mailThreePanelLayout_Spam_DeleteForever,
button#mailThreePanelLayout_Trash_DeleteForever
{
	border-radius : 0.25rem;
	width : 5rem;
	margin : 0 0.31rem 0 0;
	font-size : 0.75rem;
}

button#mailThreePanelLayout_Write_Send,
button#mailThreePanelLayout_Write_Preview,
button#mailThreePanelLayout_Write_SaveTemp
{
	vertical-align : middle;
	layout-vertical-alignment : middle;
	margin : 0 0.31rem 0 0;
}

#mailThreePanelMainLayout top-splitterlayout .top-splitterlayout-splitter.horizontal{
	width:0.03rem !important;
}

#top-dialog-overlay_mailFilterMenuDialog,
#top-dialog-root_mailFilterMenuDialog > div.top-dialog-title-layout{
	display:none;
}
#top-dialog-root_mailFilterMenuDialog > div.top-dialog-content.fixed-width-dialog,
#top-dialog-root_mailFilterMenuDialog > div.top-dialog-content.fixed-width-dialog.fixed-height-dialog{
	padding: 0rem !important;
	margin: 0rem !important;
	height: 100%;
    width: 100%;
}

#top-dialog-root_mailFilterMenuDialog{
	border: 0rem !important;
}

#top-dialog-root_mailFilterMenuDialog div#mailFilterMenuDialogLayout_Filter_ALL:hover,
#top-dialog-root_mailFilterMenuDialog div#mailFilterMenuDialogLayout_Filter_NOT_READ:hover,
#top-dialog-root_mailFilterMenuDialog div#mailFilterMenuDialogLayout_Filter_IMPORTANT:hover,
#top-dialog-root_mailFilterMenuDialog div#mailFilterMenuDialogLayout_Filter_ATTACHMENT:hover,
#top-dialog-root_mailFilterMenuDialog div#mailFilterMenuDialogLayout_Sort_Date:hover,
#top-dialog-root_mailFilterMenuDialog div#mailFilterMenuDialogLayout_Sort_Sender:hover,
#top-dialog-root_mailFilterMenuDialog div#mailFilterMenuDialogLayout_Sort_Title:hover{
	background-color:#DCDDFF;
	border-radius:0.81rem;
}

#mailThreePanelLayout_Receive_Filter_Icon:focus,
#mailThreePanelLayout_Sent_Filter_Icon:focus,
#mailThreePanelLayout_ToMe_Filter_Icon:focus,
#mailThreePanelLayout_Trash_Filter_Icon:focus,
#mailThreePanelLayout_Temp_Filter_Icon:focus,
#mailThreePanelLayout_Spam_Filter_Icon:focus{
	outline: none !important;
}

#mailThreePanelLayout_Receive_Filter_Icon:hover,
#mailThreePanelLayout_Sent_Filter_Icon:hover,
#mailThreePanelLayout_ToMe_Filter_Icon:hover,
#mailThreePanelLayout_Trash_Filter_Icon:hover,
#mailThreePanelLayout_Temp_Filter_Icon:hover,
#mailThreePanelLayout_Spam_Filter_Icon:hover{
	background-color:#DCDDFF;
}

/* 임시 나중에 고쳐야함*/
#top-dialog-root_mailFilterMenuDialog #mailFilterMenuDialogLayout_Sort_Sender,
#top-dialog-root_mailFilterMenuDialog #mailFilterMenuDialogLayout_Sort_Title{
	display:none;
}