/* Btn/Text/Solid3 */ 

div#mailTwoPanelLayout top-textfield .top-textfield-icon,
div#mailThreePanelMainLayout top-textfield .top-textfield-icon{
	width : 1.75rem;	
}
div#mailTwoPanelLayout top-textfield .top-textfield-icon,
div#mailThreePanelMainLayout top-textfield .top-textfield-icon
{
	left : 0.63rem;
}
div#mailTwoPanelLayout top-textfield .top-textfield-root .top-textfield-text,
div#mailThreePanelMainLayout top-textfield .top-textfield-root .top-textfield-text{
	padding-right : 0.63rem;	
}
div#mailTwoPanelLayout top-textfield .top-textfield-root .top-textfield-text,
div#mailThreePanelMainLayout top-textfield .top-textfield-root .top-textfield-text
{
	padding-left : 1.88rem;	
}

.mailbtn .top-button-root {
	background-color: #FFFFFF;
	border: 1px solid #E3E7EB;
	border-radius: 1.125rem;
	height : 1.81rem;
    width : 7rem;
	padding : 0px;
	font-weight : normal;
	min-height : 0px;
	min-width : 0px;
	font-size : 0.75rem;
  	color : #2B2B2B;  
  	font-family: NotoSansCJKkr-Medium;
}
.mailbtn .top-button-root:hover {
	background-color: #6C56E5;
	color : #FFFFFF;
	
}
.mailbtn .top-button-root:active {
	background-color: #6C56E5;
}

.mailbtn #mailMainLayout_Button_SendMail {
	margin : 0rem 0.63rem 0rem 0rem;
}
top-button[disabled="true"].mailbtn .top-button-root {
	background-color : #DADADA;
	border : 0px;
	color : #C5C5C8;
}

.mailBtnLayout {
	margin : 0.75rem 0.75rem 0.0rem 0.75rem;
}


.mail-2panel .top-tableview .head .head-row,
.mail-2panel .top-tableview-root .top-tableview-wrapper .viupbtn,
.mail-2panel .top-tableview-root .top-tableview-wrapper .vidownbtn {
	display:none;
}
.mail-2panel .top-tableview-root .top-tableview-wrapper .viframe {
	margin-top : 0px !important;
}
.mail-2panel .top-tableview .head .head-cell {
	text-align:left;
	height : 32px;
}
.mail-2panel .top-tableview .head .head-cell:first-child,
.mail-2panel .top-tableview .head .headIndex_0,
.mail-2panel .top-tableview-scroll {
	border-right: 0px;
}
.mail-2panel .top-tableview .body .body-cell {	
	border-right: 0px;
	border-left: 0px;
	outline : 0px;
}
.mail-2panel .top-tableview .body .body-cell.column_0 {
	padding : 0px 10px 0px 0px;
}
.mail-2panel .top-tableview .body .body-cell.column_0 .top-checkbox-icon {
	margin : 0px
}
.mail-2panel .top-tableview .body .body-cell.column_1 {
	padding : 0px;
	text-align : center;
}
.mail-2panel .top-tableview .body .body-cell.column_2 {
	padding : 0px;
	text-align : left;
}
.mail-2panel .top-tableview .body .body-cell.column_4 {
	min-width: 36px;
	minpadding : 0px;
}
.mail-2panel .top-tableview .body .body-cell.column_6 {
	padding : 0px 30px 0px 0px;
	text-align : right;
}
.mail-2panel .top-tableview-scrollBody-border {
	height: auto !important
}
.mail-2panel top-checkbox,
.mail-2panel top-icon {
	outline : 0px;
}
.mail-2panel .body .body-cell, 
.mail-2panel .body-cell-custom,
.mail-2panel .body-cell-dummy {
	border-bottom : 1px solid #DDDEE7;
	border-top : 1px solid #DDDEE7;
}
.mail-2panel .top-tableview-root .top-tableview-wrapper .viframe {
	width : 10px !important;
}
.mail-2panel .top-tableview-root .top-tableview-wrapper .vibar {
	background : transparent;
	border : 1px solid transparent;
	height : 100% !important;
}
.mail-2panel .top-tableview-root .top-tableview-wrapper .viscroll {
	border-radius : 3px;
	width : 5px;
	background-color : #C5C5C8 !important;
}


.mail-3panel .top-tableview .head .head-row,
.mail-3panel .top-tableview-scrollBody .incapable_column,
.mail-3panel .top-tableview-root .top-tableview-wrapper .viupbtn,
.mail-3panel .top-tableview-root .top-tableview-wrapper .vidownbtn {
	display:none;
}
.mail-3panel .top-tableview-root .top-tableview-wrapper .viframe {
	margin-top : 0px !important;
}
.mail-3panel .top-tableview .head .head-cell {
	text-align:left;
	height : 32px;
}
.mail-3panel .top-tableview .head .head-cell:first-child,
.mail-3panel .top-tableview .head .headIndex_0,
.mail-3panel .top-tableview-scroll {
	border-right: 0px;
}
.mail-3panel .top-tableview .body .body-cell {	
	border-right: 0px;
	border-left: 0px;
}
.mail-3panel .top-tableview .body .checkable {
	padding: 0px 0px;
}
.mail-3panel .top-tableview-scrollBody .body-cell.column_1 {
	padding-left : 0px;
}
.mail-3panel top-checkbox,
.mail-3panel top-icon {
	outline : 0px;
}
.mail-3panel .body .body-cell, 
.mail-3panel .body-cell-custom,
.mail-3panel .body-cell-dummy {
	border-bottom : 1px solid #DDDEE7;
	border-top : 1px solid #DDDEE7;
}
.mail-3panel .top-tableview-root .top-tableview-wrapper .viframe {
	width : 10px !important;
}
.mail-3panel .top-tableview-root .top-tableview-wrapper .vibar {
	background : transparent;
	border : 1px solid transparent;
	height : 100% !important;
}
.mail-3panel .top-tableview-root .top-tableview-wrapper .viscroll {
	border-radius : 3px;
	width : 5px;
	background-color : #C5C5C8 !important;
}


.mail-address-popup .top-tableview-root .top-tableview-wrapper .viframe {
	margin-top : 0px !important;
}
.mail-address-popup .top-tableview .head .head-cell {
	text-align:left;
	height : 27px;
}

.mail-address-popup .top-tableview .body .body-cell {	
	border-right: 0px;
	border-left: 0px;
	outline : 0px;
}
.mail-address-popup top-pagination[type="big"] .top-pagination-container>li>.cell_link {
	border: 0px;
    color: #8C8E92;
    background: transparent !important;
}
.mail-address-popup top-pagination[type="big"] .top-pagination-container>li>.cell_link:hover {
	color : #000000;
	text-decoration : underline;
}
.mail-address-popup top-pagination[type="big"] .top-pagination-container>.active>.cell_link {
    color: #000000;
}
.mail-address-popup top-pagination[type="big"] .top-pagination-container>.disabled>.cell_link {
    color: #8C8E92;
}
.mail-address-popup top-pagination[type="big"] .top-pagination-container>.first>.cell_link,
.mail-address-popup top-pagination[type="big"] .top-pagination-container>.prev>.cell_link,
.mail-address-popup top-pagination[type="big"] .top-pagination-container>.next>.cell_link,
.mail-address-popup top-pagination[type="big"] .top-pagination-container>.last>.cell_link {
    margin-top: 1px;
}
.mail-address-popup top-checkbox {
	outline : 0px;
}
.mail-address-popup .body .body-cell, 
.mail-address-popup .body-cell-custom,
.mail-address-popup .body-cell-dummy {
	border-bottom : 1px solid #DDDEE7;
	border-top : 1px solid #DDDEE7;
}
.mail-address-popup .top-tableview-root .top-tableview-wrapper .viframe {
	width : 10px !important;
}
.mail-address-popup .top-tableview-root .top-tableview-wrapper .viupbtn,
.mail-address-popup .top-tableview-root .top-tableview-wrapper .vidownbtn {
	display : none;
}
.mail-address-popup .top-tableview-root .top-tableview-wrapper .vibar {
	background : transparent;
	border : 1px solid transparent;
	height : 100% !important;
}
.mail-address-popup .top-tableview-root .top-tableview-wrapper .viscroll {
	border-radius : 3px;
	width : 5px;
	background-color : #C5C5C8 !important;
}
.mail-address-popup .top-tableview-scroll {
	border-right : 0px !important;
}

.mail-classify .top-tableview .head .head-cell {
	text-align:left;
	height : 32px;
}
.mail-classify .top-tableview .body .body-cell {	
	border-right: 0px;
	border-left: 0px;
	outline : 0px;
}
.mail-classify .top-tableview .body .body-cell.column_0 {
	padding : 0px 10px 0px 0px;
}
.mail-classify .top-tableview .body .body-cell.column_0 .top-checkbox-icon {
	margin : 0px
}
.mail-classify .top-tableview-scrollBody-border {
	height: auto !important
}
.mail-classify .top-tableview-pager {
	width: 100%;
	text-align: unset;
}
.mail-classify .top-tableview-pager > top-pagination {
	float: unset;
}
.mail-classify .top-tableview-pager .top-selectbox-root {
	float: right;
}
.mail-classify top-pagination[type="big"] .top-pagination-container>li>.cell_link {
	border: 0px;
    color: #8C8E92;
    background: transparent !important;
}
.mail-classify top-pagination[type="big"] .top-pagination-container>li>.cell_link:hover {
	color : #000000;
	text-decoration : underline;
}
.mail-classify top-pagination[type="big"] .top-pagination-container>.active>.cell_link {
    color: #000000;
}
.mail-classify top-pagination[type="big"] .top-pagination-container>.disabled>.cell_link {
    color: #8C8E92;
}
.mail-classify top-pagination[type="big"] .top-pagination-container>.first>.cell_link,
.mail-classify top-pagination[type="big"] .top-pagination-container>.prev>.cell_link,
.mail-classify top-pagination[type="big"] .top-pagination-container>.next>.cell_link,
.mail-classify top-pagination[type="big"] .top-pagination-container>.last>.cell_link {
    margin-top: 1px;
}
.mail-classify .body .body-cell, 
.mail-classify .body-cell-custom,
.mail-classify .body-cell-dummy {
	border-bottom : 1px solid #DDDEE7;
	border-top : 1px solid #DDDEE7;
}
.mail-classify .body .body-cell.column_3 {
	text-align : center;
}
.mail-classify .top-tableview-root .top-tableview-wrapper .viframe {
	width : 10px !important;
}
.mail-classify .top-tableview-root .top-tableview-wrapper .viupbtn,
.mail-classify .top-tableview-root .top-tableview-wrapper .vidownbtn {
	display : none;
}
.mail-classify .top-tableview-root .top-tableview-wrapper .vibar {
	background : transparent;
	border : 1px solid transparent;
	height : 100% !important;
}
.mail-classify .top-tableview-root .top-tableview-wrapper .viscroll {
	border-radius : 3px;
	width : 5px;
	background-color : #C5C5C8 !important;
}
.mail-classify .top-tableview-scroll {
	border-right : 0px !important;
}

.mail-file-header .top-tableview .head .head-cell {
	text-align:left;
	height : 27px;
	border-color: #FFFFFF;
}

.mail-file-header .top-tableview .body .body-cell {	
	border-right: 0px;
	border-left: 0px;
	border-bottom : 0px;
	border-top : 0px;
}
.mail-file-header .top-tableview .body .bodyIndex_2:hover{
	cursor:pointer;
}

.mail-file-content-main-table .top-tableview .head .head-cell {
	text-align:left;
	height : 32px;
}
.mail-file-content-main-table .top-tableview .body .body-cell {	
	border-right: 0px;
	border-left: 0px;
	outline : 0px;
}
.mail-file-content-main-table .top-tableview-scrollBody-border {
	height: auto !important
}
.mail-file-content-main-table .top-tableview-pager {
	width: 100%;
	text-align: unset;
}
.mail-file-content-main-table .top-tableview-pager > top-pagination {
	float: unset;
}
.mail-file-content-main-table .top-tableview-pager .top-selectbox-root {
	float: right;
}
.mail-file-content-main-table top-pagination[type="big"] .top-pagination-container>li>.cell_link {
	border: 0px;
    color: #8C8E92;
    background: transparent !important;
}
.mail-file-content-main-table top-pagination[type="big"] .top-pagination-container>li>.cell_link:hover {
	color : #000000;
	text-decoration : underline;
}
.mail-file-content-main-table top-pagination[type="big"] .top-pagination-container>.active>.cell_link {
    color: #000000;
}
.mail-file-content-main-table top-pagination[type="big"] .top-pagination-container>.disabled>.cell_link {
    color: #8C8E92;
}
.mail-file-content-main-table top-pagination[type="big"] .top-pagination-container>.first>.cell_link,
.mail-file-content-main-table top-pagination[type="big"] .top-pagination-container>.prev>.cell_link,
.mail-file-content-main-table top-pagination[type="big"] .top-pagination-container>.next>.cell_link,
.mail-file-content-main-table top-pagination[type="big"] .top-pagination-container>.last>.cell_link {
    margin-top: 1px;
}
.mail-file-content-main-table .body .body-cell, 
.body-cell-custom,
.body-cell-dummy {
	border-bottom : 1px solid #DDDEE7;
	border-top : 1px solid #DDDEE7;
}

.mail-file-content-main-table .top-tableview .head .head-cell {
	text-align:left;
	height : 32px;
}
.mail-file-content-main-table .top-tableview .body .body-cell {	
	border-right: 0px;
	border-left: 0px;
	outline : 0px;
}
.mail-file-content-main-table .top-tableview-scrollBody-border {
	height: auto !important
}
.mail-file-content-main-table .top-tableview-pager {
	width: 100%;
	text-align: unset;
}
.mail-file-content-main-table .top-tableview-pager > top-pagination {
	float: unset;
}
.mail-file-content-main-table .top-tableview-pager .top-selectbox-root {
	float: right;
}
.mail-file-content-main-table top-pagination[type="big"] .top-pagination-container>li>.cell_link {
	border: 0px;
    color: #8C8E92;
    background: transparent !important;
}
.mail-file-content-main-table top-pagination[type="big"] .top-pagination-container>li>.cell_link:hover {
	color : #000000;
	text-decoration : underline;
}
.mail-file-content-main-table top-pagination[type="big"] .top-pagination-container>.active>.cell_link {
    color: #000000;
}
.mail-file-content-main-table top-pagination[type="big"] .top-pagination-container>.disabled>.cell_link {
    color: #8C8E92;
}
.mail-file-content-main-table top-pagination[type="big"] .top-pagination-container>.first>.cell_link,
.mail-file-content-main-table top-pagination[type="big"] .top-pagination-container>.prev>.cell_link,
.mail-file-content-main-table top-pagination[type="big"] .top-pagination-container>.next>.cell_link,
.mail-file-content-main-table top-pagination[type="big"] .top-pagination-container>.last>.cell_link {
    margin-top: 1px;
}
.mail-file-content-main-table .body .body-cell, 
.body-cell-custom,
.body-cell-dummy {
	border-bottom : 1px solid #DDDEE7;
	border-top : 1px solid #DDDEE7;
}
.mail-file-content-main-table .top-tableview-root .top-tableview-wrapper .viframe {
	width : 10px !important;
}
.mail-file-content-main-table .top-tableview-root .top-tableview-wrapper .viupbtn,
.mail-file-content-main-table .top-tableview-root .top-tableview-wrapper .vidownbtn {
	display : none;
}
.mail-file-content-main-table .top-tableview-root .top-tableview-wrapper .vibar {
	background : transparent;
	border : 1px solid transparent;
	height : 100% !important;
}
.mail-file-content-main-table .top-tableview-root .top-tableview-wrapper .viscroll {
	border-radius : 3px;
	width : 5px;
	background-color : #C5C5C8 !important;
}
.mail-file-content-main-table .top-tableview-scroll {
	border-right : 0px !important;
}

.table-buttons .top-button-root {
	background-color : #FFFFFF;
	border : 1px solid #ACB0BC;
	color : #000000;
}
.disable-table-buttons .top-button-root {
	background-color : #F1F1F1;
	border : 1px solid #C5C5C8;
	color : #DADADA;
}

.mail-cursor-pointer .top-textview-root,
.mail-cursor-pointer .top-icon-root {
	cursor:pointer;
}
.mail-cursor-default .top-textview-root {
	cursor:default;
}

.bg-inherit .top-linearlayout-root {
	background-color : inherit !important;
}
.bg-inherit {
	outline : 0px !important;
}

.mail-subfolder .top-linearlayout-root {
	line-height : 2.13rem !important;
}
.mail-account-2.31 .top-linearlayout-root {
	line-height : 2.31rem !important;
}

top-linearlayout#mailTUserLayout .top-button-root{
	padding : 0px;
	border-radius: 0px;
	min-width: 0px;
	min-height: 0px;
	font-weight : normal;
}

div#top-dialog-root_mailTUserDialog .top-dialog-content{
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

div#top-dialog-root_mailTUserDialog .top-dialog-title-layout{
    display: none;
}

div#top-dialog-root_mailTUserDialog #TableView299_1 .head .head-cell  {
	height: 27px; 
	background-color: #ADADAD;
	color: #FFFFFF;	
	font-weight: normal;
}


div#top-dialog-root_mailTUserDialog #TableView299_1 .incapable_column, .incapable_header {
	display: none;
}

div#top-dialog-root_mailTUserDialog #TableView299_1 td.column_4 {
	padding: 0px;
}


div#top-dialog-root_mailTUserDialog top-chip .top-chip-root {
	padding: 0px;
}

div#top-dialog-root_mailTUserDialog top-chip .top-chip-box {
	background-color: #E3E4E9;
	border : 0px;
	color : #333333;
	font-size : 13px;
	height : 21px;
	margin-top : 3px;
	margin-left : 3px;
	margin-right : 0px;
}

div#top-dialog-root_mailTUserDialog top-chip .top-chip-root .top-chip-text {
	height : 30px;
}

div#top-dialog-root_mailTUserDialog top-chip .top-chip-root .top-chip-box .top-chip-content {
	font-size : 13px;
}



div#top-dialog-root_mailTUserDialog top-chip .top-chip-box .top-chip-close:before {
	color : #333333
}

#mailTwoPanelLayout_Receive_SelectBox_Filter > span{
	text-align : center;
}

#mailTwoPanelLayout_Receive_SelectBox_Filter .top-selectbox-options,
#mailTwoPanelLayout_Receive_SelectBox_Save .top-selectbox-options,
#mailTwoPanelLayout_Receive_SelectBox_Move .top-selectbox-options,
#mailTwoPanelLayout_Sent_SelectBox_Filter .top-selectbox-options,
#mailTwoPanelLayout_Sent_SelectBox_Save .top-selectbox-options,
#mailTwoPanelLayout_Sent_SelectBox_Move .top-selectbox-options,
#mailTwoPanelLayout_Temp_SelectBox_Filter .top-selectbox-options,
#mailTwoPanelLayout_Temp_SelectBox_Save .top-selectbox-options,
#mailTwoPanelLayout_Temp_SelectBox_Move .top-selectbox-options,
#mailTwoPanelLayout_SendMe_SelectBox_Filter .top-selectbox-options,
#mailTwoPanelLayout_SendMe_SelectBox_Save .top-selectbox-options,
#mailTwoPanelLayout_SendMe_SelectBox_Move .top-selectbox-options,
#mailTwoPanelLayout_Spam_SelectBox_Filter .top-selectbox-options,
#mailTwoPanelLayout_Spam_SelectBox_Move .top-selectbox-options,
#mailTwoPanelLayout_Trash_SelectBox_Filter .top-selectbox-options,
#mailTwoPanelLayout_Trash_SelectBox_Move .top-selectbox-options,
#mailReadButtonLayout_ReceivedMail_SelectBox_Save .top-selectbox-options,
#mailReadButtonLayout_ReceivedMail_SelectBox_Move .top-selectbox-options,
#mailReadButtonLayout_SentMail_SelectBox_Save .top-selectbox-options,
#mailReadButtonLayout_SentMail_SelectBox_Move .top-selectbox-options,
#mailReadButtonLayout_ToMeMail_SelectBox_Save .top-selectbox-options,
#mailReadButtonLayout_ToMeMail_SelectBox_Move .top-selectbox-options,
#mailReadButtonLayout_SpamMail_SelectBox_Move .top-selectbox-options,
#mailReadButtonLayout_TrashMail_SelectBox_Move .top-selectbox-options,
#mailThreePanelLayout_Receive_SelectBox_Filter .top-selectbox-options,
#mailThreePanelLayout_Sent_SelectBox_Filter .top-selectbox-options,
#mailThreePanelLayout_ToMe_SelectBox_Filter .top-selectbox-options,
#mailThreePanelLayout_Spam_SelectBox_Filter .top-selectbox-options,
#mailThreePanelLayout_Trash_SelectBox_Filter .top-selectbox-options,
#mailThreePanelLayout_Receive_SelectBox_Move .top-selectbox-options, 
#mailThreePanelLayout_Sent_SelectBox_Move .top-selectbox-options,
#mailThreePanelLayout_ToMe_SelectBox_Move .top-selectbox-options,
#mailThreePanelLayout_Spam_SelectBox_Move .top-selectbox-options,
#mailThreePanelLayout_Trash_SelectBox_Move .top-selectbox-options,
#mailThreePanelLayout_Receive_SelectBox_Save .top-selectbox-options,
#mailThreePanelLayout_Receive_SelectBox_Move .top-selectbox-options,
#mailThreePanelLayout_Sent_SelectBox_Save .top-selectbox-options,
#mailThreePanelLayout_Sent_SelectBox_Move .top-selectbox-options,
#mailThreePanelLayout_ToMe_SelectBox_Save .top-selectbox-options,
#mailThreePanelLayout_ToMe_SelectBox_Move .top-selectbox-options,
#mailThreePanelLayout_Spam_SelectBox_Move .top-selectbox-options,
#mailThreePanelLayout_Trash_SelectBox_Move .top-selectbox-options {
	width : auto !important;
}

#mailThreePanelLayout_Receive_SelectBox_Filter > span,
#mailThreePanelLayout_Sent_SelectBox_Filter > span,
#mailThreePanelLayout_Temp_SelectBox_Filter > span,
#mailThreePanelLayout_ToMe_SelectBox_Filter > span,
#mailThreePanelLayout_Spam_SelectBox_Filter > span,
#mailThreePanelLayout_Trash_SelectBox_Filter > span{
	text-align : center;
}


#mailThreePanelLayout_Receive_SelectBox_Move > span,
#mailThreePanelLayout_Sent_SelectBox_Move > span,
#mailThreePanelLayout_Temp_SelectBox_Move > span,
#mailThreePanelLayout_ToMe_SelectBox_Move > span,
#mailThreePanelLayout_Spam_SelectBox_Move > span,
#mailThreePanelLayout_Trash_SelectBox_Move > span{
	text-align : center;
}




div#mailAddressBookMainLayout_Category .top-textview-url {
	vertical-align : middle;
	margin-left : 0.25rem;
}
div#scroll_mailAddressBookMainLayout_Table {
	margin-top : -1.75rem;
}
div#mailAddressBookMainLayout_Table .top-tableview-scrollHead {
    display: none;
}
div#mailAddressBookMainLayout_Table .top-tableview-scrollBody .body-cell {
	font-size : 0.75rem;
}
div#mailAddressBookMainLayout_Table .top-tableview-scroll {
	border-top : 0.06rem solid #D6D6D6;
	border-right : 0rem;
}
div#TopTables_Table_mailAddressBookMainLayout_Table_wrapper {
	border-bottom : 0rem;
}
div#top-tableview #mailAddressBookMainLayout_Table .incapable_column, .incapable_header {
    display: none;
}
.addressbook-header .top-tableview-scrollBody-border {
	height: auto !important
}
.addressbook-header .top-tableview-pager {
	width: 100%;
	text-align: unset;
}
.addressbook-header .top-tableview-pager > top-pagination {
	float: unset;
}
.addressbook-header .top-tableview-pager .top-selectbox-root {
	float: right;
	margin-right : 15px;
}
.addressbook-header top-pagination[type="big"] .top-pagination-container>li>.cell_link {
	border: 0px;
    color: #8C8E92;
    background: transparent !important;
}
.addressbook-header top-pagination[type="big"] .top-pagination-container>li>.cell_link:hover {
	color : #000000;
	text-decoration : underline;
}
.addressbook-header top-pagination[type="big"] .top-pagination-container>.active>.cell_link {
    color: #000000;
}
.addressbook-header top-pagination[type="big"] .top-pagination-container>.disabled>.cell_link {
    color: #8C8E92;
}
.addressbook-header top-pagination[type="big"] .top-pagination-container>.first>.cell_link,
.addressbook-header top-pagination[type="big"] .top-pagination-container>.prev>.cell_link,
.addressbook-header top-pagination[type="big"] .top-pagination-container>.next>.cell_link,
.addressbook-header top-pagination[type="big"] .top-pagination-container>.last>.cell_link {
    margin-top: 1px;
}
.addressbook-header .top-tableview .body .incapable_column {
	width: 0px;
	padding : 0px;
	margin: 0px;
}
addressbook-header .top-tableview .body .incapable_column {
	width: 0px;
}
.addressbook-header .top-tableview .head .incapable_header  {
    width: 0px;
}
.addressbook-header .top-tableview .body .body-cell {	
	border-right: 0px;
	border-left: 0px;
	outline : 0px;
}
.addressbook-header top-checkbox {
	outline : 0px;
}
.addressbook-header .top-tableview-root .top-tableview-wrapper .viframe {
	width : 10px !important;
}
.addressbook-header .top-tableview-root .top-tableview-wrapper .viupbtn,
.addressbook-header .top-tableview-root .top-tableview-wrapper .vidownbtn {
	display : none;
}
.addressbook-header .top-tableview-root .top-tableview-wrapper .vibar {
	background : transparent;
	border : 1px solid transparent;
	height : 100% !important;
}
.addressbook-header .top-tableview-root .top-tableview-wrapper .viscroll {
	border-radius : 3px;
	width : 5px;
	background-color : #C5C5C8 !important;
}



.mail-error-textfield .top-textfield-text {
	border-color: red !important;
}
.mail-error-selectbox .top-selectbox-container {
	border-color: red !important;
}

.mail-ex_account-tableview .top-tableview .head .head-cell {
	text-align:left;
	height : 32px;
}
.mail-ex_account-tableview .top-tableview .body .body-cell {	
	border-right: 0px;
	border-left: 0px;
}
.mail-ex_account-tableview .top-tableview .body .body-cell.column_4 {
	visibility: hidden;
}
.mail-ex_account-tableview .top-tableview-scrollBody-border {
	height: auto !important
}
.mail-ex_account-tableview .viupbtn {
	right: 2px;
}
.mail-ex_account-tableview .vibar {
	right: 2px;
}
.mail-ex_account-tableview .vidownbtn {
	right: 2px;
}
 .top-dialog-root.popup_02.mail .top-dialog-title-layout .top-dialog-close {
	bottom: 8%;
	right: 3%;
} 

#Text_ReceiverAddress .top-chip-root .top-chip-text {
	height : 1.88rem;
	margin-top : 0.03rem;
}
#Text_Cc .top-chip-root .top-chip-text {
	height : 1.88rem;	
	margin-top : 0.03rem;
}
#Text_HiddenCc .top-chip-root .top-chip-text {
	height : 1.88rem;
	margin-top : 0.03rem;
}

#Text_ReceiverAddress .top-chip-root .top-chip-box,
#Text_Cc .top-chip-root .top-chip-box,
#Text_HiddenCc .top-chip-root .top-chip-box{
	height : 1.63rem;
	margin-top : 0.13rem;
	margin-left : 0.13rem;
	margin-bottom : 0; 
	border : 0px;
	border-radius : 25px;
	background-color : #DCDDFF !important;
}
#Text_ReceiverAddress .top-chip-root .top-chip-box .top-chip-content,
#Text_Cc .top-chip-root .top-chip-box .top-chip-content,
#Text_HiddenCc .top-chip-root .top-chip-box .top-chip-content{
	font-size : 0.75rem;
	margin-top : 0.4rem;
}
	
ul.typeahead.dropdown-menu.Text_ReceiverAddress{
	z-index : 111;
}
ul.typeahead.dropdown-menu.Text_Cc{
	z-index : 111;
}
ul.typeahead.dropdown-menu.Text_HiddenCc{
	z-index : 111;
}
	

#mailWriteLayout_AttachFile .top-menu-root .top-menu_btn {
	margin : -0.4rem 0px 0px 0px;
}
#mailWriteLayout_AttachFile .top-menu-root .top-menu_nav {
	width : auto;
}
#mailWriteLayout_AttachFile .top-menu-root .icon-arrow_filled_down {
/* 	display : none;  */
	color	: #3B3B3B;
}
#mailWriteLayout_AttachFile .top-menu-root .icon-arrow_filled_up {
/* 	display : none;  */
	color : #3B3B3B; 
}
#mailWriteLayout_AttachFile .top-menu-root .top-menu_title {
	color : #3B3B3B;
	font-weight : 500;
	font-size : 0.7rem;
}
#mailWriteLayout_AttachFile .top-menu-root {
	min-width : auto; 
}

#mailWritePopupLayout_AttachFile .top-menu-root .top-menu_btn {
	margin : -15px 0px 0px 0px;
}
#mailWritePopupLayout_AttachFile .top-menu-root .top-menu_nav {
	width : auto;
}
#mailWritePopupLayout_AttachFile .top-menu-root .icon-arrow_filled_down {
	display : none; 
}
#mailWritePopupLayout_AttachFile .top-menu-root .icon-arrow_filled_up {
	display : none; 
}
#mailWritePopupLayout_AttachFile .top-menu-root .top-menu_title {
	color : #00A4C3;
	margin: 0px 0px 0px 10px;
	font-weight : 500;
	font-size : 13px;
}
#mailWritePopupLayout_AttachFile .top-menu-root {
	min-width : auto; 
}

#mailWriteToMeLayout_AttachFile .top-menu-root .top-menu_btn {
	margin : -15px 0px 0px 0px;
}
#mailWriteToMeLayout_AttachFile .top-menu-root .top-menu_nav {
	width : auto;
}
#mailWriteToMeLayout_AttachFile .top-menu-root .icon-arrow_filled_down {
	display : none; 
}
#mailWriteToMeLayout_AttachFile .top-menu-root .icon-arrow_filled_up {
	display : none; 
}
#mailWriteToMeLayout_AttachFile .top-menu-root .top-menu_title {
	color : #00A4C3;
	margin: 0px 0px 0px 10px;
	font-weight : 500;
	font-size : 13px;
}
#mailWriteToMeLayout_AttachFile .top-menu-root {
	min-width : auto; 
}

#mailWriteToMePopupLayout_AttachFile .top-menu-root .top-menu_btn {
	margin : -15px 0px 0px 0px;
}
#mailWriteToMePopupLayout_AttachFile .top-menu-root .top-menu_nav {
	width : auto;
}
#mailWriteToMePopupLayout_AttachFile .top-menu-root .icon-arrow_filled_down {
	display : none; 
}
#mailWriteToMePopupLayout_AttachFile .top-menu-root .icon-arrow_filled_up {
	display : none; 
}
#mailWriteToMePopupLayout_AttachFile .top-menu-root .top-menu_title {
	color : #00A4C3;
	margin: 0px 0px 0px 10px;
	font-weight : 500;
	font-size : 13px;
}
#mailWriteToMePopupLayout_AttachFile .top-menu-root {
	min-width : auto; 
}

.mail-popup-table{
	border : 1px solid #ACB0BC;
}
.mail-popup-table .top-tableview .head .head-cell {
	text-align:left;
	height : 27px;
}
.mail-popup-table .top-tableview .body .body-cell {	
	border-right: 0px;
	border-left: 0px;
	border-top : 0px;
	border-bottom : 0px;
	outline : 0px;
}
.mail-popup-table .top-tableview-scrollBody-border {
	height: auto !important
}

div.mail-submenu {
	position : absolute;
	top : 28px;
	left : 45px;
	z-index : 1;
	overflow : visible !important;
}
.mail-overflow .top-linearlayout-root {
	overflow : visible !important;
}
.mail-submenu .top-linearlayout-root {
	cursor : pointer;
	line-height:28px;
}
.mail-submenu .top-linearlayout-root:hover {
	background-color : #DCDDFF;
	border-radius:0.81rem;
}

.top-dialog-root.popup_02.mailAddressBook .top-dialog-content.fixed-width-dialog {
	width: calc(100%);
	box-sizing : border-box;
} 
.mail-addressbookPhoto {
	position : absolute;
	top : 45px;
	left : 46px;
	z-index : 1;
}
.top-dialog-root.popup_02.mailAddressBook  .top-dialog-content {
	margin: 0px 0px;
}

.top-dialog-root.popup_02.mailAddressBook .top-dialog-content {
    border-top: 0px solid #c2c2c2;
}

.top-dialog-root.popup_02.mailAddressBook .top-dialog-content {
	padding : 0px 0px !important; 
}


.mail-page top-pagination[type="big"] .top-pagination-container>li>.cell_link {
	border: 0px;
    color: #8C8E92;
    background: transparent !important;
}
.mail-page top-pagination[type="big"] .top-pagination-container>li>.cell_link:hover {
	color : #000000;
	text-decoration : underline;
}
.mail-page top-pagination[type="big"] .top-pagination-container>.active>.cell_link {
    color: #00A4C3;
}
.mail-page top-pagination[type="big"] .top-pagination-container>.disabled>.cell_link {
    color: #C5C5C8;
}
.mail-page top-pagination[type="big"] .top-pagination-container>.first>.cell_link,
.mail-page top-pagination[type="big"] .top-pagination-container>.prev>.cell_link,
.mail-page top-pagination[type="big"] .top-pagination-container>.next>.cell_link,
.mail-page top-pagination[type="big"] .top-pagination-container>.last>.cell_link {
    margin-top: 1px;
}

div#mailAddressBookAddLayout_Profile_bg {
	background-size : 100px 100px;
}

button#mailAutoClassifyLayout_Button_Up:before {
	content : '\e914';
	font-family : 'tmaxop';
	font-style : 'normal';
	font-size : 13px;
}
button#mailAutoClassifyLayout_Button_Down:before {
	content : '\e911';
	font-family : 'tmaxop';
	font-style : 'normal';
	font-size : 13px;
}
button#mailAutoClassifyLayout_Button_Top:before {
	content : '\e9f0';
	font-family : 'tmaxop';
	font-style : 'normal';
	font-size : 13px;
}
button#mailAutoClassifyLayout_Button_Bottom:before {
	content : '\e9f1';
	font-family : 'tmaxop';
	font-style : 'normal';
	font-size : 13px;
}

.mail-overflow .top-textview-root {
	overflow : visible !important;
	white-space : normal !important;
	word-break : break-word !important;
}

#mailTwoPanelLayout_Receive_SelectBox_Move .top-selectbox-root .top-selectbox-options .top-selectbox-option.title, 
#mailTwoPanelLayout_Sent_SelectBox_Move .top-selectbox-root .top-selectbox-options .top-selectbox-option.title, 
#mailTwoPanelLayout_Temp_SelectBox_Move .top-selectbox-root .top-selectbox-options .top-selectbox-option.title, 
#mailTwoPanelLayout_SendMe_SelectBox_Move .top-selectbox-root .top-selectbox-options .top-selectbox-option.title, 
#mailTwoPanelLayout_Spam_SelectBox_Move .top-selectbox-root .top-selectbox-options .top-selectbox-option.title, 
#mailTwoPanelLayout_Trash_SelectBox_Move .top-selectbox-root .top-selectbox-options .top-selectbox-option.title {
	display : none;
}

.mail-subject .top-textview-root:hover {
	text-decoration : underline;
}
.mail-subject .top-textview-root .top-textview-url {
	cursor : pointer !important;
}
.mail-search {
	background: rgba(0,164,195,0.40);
}

.mail-height-35 .top-linearlayout-root {
	line-height : 2.13rem !important;
}

#top-dialog-root_mailFolderMenuDialog {
	box-shadow: 0rem 0.06rem 0.25rem 0rem rgba(0,0,0,0.2) !important;
	border : 0 !important;
}
#top-dialog-root_mailFolderMenuDialog .top-dialog-content {
	padding : 0 !important;
	padding-right : 0 !important;
}
#top-dialog-overlay_mailFolderMenuDialog {
	background:transparent !important;
}
#top-dialog-root_mailErrMsgDialog {
	-webkit-box-shadow : none !important;
	box-shadow : none !important;
	border : 0 !important;
}
#top-dialog-root_mailErrMsgDialog .top-dialog-title-layout {
	display : none !important;
}
#top-dialog-root_mailFolderMenuDialog .top-dialog-title-layout {
	display : none !important;
}
#top-dialog-root_mailErrMsgDialog .top-dialog-content {
	padding : 0 !important;
	padding-right : 0 !important;
}
.mail-selected-menu .top-icon-root {
	background:rgba(140,142,146,0.60);
}
span#mailMainLayout_AddFolderIcon,
span#mailMainLayout_EditFolderIcon,
span#mailMainLayout_MenuIcon {
	text-align:center;
}

span#mailErrorTooltip {
	display : inline-block;
	background-color : #FFFAE4;
	color : #000000;
	border-radius : 0px;
	border : 1px solid #FAEEBC;
	box-shadow : 0px 0px 0px rgba(0, 0, 0, 0);
	font-size : 11px;
	text-align : left;
	padding : 6px 7px;
	overflow : auto;
	word-break : break-all;
	white-space : normal;
	max-height : 300px;
	max-width : 500px;
	position : absolute;
	z-index : 120;
	transition-property : display;
	transition-duration : 0.3s;
	transition-timing-function : ease-in-out;
	
}

button#mailMainLayout_AddAccount:before {
	content : '\ea63';
	font-family : 'tmaxop';
	font-style : 'normal';
	font-size : 14px;
	vertical-align : middle;
	margin-right : 8px;
}

img#mailMainLayout_Beta {
	margin : 0px 0px 0px -20px;
}

.mail-account-mobile .top-textview-root {
	width : calc(100% - 55px) !important;
}

#top-dialog-root_mailInquiryStatusDialog .top-dialog-close,
#top-dialog-root_mailAllReadDialog .top-dialog-close,
#top-dialog-root_mailDeleteFolderDialog .top-dialog-close,
#top-dialog-root_mailDeleteNotReadDialog .top-dialog-close,
#top-dialog-root_mailDeletePermanentDialog .top-dialog-close,
#top-dialog-root_mailDeleteTrashDialog .top-dialog-close,
#top-dialog-root_mailEmptyFolderDialog .top-dialog-close,
#top-dialog-root_mailTUserDialog .top-dialog-close,
#top-dialog-root_addExternalAccountDialog .top-dialog-close,
#top-dialog-root_deleteExternalAccountDialog .top-dialog-close,
#top-dialog-root_errorAddExternalAccountDialog .top-dialog-close,
#top-dialog-root_errorAddRegisteredExternalAccountDialog .top-dialog-close,
#top-dialog-root_mailCheckExternalDialog .top-dialog-close,
#top-dialog-root_modifyExternalAccountDialog .top-dialog-close,
#top-dialog-root_mailAddressBookAddDialog .top-dialog-close,
#top-dialog-root_mailAddressBookDialog .top-dialog-close,
#top-dialog-root_mailDeleteAddressBookDialog .top-dialog-close,
#top-dialog-root_mailAddClassifyDialog .top-dialog-close,
#top-dialog-root_mailWritePreviewDialog .top-dialog-close
 {
	top : 17px !important;
	right : 17px !important;
}

#top-dialog-root_mailWriteDialog .top-dialog-title-layout,
#top-dialog-root_mailWriteToMeDialog .top-dialog-title-layout {
	background-color : #00A4C3;
	font-size : 15px;
	height : 36px;
	border-bottom : 0px;
}
#top-dialog-root_mailWriteDialog .top-dialog-title-layout .top-dialog-max_min_button,
#top-dialog-root_mailWriteToMeDialog .top-dialog-title-layout .top-dialog-max_min_button  {
	font-size : 16px;
	opacity : 0.6;
}
#top-dialog-root_mailWriteDialog .top-dialog-title-layout .top-dialog-close,
#top-dialog-root_mailWriteToMeDialog .top-dialog-title-layout .top-dialog-close {
	right : 15px;
	font-size : 16px;
	opacity : 0.6;
}
#top-dialog-root_mailWriteDialog .top-dialog-content,
#top-dialog-root_mailWriteToMeDialog .top-dialog-content {
	padding : 0px;
}

.mail-folder-hint {
    position: absolute;
    width: 100%;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-all;
    top: 4px;
    left : 11px;
    color: #777;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
#mailMainLayout_Left {
	box-sizing : border-box;
	background : #F5F5FB;
}
#mailMainLayout_Center_All {
	z-index : 2;
	height : 100% !important;
} 

.mail-search {
	background : rgba(0,164,195,0.40);
}


div#mailWriteLayout_Info_Sender_Account .top-selectbox-options {
	z-index:130;
}

div#mailWriteLayout_Info_Sender_Account{
	width:inherit !important;
}


div#mailWriteLayout_LinearLayout514_2 {
	line-height : normal !important;
}
div#mailWritePopupLayout_Info_Sender_Account .top-selectbox-options {
	z-index:130;
}

div#mailWritePopupLayout_LinearLayout514_2 {
	line-height : normal !important;
}

#mailWriteLayout_Button_Send[disabled="true"] .top-button-root,
#mailWriteLayout_Button_Send[disabled="true"] .top-button-root * ,
#mailWriteToMeLayout_Button_Save[disabled="true"] .top-button-root,
#mailWriteToMeLayout_Button_Save[disabled="true"] .top-button-root * {
	cursor : default !important;
}

#mailAddressBookMainLayout_drop .top-menu-root .top-menu_title {
	font-size : 0.75rem !important;
	color : #3B3B3B !important;
	margin-left : 0.63rem
}
#mailAddressBookMainLayout_drop .icon-arrow_filled_down:before,
#mailAddressBookMainLayout_drop .icon-arrow_filled_up:before {
	font-size : 0.62rem;
	color : #75757F !important;
	margin-left : 4rem;
}
#mailAddressBookMainLayout_drop .icon-arrow_filled_down {
	margin-top : 0.19rem;
}
#mailAddressBookMainLayout_drop .top-menu_btn {
	padding : 0.25rem 0rem 1rem 0rem !important;
	margin-left : -0.63rem;
}
#mailAddressBookMainLayout_drop .top-menu_btn i {
	margin-right : 0rem !important;
}

.mail-loading .top-tableview-root .body .empty .body-cell:before {
	background-image : url(../res/bi_loading.gif);
	background-size : 20px 20px;
	background-position-y: 50%;
    background-repeat: no-repeat;
    background-position-x: calc(50% - 40px);
	content : '';
}

#mailWriteLayout_FileTable .body .column_4 {
	padding : 0px;
	text-align : center;
}

div#innerframe_mailAddressBookPopupLayout_TableView {
	top : 28px !important;
}

div#top-dialog-root_modifyExternalAccountDialog .top-dialog-content,
div#top-dialog-root_addExternalAccountDialog .top-dialog-content {
    width : auto;
}


.mail-folder-selected>div.top-linearlayout-root {
	background-color: #E2E3FB !important;
		border-radius : 1.75rem;	
}
.mail-folder>div.top-linearlayout-root:hover {
	background-color: #E2E3FB !important;
	border-radius : 1.75rem;	
}

#mailMainLayout_Left::-webkit-scrollbar {
	width : 7px;
}
#mailMainLayout_Left::-webkit-scrollbar-thumb {
    width: 5px;
    background: #C5C5C8;
    border-right: 2px solid transparent;
    border-left : 0px;
    background-clip: padding-box;
    border-radius: 3px;
}
#mailMainLayout_Left::-webkit-scrollbar-track {
	background : transparent;
}

top-linearlayout#mailDropZoneOverlay,
top-linearlayout#mailDropZoneOverlay_Popup,
top-linearlayout#mailDropZoneOverlay_Popup2 {
	width : 100%;	
}
#mailDropZoneOverlay,
#mailDropZoneOverlay_Popup,
#mailDropZoneOverlay_Popup2 {
	z-index: 2;
	position: absolute;
}

#mailThreePanelLayout_Table .top-tableview-root .top-tableview .body_colgroup .last-head_1 {
	width : 100% !important;
}

#mailFileListTableView top-checkbox {
	outline : 0px;
}

.mail-del-file .top-textview-root {
	text-decoration : line-through;
	cursor : default;
}

div#top-dialog-root_mailAddClassifyDialog {
	min-height : 710px !important;
	min-width : 466px;
}

div#top-dialog-root_mailSaveSuccessDialog {
	background : transparent;
	top: calc(100% - 90px) !important;
    left: calc(100% - 375px) !important;
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.50) !important;
}
div#top-dialog-root_mailSaveSuccessDialog .top-dialog-title-layout {
	display : none;
}
div#top-dialog-root_mailSaveSuccessDialog .top-dialog-content {
	background : transparent;
	padding : 0px;
	height : 100%;
}
div#mailSaveSuccessPopupLayout {
	background : rgba(0,0,0,0.70);
}
img#mailSaveSuccessPopupLayout_Image {
	background : #ffffff;
}
span#mailSaveSuccessPopupLayout_Box,
span#mailSaveSuccessPopupLayout_Bar,
span#mailSaveSuccessPopupLayout_Write {
	color : rgba(255,255,255,0.60);
}

div#top-dialog-root_mailSendSuccessDialog {
	background : transparent;
	top: calc(100% - 90px) !important;
    left: calc(100% - 395px) !important;
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.50) !important;
}
div#top-dialog-root_mailSendSuccessDialog .top-dialog-title-layout {
	display : none;
}
div#top-dialog-root_mailSendSuccessDialog .top-dialog-content {
	background : transparent;
	padding : 0px;
	height : 100%;
}
div#mailSendSuccessPopupLayout {
	background : rgba(0,0,0,0.70);
}
img#mailSendSuccessPopupLayout_Image {
	background : #ffffff;
}
span#mailSendSuccessPopupLayout_Box,
span#mailSendSuccessPopupLayout_Bar,
span#mailSendSuccessPopupLayout_Write {
	color : rgba(255,255,255,0.60);
}

div#mailWritePopupLayout_FileTable .head-cell,
div#mailWriteToMePopupLayout_FileTable .head-cell {
	padding : 0px 7px;
}
div#mailWritePopupLayout_FileTable .body-cell,
div#mailWriteToMePopupLayout_FileTable .body-cell {
	padding : 0px 3px; 
}

.mail-address-error {
	border : 1px solid red !important;	
}
.mail-address-error .top-chip-content {
	color : red !important;
}
.mail-address-error .top-chip-close:before {
	color : red !important;
}

div#innerframe_mailWriteLayout_FileTable, 
div#innerframe_mailWriteToMeLayout_FileTable{
	margin-top : 40px !important
}



/* 파일미리보기 */
#top-dialog-root_MailFilePreviewDialog {
    width: 100% !important;
    height: 100% !important;
    top: 0px !important;
    left: 0px !important;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
}
#top-dialog-root_MailFilePreviewDialog .top-dialog-title-layout {
	display : none;
}

#top-dialog-root_MailFilePreviewDialog .top-dialog-content {
    width: calc(100% - 40px) !important;
    height: calc(100% - 94px) !important;
    background: transparent;
    border-top: 0px;
}

#top-dialog-root_MailFilePreviewDialog top-imageview#mailPreviewPopupLayout_imageViewer,
#top-dialog-root_MailFilePreviewDialog top-videoview#mailPreviewPopupLayout_videoViewer,
#top-dialog-root_MailFilePreviewDialog top-webview#mailPreviewPopupLayout_webViewer,
#top-dialog-root_MailFilePreviewDialog top-textview#mailPreviewPopupLayout_notSupported {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#top-dialog-root_MailFilePreviewDialog top-webview#mailPreviewPopupLayout_webViewer {
    width: 100%;
    height: 100% !important;
}

div#mailPreviewPopupLayout {
	overflow : hidden !important;
}
img#mailPreviewPopupLayout_imageViewer{
	border : 0px !important;
	border-radius: 0px !important;
}
top-linearlayout#mailMainRight{
	flex : 1;
}



div#mailWriteLayout_Info_Sender_Account>span{
	border-style:none;
}

span#externalAccount a.top-textview-url{
	padding : 0.94rem 0.38rem 0.06rem 1.25rem;
}
span#autoClassify a.top-textview-url,
span#spamSettings a.top-textview-url{
	padding : 0.94rem 0.38rem 0.06rem 1.06rem;
}

div#mailMainLayout_Button{
	    text-align: center;
}

#mailSelectMailLayout_Image{
	border-style : none;
}

#mailExternalAccountManagementLayout_External_Account_Table_Layout{
	overflow-y : scroll !important;
}

span#mailMainLayout_addExtenalMail_Icon{
	font-size : 1.0625rem !important ; 
}
span#mailMainLayout_Title_Icon{
	font-size : 1.0625rem !important;
}

#mailReadLayout_Content_ table{
	table-layout : auto;
}
#mailReadLayout_Content_ img{
	max-width : 100%;
}

.mail-send-addressbookBtn button,
.mail-send-addressbookBtn button:hover{
	font-size : 0.75rem;
	background-color : #FFFFFF; 
	border : 1px solid #C6CED6;
	color : #3B3B3B;
	border-radius : 0.9375rem;

}

#mailTwoPanelLayout top-checkbox .top-checkbox-text i::before,
#mailThreePanelLayout_List top-checkbox .top-checkbox-text i::before,
#mailAddressBookMainLayout top-checkbox .top-checkbox-text i::before{
	content : "\e920";
	font-size : 0.9375rem;
	color : #C6CED6;
	margin-top : -5px;
}
#mailTwoPanelLayout top-checkbox .top-checkbox-text.checked i::before,
#mailThreePanelLayout_List top-checkbox .top-checkbox-text.checked i::before,
#mailAddressBookMainLayout top-checkbox .top-checkbox-text.checked i::before{
	content : "\e907";
	font-size : 0.9375rem;
	color : #6C56E5;
	margin-top : -5px;
	
	
}

#mailTwoPanelLayout top-textfield .top-textfield-root .top-textfield-text:focus,
#mailThreePanelLayout top-textfield .top-textfield-root .top-textfield-text:focus{
	box-shadow : none; 
}

.mail-text-medium span a{
	font-weight : 500;
}

.mail-emmpty-trash img:hover{
	background-color: #DCDDFF;
    border-radius: 50%;
}

/* mailMainLeft icon hover purple */
.ic-purple .top-linearlayout-root {
	background-color : inherit !important;
}
.ic-purple .top-icon-root .top-icon-content{
	cursor : pointer;
}
.ic-purple .top-icon-root:before {
	color : #8C8E92;
}
.ic-purple .top-icon-root:hover:before{
	background-color : #BCBEFF;
	padding:0.28rem;
	border-radius:50%;
}
.ic-purple .top-icon-root:active:before{
	color : #BCBEFF;
}
top-icon[disabled="true"].ic-purple .top-icon-root{
	background-color : #BCBEFF;
	border-radius:50%;
}