div#mailTwoPanelLayout_Table > div > div > div > div > table > tbody > tr{
	height : 3.38rem !important;
}
#mailTwoPanelLayout_Pagination > div > ul > li > a{
	    font-size: 0.625rem !important;
}

.received_time>span
{
	    font-size: 0.69rem !important;
}
.icon-work_attachfile>span,
.two_displayName>span,
.icon-work_important>span,
.attachCnt>span
{
	    font-size: 0.625rem !important;
}

#mailTwoPanelLayout_Receive_Check_All > label,
#mailTwoPanelLayout_Sent_Check_All > label,
#mailTwoPanelLayout_Temp_Check_All > label,
#mailTwoPanelLayout_SendMe_Check_All > label,
#mailTwoPanelLayout_Spam_Check_All > label,
#mailTwoPanelLayout_Trash_Check_All > label
{
	margin : 0 0.98rem 0 1rem;
    cursor: pointer;
}


#mailTwoPanelLayout_Receive_SelectBox_Filter > div > span,
#mailTwoPanelLayout_Sent_SelectBox_Filter > div > span,
#mailTwoPanelLayout_Temp_SelectBox_Filter > div > span,
#mailTwoPanelLayout_SendMe_SelectBox_Filter > div > span,
#mailTwoPanelLayout_Spam_SelectBox_Filter > div > span,
#mailTwoPanelLayout_Trash_SelectBox_Filter > div > span
{
	min-width : 4.38rem;
	border-width: 0px 1px 0px 1px;
	font-size: 0.75rem;
	border-radius : 0px;
}    
div#mailTwoPanelLayout_Receive_SelectBox_Filter > ul > li,
div#mailTwoPanelLayout_Sent_SelectBox_Filter > ul > li,
div#mailTwoPanelLayout_Temp_SelectBox_Filter > ul > li,
div#mailTwoPanelLayout_SendMe_SelectBox_Filter > ul > li,
div#mailTwoPanelLayout_Spam_SelectBox_Filter > ul > li,
div#mailTwoPanelLayout_Trash_SelectBox_Filter > ul > li
{
    line-height: 38px !important;
} 
#mailTwoPanelLayout_Receive_Search_Text > div,
#mailTwoPanelLayout_Sent_Search_Text > div,
#mailTwoPanelLayout_Temp_Search_Text > div,
#mailTwoPanelLayout_SendMe_Search_Text > div,
#mailTwoPanelLayout_Spam_Search_Text > div,
#mailTwoPanelLayout_Trash_Search_Text > div
{
	margin : 0 0.63rem 0 0;
	width : 9rem;
}

#mailTwoPanelLayout_Receive_Search_Text > div > form > input,
#mailTwoPanelLayout_Sent_Search_Text > div > form > input,
#mailTwoPanelLayout_Temp_Search_Text > div > form > input,
#mailTwoPanelLayout_SendMe_Search_Text > div > form > input,
#mailTwoPanelLayout_Spam_Search_Text > div > form > input,
#mailTwoPanelLayout_Trash_Search_Text > div > form > input
{
    min-width: 9rem;
	border-width: 0px 1px 0px 0px;
	font-size: 0.75rem;
	border-radius : 0px;
}
button#mailTwoPanelLayout_Receive_Button_Delete,
button#mailTwoPanelLayout_Sent_Button_Delete,
button#mailTwoPanelLayout_Temp_Button_Delete,
button#mailTwoPanelLayout_SendMe_Button_Delete
{
	border-radius : 4px;
	width : 3rem;
	margin : 0 0.31rem 0 0;
	font-size : 0.75rem;
}

button#mailTwoPanelLayout_Receive_Button_Read,
button#mailTwoPanelLayout_Temp_Button_Read,
button#mailTwoPanelLayout_SendMe_Button_Read,
button#mailTwoPanelLayout_Sent_Button_Read, 
button#mailTwoPanelLayout_Spam_Button_Read,
button#mailTwoPanelLayout_Trash_Button_Read
{
	border-radius : 4px;
	width : 3rem;
	margin : 0 0.31rem 0 0;
	font-size : 0.75rem;
}

#mailTwoPanelLayout_Receive_SelectBox_Move > span,
#mailTwoPanelLayout_Sent_SelectBox_Move > span,
#mailTwoPanelLayout_SendMe_SelectBox_Move > span,
#mailTwoPanelLayout_Spam_SelectBox_Move > span,
#mailTwoPanelLayout_Trash_SelectBox_Move > span
{
	border-radius : 4px;
	width : 3.5rem;
	margin : 0 0.31rem 0 0;
	cursor: pointer;

}
button#mailTwoPanelLayout_Sent_Button_Resend{
	width : 5.5rem;
	margin : 0 0.31rem 0 0;
	border-radius : 4px;
	font-size : 0.75rem;
}
button#mailTwoPanelLayout_Spam_Button_NotSpam{
	width : 5rem;
	margin : 0 0.31rem 0 0;
	border-radius : 4px;
	font-size : 0.75rem;
}
button#mailTwoPanelLayout_Spam_Button_Delete,
button#mailTwoPanelLayout_Trash_Button_Delete
{
	border-radius : 4px;
	width : 5rem;
	margin : 0 0.31rem 0 0;
	font-size : 0.75rem;
}