div#mailAddressBookMainLayout{
	overflow-y : scroll !important;
}

#mailFilterMenuDialogLayout_Sort_Date_Icon{
	outline:none;
}

#mailFilterMenuDialogLayout_Sort_Date_Icon:hover{
	background-color:#BCBEFF;
	border-radius:50%;
}


#newMailWrite__dialog div {
    box-sizing: border-box;
}
#newMailWrite__dialog {
    display: flex;
    position: fixed;
    right: 0.625rem;
    bottom: 0.625rem;
    flex-direction: column;
    width: 38.75rem;
    box-sizing: border-box;
    background: #ffffff;
    box-shadow: 0 0 0.375rem 0 rgba(0, 0, 0, 0.35);
    border-radius: 0.25rem 0.25rem 0 0;
    border-radius: 0.25rem 0.25rem 0rem 0rem;
    z-index: 10;
}
#newMailWrite__dialog__header {
    display: flex;
    flex: 0 0 3.125rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background: #523DC7;
    border-radius: 0.25rem 0.25rem 0 0;
    border-radius: 0.25rem 0.25rem 0rem 0rem;
    padding: 0.8125rem;
}

#newMailWrite__dialog__content {
    display: flex;
    flex-direction: column;
    padding-top: 0.125rem;
    width: 100%;
    height:32.88rem;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 0.8125rem;
    white-space: nowrap;
}

#newMailWrite__progress-text,
#newMailWrite__progress-count {
    font-size: 0.875rem;
    color: #ffffff;
}
.newMailWrite__expand-button {
    display: none;
}

.newMailWrite__expand-button,
.newMailWrite__collapse-button {
    margin-right: 0.875rem;
}



#newMailWrite__senderaccount__search__selectbox{
    border-width: 0px;
}

