

#Icon1173_1>span,
#Icon1173>span
{
	color: #0B1D41 !important;	
    font-size: 0.75rem !important;	
    border-width: 0px !important;	
    border-style: solid !important;	
    vertical-align: middle !important;	
}

button#mailReadLayout_ListButton{
	background: #FFFFFF;
    border: 1px solid #C6CED6;
    border-radius: 4px;
    font-size: 0.75rem;
    color: #3B3B3B;
    text-align: center;
}

.attachFile>span{
	cursor : pointer;
}

div#mailReadButtonLayout_ReceivedMail_,
div#mailReadButtonLayout_SentMail_,
div#mailReadButtonLayout_TempMail_,
div#mailReadButtonLayout_ToMeMail_,
div#mailReadButtonLayout_SpamMail_,
div#mailReadButtonLayout_TrashMail_
{
	width : calc(60%) !important;	
}
div#mailAllMailBoxLayout_ReceivedMail_Buttons_,
div#mailAllMailBoxLayout_SentMail_Buttons_,
div#mailAllMailBoxLayout_TempMail_Buttons_,
div#mailAllMailBoxLayout_ToMeMail_Buttons_,
div#mailAllMailBoxLayout_SpamMail_Buttons_,
div#mailAllMailBoxLayout_TrashMail_Buttons_
{
	width : calc(40%) !important;
}


/* 메일 읽기 버튼 */
#mailReadButtonLayout_ReceivedMail_back>span,
#mailReadButtonLayout_SentMail_back>span,
#mailReadButtonLayout_ToMeMail_back>span,
#mailReadButtonLayout_TempMail_back>span,
#mailReadButtonLayout_SpamMail_back>span,
#mailReadButtonLayout_TrashMail_back>span
{
	cursor : pointer;
}

button#mailReadButtonLayout_ReceivedMail_Delete,
button#mailReadButtonLayout_SentMail_Delete,
button#mailReadButtonLayout_ToMeMail_Delete,
button#mailReadButtonLayout_TempMail_Delete,
button#mailReadButtonLayout_SpamMail_Delete,
button#mailReadButtonLayout_TrashMail_Delete{
	background: #FFFFFF;
	border: 0.0625rem solid #C6CED6;
	border-radius: 0.25rem;
	height: 1.69rem;
    width: 3rem;
    margin:0 0.31rem 0 0;
    padding:0 0 0 0;
    
/* 	font-family: NotoSansCJKkr-Regular !important; */
	font-size: 0.75rem !important;
	color: #3B3B3B;
	text-align: center;
}
button#mailReadButtonLayout_ReceivedMail_Unread,
button#mailReadButtonLayout_SentMail_Unread,
button#mailReadButtonLayout_ToMeMail_Unread,
button#mailReadButtonLayout_TempMail_Unread,
button#mailReadButtonLayout_SpamMail_Unread,
button#mailReadButtonLayout_TrashMail_Unread{
	background: #FFFFFF;
	border: 0.0625rem solid #C6CED6;
	border-radius: 0.25rem;
	height: 1.69rem;
    width: 3rem;
    margin:0 0.31rem 0 0;
    padding:0 0 0 0;
    
    font-size:0.75rem !important;
/*     font-family: NotoSansCJKkr-Regular !important; */
	color: #3B3B3B;
	text-align: center;
}
div#mailReadButtonLayout_ReceivedMail_SelectBox_Move,
div#mailReadButtonLayout_SentMail_SelectBox_Move,
div#mailReadButtonLayout_ToMeMail_SelectBox_Move,
div#mailReadButtonLayout_TempMail_SelectBox_Move,
div#mailReadButtonLayout_SpamMail_SelectBox_Move,
div#mailReadButtonLayout_TrashMail_SelectBox_Move{
	height: 1.69rem !important;
               
}
div#mailReadButtonLayout_ReceivedMail_SelectBox_Move>span,
div#mailReadButtonLayout_SentMail_SelectBox_Move>span,
div#mailReadButtonLayout_ToMeMail_SelectBox_Move>span,
div#mailReadButtonLayout_TempMail_SelectBox_Move>span,
div#mailReadButtonLayout_SpamMail_SelectBox_Move>span,
div#mailReadButtonLayout_TrashMail_SelectBox_Move>span
{
	background: #FFFFFF;
	border: 0.0625rem solid #C6CED6 !important;
	border-radius: 0.25rem !important;
    width: 3.5rem !important;
    margin:0 0.38rem 0 0 !important;
    padding:0 0 0 0 !important;

	cursor : pointer;
	text-align : center !important;
	font-size:0.75rem !important;
/* 	font-family: NotoSansCJKkr-Regular !important; */
	color: #3B3B3B;
}
div#mailReadButtonLayout_ReceivedMail_SelectBox_Save,
div#mailReadButtonLayout_SentMail_SelectBox_Save,
div#mailReadButtonLayout_ToMeMail_SelectBox_Save,
div#mailReadButtonLayout_TempMail_SelectBox_Save,
div#mailReadButtonLayout_SpamMail_SelectBox_Save,
div#mailReadButtonLayout_TrashMail_SelectBox_Save{
	height: 1.69rem !important;
}
div#mailReadButtonLayout_ReceivedMail_SelectBox_Save>span,
div#mailReadButtonLayout_SentMail_SelectBox_Save>span,
div#mailReadButtonLayout_ToMeMail_SelectBox_Save>span,
div#mailReadButtonLayout_TempMail_SelectBox_Save>span,
div#mailReadButtonLayout_SpamMail_SelectBox_Save>span,
div#mailReadButtonLayout_TrashMail_SelectBox_Save>span{
	background: #FFFFFF;
	border: 0.0625rem solid #C6CED6 !important;
	border-radius: 0.25rem !important;
    width: 3.5rem !important;
    margin:0 0.38rem 0 0 !important;
    padding:0 0 0 0 !important;

	cursor : pointer;
	text-align : center !important;
	font-size:0.75rem !important;
/* 	font-family: NotoSansCJKkr-Regular !important; */
	color: #3B3B3B;
}


div#mailReadButtonLayout_ReceivedMail,
div#mailReadButtonLayout_SentMail,
div#mailReadButtonLayout_ToMeMail,
div#mailReadButtonLayout_TempMail,
div#mailReadButtonLayout_SpamMail,
div#mailReadButtonLayout_TrashMail{
	border-bottom: 0.0625rem ;
	border-color : #E3E7EB;
}

span#mailReadButtonLayout_ReceivedMail_back,
span#mailReadButtonLayout_SentMail_back,
span#mailReadButtonLayout_ToMeMail_back,
span#mailReadButtonLayout_TempMail_back,
span#mailReadButtonLayout_SpamMail_back,
span#mailReadButtonLayout_TrashMail_back{
	font-size : 0.79rem !important;
	margin : 0 0.94rem 0 1.25rem;
}

span#mailReadButtonLayout_ReceivedMail_AddressBook,
span#mailReadButtonLayout_SentMail_AddressBook,
span#mailReadButtonLayout_ToMeMail_AddressBook,
span#mailReadButtonLayout_TempMail_AddressBook,
span#mailReadButtonLayout_SpamMail_AddressBook,
span#mailReadButtonLayout_TrashMail_AddressBook{
	
	cursor: pointer;
	color:#595B5D;
	font-size:1.25rem;
	margin : 0 1rem 0 0;
}
span#mailReadButtonLayout_ReceivedMail_Setting,
span#mailReadButtonLayout_SentMail_Setting,
span#mailReadButtonLayout_ToMeMail_Setting,
span#mailReadButtonLayout_TempMail_Setting,
span#mailReadButtonLayout_SpamMail_Setting,
span#mailReadButtonLayout_TrashMail_Setting{
	cursor: pointer;
	color:#595B5D;
	font-size:1.25rem;
	margin : 0 1.19rem 0 0;
}

#mailReadButtonLayout_ReceivedMail_Buttons_Right_,
#mailReadButtonLayout_SentMail_Buttons_Right_,
#mailReadButtonLayout_ToMeMail_Buttons_Right_,
#mailReadButtonLayout_TempMail_Buttons_Right_,
#mailReadButtonLayout_SpamMail_Buttons_Right_,
#mailReadButtonLayout_TrashMail_Buttons_Right_{
	 margin : 0 0.5rem 0 0;
}

span#mailReadLayout_Info__receiveInfo__foldable__icon{
	font-size: 0.31rem;
}

span#mailReadLayout_Importance{
	font-size : 1rem !important;
	margin : 0 1rem 0 1.5rem !important;
	cursor : pointer;
}
span#mailReadLayout_Imp{
	font-size : 1rem !important;
	margin : 0 0 0 0 !important;
	color: #FF486D !important;
}
span#mailReadLayout_Subject{
	font-size : 1rem !important;
	margin : 0 0 0 0;
}
div#mailReadLayout_LinearLayout_Buttons__{
	    text-align: right;
}

button#mailReadLayout_LinearLayout_Buttons__Reply{
	width : 3rem;
    margin : 0 0.31rem 0 0;
    padding : 0 0 0 0; 
    font-size:0.75rem !important;
    
    background: #FFFFFF;
	border: 0.0625rem solid #C6CED6;
	border-radius: 0.25rem; 
}
	
button#mailReadButtonLayout_ReceivedMail_Delete:hover,
button#mailReadButtonLayout_SentMail_Delete:hover,
button#mailReadButtonLayout_ToMeMail_Delete:hover,
button#mailReadButtonLayout_SpamMail_Delete:hover,
button#mailReadButtonLayout_TrashMail_Delete:hover,

button#mailReadButtonLayout_ReceivedMail_Unread:hover,
button#mailReadButtonLayout_SentMail_Unread:hover,
button#mailReadButtonLayout_ToMeMail_Unread:hover,
button#mailReadButtonLayout_SpamMail_Unread:hover,
button#mailReadButtonLayout_TrashMail_Unread:hover,

div#mailReadButtonLayout_ReceivedMail_SelectBox_Move>span:hover,
div#mailReadButtonLayout_SentMail_SelectBox_Move>span:hover,
div#mailReadButtonLayout_ToMeMail_SelectBox_Move>span:hover,
div#mailReadButtonLayout_SpamMail_SelectBox_Move>span:hover,
div#mailReadButtonLayout_TrashMail_SelectBox_Move>span:hover,

div#mailReadButtonLayout_ReceivedMail_SelectBox_Save>span:hover,
div#mailReadButtonLayout_SentMail_SelectBox_Save>span:hover,
div#mailReadButtonLayout_ToMeMail_SelectBox_Save>span:hover,
div#mailReadButtonLayout_SpamMail_SelectBox_Save>span:hover,
div#mailReadButtonLayout_TrashMail_SelectBox_Save>span:hover,

button#mailReadLayout_LinearLayout_Buttons__Reply:hover,
button#mailReadLayout_LinearLayout_Buttons__ReplyAll:hover,
button#mailReadLayout_LinearLayout_Buttons__Forward:hover
{
	background: rgba(0,164,195,0.20) !important;
}

button#mailReadLayout_LinearLayout_Buttons__ReplyAll{
 	width : 4.5rem;
    margin : 0 0.31rem 0 0;
    padding : 0 0 0 0; 
    font-size:0.75rem !important;
    
    background: #FFFFFF;
	border: 0.0625rem solid #C6CED6;
	border-radius: 0.25rem; 
}
button#mailReadLayout_LinearLayout_Buttons__Forward{
	width : 3rem;
    margin : 0 1.25rem 0 0;
    padding : 0 0 0 0; 
    font-size:0.75rem !important;
    
    background: #FFFFFF;
	border: 0.0625rem solid #C6CED6;
	border-radius: 0.25rem; 
}

top-linearlayout#mailReadLayout_LinearLayout_Buttons__{
	float: right;
}



span#mailReadLayout_Info__receiveInfo__receiver,
span#mailReadLayout_Info__ccInfo__ccMember{
	width : calc(100% - 7.25rem)
}

.mail-read-file-box{
	display : flex;
	width : fit-content;
	height : auto;
	margin : 0 0.31rem 0.31rem 0;
	border : 1px solid #E0E5E9;
	border-radius : 0.625rem;
	cursor : pointer; 
}
.mail-read-file-box:hover{
	background-color : #DCDDFF; 
}

.mail-read-file-icon{
	height: 1.875rem;
    width: 1.875rem;
	margin-top : 0.38rem;
	margin-left : 0.38rem;
	border : 0px;
}

.mail-read-file-download {
    background-color: #CDCFFF;
    color: #6C56E5;
    border-radius: 50%;
    font-size: 1.2rem;
    height: 1.875rem;
    width: 1.875rem;
    margin-top : 0.38rem;
	margin-left : 0.38rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mail-read-file-info{
	width : 9.94rem; 
	height : 1.88rem;
	margin : 0.38rem 0.63rem 0.38rem 0.38rem; 
	
}
.mail-read-file-name{
	font-size : 0.69rem;
	overflow : hidden;
	text-overflow : ellipsis;
	white-space : nowrap;
	color : #45474A;
	display : block;
}

.mail-read-file-size{
	font-size : 0.63rem;
	color : #888D96; 
	display : block; 
}

div#mailReadLayout_FileAttach{
	display : flex;
	flex-wrap: wrap;
	width : calc(100% - 4rem) !important;
	max-height : 8.9rem;
	overflow-y : scroll !important;
	
}