/* header layout */
/* common */
.cal-default-text > span {
  font-size: 1rem !important;
}
top-imageview.cal__image .top-imageview-root,
top-imageview.cal__image .top-imageview-root:hover {
  border: none !important;
  border-radius: 0 !important;
}
.cal-icon-layout .top-linearlayout-root:hover {
  background: #dcddff;
}
.icon-work_expand .top-icon-root,
.icon-work_collapse .top-icon-root {
  transform: rotate(90deg);
}
.icon-work_expand .top-icon-root,
.icon-work_collapse .top-icon-root,
.icon-work_cancel .top-icon-root {
  font-size: 0.875rem !important;
  padding: 0.25rem !important;
}
.icon-work_cancel .top-icon-root {
  /* margin-left: 0.75rem; */
}
.cal-list--readonly .top-listview-container .top-listview-list {
  border-bottom: none;
  background: none;
}
.cal-list--readonly .top-listview-container .top-listview-list:hover,
.cal-list--readonly .top-listview-container .top-listview-list:active,
.cal-list--readonly .top-listview-container .top-listview-list:focus,
.cal-list--readonly .top-listview-container .top-listview-list.selected {
  background: none;
  /*   color: inherit; */
}
/* TOP calendar widget */
/* common */
#top-dialog-root_calendarEventCreateDialog div#calendarEventCreateLayout,
#top-dialog-root_calendarEventEditDialog div#calendarEventEditDialogLayout {
  height: 25rem !important;
  width: 30rem !important;
}
/* .top-calendar-filter{
	display: none;
} */
top-calendar .top-calendar-schedule {
  height: 1.25rem;
}
top-calendar [data-id='filter-work'] {
  /*일감 필터 없애기*/
  display: none;
}
top-calendar .top-calendar-drag-body {
  display: none !important;
}
top-calendar .top-calendar-drag-body2 {
  display: none !important;
}
top-calendar .top-calendar-filter-popup-shared {
  display: none;
  height: 0;
}
top-calendar .top-calendar-filter-popup-category {
  display: none;
  height: 0;
}
top-calendar .top-calendar-filter-popup-member {
  border-bottom: 0.0625rem solid #cdcdcf;
}
top-calendar > .top-calendar-root {
  min-width: 0 !important;
  min-height: 0 !important;
}
top-calendar .top-calendar-body.month,
top-calendar .top-calendar-schedules-top .top-calendar-date-numbers,
top-calendar .top-calendar-body.not-month .top-calendar-row,
top-calendar .top-calendar-body-bottom {
  width: calc(100%) !important;
}
/* calendar extra dialog */
.top-calendar-extra-dialog {
  width: 28.75rem !important;
  height: auto !important;
}
.top-calendar-extra-dialog-header {
  height: 1.375rem !important;
  border-bottom: 0.0625rem solid #e3e7eb !important;
  padding: 0.6875rem 0;
}
.top-calendar-extra-dialog-header-text {
  margin: 0 !important;
  width: calc(100% - 1.8125rem) !important;
  text-align: center;
  font-size: 0.875rem !important;
  font-weight: bold !important;
  line-height: 1.25rem !important;
}
.top-calendar-extra-dialog-header-close-btn {
  margin: 0 !important;
  height: 0.75rem !important;
  width: 0.75rem !important;
}
.top-calendar-extra-dialog-body {
  height: auto !important;
  width: calc(100% - 3.75rem) !important;
  margin: 1rem 1.875rem 2rem 1.875rem;
}
.top-calendar-extra-dialog-body-date {
  height: calc(3.4375rem - 1.75rem - 0.0625rem) !important;
  width: 100% !important;
  padding: 0.3125rem 0 1.4375rem 0;
  border: none !important;
  border-bottom: 0.0625rem solid #e7e7e7 !important;
  line-height: 1.5625rem !important;
  text-align: left !important;
  font-size: 1.125rem !important;
  color: #000000 !important;
  font-weight: bold !important;
  margin: 0 !important;
}
.top-calendar-extra-dialog-body-schedules {
  margin: 0 !important;
  border: none !important;
  width: 100% !important;
  height: 13.75rem !important;
}
top-calendar .top-calendar-schedule .top-calendar-extra-dialog .top-calendar-schedule {
  height: 2.125rem !important;
  padding: 0.375rem 0 !important;
  border-bottom: 0.0625rem solid #e7e7e7 !important;
  position: relative !important;
  top: 0 !important;
}
.top-calendar-extra-dialog .top-calendar-schedule-tag {
  margin: 0 !important;
  height: 0.625rem !important;
  width: 0.625rem !important;
  margin-top: 0.375rem !important;
}
.top-calendar-schedule-text {
  line-height: 1.25rem !important;
  font-size: 0.8125rem !important;
  color: #313131 !important;
}
.top-calendar-extra-dialog-footer {
  height: auto !important;
  padding-bottom: 1rem !important;
  text-align: -webkit-right !important;
  margin-right: 1rem !important;
}
.top-calendar-extra-dialog-footer-close-btn {
  margin: 0 1rem 0 0 !important;
  width: 4.5rem !important;
  height: 1.875rem !important;
  border-radius: 0.9375rem !important;
  background: #f0a224 !important;
}
top-calendar .top-calendar-extra-dialog-header-close-btn:before {
  font-size: 0.75rem !important;
}
/* calendar header */
top-calendar .top-calendar-today-schedule-btn {
  border-radius: 1rem;
  width: 5.0625rem !important;
  margin-left: 0.75rem;
  background-color: #f0a224 !important;
  font-size: 0.75rem !important;
  height: 1.6875rem;
  margin-top: 0.625rem !important;
}
top-calendar .top-calendar-header {
  height: 2.9375rem !important;
}
top-calendar .top-calendar-prev-btn,
top-calendar .top-calendar-next-btn,
top-calendar .top-calendar-today {
  margin-top: 0.625rem !important;
  border: 0 !important;
  color: #999999 !important;
  cursor: pointer;
  width: 1.6875rem;
  height: 1.6875rem;
}
top-calendar .top-calendar-next-btn:hover,
top-calendar .top-calendar-prev-btn:hover,
top-calendar .top-calendar-next-btn:active,
top-calendar .top-calendar-prev-btn:active {
  background-color: white !important;
  color: #999999 !important;
  cursor: pointer;
}
top-calendar .top-calendar-prev-btn {
  margin-right: 0.1875rem;
}
top-calendar .top-calendar-next-btn {
  margin-left: 0.1875rem;
  margin-right: 0 !important;
}
top-calendar .top-calendar-prev-btn:before,
top-calendar .top-calendar-next-btn:before{
  font-size: 1.0625rem;
  line-height: 1.6875rem;
}
top-calendar .top-calendar-today {
  width: 1.6875rem !important;
  color: #e6a31e !important;
  font-weight: bold !important;
  text-align: center;
  border-radius: 0.1875rem;
  font-size: 0.75rem;
  line-height: 1.6875rem;
}
top-calendar .top-calendar-today:hover {
  background: #fff2d8 !important;
}
top-calendar .top-calendar-today:hover {
  background: #ffe8bd !important;
}
top-calendar .top-calendar-current {
  margin-top: 0.375rem;
  font-size: 1.25rem !important;
  height: 2.125rem !important;
  line-height: 1.9375rem !important;
  font-weight: normal !important;
}
top-calendar .top-calendar-header-right {
  margin-top: 0.625rem;
}
top-linearlayout #calendarHeaderLayout.cal-header,
div#calendarIcon .linear-child-vertical,
div#calendarHeader.top-linearlayout-root,
div#calendarIconLayout .top-linearlayout-root,
top-linearlayout#calendarIconLayout,
top-linearlayout#calendarIcon.linear-child-vertical {
  border: 0 !important;
}
top-calendar .top-calendar-type{
  width: 5.0625rem;
  margin-top: 0 !important;
}
top-calendar .top-calendar-filter {
  margin-top: 0 !important;
}
top-calendar .top-calendar-type>* {
  width: 1.6875rem;
  height: 1.6875rem;
  line-height: 1.625rem;
  font-size: 0.75rem;
}
top-calendar .top-calendar-type-month.checked,
top-calendar .top-calendar-type-week.checked,
top-calendar .top-calendar-type-day.checked {
  background: white !important;
  color: #3b3b3b !important;
}
top-calendar .top-calendar-type-month,
top-calendar .top-calendar-type-week,
top-calendar .top-calendar-type-day {
  cursor: pointer;
  border: 0.0625rem solid #ced3d8 !important;
  color: #9d9d9d;
  background: #e3e4e9;
}
top-calendar .top-calendar-type-month {
  border-radius: 0.25rem 0 0 0.25rem;
  border-right: 0 !important;
}
top-calendar .top-calendar-type-day {
  border-radius: 0 0.25rem 0.25rem 0;
  border-left: 0 !important;
}
top-calendar .top-calendar-filter {
  border: 0 !important;
  color: #75757f !important;
}
top-calendar .top-calendar-filter:hover,
top-calendar .top-calendar-filter:active,
top-calendar .closed:hover,
top-calendar .closed:active {
  background-color: transparent !important;
}
top-calendar .top-calendar-filter:before {
  content: '\e97d' !important;
}
/* calendar content */
top-calendar .top-calendar-days,
top-calendar .top-calendar-schedules-top .top-calendar-date-number {
  border-top: #f0f2f5 0.0625rem solid !important;
  border-bottom: #f0f2f5 0.0625rem solid !important;
  background-color: transparent !important;
  color: #333333 !important;
}
top-calendar .top-calendar-schedules-top .top-calendar-date-number,
top-calendar .top-calendar-timeline-top .top-calendar-days {
  border-right: #f0f2f5 0.0625rem solid !important;
}
top-calendar .top-calendar-day {
  font-size: 0.75rem !important;
}
top-calendar .top-calendar-date {
  border-right: none !important;
}
top-calendar .top-calendar-row {
  border-bottom: #f0f2f5 0.0625rem solid !important;
}
top-calendar .top-calendar-body.month .top-calendar-date-number {
  font-size: 0.6875rem !important;
  margin-top: 0.125rem;
  margin-left: 0.3125rem;
}
/* today */
top-calendar .top-calendar-row .top-calendar-date.focused,
top-calendar .top-calendar-date-number.focused {
  box-shadow: none !important;
}
top-calendar .top-calendar-date.today {
  background-color: transparent !important;
}
top-calendar .top-calendar-date.today .top-calendar-date-number {
  background-color: #f0a224;
  border-radius: 100%;
  width: 0.75rem;
  height: 1rem;
  color: white;
}
/* filter */
.cal__filter .top-accordionlayout-title {
  padding: 0 0.75rem !important;
  height: 2.1875rem;
  line-height: 2.0625rem !important;
  font-weight: 37.5rem !important;
  background-color: white !important;
  color: #000000 !important;
  border-bottom: 0 !important;
}
.cal__filter .top-accordionlayout-title .top-accordionlayout-icon {
  color: #75757f !important;
}
.cal__filter top-checkbox .top-checkbox-text span {
  color: #000000;
}
.cal__filter .top-accordionlayout-title.active .top-accordionlayout-icon:before {
  content: '\ea88' !important;
}
.cal__filter .top-accordionlayout-title .top-accordionlayout-icon:before {
  content: '\ea6a' !important;
}
.cal__filter .top-accordionlayout-container .top-accordionlayout-content {
  padding: 0 !important;
  background-color: #ffffff;
}
top-checkbox.cal__check .top-checkbox-text.checked i::before {
  font-size: 0.875rem;
  color: #f0a224;
}
top-checkbox.cal__check .top-checkbox-text i::before {
  color: #c6ced6;
}
/*새 일정 CSS*/
#top-dialog-root_calendarEventViewDialog {
  left: calc(44%);
}
#top-dialog-root_calendarEditRepeatedOptionDialog,
#top-dialog-root_calendarRepeatedEventDeleteDialog {
  left: calc(44%);
}
#top-dialog-root_CalendarSetEventIterationDialog {
  left: calc(44%);
}
#top-dialog-root_calendarEventEditDialog,
#top-dialog-root_calendarEventCreateDialog {
  left: calc(33%);
}
#cal-create-start-date .top-datepicker-input,
#cal-create-end-date .top-datepicker-input{
  font-size: 0.8125rem;
}
.top-dialog-content .importance_checkbox .top-checkbox-text span {
  line-height: 1.6875rem;
}
.cal__file-item > .top-linearlayout-root,
.cal__file-item--detail > .top-linearlayout-root {
  height: calc(2.625rem - 0.75rem);
  width: calc(13.75rem - 1.125rem) !important;
  padding: 0.375rem;
  margin: 0 0.1875rem 0.25rem 0;
  background-color: #ffffff;
  border-radius: 0.5rem;
  border: 0.0625rem solid #e0e5e9;
}
.cal__file-item--detail:nth-child(even) > .top-linearlayout-root {
  margin-right: 0;
}
.cal__file-item .top-imageview-root,
.cal__file-item--detail .top-imageview-root {
  width: 1.875rem !important;
  height: 1.875rem;
  margin-right: 0.375rem;
  border: 0 !important;
}
.cal__file-item-content > .top-linearlayout-root {
  height: 100%;
  width: calc(100% - 2.875rem) !important;
}
.cal__file-item-content--detail > .top-linearlayout-root {
  height: 100%;
  width: calc(100% - 2.25rem) !important;
}
.cal__file-item-content .cal__file-item-name,
.cal__file-item-content--detail .cal__file-item-name {
  color: #45474a;
  font-size: 0.6875rem;
  height: 0.9375rem;
}
.cal__file-item-content--detail .cal__file-item-size {
  color: #888d96;
  font-size: 0.625rem;
  height: 0.9375rem;
}
.cal__file-item-remove > .top-linearlayout-root {
  height: 100% !important;
  width: calc(0.625rem) !important;
}
.cal__file-item-remove .top-icon-root {
  cursor: pointer;
  height: 0.625rem;
  width: 0.625rem;
  vertical-align: top;
  font-size: 0.625rem;
}
.cal__member .top-chip-root {
  padding: 0.25rem 0 0.25rem 0.25rem;
  background: transparent;
}
.cal__member .top-chip-box {
  padding: 0 !important;
  margin: 0 0.25rem 0.25rem 0 !important;
  background: #ffffff !important;
  border: 0.0625rem solid #c6ced6 !important;
  height: 1.625rem !important;
}
.cal__member .top-chip-box:hover {
  border: 0.0625rem solid #6c56e5 !important;
  background: #dcddff !important;
}
.cal__member .top-chip-box:focus {
  border: 0.0625rem solid #6c56e5 !important;
  background: #6c56e5 !important;
  border-radius: 1.5625rem !important;
}
.cal__member .top-chip-box.cal__member--me,
.cal__member .top-chip-box.cal__member--me:hover,
.cal__member .top-chip-box.cal__member--me:focus {
  background: #e0e1eb !important;
  border: 0.0625rem solid #c6ced6 !important;
  cursor: default !important;
}
.cal__member .top-chip-box.cal__member--me .top-chip-close:before {
  content: '\ea69' !important;
}
.cal__member .top-chip-box .top-chip-content {
  margin: 0 !important;
}
.cal__member .top-chip-box .top-chip-content > img {
  width: 1.5rem !important;
  height: 1.5rem !important;
  border-radius: 1.5625rem;
}
.cal__member .top-chip-box .top-chip-content > i.icon-none {
  display: none;
}
.cal__member .top-chip-box .top-chip-content > span {
  font-size: 0.75rem;
  line-height: 1.4375rem;
  vertical-align: top;
  margin-left: 0.3125rem;
}
.cal__member .top-chip-box .top-chip-content > i.top-chip-close,
.cal__member .top-chip-box .top-chip-content > i.cal__member-icon--me {
  vertical-align: top;
}
.cal__member .top-chip-box .top-chip-content > i.cal__member-icon--me {
  line-height: 1.5625rem;
  cursor: default;
  margin-left: 0.3125rem;
}
.cal__member .top-chip-box .top-chip-content > i.cal__member-icon--me:before {
  content: '\ea69';
  font-family: 'tmaxop';
  font-style: normal;
  font-size: 0.6875rem;
}
.cal__member .top-chip-box .top-chip-content > i.top-chip-close:before,
.cal__member .top-chip-box .top-chip-content > i.cal__member-icon--me:before {
  color: #75757f;
  margin: 0.3125rem 0.4375rem 0 0;
}
span.top-tooltip-text.TScheduleAddDetailTab1UserException_Icon_tooltip {
  font-size: 0.6875rem;
  background-color: #ff5151;
  padding: 0.5rem 0.875rem;
}
top-checkbox#cal-create-importance .top-checkbox-text span {
  vertical-align: center;
}
top-linearlayout #calendarEventCreate_TailLayout.top-linearlayout-root {
  text-align: right;
}
input#cal-create-title {
  font-size: 0.8125rem;
}
input#cal-create-title::palceholder {
  color: gray;
  font-size: 0.8125rem;
}
input#cal-create-location {
  font-size: 0.8125rem;
}
input#cal-create-location::palceholder {
  color: #c1c1c1;
  font-size: 0.8125rem;
}
.cal__file-download {
  display: inline-block;
  align-items: center;
  justify-content: center;
  background-color: #cdcfff;
  color: #6c56e5;
  border-radius: 50%;
  font-size: 1.25rem;
  height: 1.875rem;
  width: 1.875rem;
  margin-right: 0.375rem;
  flex-shrink: 0;
}
.cal__file-download::before {
  margin-left: 0.3125rem;
  line-height: 1.1875rem;
}
.cal__file-image-content .top-linearlayout-root {
  border-width: 0rem !important;
}
#calendarFileSaveMenu .top-contextmenu-container .top-contextmenu_item {
  font-size: 0.8125rem;
  height: 1.25rem;
  padding: 0.125rem 0.4rem;
}
#TScheduleAddDetailTab1AddFile_MenuHolder ul,
#calendarFileSaveMenu ul {
  border-radius: 0.25rem;
  background-color: #ffffff;
  border: 0.0625rem solid #c6ced6;
  box-shadow: 0 0.0625rem 0.25rem 0;
}
#TScheduleAddDetailTab1AddFile_MenuHolder li,
#calendarFileSaveMenu li {
  border-radius: 1.125rem;
}
#TScheduleAddDetailTab1AddFile_MenuHolder .top-menu_item,
#calendarFileSaveMenu .top-contextmenu_item {
  color: #000000;
  font-size: 0.8125rem;
  min-width: 6rem;
  height: 1.5rem;
  padding-top: 0.25rem;
}
#TScheduleAddDetailTab1AddFile_MenuHolder .top-menu_item:hover,
#calendarFileSaveMenu .top-contextmenu_item:hover {
  background-color: #fff2d8;
}
#TScheduleAddDetailTab1AddFile_MenuHolder .top-menu_item_inner,
#calendarFileSaveMenu .top-contextmenu_item_inner {
  line-height: 0.625rem;
  padding-right: 0.25rem;
}
#calendarFileSaveMenu .top-contextmenu_image {
  width: 0.85rem;
  height: 0.85rem;
  margin-right: 0.5rem;
}
#cal-create-title::placeholder,
#cal-create-location::placeholder,
#cal-create-desc::placeholder{
	color:#BDC6D3;
}

/*반복 설정된 일정*/
top-radiobutton.cal__repeated-option .top-radiobutton-text i::before,
top-radiobutton.cal__repeated-option .top-radiobutton-text.checked i::before {
  font-size: 0.9375rem;
}
#calendarEditRepeatedOptionDialogLayout .top-radiobutton-icon,
#calendarRepeatedEventDeleteDialogLayout .top-radiobutton-icon{
  margin-right: 1.1875rem !important;
}
/*TOP팀에서 기획에서 나온 디자인으로 아이콘 추가해주기전에 .svg 파일로 임시로 넣어놓음*/
span#TScheduleAddDetailTab1StartDate_Icon {
  content: url(../../res/calendar/calendar_calendar.svg);
}
span#TScheduleAddDetailTab1AddMembers_Icon {
  content: url(../../res/calendar/calendar_member.svg);
}
span#TScheduleAddDetailTab1AddLocation_Icon {
  content: url(../../res/calendar/calendar_location.svg);
}
span#TScheduleAddDetailTab1Color_Icon {
  content: url(../../res/calendar/calendar_color.svg);
}
span#TScheduleAddDetailTab1AddNotification_Icon {
  content: url(../../res/calendar/calendar_alarm.svg);
}
span#TScheduleAddDetailTab1AddFile_Icon {
  content: url(../../res/calendar/calendar_attach.svg);
}
span#TScheduleAddDetailTab1AddDescription_Icon {
  content: url(../../res/calendar/calendar_description.svg);
}
div#cal-create-repeat-cycle span,
div#cal-create-end-time span,
div#cal-create-start-time span {
  font-size: 0.8125rem;
}
/*반복 주기 직접 설정 다이얼로그 */
div#top-dialog-root_CalendarSetEventIterationDialog span {
  right: 0;
  left: 0;
  text-align: center;
}
div#top-dialog-root_CalendarSetEventIterationDialog.top-dialog-root.popup_02 .top-dialog-title-layout .top-dialog-close {
  bottom: 0.25rem;
  right: 1.4375rem;
}
div#cal-alarm top-linearlayout div top-selectbox .top-selectbox-container {
  font-size: 0.8125rem;
}
div#cal-alarm top-linearlayout button {
  display: inline-flex;
}
div#TScheduleAddDetailTab1AddFile_MenuHolder .top-menu_btn {
  padding: 0.1875rem;
  vertical-align: middle;
  text-align: left;
  margin-left: 1.0625rem;
  width: 5.75rem;
}
div#TScheduleAddDetailTab1AddFile_MenuHolder .top-menu_btn span,
div#TScheduleAddDetailTab1AddFile_MenuHolder .top-menu_btn i {
  color: #e6a313;
  font-size: 0.8125rem;
}
/*새 일정 CSS*/
/*캘린더 더보기 메뉴*/
top-calendar .top-calendar-filter-popup {
  width: 13.375rem;
  height: wrap-content;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.8125rem;
}
top-calendar .top-calendar-filter-popup-type {
  display: none;
  height: 0;
}
top-calendar .top-calendar-filter-holiday {
  display: none;
  height: 0;
}
top-calendar .top-calendar-filter-holiday-on {
  display: none;
  height: 0;
}
top-calendar .top-calendar-filter-holiday-off {
  display: none;
  height: 0;
}
top-calendar .top-calendar-filter-popup-init {
  display: none;
  height: 0;
}
top-calendar .top-calendar-filter-popup-shared {
  display: none;
  height: 0;
}
top-calendar .top-calendar-filter-popup-category {
  display: none;
  height: 0;
}
top-calendar .top-calendar-filter-popup-member {
  border-bottom: 0.0625rem solid #cdcdcf;
  display: none;
  height: 0;
}
.cal__filter--submenu {
  font-size: 0.75rem;
}
.cal-button-inline-block {
  display: inline-block !important;
}
.cal__import--button .top-button-root:hover {
  background: #f0a224 !important;
}
.cal__url--import .top-textfield-text {
  font-size: 0.75rem;
  background: #c6ced6 !important;
}
