div#top-dialog-overlay_friendManageBtobDialog{
    opacity: 0;
}

div#top-dialog-root_friendManageBtobDialog{
	width : 17.5rem !important;
	height : 29.25rem !important;
	border-radius: 4px 4px 4px 4px;
}
div#top-dialog-root_friendManageBtobDialog div.top-dialog-content{
	border-radius: 4px 4px 4px 4px;
}

div#top-dialog-overlay_friendManageDialog{
    opacity: 0;
}
div#top-dialog-root_friendManageDialog{
	width : 17.5rem !important;
	height : 25.63rem !important;
	border-radius: 4px 4px 4px 4px;
}
div#top-dialog-root_friendManageDialog div.top-dialog-content{
	border-radius: 4px 4px 4px 4px;
}
span#fmStarLineBtobIcon:before,
span#fmStarLineIcon:before{
	content: url(../../res/profile/ts_star_line_white.svg);
}
span#fmFullStarBtobIcon:before,
span#fmFullStarIcon:before{
	content: url(../../res/profile/ts_star_whie.svg);
}
span#fmCancelIcon:before,
span#fmCancelIcon_b2c:before{
	content: url(../../res/profile/cancel_white.svg);
}
span#fmOfficeIcon:before{
	content: url(../../res/profile/office_white.svg);
}
span#fmComNumIcon:before{
	content: url(../../res/profile/call_white.svg);
}
span#fmMobileIcon:before,
span#fmMobileIcon_b2c:before{
	content: url(../../res/profile/phone_white.svg);
}
span#fmMailIcon:before,
span#fmMailIcon_b2c:before{
	content: url(../../res/profile/mail_white.svg);
}
span#fmFriendAddIcon:before,
span#fmFriendAddIcon_b2c:before{
	content: url(../../res/common/frends_add.svg);
}
span#fmTalkIcon:before,
span#fmTalkIcon_b2c:before{
	content: url(../../res/common/TeeTalk.svg);
}
span#fmMeetingIcon:before,
span#fmMeetingIcon_b2c:before{
	content: url(../../res/common/TeeMeeting.svg);
}
span#fmEditNickIcon_b2c:before{
	content: url(../../res/profile/edit_white.svg);
}


div#fmOfficeLayout span#fmOfficeTextView{
	white-space : normal;
	width : 14rem !important;
}

div#fmBackgroundLinearLayout img#fmImageView,
div#fmBackgroundLinearLayout_b2c img#fmImageView_b2c{
	width: 6.25rem;
    height: 6.25rem;
    margin: 1.56rem 0px 0px;
    border-radius: 50%;
    position: relative;
    top: 0rem;
    left: 5.63rem;
    z-index: 3;
}
div#fmBackgroundLinearLayout img.fmIdCardIcon{
	width: 6rem;
    position: absolute;
    top: 6rem;
    left: 9rem;
    z-index: 2;
}

div#BackgroundDimLayout,
div#BackgroundDimLayout_b2c{
	background-color: rgba(0,0,0,0.6);
}
div#fmBackgroundLinearLayout,
div#fmBackgroundLinearLayout_b2c{
	background-position : center;
	border-radius: 4px 4px 20px 20px;
}

div.profpop-field{
	height : 2.125rem;
	margin-left: 2rem;
	margin-top : 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

input.profpop_nick{
		width : 15rem;
		height : 1.38rem;
		background-color: transparent;
 	   	border-width: 0rem 0rem 1px 0px;
   		border-radius: 0px;
  	 	border-color: #ffffff;
  	 	color : #ffffff;
  	 	font-size: 0.84rem !important;
}
input.profpop_nick:hover,
input.profpop_nick:focus{
		background-color: transparent;
		border-width: 0rem 0rem 1px 0px;
   		border-radius: 0px;
  	 	border-color: #ffffff;
 	 	color : #ffffff;
}
div.profpop-btn{
		margin-top: 1.58rem;
		align-items: center;
		display : flex;
}
div.profpop-btn #profpop_saveBtn{
		width : 4.5rem;
		height : 1.88rem;
		font-size : 0.75rem;
		margin-left: 4rem;
		border : none;
}
div.profpop-btn #profpop_canceBtn{
		width : 4.5rem;
		height : 1.88rem;
		font-size : 0.75rem;
		margin-left : 0.5rem
}
	