	div#gpf{
		border-radius: 4px 4px 20px 20px;
		width: 17.5rem;
		height: 27.94rem;
	}
	.top-gpf{
		border-radius: 4px 4px 20px 20px;
		width: 17.1rem;
		height: 22.94rem;
	}
	.top-dim{
		border-radius: 4px 4px 20px 20px;
  	 	width: 17.1rem;
   	 	height: 22.94rem;
   	 }
	div.photo-div{
		display: flex;
    	justify-content: center;
	}
	button.gpf_background{
		width: 2rem;
    	height: 2rem;
   	 	margin: 0.63rem 0px 0px 0.63rem;
   	 	border-radius: 50%;
    	border-width: 0px;
    	background-color: #000000;
    	opacity: 0.8;
	}
	
	button.gpf_photo{
		width: 6.25rem;
		height: 6.25rem;
		border-radius: 50%;
		margin: 0.69rem 0px 0px 0rem;
/* 	    position: absolute; */
/*     	top: 0rem; */
/*     	left: 5.67rem; */
    	z-index: 2;
    	cursor : default;
	}
	button.gpf_photo img{
		width: 6.25rem;
		height: 6.25rem;
		border-radius: 50%;
		margin: -1.07rem 0px -1.2125rem -0.35rem;
		
	}
	button.gpf_camera{
		width : 2rem;
		height : 2rem;
		border-radius: 50%;
    	border-width: 0px;
		position: absolute;
    	top: 8rem;
    	left: 9.27rem;
    	background-color: #000000;
    	opacity: 0.8;
    	
    	z-index: 3;
	}
	button.gpf_camera img{
		width : 0.96rem;
		
	}
	img.gpf_icon_b2b{
	    position: absolute;
  	  	top: 6.3rem;
    	left: 9rem;
    	z-index: 1;
    	width: 5.5rem;
	}
	
	
	
	input.gpf_nickField{
		width : 15rem;
		height : 1.38rem;
		background-color: transparent;
 	   	border-width: 0rem 0rem 1px 0px;
   		border-radius: 0px;
  	 	border-color: #ffffff;
/*   	 	position: absolute; */
/* 	   	top: 10.5rem; */
/*  	   	left: 1.2rem; */
	}
	input.gpf_nickField:hover,
	input.gpf_nickField:focus{
		background-color: transparent;
		border-width: 0rem 0rem 1px 0px;
   		border-radius: 0px;
  	 	border-color: #ffffff;
	}
	
	
	div.name-div{
		display: flex;
    	justify-content: center;
    	align-items: center;
    	margin-top : 1.13rem;
/* 		position: absolute; */
/* 	   	top: 10.5rem; */
/*  	   	left: 1.2rem; */
	}
	div.name-div .icon-circle{
		margin-right : 0.31rem;
	}
	span.gpf_nameView{
		color: #ffffff;
		font-size : 0.81rem;
		opacity : 0.7;
	}
	
	div.id-div{
	display: flex;
    	justify-content: center;
/* 		position: absolute; */
/* 	   	top: 12.5rem; */
/*  	   	left: 1.2rem; */
	}
	span.gpf_id{
		color: #ffffff;
		font-size : 0.81rem;
		opacity : 0.7;
	
	}
	
	
	div.office-div{
		height: 2.2rem;
    	overflow: hidden;
		margin-left :1.25rem;
		margin-top :1.19rem;
    	   white-space: normal;
  		  word-wrap: normal;
   		 width: 16rem;
   		 line-height: 1rem;
	}
	span.gpf_office_text{
		color: #ffffff;
		font-size : 0.75rem;
	}
	div.comNum-div{
	    height: 1.44rem;
		margin-top: 0.44rem;
		margin-left :1.25rem;
/* 		position: absolute; */
/*     	top: 16.5rem; */
/*     	left: 1.2rem; */
	}
	span.gpf_comNum_nc{
		color: #ffffff;
		font-size : 0.75rem;
	}
	input.gpf_comNum_text{
		background-color: transparent;
		color: #ffffff;
		font-size : 0.75rem;
		margin-left : 0.63rem;
		padding-left: 0.4rem;
	}
	input.gpf_comNum_text:hover,
	input.gpf_comNum_text:focus{
		color: #ffffff;
		background-color: transparent;
  	 	border-color: #ffffff;
  	 	font-size : 0.75rem;
	}
	div.phone-div{
	    height: 1.44rem;
		margin-top: 0.44rem;
		margin-left :1.25rem;
/* 		position: absolute; */
/*     	top: 18.5rem; */
/*    	 	left: 1.2rem; */
	}
	span.gpf_phone_nc{
		color: #ffffff;
		font-size : 0.75rem;
	}
	input.gpf_phone_text{
		background-color: transparent;
		color: #ffffff;
		font-size : 0.75rem;
		margin-left : 0.63rem;
		padding-left: 0.4rem;
	}
	input.gpf_phone_text:hover,
	input.gpf_phone_text:focus{
		color: #ffffff;
		background-color: transparent;
  	 	border-color: #ffffff;
  	 	font-size : 0.75rem;
	}
	div.mail-div{
	    margin-top: 0.44rem;
		margin-left :1.25rem;
/* 		position: absolute; */
/* 	  	top: 20.5rem; */
/*     	left: 1.2rem; */
	}
	span.gpf_mail_text{
 	    color: #ffffff;
 	    font-size : 0.75rem;
	}
	div.bot-gpf{
/* 		height : 5.2rem; */
		margin-top : 0.3rem;
		align-items: center;
		display : flex;
	}
	div.bot-gpf_b2c{
		height : 5.2rem;
		margin-top : 0.3rem;
		align-items: center;
		display : flex;
	}
	
	div.bot-gpf #saveBtn{
		width : 4.5rem;
		height : 1.88rem;
		font-size : 0.75rem;
		margin-left: 4rem;
		border : none;
	}
	div.bot-gpf #canceBtn{
		width : 4.5rem;
		height : 1.88rem;
		font-size : 0.75rem;
		margin-left : 0.5rem
	}
	
	.gpf_office_icon,
	.gpf_mail_icon,
	.gpf_phone_icon,
	.gpf_comNum_icon{
		vertical-align : middle;
	}
	
	/**************오류 메시지*******/
	div.phone_popover1{
		position: relative;
    	top: -2.8rem;
   		left:  7.4rem;
	}
	span.phone_popover2{
	font-size: 0.6rem;
    color: white;
    display: flex;
    justify-content: center;
    width: 6rem;
    height: 1rem;
    background: red;
    border-radius: 4px 4px 4px 4px;
    border: none;
    font-weight : normal;
	}
	span.phone_popover2:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 60px;
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: red transparent;
    display: block;
    width: 0;
	}
	button#phoneValidIcon{
		background: none;
    	border: none;
    	color: red;
    	font-size: 1rem;
    	margin-left: -1.5rem;
	}
	
	
	
	div.mobile_popover1{
		position: relative;
    top: -2.815rem;
    left:  7.4rem;
	}
	span.mobile_popover2{
	font-size: 0.6rem;
    color: white;
    display: flex;
    justify-content: center;
    width: 6rem;
    height: 1rem;
    background: red;
    border-radius: 4px 4px 4px 4px;
    border: none;
    font-weight : normal;
	}
	span.mobile_popover2:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 60px;
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: red transparent;
    display: block;
    width: 0;
	}
	button#mobileValidIcon{
		background: none;
    	border: none;
    	color: red;
    	font-size: 1rem;
    	margin-left: -1.5rem;
	}
	
/****************drop menu CSS******************************/
.position-pf_b2b_background {
	position : absolute;
	z-index : 3;
	text-align: center;
	
}
.position-pf_b2b_background .top-linearlayout-root{
	width: 188px;
    height: auto;
    border-width: 0px !important;
    border-style: solid;
    border-color: rgb(205, 205, 207);
    text-align: center;
    vertical-align: top;
    overflow: hidden;
    visibility: visible;
    background : #F5F5F5;
     border-radius: 14px;
}

top-button[id^="pf_b2b_background_"]{
	text-align: center;
}
#pf_b2b_background button {
	outline: none; 
	background-color: #F5F5F5;
	height: 28px;
    padding: 0px 0px 1px 10px;
    color: rgb(51, 51, 51);
	border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-color: rgb(205, 205, 207);
    text-align: left;
    width: 100%;
}
#pf_b2b_background button:hover{
	background-color: #DCDDFF;
	 border-radius: 14px;
}


.position-pf_b2b_image {
	position : absolute;
	z-index : 3;
	text-align: center;
	
}
.position-pf_b2b_image .top-linearlayout-root{
	width: 188px;
    height: auto;
    border-width: 0px !important;
    border-style: solid;
    border-color: rgb(205, 205, 207);
    text-align: center;
    vertical-align: top;
    overflow: hidden;
    visibility: visible;
    background : #F5F5F5;
     border-radius: 14px;
}

top-button[id^="pf_b2b_image_"]{
	text-align: center;
}
#pf_b2b_image button {
	outline: none; 
	background-color: #F5F5F5;
	height: 28px;
    padding: 0px 0px 1px 10px;
    color: rgb(51, 51, 51);
	border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-color: rgb(205, 205, 207);
    text-align: left;
    width: 100%;
}
#pf_b2b_image button:hover{
	background-color: #DCDDFF;
	 border-radius: 14px;
}

/****************B2C CSS******************************/
.b2c-nick-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    
}
input.b2c_nick_edit,
input.b2c_nick_edit:hover,
input.b2c_nick_edit:focus{
	border-width : 0px 0px 2px 0px;
	border-radius : 0px 0px 0px 0px;
	background : transparent;
    color: #FFFFFF;
    font-size: 0.94rem;
    padding-right : 2rem;
}
.b2c-id-div{
	display: flex;
    justify-content: center;
}
.b2c_id{
	color: #ffffff;
	font-size : 0.81rem;
	opacity : 0.7;
}
.b2c-mobile-div{
	margin-top: 0.81rem;
    align-items: center;
    display: flex;
    margin-left: 1.25rem;
}
.b2c_national_code{
	margin-left : 0.63rem;
	color: #ffffff;
	font-size : 0.75rem;
	opacity : 0.9;s
}
.b2c_mobile_text{
	margin-left : 0.43rem;
	color: #ffffff;
	font-size : 0.75rem;
	opacity : 0.9;
}
.b2c_mobile_button{
	margin-left : 3.81rem;
	width : 3rem;
	height : 1.69rem;
	border : 1px solid #C6CED6;
	border-radius : 0.84rem;
	background : transparent;
	color : #ffffff;
	font-size : 0.75rem;
}
.b2c-mail-div{
	margin-top: 0.81rem;
    align-items: center;
    display: flex;
    margin-left: 1.25rem;
}
.b2c_mail_text{
	margin-left : 0.63rem;
	color: #ffffff;
	font-size : 0.75rem;
	opacity : 0.9;
}

div.nick_popover{
/* 	position: absolute; */
/*     top: 8.385rem; */
/*     left: 10.95rem; */
	position : relative;
	top: -1.5rem;
    left: -2.5rem;
}
span.nick_popover{
	font-size: 0.6rem;
    color: white;
    display: flex;
    justify-content: center;
    width: 6rem;
    height: 1rem;
    background: red;
    border-radius: 4px 4px 4px 4px;
    border: none;
    font-weight : normal;
}
span.nick_popover:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 95px;
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: red transparent;
    display: block;
    width: 0;
}
button#nickNullIcon{
		background: none;
    	border: none;
    	color: red;
    	font-size: 1rem;
    	margin-left: -1.5rem;
}

	