/***창모드 가변****/
div#spaceMyProfileLayout,
div#spaceOtherProfileLayout,
div#spaceBtobMyProfileLayout,
div#spaceBtobOtherProfileLayout{
	overflow : auto !important;
}

/**ICON CSS***/

span#spaceotherStarLineIcon:before{
	content: url(../../res/profile/ts_star_line_white.svg);
}
span#spaceotherFullStarIcon:before{
	content: url(../../res/profile/ts_star_whie.svg);
}


span#profileEditIcon:before,
span#BtobprofileEditIcon:before{
			content: url(../../res/profile/profile_edit_white.svg);
	}
span#profileTalkIcon:before,
span#otherprofileTalkIcon:before,
span#BtobprofileTalkIcon:before,
span#BtobotherprofileTalkIcon:before{
			content: url(../../res/profile/friends_white.svg);
	}
span#profileMeetingIcon:before,
span#otherprofileMeetingIcon:before,
span#BtobotherprofileMeetingIcon:before,
span#BtobotherprofilePongIcon:before{
			content: url(../../res/profile/TeeMeeting_white.svg);
	}
span#profilePongIcon:before,
span#otherprofilePongIcon:before,
span#BtobprofilePongIcon:before{
			content: url(../../res/common/TeePong.svg);
	}
span#FriendNickClickIcon:before{
	content: url(../../res/profile/edit_white.svg)
}
/**IMAGE TAG CSS***/
img#spaceProfileImageView,
input#editspaceProfileImageButton,
img#spaceotherProfileImageView{
	padding : 0.5rem;
	cursor: default;
	background : #E6E9ED;
}

span#Icon449Mobile:before,
span#editIcon449Mobile:before,
span#otherIcon449Mobile:before{
			content: url(../../res/profile/phone_white.svg);
	}
span#Icon475Mail:before,
span#editIcon475Mail:before,
span#otherIcon475Mail:before{
			content: url(../../res/profile/mail_white.svg);
	}
	
	
span#ImageButton253:before{
	content: url(../../res/profile/photo_white.svg);
}
span#spaceCameraIcon:before{
	content: url(../../res/profile/camera.svg);
}

/*****LAYOYT CSS******/
#profileEditButton .top-linearlayout-root:hover,
#profileTalkButton .top-linearlayout-root:hover,
#profileMeetingButton .top-linearlayout-root:hover,
#profilePongButton .top-linearlayout-root:hover,
#profileOtherTalkButton .top-linearlayout-root:hover,
#profileOtherMeetingButton .top-linearlayout-root:hover,
#profileOtherPongButton .top-linearlayout-root:hover{
		background-color: rgba(255,255,255,0.4);
		border-radius : 0.25rem;
}

#profileEditButton .top-linearlayout-root:active,
#profileTalkButton .top-linearlayout-root:active,
#profileMeetingButton .top-linearlayout-root:active,
#profilePongButton .top-linearlayout-root:active,
#profileOtherTalkButton .top-linearlayout-root:active,
#profileOtherMeetingButton .top-linearlayout-root:active,
#profileOtherPongButton .top-linearlayout-root:active{
	background-color: rgba(51,51,51,0.50);
	border-radius : 0.25rem;
}

#profileEditButton .top-linearlayout-root.BtnSelected,
#profileTalkButton .top-linearlayout-root.BtnSelected,
#profileMeetingButton .top-linearlayout-root.BtnSelected,
#profilePongButton .top-linearlayout-root.BtnSelected,
#profileOtherTalkButton .top-linearlayout-root.BtnSelected,
#profileEditButton .top-linearlayout-root.BtnSelected,
#profileEditButton .top-linearlayout-root.BtnSelected{
	background-color: rgba(51,51,51,0.50);
	border-radius : 0.25rem;
}

div#spaceMyProfileLayout #myProfileLeftLayout{
	background-color: rgba(0,0,0,0.7);
}
div#otherProfileLeftLayout{
	background-color: rgba(0,0,0,0.7);
}
div#otherProfileMasterLayout{
	background-color: rgba(0,0,0,0.6);
}


div#myProfileMasterLayout{
	background-color: rgba(0,0,0,0.6);
}
div#spaceMyProfileEditLayout{
	background-color: rgba(0,0,0,0.6);
}

 
	
top-linearlayout#spaceMyProfileLayout{
	width : 100% !important;
}
top-linearlayout#spaceOtherProfileLayout{
	width : 100% !important;
}
div#myProfileContentLayout #profileInfoLayout{
	overflow : visible !important;
}
div#otherProfileContentLayout #otherprofileInfoLayout{
	overflow : visible !important;
}
/*******************************************************edit 부분********/
div#myProfileEditContentLayout #editprofileInfoLayout{
	overflow : visible !important;
}
#otherfriendNickField,
#editspaceProflileNick {
	border-width : 0px 0px 2px 0px;
	border-radius : 0px 0px 0px 0px;
	background : transparent;
/* 	padding-right: 50px; */
    color: #FFFFFF;
    font-size: 1.5rem;
}

div#editBackgroundLayout #editImageButton706{
	position: absolute;
    top: 0.75rem;
    left: 0.75rem;
}

div#cameraBtnLayout{
	position: relative;
    top: -2rem;
    left: 2.5rem;
}
top-linearlayout#cameraBtnLayout {
	height : 0rem;
}
span#spaceCameraIcon{
	position : relative;
	top: 9px;
	left : 0px;	
}

/***프로필 이미지 드롭 다운메뉴*****/
.position-Sidebar_drop2 {
	position : relative;
	z-index : 1;
	text-align: center;
	
}
.position-Sidebar_drop2 .top-linearlayout-root{
	width: 188px;
    height: auto;
    border-width: 0px !important;
    border-style: solid;
    border-color: rgb(205, 205, 207);
    text-align: center;
    vertical-align: top;
    overflow: hidden;
    visibility: visible;
    background : #F5F5F5;
     border-radius: 14px;
}

top-button[id^="Sidebar_drop2_"]{
	text-align: center;
}
#Sidebar_drop2 button {
	outline: none;
	background-color: #F5F5F5;
	height: 28px;
    padding: 0px 0px 1px 10px;
    color: rgb(51, 51, 51);
	border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-color: rgb(205, 205, 207);
    text-align: left;
    width: 100%;
   
	/*border-bottom: 0.5px solid #cccccc !important; */
}
#Sidebar_drop2 button:hover{
	background-color: #DCDDFF;
	 border-radius: 14px;
}
/***배경화면 이미지 드롭 다운메뉴*****/


div#editImageButton706 #ImageButton253{
	 position: relative;
    top: 4.5px;
    left: 6px;
}


.position-Sidebar_dropBack {
	position : absolute;
	z-index : 1;
	text-align: center;
	
}
.position-Sidebar_dropBack .top-linearlayout-root{
	width: 188px;
    height: auto;
    border-width: 0px !important;
    border-style: solid;
    border-color: rgb(205, 205, 207);
    text-align: center;
    vertical-align: top;
    overflow: hidden;
    visibility: visible;
    background : #F5F5F5;
     border-radius: 14px;
}

top-button[id^="Sidebar_dropBack_"]{
	text-align: center;
}
#Sidebar_dropBack button {
	outline: none; 
	background-color: #F5F5F5;
	height: 28px;
    padding: 0px 0px 1px 10px;
    color: rgb(51, 51, 51);
	border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-color: rgb(205, 205, 207);
    text-align: left;
    width: 100%;
}
#Sidebar_dropBack button:hover{
	background-color: #DCDDFF;
	 border-radius: 14px;
}



/********PassWord TextField EYES CSS*******/
#TextField287 .top-textfield-icon.changepwd-alert{
	right: 1.75rem;
}
div#LinearLayout89 #profileNickErrorIcon{
	font-size : 1.6rem !important;
}
/**dialog**/
#top-dialog-root_pwdConfirmDialog{
    width: 22.5rem !important;
    height: 13.88rem !important;
    z-index : 1001 !important;
}
#top-dialog-root_pwdConfirmDialog .top-dialog-content{
	    height: calc(100% - 3rem);
}
div#pwdConfirmDialogLayout #LinearLayout460 #pwdConfirmErrorIcon,
div#changeMobileLayout #LinearLayout536_1 #IconEditNullMobile,
div#changeMobileLayout #LinearLayout536_1 #IconEditVaildMobile{
	font-size : 1.63rem !important;
}
/*****국제 번호 SelectBox*****/
div#editNationalMobileSelectBox .top-selectbox-container{
 	font-size : 0.75rem;
 } 
 div#editNationalMobileSelectBox .top-selectbox-options{
	max-height : 164px !important;
	width :  407px !important;
}
/**********친구 별명 부분**********/
#otherfriendNickField {
	border-width : 0px 0px 2px 0px;
	border-radius : 0px 0px 0px 0px;
}