/**ICON CSS***/
span#BtobspaceotherStarLineIcon:before{
	content: url(../../res/profile/ts_star_line_white.svg);
}
span#BtobspaceotherFullStarIcon:before{
	content: url(../../res/profile/ts_star_whie.svg);
}

span#BtobIcon449Office:before,
span#BtobeditIcon475Office:before,
span#BtobotherIcon449Office:before{
	content: url(../../res/profile/office_white.svg);
}

span#BtobIcon449Phone:before,
span#BtobeditIcon449Phone:before,
span#BtobotherIcon449Phone:before{
			content: url(../../res/profile/call_white.svg);
	}
span#BtobIcon449Mobile:before,
span#BtobeditIcon449Mobile:before,
span#BtobotherIcon449Mobile:before{
			content: url(../../res/profile/phone_white.svg);
	}
span#BtobIcon475Mail:before,
span#BtobeditIcon475Mail:before,
span#BtobotherIcon475Mail:before{
			content: url(../../res/profile/mail_white.svg);
	}
	
top-linearlayout#spaceBtobMyProfileLayout{
	width : 100% !important;
}
top-linearlayout#spaceBtobOtherProfileLayout{
	width : 100% !important;
}
div#BtobmyProfileContentLayout #BtobprofileInfoLayout{
	z-index: 1;
	overflow : visible !important;
}
div#BtobotherProfileContentLayout #BtobotherprofileInfoLayout{
	overflow : visible !important;
	z-index : 1;
}

span#BtobImageButton253:before{
	content: url(../../res/profile/photo_white.svg);
}
span#spaceCameraBtobIcon:before{
	content: url(../../res/profile/camera.svg);
}


/*****LAYOYT CSS******/
#BtobprofileTalkButton .top-linearlayout-root:hover,
#BtobprofileEditButton .top-linearlayout-root:hover,
#BtobprofilePongButton .top-linearlayout-root:hover,
#BtobprofileOtherTalkButton .top-linearlayout-root:hover,
#BtobprofileOtherMeetingButton .top-linearlayout-root:hover,
#BtobprofileOtherPongButton .top-linearlayout-root:hover{
	background-color: rgba(255,255,255,0.4);
	border-radius : 0.25rem;
}
#BtobprofileTalkButton .top-linearlayout-root:active,
#BtobprofileEditButton .top-linearlayout-root:active,
#BtobprofilePongButton .top-linearlayout-root:active,
#BtobprofileOtherTalkButton .top-linearlayout-root:active,
#BtobprofileOtherMeetingButton .top-linearlayout-root:active,
#BtobprofileOtherPongButton .top-linearlayout-root:active{
	background-color: rgba(51,51,51,0.50);
	border-radius : 0.25rem;
}
#BtobprofileTalkButton .top-linearlayout-root.BtnSelected
#BtobprofileEditButton .top-linearlayout-root.BtnSelected,
#BtobprofilePongButton .top-linearlayout-root.BtnSelected,
#BtobprofileOtherTalkButton .top-linearlayout-root.BtnSelected,
#BtobprofileOtherMeetingButton .top-linearlayout-root.BtnSelected,
#BtobprofileOtherPongButton .top-linearlayout-root.BtnSelected{
	background-color: rgba(51,51,51,0.50);
	border-radius : 0.25rem;
}

div#spaceBtobMyProfileLayout #BtobmyProfileLeftLayout{
	background-color: rgba(0,0,0,0.7);
}
div#BtobotherProfileLeftLayout{
	background-color: rgba(0,0,0,0.7);
}
div#BtobotherProfileMasterLayout{
	background-color: rgba(0,0,0,0.6);
}


div#BtobmyProfileMasterLayout{
	background-color: rgba(0,0,0,0.6);
}
div#spaceBtobMyProfileEditLayout{
	background-color: rgba(0,0,0,0.6);
}
/**IMAGE TAG CSS***/
img#BtobspaceProfileImageView,
input#BtobeditspaceProfileImageButton,
img#BtobspaceotherProfileImageView{
	padding : 0.5rem;
	background : #E6E9ED;
}
div#BtobprofileInfoLayout #LinearLayout125.top-linearlayout-root,
div#BtobotherprofileInfoLayout #OtherLinearLayout125.top-linearlayout-root{
    width: 11rem !important;
    height: 6.5rem !important;
    position: relative;
    top: -6.8rem;
    left: 6rem;
    z-index: -2 !important;
}
top-linearlayout#LinearLayout125,
top-linearlayout#OtherLinearLayout125 {
	height : 0rem;
}


/*******************************************************edit 부분********/
div#BtobmyProfileEditContentLayout #BtobeditprofileInfoLayout{
	overflow : visible !important;
	z-index : 1;
}
div#BtobeditprofileInfoLayout #LinearLayout125_1.top-linearlayout-root{
/*     width: 11rem !important; */
/*     height: 6.5rem !important; */
/*     position: absolute; */
/*     top: -1.4rem; */
/*     left: 29.0rem; */
/*     z-index: -2 !important; */
   width: 11rem !important;
    height: 6.5rem !important;
    position: relative;
    top: -6.8rem;
    left: 6rem;
    z-index: -2 !important;
}
top-linearlayout#LinearLayout125_1 {
	height : 0rem;
}

div#BtobeditBackgroundLayout #BtobeditImageButton706{
	position: absolute;
    top: 0.75rem;
    left: 0.75rem;
}
div#cameraButtonLayout{
	position: relative;
    top: -1.5rem;
    left: 2rem;	
}
top-linearlayout#cameraButtonLayout {
	height : 0rem;
}
span#spaceCameraBtobIcon{
	position : relative;
	top: 9px;
	left : 0px;	
}

/***프로필 이미지 드롭 다운메뉴*****/
.position-Sidebar_drop3 {
	position : relative;
	z-index : 1;
	text-align: center;
	
}
.position-Sidebar_drop3 .top-linearlayout-root{
	width: 188px;
    height: auto;
    border-width: 0px !important;
    border-style: solid;
    border-color: rgb(205, 205, 207);
    text-align: center;
    vertical-align: top;
    overflow: hidden;
    visibility: visible;
    background : #F5F5F5;
     border-radius: 14px;
}

top-button[id^="Sidebar_drop3_"]{
	text-align: center;
}
#Sidebar_drop3 button {
	outline: none;
	background-color: #F5F5F5;
	height: 28px;
    padding: 0px 0px 1px 10px;
    color: rgb(51, 51, 51);
	border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-color: rgb(205, 205, 207);
    text-align: left;
    width: 100%;
   
	/*border-bottom: 0.5px solid #cccccc !important; */
}
#Sidebar_drop3 button:hover{
	background-color: #DCDDFF;
	 border-radius: 14px;
}
/***배경화면 이미지 드롭 다운메뉴*****/


div#BtobeditImageButton706 #BtobImageButton253{
    position: relative;
    top: 4.5px;
    left: -5.5px;
}


.position-Sidebar_drop3_Back {
	position : absolute;
	z-index : 1;
	text-align: center;
	
}
.position-Sidebar_drop3_Back .top-linearlayout-root{
	width: 188px;
    height: auto;
    border-width: 0px !important;
    border-style: solid;
    border-color: rgb(205, 205, 207);
    text-align: center;
    vertical-align: top;
    overflow: hidden;
    visibility: visible;
    background : #F5F5F5;
     border-radius: 14px;
}

top-button[id^="Sidebar_drop3_Back_"]{
	text-align: center;
}
#Sidebar_drop3_Back button {
	outline: none; 
	background-color: #F5F5F5;
	height: 28px;
    padding: 0px 0px 1px 10px;
    color: rgb(51, 51, 51);
	border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-color: rgb(205, 205, 207);
    text-align: left;
    width: 100%;
}
#Sidebar_drop3_Back button:hover{
	background-color: #DCDDFF;
	 border-radius: 14px;
}

div#BtobeditBackgroundLayout #BtobeditImageButton706 .top-linearlayout-root:hover{
	background-color : rgba(90,95,255,0.8)
}

/*****지역 번호 SelectBox*****/
 div#BtobPhoneSelectBox .top-selectbox-container{
 	font-size : 0.75rem;
 } 
 div#BtobPhoneSelectBox .top-selectbox-options{
	max-height: 15.2rem !important;
	width: 5rem !important;
}

/*****국제 번호 SelectBox*****/
 div#BtobMobileSelectBox .top-selectbox-container{
 	font-size : 0.75rem;
 } 
 div#BtobMobileSelectBox .top-selectbox-options{
	max-height : 164px !important;
	width :  407px !important;
}
div#BtobeditspaceProfilePhoneLayout #phoneErrorIcon,
div#BtobeditspaceProfilePhoneLayout #phoneValidIcon{
	font-size : 1.63rem !important;
}
div#BtobeditspaceProfileMobileLayout #mobileErrorIcon,
div#BtobeditspaceProfileMobileLayout #mobileValidIcon{
	font-size : 1.63rem !important;
}
/**status***/
/* #BtobspaceProfileStatusIcon .top-icon-root, */
/* #BtobspaceotherProfileStatusIcon .top-icon-root, */
/* #BtobeditspaceProfileStatusIcon .top-icon-root{ */
/*  	font-size : 0.44rem !important; */
/* } */



