html {
/* 	font-size: 16px !important;  router.js 중복*/
}

top-checkbox > input,
top-radiobutton > input {
	display: none !important;
}

/**
 * Tee Table (UL Version)
 * TODO: Table Version
 */
ul.tee-table li {
	position: relative;
}

ul.tee-table li:last-child {
	margin-bottom: 4px;
}

ul.tee-table li:hover {
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.20);
	z-index: 10;
}

ul.tee-table li.none:hover {
	box-shadow: none;
}

/**
 * Tee Search Input
 */
.tee-search-active .tee-search-icon {
	color: #000 !important;
}

/**
 * Tee Tooltip
 */
div.tee-tooltip {
	display: none;
	position: absolute;
	background-color: #0B1D41;
    color: #fff;
    border-radius: 6px;
	padding: 6px 7px;
	z-index: 65535;
	font-size: 0.69rem;
}

/**
 * 조직도 선택 뷰 
 */
div.org-tree-overlay {
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 65534;
}

div.org-tree-container {
	position: absolute;
    left: 100px;
    top: 30px;
    width: 23.63rem; 
    height: 18.44rem;
	background-color: #fff;	
	border: 1px solid #C6CED6;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.20);
	border-radius: 4px;
	font-size: 0.75rem;
	overflow: auto;
	z-index: 65535;
}

div.org-tree-container .tree-handle {
	cursor: pointer;
	font-size: 0.5rem;
	color: #75757f;
}

div.org-tree-container div.tree-container.close .tree-children > div.tree-container {
	display: none;
}

div.org-tree-container div.tree-container .tree-item {
	padding-left: 0.94rem;
	height: 1.63rem;
	display: flex;
	align-items: center;;
	cursor: pointer;
}

div.org-tree-container div.tree-container .tree-children .tree-item.last .tree-handle {
	visibility: hidden;
	margin-right: 0.2rem;
}

div.org-tree-container div.tree-container .tree-children .tree-item:hover {
	background: #DCDDFF;
	border-radius: 13px;
}

div.org-tree-container div.tree-container .tree-children .tree-item.selected {
	background: #DCDDFF;
	border-radius: 13px;
}

div.org-tree-container div.tree-container .name {
	margin-left: 0.49rem;
}

/**
 * 토스트
 */
.tee-toast-popup {
	z-index: 65005;
    position: fixed;
    bottom: 1.25rem;
    left: 50%;
    display: flex;
    height: 2.38rem;
	align-items: center;
	background: rgba(11,29,65,0.95);
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.30);
	border-radius: 2.5rem;
	color: #fff;
	left:50%;
	transform: translateX(-50%);
}

.tee-toast-popup.normal {
	min-width: 20.38rem;
}

.tee-toast-popup.min {
	min-width: 7.06rem;
}

.tee-toast-popup.max {
	min-width: 37.5rem;
}

.tee-toast-popup .tee-toast-icon {
	margin-left: 0.38rem;
	background: #fff;
    color: #6C56E5;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tee-toast-popup .tee-toast-text {
	margin-left: 0.63rem;
	font-size: 0.75rem;
	margin-right: 0.63rem;
}

.tee-toast-popup .cases {
	flex: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 0.63rem;
}

.tee-toast-popup .case {
	font-size: 0.75rem;
    color: #c3c6ff;
    font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}

.tee-toast-popup .divider {
	width: 0.06rem;
	height: 0.75rem;
	background-color: #fff;
	opacity: 0.6;
	margin: 0 0.63rem;
}

.tee-toast-popup .close {
	font-size: 0.68rem;
	margin-left: auto;
	margin-right: 0.75rem;
	cursor: pointer;
}

/**
 * 다이얼로그
 */
.tee-custom-dialog {
	background-color: #fff;
    min-width: 22.5rem;
    min-height: 10.88rem;
    position: absolute;
    top:50%;
  	left:50%;
  	transform: translate(-50%, -50%);
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.35);
	border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tee-custom-dialog:focus {
	outline: none;
}

.tee-custom-dialog top-icon {
	margin-top: 1.88rem;
	color: #FB3A3A;
}

.tee-custom-dialog h3 {
	margin: 0.93rem 1.25rem 0.25rem 1.25rem;
	font-size: 0.94rem;
	text-align: center;
}

.tee-custom-dialog p {
	margin: 0 0 1.13rem 0;
	font-size: 0.81rem;
	color: #777;
	text-align: center;
}

.tee-custom-dialog button:first-child {
	margin-left: 0;
}

.tee-custom-dialog button {
	min-width: 4.5rem;
	min-height: 1.88rem;
	border: none;
	margin-bottom: 1rem;
	margin-left: 0.42rem;
}

.tee-dialog {
	top: 1.25rem !important;
	border: none !important;
    border-radius: 0.25rem !important;
	box-shadow: 0 0 6px 0 rgba(0,0,0,0.35) !important;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.tee-dialog .top-dialog-title-layout {
	padding: 0 !important;
	background: transparent !important;
    color: #000 !important;
    display: flex;
    justify-content: center;
    height: 2.69rem !important;
    font-size: 0.875rem !important;
	border-bottom: 1px solid #e3e7eb !important;
}

.tee-dialog .top-dialog-title-layout .top-dialog-title {
	flex: 1;
	text-align: center;
	align-self: center;
	position: relative !important;
}

.tee-dialog .top-dialog-title-layout .top-dialog-close {
	display: block !important;
	font-size: 0.71rem !important;
	position: relative !important;
}

.tee-dialog button {
	border: none;
}

.tee-dialog .top-dialog-title {
	margin-left: 0;
}

.tee-dialog .top-dialog-content {
	padding: 0 !important;
}

/* 
*** 폰트 ***
*/
/* 	@font-face { */
/* 	    font-family: 'NotoSansKR'; */
/* 	    src: url('../../res/NotoSansKR-Regular.woff2') format('woff2'), */
/* 	    	 url('../../res/NotoSansKR-Regular.woff') format('woff'), */
/* 			 url('../../res/NotoSansKR-Regular.otf') format('opentype'); */
	
/* 	} */
	
	
@font-face {
	font-family: 'NotoSansKR';
	font-style: normal;
	font-weight: 100;
	src: local('Noto Sans Light'), local('NotoSans-Light'), url(../../res/NotoSans-Light.eot);
	src: url(../../res/NotoSans-Light.eot?#iefix) format('embedded-opentype'),
		 url(../../res/NotoSans-Light.woff2) format('woff2'),
		 url(../../res/NotoSans-Light.woff) format('woff');;
} 
@font-face {
	font-family: 'NotoSansKR';
	font-style: normal;
	font-weight: 300;
	src: local('Noto Sans Regular'), local('NotoSans-Regular'), url(../../res/NotoSans-Regular.eot);
	src: url(../../res/NotoSans-Regular.eot?#iefix) format('embedded-opentype'),
		 url(../../res/NotoSans-Regular.woff2) format('woff2'),
		 url(../../res/NotoSans-Regular.woff) format('woff');
}
@font-face {
	font-family: 'NotoSansKR';
	font-style: normal;
	font-weight: 500;
	src: local('Noto Sans Medium'), local('NotoSans-Medium'), url(../../res/NotoSans-Medium.eot);
	src: url(../../res/NotoSans-Medium.eot?#iefix) format('embedded-opentype'),
	 	 url(../../res/NotoSans-Medium.woff2) format('woff2'),
	 	 url(../../res/NotoSans-Medium.woff) format('woff');
}
@font-face {
	font-family: 'NotoSansKR';
	font-style: normal;
	font-weight: 700;
	src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(../../res/NotoSans-Bold.eot);
	src: url(../../res/NotoSans-Bold.eot?#iefix) format('embedded-opentype'),
		 url(../../res/NotoSans-Bold.woff2) format('woff2'),
		 url(../../res/NotoSans-Bold.woff) format('woff');
}	
*{
 	font-family : 'NotoSansKR', sans-serif;
 	font-weight: 300;	 
}

/*
*** body ***
 */
	body{
		min-width: 55rem;
		overflow-x: auto;              /*appLayout에서?*/
		overflow-y: hidden;
	}

	body.service-page {
		overflow-y: auto;
	}

	/* 임시 */
/* 	div#AppSplitLeftLayout button{ */
/* 		display:none; */
/* 	} */

	div#AppSplitRightLayout button{
		display:block;
	}
/* 
*** 버튼 ***
*/	
	/* 버튼 - outline */
	.ts-default button{
		outline: none;
		/*border:none;*/
	}
	/* 버튼 - disabled */
	.ts-default button.disabled,
	.ts-default top-button.disabled button{
		background-color: #cccccc;
		color: #ffffff;
		border-radius: 30px;
	}

	/* 버튼 - solid 클래스 */
	.ts-default button.solid,
	.ts-default top-button.solid button{
		background-color: #6C56E5;
		border-radius: 30px;	
		font-size: 0.75rem;
		color: #ffffff;
	} 
	.ts-default button.solid:hover,
	.ts-default top-button.solid button:hover{
		background-color: #DCDDFF;
		color: #000000;
	}
	.ts-default button.solid:active,
	.ts-default button.solid:focus,
	.ts-default top-button.solid button:active,
	.ts-default top-button.solid button:focus{
		background-color: #523DC7;
		color: #ffffff;
	}
	
	/* 버튼 - outlined 클래스 */
	.ts-default button.outlined,
	.ts-default top-button.outlined button{
		background-color: #ffffff;
		border-radius: 30px;	
		font-size: 0.75rem;
		color: #3b3b3b;
		border: 1px solid #C6CED6;
	}
	.ts-default button.outlined:hover,
	.ts-default top-button.outlined button:hover{
		background-color: #DCDDFF;
		border: 1px solid #C6CED6;
		color: #000000;
	}
	.ts-default button.outlined:active,
	.ts-default button.outlined:focus,
	.ts-default top-button.outlined button:active,
	.ts-default top-button.outlined button:focus{
		background-color: #ffffff;
		border: 1px solid #6C56E5;
		color: #3b3b3b;
	}
	
	/* 버튼 - text 클래스 */
	.ts-default button.text,
	.ts-default top-button.text button{
		background-color: #ffffff;
		font-size: 0.75rem;
		border-radius: 30px;
		color: #3b3b3b;
		border: 0px;
	}
	.ts-default button.text:hover,
	.ts-default top-button.text button:hover{
		color: #000000;
		background-color: #DCDDFF;
	}
	.ts-default button.text:active,
	.ts-default button.text:focus,
	.ts-default top-button.text button:active,
	.ts-default top-button.text button:focus{
		color: #523dc7;
	}
	.ts-default button.text.disabled,
	.ts-default top-button.text.disabled button{
		background-color: #ffffff;
		color: #999999;
	}
	
	/* 버튼 - system 클래스 */
	.ts-default button.system,
	.ts-default top-button.system button{
		background-color: #ffffff;
		border-radius: 4px;	
		font-size: 0.75rem;
		color: #3b3b3b;
		border: 1px solid #C6CED6;
	}
	.ts-default button.system:hover,
	.ts-default top-button.system button:hover{
		background-color: #DCDDFF;
		border: 1px solid #C6CED6;
		color: #000000;
	}
	.ts-default button.system:active,
	.ts-default button.system:focus,
	.ts-default top-button.system button:active,
	.ts-default top-button.system button:focus{
		background-color: #bcbeff;
		border: 1px solid #6C56E5;
		color: #3b3b3b;
	}

/* 
*** 텍스트 필드 - default ***
*/ 
	.ts-default	input,
	.ts-default top-textfield .top-textfield-root .top-textfield-text{
		border-radius: 25px;
		border: 1px solid #c6ced6;
		background-color: #ffffff;
		font-size: 0.75rem;
		color: #3b3b3b;
		outline: none;
	}
	.ts-default	input:hover,
	.ts-default top-textfield .top-textfield-root .top-textfield-text:hover{
		background-color: #DCDDFF;
		color: #000000;
	}
	.ts-default	input:active,
	.ts-default	input:focus,
	.ts-default top-textfield .top-textfield-root .top-textfield-text:active,
	.ts-default top-textfield .top-textfield-root .top-textfield-text:focus{
		background-color: #ffffff;
		border: 1px solid #6C56E5;
		color: #000000;
	}
	.ts-default	input.disabled,
	.ts-default top-textfield.disabled .top-textfield-root .top-textfield-text{
		background-color: #cccccc;
		color: #ffffff;
		border: 1px solid #cccccc;
	}
	.ts-default	input.alert,
	.ts-default top-textfield.alert .top-textfield-root .top-textfield-text{
		background-color: #ffffff;
		color: #000000;
		border: 1px solid #ff5d5d;
	}


/* 
*** 셀렉트 박스 -default ***
*/
	.ts-default top-selectbox .top-selectbox-container{
		color: #3b3b3b;
		border: 1px solid #C6CED6;
		background-color: #ffffff;
		border-radius: 25px;
		font-size: 0.75rem;
	}	
	/* selectbox - 화살표 */
	.ts-default top-selectbox .top-selectbox-container .top-selectbox-icon.icon-arrow_filled_down:before{
		content: "\e901";
	}
	.ts-default top-selectbox .top-selectbox-container .top-selectbox-icon.icon-arrow_filled_up:before{
		content: "\e961";
	}
	.ts-default .top-selectbox-container .top-selectbox-icon{
		color: inherit;
	}
	.ts-default top-selectbox .top-selectbox-container:hover{
		color: #000000;
		background-color: #dcddff;
	}
	.ts-default top-selectbox .top-selectbox-container:active{
		color: #000000;
		border: 1px solid #6C56E5;
		background-color: #dcddff;
	}
	/* outline */
	.ts-default .top-selectbox-root{
		outline: none;
	}
/* selectbox - list - default */
	.ts-default top-selectbox .top-selectbox-options{
		padding: 0.16rem 0rem;
		border: 1px solid #C6CED6;
		border-radius: 0.25rem;
		box-shadow: 0 1px 4px 0 rgba(0,0,0,0.20);
	}
	.ts-default top-selectbox .top-selectbox-option:hover {
    	background-color: #dcddff;
    	border-radius: 13px;
    	color: #000000;
	}
	.ts-default top-selectbox .top-selectbox-option:active,
	.ts-default top-selectbox .top-selectbox-option.active{
    	background-color: #bcbeff;
    	border-radius: 13px;
    	color: #010101;
	}
	.ts-default ul.top-selectbox-options{
		background-color: white;
	}
	
/* 
*** 체크박스 - default ***
*/
	.ts-default top-checkbox .top-checkbox-text i:before{
		color: #6C56E5;
	}
	.ts-default top-checkbox .top-checkbox-text.disabled i:before{
		color: #cccccc;
		background-color: #e6e6e6;
	}	

/* 
*** 라디오 버튼 - default ***
*/
	.ts-default top-radiobutton .top-radiobutton-text i:before,
	.ts-default top-radiobutton .top-radiobutton-text.checked i::before{
		color: #6c56e5;
		font-size: 0.94rem;
	}

/* 
*** 툴팁 ***
*/
	.ts-default .top-tooltip-text{
		background-color: #0b1d41;
		color: #ffffff;
		font-size: 0.687rem;
		border-radius: 4px;
		white-space: normal;
	}
	.ts-default .top-tooltip-arrow.bottom{
		background-color: #0b1d41;
		border-color: #FAEEBC;
	}
	
/* 
*** 토글(스위치) ***
*/
	/* toggle - background */
	.ts-default top-toggle .top-toggle-root.off .top-toggle-background{
		background-color: #c6ced6;
	}
	/* toggle - handle */
	.ts-default top-toggle .top-toggle-handle{
		margin: 2px;
		width: 18px;
		height: 18px;
		border: 2px solid #ffffff;
/* 		box-shadow: 0 1px 3px 0; */
	}
	/* toggle - active */
	.ts-default top-toggle .top-toggle-root,
	.ts-default top-toggle .top-toggle-root:hover{
		background-color: #6C56E5;
	}



	
	