.friend_add .top-icon-root .top-icon-content:before{
 	content: url(../../res/common/frends_add.svg);
	font-family: "tmaxop";
	font-style: normal;
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	
}