#dnd__tracking {
    display: flex;
    position: absolute;
    /* top : 50px; */
    top: -10000px;
    left: 0;
    align-items: flex-start;
    flex-direction: row;
}

#dnd__tracking__image {
    width: auto;
    height: 100px;
    z-index : 1000;
    /* transform: translate3d(45px, -30px, 0); */
}

#dnd__tracking__content {
    transform: translate3d(-45px, 30px, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    padding: 10px 10px 10px 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

/* #dnd__tracking__content-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#dnd__tracking__content-text {
    font-size: 10px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} */

#dnd__modal {
    position: absolute;
    opacity: 0.2;
    background: #ff7b7b;
    box-sizing: border-box;
    pointer-events: none;
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: hidden;
}
