.common__loader{
    display:none;
    position:fixed;
    opacity: 0.5;
    background :#000000;
    justify-content: center;
    align-items: center;
}

.common__loader img{
    width:3.125rem;
    height:3.125rem;
    background-color:transparent;
}