/* main - gnb */

	/* main - gnb - lnb */
	div#AppGnbLeftLayout{
		width: 16.13rem !important;
		box-sizing: border-box;
	}
	div#AppGnbWrapperLayout{
		height: 100% !important;
		width: calc(100% - 16.13rem) !important;
		vertical-align: top !important;
	}
	
	/* button */
	.button-gnb>div{
		background-color: #0B1D41;
		border-bottom: 0.19rem solid #0B1D41;
		box-sizing: border-box;
	}
	.button-gnb>div:hover{
		border-bottom: 0.19rem solid transparent;
		border-bottom-width: 0.19rem !important;
		background-color: #3e75c7;
	}
	.button-gnb>div:active{
		background-color: #275cb9;
	}
	.button-gnb.active>div{
		border-bottom: 0.19rem solid #ff486d;
		border-bottom-width: 0.19rem !important;
	}
	
	div#AppGnbFreindButton>top-button>button{
		display: inline-block;
		width: 1.5rem;
		height: 1.5rem;
		padding-top: 0.4rem;
		background: url(../../res/common/LNB_people_list.svg);
		background-repeat: no-repeat;
		margin-left: 1.94rem;
		margin-top: 0.15rem;
	}
	div#AppGnbRoomButton>top-button>button{
		display: inline-block;
		width: 1.7rem;
		height: 1.7rem;
		padding-top: 0.25rem;
		background: url(../../res/common/LNB_chatting.svg);
		background-repeat: no-repeat;
		margin-left: 1.5rem;
	}
	div#gnbAppMailIcon>top-button>button{
		display: inline-block;
		width: 1.4rem;
		height: 1.4rem;
		padding-top: 0.2rem;
		background: url(../../res/common/LNB_mail.svg);
		background-repeat: no-repeat;
		margin-left: 2rem;
	}
	
	.gnb-unread{
		position: absolute;
		top: 0.375rem;
		right: 0.6875rem;
		display: inline-block;
		width: 1.4375rem;
		height: 1rem;
		border-radius: 9px;
		background: #FF486D 100%;
		font-size: 0.625rem;
		color: #ffffff;
		visibility: hidden; 	/* 연동 완료 전까지 important*/
		text-align: center;
		line-height: 1.5;
	}
	
	
	
	/* main - gnb - title */	
	div#AppGnbTitleLayout{
/* 		width: calc(66.6667% - 2px) !important; */
		width: calc(100% - 22.88rem) !important; /*31.88*/
		border-left: 0px solid #ffffff;
		padding-right: 0.3rem;
		box-sizing: border-box;
	}
	div#AppGnbCurrentImage>div.lnbSpaceList{
		height: auto;
	}
	div#AppGnbCurrentImage div.lnbSpaceList .thumbDiv{
		margin-left: 0rem;
		align-self: normal;
	}
	span#AppGnbCurrentText.top-textview-root{
		max-width: calc(100% - 10.5rem);
	}
	
	span.gnb-icon_talk{
		position: relative;
		float: right;
		margin-right: 0.5rem;
	    top: 0.315rem;
/* 	    right: 4.5rem; */
	    width: 1.5rem;
	    height: 1.5rem;
	    color: #3B3B3B;
	    border-radius: 50%;
	    border: 0.0625rem solid #C6CED6;
	    cursor: pointer;
	    font-size: 0.75rem;
	    display: flex;
	    background: white;
	    justify-content: center;
	    align-items: center;
	    z-index: 2;
	}
	span.gnb-icon_talk:hover{
		background: #dcddff;
	}
	span.gnb-icon_talk:before{
		content: '\e974';
		font-family: "tmaxop";
		font-style: "normal";
	}
	
	#talk__Content-search-button{
		position: relative;
		float: right;
		margin-right: 0.3rem;
	    top: 0.315rem;
/* 	    right: 2.5rem; */
	    width: 1.5rem;
	    height: 1.5rem;
	    color: #3B3B3B;
	    border-radius: 50%;
	    border: 0.0625rem solid #C6CED6;
	    cursor: pointer;
	    font-size: 0.75rem;
	    display: flex;
	    background: white;
	    justify-content: center;
	    align-items: center;
	    z-index: 2;
	}
	
	span#AppGnbCurrentIcon{
		width: 2rem;
		height: 2rem;
		display: inline-block;
		border-radius: 30px;
		margin-top: 0.1rem;
/* 		margin-right: 0.3rem; */
		float: right;
	}
	span#AppGnbCurrentIcon>i:before{
		margin: 0.25rem 0 0 0.25rem;
	}
	span#AppGnbCurrentIcon:hover{
		background-color: #DCDDFF;
	}
	
	/* main - gnb - right */	
	div#AppGnbRightLayout{
/* 		width: calc(33.3333% - 2px) !important; */
		width: 22.88rem !important;   /*31.88*/
	}
	div#AppGnbRightLayout .gnb-app_icon>div{
		vertical-align: middle !important;
		width: 2rem !important;
		height: 2rem;
/* 		padding: 0.25rem; */
		cursor: pointer;
	}
	div#AppGnbRightLayout .gnb-app_icon>div span{
		width: 1.5rem;
		height: 1.5rem;
		margin: 0.25rem;
	}
	div#AppGnbRightLayout .gnb-app_icon>div:hover{
		background: #dcddff; 
		border-radius: 30px; 
	}
	div#AppGnbRightLayout .gnb-app_icon>.active span{
/* 		padding-top: 0.11rem; */
/* 		padding-left: 0.12rem; */
		background-repeat: no-repeat;
	}

	/* main - gnb - icon - 임시 */
	div#gnbAppNoteIcon span{
		background-image: url(../../res/common/TeeNote.svg);
	}
	div#gnbAppTowordIcon span{
		background-image: url(../../res/common/ToWard.svg);
	}
	div#gnbAppTocellIcon span{
		background-image: url(../../res/common/ToCell.svg);
	}
	div#gnbAppTopointIcon span{
		background: url(../../res/common/ToPoint.svg);
	}	
	div#gnbAppScheduleIcon span{
		background: url(../../res/common/TeeCalander.svg);
	}
	div#gnbAppDriveIcon span{
		background: url(../../res/common/TeeDrive.svg);
	}
	div#gnbAppMeetingIcon span{
		background: url(../../res/common/TeeMeeting.svg);
	} 
	div#gnbAppPlusIcon span{
		background: url(../../res/common/view_file.svg);
	}
	
/* 		span#gnbAppNoteIcon{ */
/* 		background: url(../../res/common/TeeNote.svg); */
/* 	} */
/* 	span#gnbAppTowordIcon{ */
/* 		background: url(../../res/common/ToWard.svg); */
/* 	} */
/* 	span#gnbAppTocellIcon{ */
/* 		background: url(../../res/common/ToCell.svg); */
/* 	} */
/* 	span#gnbAppTopointIcon{ */
/* 		background: url(../../res/common/ToPoint.svg); */
/* 	}	 */
/* 	span#gnbAppScheduleIcon{ */
/* 		background: url(../../res/common/TeeCalander.svg); */
/* 	} */
/* 	span#gnbAppDriveIcon{ */
/* 		background: url(../../res/common/TeeDrive.svg); */
/* 	} */
/* 	span#gnbAppMeetingIcon{ */
/* 		background: url(../../res/common/TeeMeeting.svg); */
/* 	}  */
/* 	span#gnbAppPlusIcon{ */
/* 		background: url(../../res/common/view_file.svg); */
/* 	} */
	
	
		/* main - gnb - icon - 임시 */
	div#gnbAppNoteIcon.active span{
		background: url(../../res/common/TeeNote_Active.svg); 
	}
	div#gnbAppTowordIcon.active span{
			background: url(../../res/common/ToWard_Active.svg);
			height: 1.7rem !important;
			padding-top: 0.05rem;
	}
	div#gnbAppTocellIcon.active span{
			background: url(../../res/common/ToCell_Active.svg);
			height: 1.7rem !important;
	}
	div#gnbAppTopointIcon.active span{
			background: url(../../res/common/ToPoint_Active.svg);
			height: 1.7rem !important;
	}	
	div#gnbAppScheduleIcon.active span{
		background: url(../../res/common/TeeCalander_Active.svg);
	}
	div#gnbAppDriveIcon.active span{
		background: url(../../res/common/TeeDrive_Active.svg);
 	}
	div#gnbAppDriveIcon.active{
	    padding-right: 0rem !important;
	    padding-bottom: 0rem !important;
	    padding-left: 0.12rem !important;
	}
	div#gnbAppMeetingIcon.active span{
			content: url(../../res/common/TeeMeeting_Active.svg);
			height: 1.55rem;
	} 
	div#gnbAppPlusIcon.active span{
			content: url(../../res/common/view_file_Active.svg);
			padding: 0.15rem !important;
/* 			box-sizing: border-box;  */
	}
	
 

/* main - split(임시)*/
top-splitterlayout#AppSplitMainLayout>div>.top-splitterlayout-splitter{
/* 	cursor: auto; */
	border: 0px;
	width: 1px;
	background-color: #e3e7eb;
}
top-splitterlayout#AppSplitMainLayout>div>.top-splitterlayout-splitter{
	display: none !important;
}

/*  main - split - 최대,최소 */
top-splitterlayout#AppSplitMainLayout.limit>div>.top-splitterlayout-splitter{
/* 	left: calc(100% - 2px) !important; */
	display: inline-block !important;
	width: 3px;
	box-sizing: border-box;
	padding: 0px 1px;
	background: #ffffff;
	border-right: 1px solid #e3e7eb; 
}
top-splitterlayout#AppSplitMainLayout.limit>div>.top-splitterlayout-content.content_0{
	min-width: calc(41.666% - 2px) !important;
	max-width: calc(58.333% - 2px) !important;
}
top-splitterlayout#AppSplitMainLayout.limit>div>.top-splitterlayout-content.content_1{
	max-width: calc(58.333% - 3px) !important;
	min-width: calc(41.666% - 3px) !important;
	float: right; 
	left: 2px !important;
}

top-splitterlayout#AppSplitMainLayout.close>div>.top-splitterlayout-splitter{
	left: calc(100% - 2px) !important;
}
top-splitterlayout#AppSplitMainLayout.close>div>.top-splitterlayout-content.content_0{
	width: calc(100% - 2px) !important;
}
top-splitterlayout#AppSplitMainLayout.close>div>.top-splitterlayout-content.content_1{
	width: calc(0% - 2px) !important;
}
top-splitterlayout#AppSplitMainLayout.fold>div>.top-splitterlayout-splitter{
	left: calc(66.6667% - 2px) !important;
}
top-splitterlayout#AppSplitMainLayout.fold>div>.top-splitterlayout-content.content_0{
	width: calc(66.6667% - 2px) !important;
}
top-splitterlayout#AppSplitMainLayout.fold>div>.top-splitterlayout-content.content_1{
	width: calc(33.3333% - 2px) !important;
}
top-splitterlayout#AppSplitMainLayout.expand>div>.top-splitterlayout-splitter{
	left: calc(0% - 2px) !important;
}
top-splitterlayout#AppSplitMainLayout.expand>div>.top-splitterlayout-content.content_0{
	width: calc(0% - 2px) !important;
}
top-splitterlayout#AppSplitMainLayout.expand>div>.top-splitterlayout-content.content_1{
	width: calc(100% - 2px) !important;
} 

/* main - app*/
top-linearlayout#AppContainLayout{
	height: calc(100% - 3.19rem);
}
div#AppContainLayout{
	height: 100%;
}
	/* main - app - lnb */
	div#AppLnbLayout{
		width: 16.19rem !important;	
		box-sizing: border-box;
	}
	
	/* main - app - contents */
	div#AppSplitMainLayout{
		width: calc(100% - 16.19rem) !important;
	}
	
/* dialog - overlay	 */
.dialog-overlay{
	z-index: 999;
	position: fixed;
	right: 0px;
	top: 0px;
	min-width: 100%;
	min-height: 100%;
}	
	
/* dropdown - profile	 */
	.prf-dialog{
		position: fixed;
		right: 20px;
		top: 2.69rem;
		height: auto;
		max-height: 25.69rem;	
		width: 17.06rem;
		background: #fff;
/* 		border: 1px solid #c6ced6; */
		z-index: 1000;
		box-shadow: 0 5px 10px 0 rgba(0,0,0,0.30); 
		border-radius: 4px;
	}
	.prf-wrapper{
/* 		background: #0b1d41; */
		border-radius: 4px 4px 20px 20px;
		width: 100%; /*16.94rem*/
		height: 15.69rem;
		background-size: cover !important;
	}
	div.prf-stat{
		display: flex;
    	justify-content: center;
    	align-items: center;
    	margin-top: 0.5rem;
	}
	span.prf-text_1{
		color: #ffffff;
		margin-left: 0.31rem;
		font-size: 0.94rem;
	}
	span.prf-text_2{
		width: 100%;
		display: inline-block;
		margin-top: 0.5rem;
		color: #ffffff;
		text-align: center;
		font-size: 0.94rem;
	}
	.prf-text#profileUserName{
		font-size: 0.81rem;
		opacity: 0.69;
	}
	
	span.prf-edit{
		width: 30%;
		height: 0.81rem;
		display: inline-block;
		margin-top: 0.5rem;
/* 		padding-top: 0.5rem; */
		color: #cacdff;
		text-align: center;
		font-size: 0.75rem;
		cursor: pointer; 
		border: 1px solid transparent;
		line-height: 1;
	}
	span.prf-edit:hover{
/* 		cursor: pointer; */
/* 		border-color: #cacdff; */
/* 		border-radius: 20px; */
	}
	
	.prf-edit#profileEdit{
		margin-left: 20%;
/* 		border-right: 1px solid #CACDFF; */
	}
	
	span.prf-logout{
		width: 14rem;
		height: 1.88rem;
		border-radius: 30px;
		display: inline-block;
		text-align: center;
		color: #7B869A;
		border: 1px solid #7B869A;
		margin-left: 1.5rem;
		margin-top: 0.5rem;
		font-size: 0.75rem;
		line-height: 1.88rem;
		cursor: pointer;
	}
	span.prf-logout:hover{
		background: #7B869A 100%;
		border: 1px solid #7B869A;
		color: #ffffff;
	}
	span.prf-logout:active,
	span.prf-logout:focus{
		background: #6C56E5;
		border: 1px solid #6C56E5;
		color: #ffffff;
	}
	
	div.prf-div{
		width: 100%;
		height: auto; /*10rem;*/
		background: #ffffff;
		align-items: center;
		display: inline-block;
		border-radius: 4px;
	}
	
	span.prf-button{
		font-size: 0.81rem;
		color: #000000;
		height: 3.13rem;
		width: 100%;
		display: flex;
		align-items: center;
		border-bottom: 1px solid #E3E7EB;
		cursor: pointer;
		display: none;
	}
	span.prf-button:hover{
		background: #BCBEFF;
	}
	
	span.prf-button:before{
		content: '\ea68'; 
		font-family: 'tmaxop';
		font-style: normal;
		font-size: 1rem;
		margin-right: 1rem;
		margin-left: 1rem;
	}
	
	img.prf-user_image{
		width: 5rem;
		height: 5rem;
		border-radius: 50%;
		margin: 1.44rem 0px 0px 5.97rem;
	}
	
	button.prf-spt{
		width: 30%;
		height: 1.69rem;
		display: inline-block;
		margin-top: 1rem;
		color: #3b3b3b;
		text-align: center;
		font-size: 0.75rem;
	}
	.prf-bottom{
	    display: flex;
    	justify-content: center;
    	align-items : center;
    }
	.prf-spt#profileSupport{
		line-height: 1;
		margin-bottom: 1rem;
	}
	.prf-spt#profileSetting{
		line-height: 1;
		margin-bottom: 1rem;
	}
	
	
	
	
	
	