.page-policy {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.page-policy .page-header {
    background-color: #0a1d41;
    height: 5rem;
    color: #fff;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.page-policy .page-header h1 {
    margin: 0;
    font-size: 1.5rem;
}

.page-policy .page-header-inner {
    width: 59.31rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.page-policy .history-container {
    margin-left: auto;
    font-size: 0.75rem;
    display: none; /* flex */
    align-items: center;
}

.page-policy .history-container select {
    margin-left: 1rem;
}

.page-policy .page-body {
    flex: 1;
    overflow: hidden;
    display: flex;
}

.page-policy .page-body pre {
    margin: 0;
    overflow: auto;
    white-space: pre-wrap;
    font-size: 0.75rem;
    font-family: 'NotoSansKR', sans-serif;
}

.page-policy .page-body pre h2 {
    font-size: 0.81rem;
    margin: 0;
}

.page-policy .page-inner {
    width: 59.31rem;
    margin: 0 auto;
    overflow: hidden;
    margin: 1.38rem auto 1.56rem auto;
}

.page-policy .page-inner .contents {
    overflow: auto;
    height: 100%;
    padding-right: 0.5rem;
}