#page-service {
    width: 100%;
}

#page-service a {
    cursor: pointer;
    text-decoration: none;
}

#page-service input.error {
    border: 1px solid #FF5151;
}

#page-service .content-inner {
    width: 1189px;
    margin: 0 auto;
}

#page-service a.filled {
    background-image: linear-gradient(180deg, #8079FF 0%, #6C56E5 100%);
    border-radius: 28px;
    color: #fff;
    padding: 18px 0;
    display: inline-block;
    text-align: center;
    font-size: 20px;
}

#page-service a.filled:hover {
    background-image: none;
    background-color: #DCDDFF;
    color: #000000;
}

#page-service ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#page-service #service-header {
    height: 100px;
    background-color: #0b1c3e;
    color: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#page-service .success-submitted {
    text-align: center;
    display: none;
}

#page-service #service-header .content-inner {
    display: flex;
    align-items: center;
}

#page-service #service-header .page-menu {
    margin-left: auto;
}

#page-service #service-header .page-menu ul {
    display: flex;
}

#page-service #service-header .page-menu ul li {
    margin-left: 80px;
}

#page-service #service-header .page-menu ul li a {
    font-size: 18px;
    font-weight: normal;
    color: #E0E0E0;
    text-decoration: none;
}

#page-service #service-header .page-menu ul li a:hover {
    color: #fff;
}

#page-service #service-header .page-menu ul li a.outlined {
    border: 1px solid #E0E0E0;
    border-radius: 28px;
    padding: 9px 37px;
}

#page-service #service-header .page-menu ul li a.outlined:hover {
    background-color: #DCDDFF;
    border: 1px solid #C6CED6;
    color: #000000;
}

#page-service #service-body {
    margin-top: 100px;
}

#page-service .section {
    position: relative;
}

#page-service .section-1 {
    padding: 76px 0 164px 0;
    color: #fff;
}

#page-service .section-1 canvas {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

#page-service .section-1 .col-container {
    display: flex;
}

#page-service .section-1 .col-container .col-left {
    width: 340px;
}

#page-service .section-1 .col-container .col-left a {
    width: 100%;
    margin-top: 90px;
}

#page-service .section-1 .col-container .col-right {
    flex: 1;
    background-image: url(../../res/service/main_mockup.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    margin-left: 130px;
}

/**
 * Section 2
 */
#page-service .section-2 {
    position: relative;
}

#page-service .section-2 .content-inner img {
    margin: 60px 0 124px 0;
}
#page-service .section-2 .swiper-container {
    position: relative;
    width: 100%;
}

#page-service .section-2 .swiper-line {
    position: absolute;
    height: 1px;
    background-color: #eee;
    left: 0;
    right: 0;
    bottom: 177px;
}

#page-service .section-2 .swiper-card {
    width: 350px;
    height: 428px;
    box-shadow: 0 15px 30px 1px rgba(27,27,59,0.30);
    bottom: -30px;
    left: calc(50% - 175px);
    position: absolute;
    border-radius: 30px;
}

#page-service .section-2 .swiper-slide {
    text-align: left;
    width: 350px;
    height: 428px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    opacity: 0.5;
}

#page-service .section-2 .swiper-slide.swiper-slide-active {
    opacity: 1;
}

#page-service .section-2 .swiper-slide img {
    width: 150px;
    height: 150px;
    margin-left: 48px;
    /* box-shadow: 0 20px 60px 10px rgba(51,51,87,0.30); */
}

#page-service .section-2 .swiper-slide .app-name {
    color: #414766;
    font-size: 42px;
    margin-top: 27px;
    padding: 0 48px;
}

#page-service .section-2 .swiper-slide p {
    color: #414766;
    font-size: 18px;
    margin-top: 34px;
    padding: 0 48px;
}

/**
 * Section 3
 */
#page-service .section-3 {
    background-color: rgba(82, 61, 199);
    position: relative;
    height: 578px;
    overflow: hidden;
}

#page-service .section-3 .swiper-card-bottom {
    width: 350px;
    height: 30px;
    box-shadow: 0 15px 30px 1px rgba(27,27,59,0.30);
    top: 0px;
    left: calc(50% - 175px);
    position: absolute;
    border-radius: 0 0 30px 30px;
}

#page-service .section-3 .service-sub-text {
    position: absolute;
    background-image: url(../../res/service/service_sub_text.png);
    background-repeat: no-repeat;
    width: 797px;
    height: 466px;
    top: 80px;
    left: calc(50% - 398.5px);
    z-index: 1;
}

#page-service .section-3 .contact-card-top {
    width: 797px;
    height: 232px;
    box-shadow: 0 15px 30px 1px rgba(27,27,59,0.30);
    bottom: 0px;
    left: calc(50% - 398.5px);
    position: absolute;
    border-radius: 30px 30px 0 0;
    z-index: 0;
}

#page-service .section-4 {
    position: relative;
    height: 1269px;
    font-weight: normal;
}

#page-service .section-4 .contact-card-body {
    width: 797px;
    height: 1127px;
    box-shadow: 0 15px 30px 1px rgba(27,27,59,0.30);
    top: 0px;
    left: calc(50% - 398.5px);
    position: absolute;
    border-radius: 0 0 30px 30px;
    z-index: 2;
    padding: 32px 0;
}

#page-service .section-4 .contact-card-body .contact-card-body-inner {
    margin: 0 40px;
}

#page-service .section-4 h3 {
    font-size: 18px;
}

#page-service .section-4 .highlight {
    color: #523dc7;
    font-weight: lighter;
}

#page-service .section-4 .form-container {
    display: flex;
    margin-bottom: 16px;
    overflow: hidden;
}

#page-service .section-4 .form-container .form-label {
    flex: 1;
    font-size: 16px;
    color: #333;
    font-weight: lighter;
}

#page-service .section-4 .form-container .form-input {
    flex: 2;
    display: flex;
}

#page-service .section-4 .form-container .form-input input,
#page-service .section-4 .form-container .form-input textarea {
    flex: 1;
    padding: 4px 12px;
    font-size: 14px;
}

#page-service .section-4 .form-container .form-input textarea {
    border-radius: 12px;
    border: 1px solid #c6ced6;
    background-color: #ffffff;
    color: #3b3b3b;
    outline: none;
}

#page-service .section-4 .form-container .form-input textarea:hover {
    background-color: #DCDDFF;
    color: #000000;
}

#page-service .section-4 .form-agreement {
    border-top: 1px dashed #bdc6d3;
    border-bottom: 1px dashed #bdc6d3;
    padding: 29px 0;
    margin-top: 39px; 
}

#page-service .section-4 .form-agreement label {
    font-size: 16px;
    font-weight: normal;
    display: block;
    margin: 24px 0; 
}

#page-service .section-4 .form-agreement label .mini-text {
    display: block;
    font-size: 14px;
    color: #666;
    margin-top: 6px;
    font-weight: lighter;
}

#page-service .section-4 .form-button {
    text-align: center;
}

#page-service .section-4 a {
    width: 240px;
    margin: 39px auto 0 auto;
}

#page-service .section-5 {
    position: relative;
    height: 493px;
    background-color: #523DC7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page-service .section-5 img {
    margin-top: 87px;
}

#page-service .section-5 .pricing-card-top {
    margin-top: auto;
    background-color: #fff;
    width: 1260px;
    height: 268px;
    border-radius: 30px 30px 0 0;
}

#page-service .section-6 {
    width: 1147px;
    margin: 0 auto;
    margin-top: -201px;
}

#page-service .section-6 img.pricing-table {
    width: 1147px;
}

#page-service .section-6 img.pricing-desc {
    margin-top: 40px;
    margin-bottom: 45px;
}

#page-service #service-footer {
    background: #FFFFFF;
    background: rgba(248,248,249,0.18);
    background-image: radial-gradient(49% 153%, rgba(183,181,194,0.25) 57%, #FFFFFF 100%);
    padding-top: 170px;
    padding-bottom: 30px;
}

#page-service #service-footer .ending {
    text-align: center;
}
#page-service #service-footer .ending img {
    display: block;
    margin: 0 auto;
}
#page-service #service-footer .ending .teekitaaka {
    margin-top: 60px;
    margin-bottom: 219px;
}

#page-service #service-footer {
    color: #8b8b8b;
    font-size: 16px;
    opacity: 0.8;
    text-align: center;
}

#page-service #service-footer .company-info {
    margin-top: 20px;
}

#page-service .go-to-top {
    position: fixed;
    width: 84px;
    height: 100px;
    background-image: url(../../res/service/btn_gototop_normal.png);
    background-repeat: no-repeat;
    right: 0;
    bottom: 50px;
    cursor: pointer;
}

#page-service .go-to-top:hover {
    background-image: url(../../res/service/btn_gototop_hover.png);
}