body>div.thumbDiv {
	position: relative;
	flex-shrink:0;
/* 	width:2.13rem; */
/* 	height:2.13rem; */
 	width:6.39rem; 
 	height:6.39rem; 
	align-self:center;
	margin-left:0.63rem;
	background-color: rgba(255,255,255,0.5);
}
body>div.thumbDiv>img.thumbPhoto1_1 {
	position: absolute;
	flex-shrink:0;
	width:inherit;
	height:inherit;
	border-radius:3.12rem;
}
body>div.thumbDiv>img.thumbPhoto1_2 {
	position: absolute;
	flex-shrink:0;
/* 	width:1.5rem; */
/* 	height:1.5rem; */
 	width:4.5rem; 
 	height:4.5rem; 
	border-radius:3.12rem;
}
body>div.thumbDiv>img.thumbPhoto2_2 {
	position: absolute;
	right: 0px;
	bottom: 0px;
	flex-shrink:0;
/* 	width:1.5rem; */
/* 	height:1.5rem; */
 	width:4.5rem; 
 	height:4.5rem; 
	border-radius:3.12rem;
}
body>div.thumbDiv>img.thumbPhoto1_3 {
	position: absolute;
	left: 50%;
/* 	margin-left: -0.6rem; */
/* 	flex-shrink:0; */
/* 	width:1.19rem; */
/* 	height:1.19rem; */
	margin-left: -1.8rem;
	flex-shrink:0;
	width:3.57rem;
	height:3.57rem;	
	border-radius:3.12rem;
}
body>div.thumbDiv>img.thumbPhoto2_3 {
	position: absolute;
	flex-shrink:0;
	bottom: 0px;
/* 	width:1.19rem; */
/* 	height:1.19rem; */
	width:3.57rem;
	height:3.57rem;
	border-radius:3.12rem;
}
body>div.thumbDiv>img.thumbPhoto3_3 {
	position: absolute;
	bottom: 0px;
	right: 0px;
	flex-shrink:0;
/* 	width:1.19rem; */
/* 	height:1.19rem; */
	width:3.57rem;
	height:3.57rem;
	border-radius:3.12rem;
}
body>div.thumbDiv>img.thumbPhoto1_4 {
	position: absolute;
	flex-shrink:0;
/* 	width:1.13rem; */
/* 	height:1.13rem; */
	width:3.39rem;
	height:3.39rem;
	border-radius:3.12rem;
}
body>div.thumbDiv>img.thumbPhoto2_4 {
	position: absolute;
	right: 0px;
	flex-shrink:0;
/* 	width:1.13rem; */
/* 	height:1.13rem; */
	width:3.39rem;
	height:3.39rem;
	border-radius:3.12rem;
}
body>div.thumbDiv>img.thumbPhoto3_4 {
	position: absolute;
	bottom: 0px;
	flex-shrink:0;
/* 	width:1.13rem; */ 
/* 	height:1.13rem; */
	width:3.39rem; 
	height:3.39rem;
	border-radius:3.12rem;
}
/* ​body>div.thumbDiv img.thumbPhoto4_4 */
body>div.thumbDiv>img.thumbPhoto4_4 {
	position: absolute;
	right: 0px;
	bottom: 0px;
	flex-shrink:0;
/* 	width:1.13rem; */
/* 	height:1.13rem; */
	width:3.39rem;
	height:3.39rem;
	border-radius:3.12rem;
}