div#friendListLayout {
	background: #F5F5FB;
	display: flex;
    flex-direction: column;
    overflow: hidden;
}

div#friendListLayout .friends-container .mark-me {
	position: absolute;
	left: 0.63rem;
	top: 0.09rem;;
	color: #fff;
	font-size: 0.56rem;
	padding: 0.05rem 0.25rem;
	background-color: #523dc7;
	border-radius: 0.28rem;
}

div#friendListLayout .friends-container .mark-me:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #523dc7;
	border-width: 0.16rem;
	margin-left: -0.16rem;
}

div#friendListLayout .friends-container h3 {
	font-size: 0.75rem;
	color: #000;
	margin: 0.5rem 0 0.69rem 0.75rem;
	font-weight: 500;
	display: flex;
	align-items: center;
}

div#friendListLayout .friends-container h3 span.highlight {
	color: #000;
	opacity: 0.5;
	margin-left: 0.25rem;
}

div#friendListLayout .friends-container h3 span.ordering {
	margin-left: auto;
	margin-right: 0.38rem;
	width: 1.5rem;
	height: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

div#friendListLayout .friends-container h3 span.ordering:hover {
	background-color: #d8d9fe;
	border-radius: 50%;
}

div#friendListLayout .friends-container h3 span.ordering svg {
	fill: #75757f;
}

div#friendListLayout .friends-container h3 span.ordering.active svg {
	fill: #6c56e5;
}

div#friendListLayout #friend-list-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
	flex: 1;
	position: relative;
}

div#friendListLayout .friend-search {
	height: 2.94rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#friendListLayout .friend-search top-icon {
	color: #BDC6D3;
	font-size: 0.75rem;
    position: absolute;
	left: 1.3rem;
	top: 1.13rem;
}

div#friendListLayout .friend-search input {
	height: calc(1.81rem - 2px);
    width: 100%;
	margin: 0 0.75rem;
	padding: 0 1rem 0 1.6rem;
}

div#friendListLayout .container-bottom {
	height: 2.19rem;
    flex-shrink: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0.88rem 1.25rem 0.88rem 1.25rem;
}

div#friendListLayout .container-bottom button {
	border: none;
	width: 100%;
	background: #FFFFFF;
	border: 1px solid #5A5FFF;
	border-radius: 1.31rem;
	color: #5A5FFF;
	font-size: 0.81rem;
	position: relative;
	z-index: 2;
	display: flex;
    align-items: center;
    justify-content: center;
}

div#friendListLayout .container-bottom svg {
	fill: #5A5FFF;
	margin-right: 0.19rem;
}

div#friendListLayout .container-bottom:hover button {
	background-color: #DCDDFF;
	border: 1px solid #C6CED6;
	color: #000000;
}

div#friendListLayout .container-bottom:hover svg {
	fill: #000000;
}

div#friendListLayout .container-bottom.active button {
	background: #6C56E5;
	color: #fff;
}

div#friendListLayout .container-bottom.active svg {
	fill: #fff;
}

div#friendListLayout .container-bottom.active:hover button {
	background-color: #DCDDFF;
	border: none;
	color: #000000;
}

div#friendListLayout .container-bottom.active:hover svg {
	fill: #000;
}

div#friendListLayout ul {
	padding: 0;
	overflow: auto;
	flex: 1;
}

div#friendListLayout ul li:hover .friend-container {
	background-color: #E2E3FB;
}

div#friendListLayout ul li.none .friend-container {
	font-size: 0.75rem;
    text-align: center;
	justify-content: center;
	border-bottom: none;
	color: #696969;
	display: block;
}

div#friendListLayout ul li .friend-container {
	display: flex;
	padding: 0.44rem 0;
	overflow: visible;
	align-items: center;
	border-radius: 1.72rem;
	cursor: pointer;
}

div#friendListLayout ul li.none:hover .friend-container {
	background-color: transparent;
}

div#friendListLayout ul li.selected .friend-container {
	background-color: #E2E3FB;
}

div#friendListLayout ul li.me {
	border-bottom: 1px solid #E3E7EB;
}

div#friendListLayout ul li.me .friend-container {
	position: relative;
}

div#friendListLayout ul li.me img {
	width: 2.5rem;
	height: 2.5rem;
}

div#friendListLayout ul li top-icon {
	display: none;
	font-size: 0.78rem;
	
	padding: 0.38rem;
    color: #75757F;
}

div#friendListLayout ul li top-icon.context-menu-btn {
	margin-left: auto;
}

div#friendListLayout ul li top-icon.new-window {
	margin-left: 0.13rem;
	margin-right: 0.78rem;
}

div#friendListLayout ul li.me top-icon.new-window {
	margin-left: auto;
}

div#friendListLayout ul li top-icon:hover {
	background-color: #DCDDFF;
	border-radius: 50%;
	cursor: pointer;
}

div#friendListLayout ul li:hover top-icon {
	display: block;
}

div#friendListLayout ul li img {
	border-radius: 50%;
	flex-shrink: 0;
	margin-left: 0.63rem;
	width: 2.13rem;
	height: 2.13rem;
}

div#friendListLayout ul li span.status {
	display: block;
	width: 0.44rem;
	height: 0.44rem;
	border-radius: 50%;
	background-color: #ccc;
	flex-shrink: 0;
	margin: 0 0.5rem;
}
div#friendListLayout ul li span.status.active {
	background-color: #19bf72;
}

div#friendListLayout ul li span.name {
	font-size: 0.81rem;
	color: #000;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-right: 0.78rem;
	flex-direction: column;
}

div#friendListLayout ul li.me span.name {
	display: flex;
}

div#friendListLayout ul li span.name span {
	text-overflow: ellipsis;
	overflow: hidden;
}

div#friendListLayout ul li span.name .user-org {
	font-size: 0.75rem;
	color: #523dc7;
	margin-top: 0.06rem;
}

div#friendListLayout ul li:hover span.name {
	margin-right: 0;
}

.welcome-container {
	background: #172956;
	border-radius: 28px 28px 0 0;
	position: absolute;
	width: 100%;
    height: 28.13rem;
	bottom: 0;
	z-index: 1;
}

.welcome-container .welcome-header {
	display: flex;
	justify-content: flex-end;
}

.welcome-container .welcome-header top-icon {
	color: #fff;
	font-size: 1.24rem;
	opacity: 0.8;
	cursor: pointer;
	margin-top: 1.13rem;
	margin-right: 1.23rem;
}

.welcome-container .welcome-content {
	margin-top: 0.64rem;
	color: #fff;
	white-space: normal;
    word-break: keep-all;
}

.welcome-container .welcome-content  h3 {
	margin: 0;
	font-size: 0.94rem;
	text-align: center;
}

.welcome-container .welcome-content  p {
	margin: 1.13rem 0 0 0;
	font-size: 0.75rem;
	opacity: 0.8;
	text-align: center;
}

.welcome-container span.highlight {
	font-weight: bold;
}

.welcome-background {
    position: absolute;
    z-index: 3;
    background-repeat: no-repeat;
	background-size: contain;
	right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}

div#friendListLayout .favorite-friend-list-container {
	padding-bottom: 0.25rem;
	border-bottom: 1px solid #e3e7eb;
}

div#friendListLayout .friends-container {
	flex: 1;
	overflow: auto;
}