/* 비밀번호 찾기 dialog 설정  */

#top-dialog-root_PwChangeDialog {
	width: 92.7% !important;
	height: 87% !important;
	left: 4.15% !important;
	top: 6.5% !important;
		min-width: 566px;
    min-height: 368px;
}
#top-dialog-root_PwChangeDialog.top-dialog-root.popup_01 .top-dialog-title-layout .top-dialog-title {
	margin-left : -14px;
	padding: 10px 10px 10px 1px;
    color: #4d4d4d;
    font-size: 17px;
	}
#top-dialog-root_PwChangeDialog.top-dialog-root.popup_01 .top-dialog-title-layout {
	margin-left: 21px;
	border-bottom: 1px solid #C2C2C2;
    margin-right: 25px;
    height: 54px;
	}	
#top-dialog-root_PwChangeDialog .top-dialog-title-layout .top-dialog-close {
	color: #000000;
	margin: 10px -15px;
    font-size: 17px;
}
#top-dialog-root_PwChangeDialog.top-dialog-root{
	box-shadow: 0px 0px 4px 0px #000000;
}
#top-dialog-overlay_PwChangeDialog {
	    background: #7d7d7d;
}
#top-dialog-root_PwChangeDialog.top-dialog-root.popup_01 .top-dialog-content.fixed-height-dialog{
	height: calc(100% - 54px);
}


/*****************************************************B2B용********************************************************/
/* b2b아이디 찾기 dialog 설정  */
#top-dialog-root_BtobPwChangeDialog {
	width: 92.7% !important;
	height: 87% !important;
	left: 4.15% !important;
	top: 6.5% !important;
		min-width: 566px;
    min-height: 368px;
}

#top-dialog-root_BtobPwChangeDialog.top-dialog-root.popup_01 .top-dialog-title-layout .top-dialog-title {
	margin-left : -14px;
	padding: 10px 10px 10px 1px;
    color: #4d4d4d;
    font-size: 17px;
	}
#top-dialog-root_BtobPwChangeDialog.top-dialog-root.popup_01 .top-dialog-title-layout {
	margin-left: 21px;
	border-bottom: 1px solid #C2C2C2;
    margin-right: 25px;
    height: 54px;
	}	
#top-dialog-root_BtobPwChangeDialog .top-dialog-title-layout .top-dialog-close {
	color: #000000;
	margin: 10px -15px;
    font-size: 17px;
}
#top-dialog-root_BtobPwChangeDialog.top-dialog-root{
	box-shadow: 0px 0px 4px 0px #000000;
}
#top-dialog-overlay_BtobPwChangeDialog {
	    background: #7d7d7d;
}
#top-dialog-root_BtobPwChangeDialog.top-dialog-root.popup_01 .top-dialog-content.fixed-height-dialog{
	height: calc(100% - 54px);
}

/*****국제 번호 SelectBox*****/
div#BtobSPNationalSelectBox .top-selectbox-container{
 	font-size : 0.75rem;
 } 
div#BtobSPNationalSelectBox .top-selectbox-options{
	max-height : 164px !important;
	width :  407px !important;
}
/************font size****************/
div#btobIdLayout #btobSPIdNullIcon,
div#LinearLayout815_2 #btobSPNameNullIcon,
div#LinearLayout791_2 #btobSPMobileErrorIcon,
div#LinearLayout791_2 #btobSPMobileNullIcon{
	font-size : 1.63rem !important;
}

