/********Valid Icon CSS*******/
div#LinearLayout366 #Icon1333{
	font-size : 1.63rem !important;
}
div#LinearLayout366 #Icon1247{
	font-size : 1.63rem !important;
}
div#LinearLayout366 #Icon1247Null{
	font-size : 1.63rem !important;
}
div#LinearLayout366 #Icon1247_1{
	font-size : 1.63rem !important;
}
div#LinearLayout366 #Icon1247_1_null{
	font-size : 1.63rem !important;
}


/* 아이디 찾기 dialog 설정  */
#top-dialog-root_IdSearchDialog {
	width: 92.7% !important;
	height: 87% !important;
	left: 4.15% !important;
	top: 6.5% !important;
	min-width: 566px;
    min-height: 368px;
}

#top-dialog-root_IdSearchDialog.top-dialog-root.popup_01 .top-dialog-title-layout .top-dialog-title {
	margin-left : -14px;
	padding: 10px 10px 10px 1px;
    color: #4d4d4d;
    font-size: 17px;
	}
#top-dialog-root_IdSearchDialog.top-dialog-root.popup_01 .top-dialog-title-layout {
	margin-left: 21px;
	border-bottom: 1px solid #C2C2C2;
    margin-right: 25px;
    height: 54px;
	}	
#top-dialog-root_IdSearchDialog .top-dialog-title-layout .top-dialog-close {
	color: #000000;
	margin: 10px -15px;
    font-size: 17px;
}
#top-dialog-root_IdSearchDialog.top-dialog-root{
	box-shadow: 0px 0px 4px 0px #000000;
}
#top-dialog-overlay_IdSearchDialog {
	    background: #7d7d7d;
}
#top-dialog-root_IdSearchDialog.top-dialog-root.popup_01 .top-dialog-content.fixed-height-dialog{
	height: calc(100% - 54px);
}



/********Popup_Alarm Popup*********/
.popup_alarm .top-dialog-title-layout {
	background: transparent !important;
    color: #000 !important;
    display: flex;
    justify-content: center;
    height: auto !important;
    font-size: 0.875rem !important;
}


.popup_alarm .top-dialog-title-layout{
	display : none;
}

.popup_alarm .top-dialog-content {
	padding: 0 !important;
}




/*****************************************************B2B용********************************************************/

/* b2b아이디 찾기 dialog 설정  */
#top-dialog-root_BtobIdSearchDialog {
	width: 92.7% !important;
	height: 87% !important;
	left: 4.15% !important;
	top: 6.5% !important;
	min-width: 566px;
    min-height: 368px;
}

#top-dialog-root_BtobIdSearchDialog.top-dialog-root.popup_01 .top-dialog-title-layout .top-dialog-title {
	margin-left : -14px;
	padding: 10px 10px 10px 1px;
    color: #4d4d4d;
    font-size: 17px;
	}
#top-dialog-root_BtobIdSearchDialog.top-dialog-root.popup_01 .top-dialog-title-layout {
	margin-left: 21px;
	border-bottom: 1px solid #C2C2C2;
    margin-right: 25px;
    height: 54px;
	}	
#top-dialog-root_BtobIdSearchDialog .top-dialog-title-layout .top-dialog-close {
	color: #000000;
	margin: 10px -15px;
    font-size: 17px;
}
#top-dialog-root_BtobIdSearchDialog.top-dialog-root{
	box-shadow: 0px 0px 4px 0px #000000;
}
#top-dialog-overlay_BtobIdSearchDialog {
	    background: #7d7d7d;
}
#top-dialog-root_BtobIdSearchDialog.top-dialog-root.popup_01 .top-dialog-content.fixed-height-dialog{
	height: calc(100% - 54px);
}



/*****국제 번호 SelectBox*****/
div#BtobSINationalSelectBox .top-selectbox-container{
 	font-size : 0.75rem;
 } 
div#BtobSINationalSelectBox .top-selectbox-options{
	max-height : 164px !important;
	width :  407px !important;
}
/************font size****************/
div#btobNameLayout #btobNameErrorIcon,
div#LinearLayout791_1 #btobMobileNullIcon,
div#LinearLayout791_1 #btobMobileErrorIcon,
div#LinearLayout815_1 #btobEmployNullIcon{
	font-size : 1.63rem !important;
}



