/********로그인 5회  에러 방지 CSS*******/
span#refreshLoginIcon:before{
	content: url(../../res/user/refresh2_login.svg);
}
div#protectImageLayout{
	display : flex;
	align-items : center;
}

/****login checkbox***/
.login-checkbox .top-checkbox-check:checked+label::before {
	color :  #6C56E5;
}
.login-checkbox .top-checkbox-text.checked i::before {
	color :  #6C56E5;
}	
span#TeeSpaceLogoIcon:before{
	content: url(../../res/user/bi_teekitakka.svg);
}
span#TeekiTakkaIcon:before{
	content: url(../../res/user/ic_teekitakka.svg);
}
/********Valid Icon CSS*******/
div#LoginContentLinearLayout #LoginIdErrorIcon{
	font-size : 1.63rem !important;
}
div#LoginContentLinearLayout #InputErrorIcon{
	font-size : 1.63rem !important;
}
div#LoginContentLinearLayout #PasswordErrorIcon{
	font-size : 1.63rem !important;
}
div#LinearLayout42 #protectErrorIcon{
	font-size : 1.63rem !important;
}



/********PassWord TextField EYES CSS*******/
.top-textfield-icon.login-alert{
	left : 14.3rem;
}
#TextField20124 .top-textfield-icon.signupPwd-alert{
	left : 350px;
}
#TextField2012_5 .top-textfield-icon.signupPwdConfirm-alert{
	left: 350px;
}
#TextField644 .top-textfield-icon.changePwd-alert{
	left : 350px;
}
#TextField844 .top-textfield-icon.changePwdConfirm-alert{
	left : 350px;
}
/* 회원가입 체크박스 */
#signupFirst top-checkbox .top-checkbox-text.checked i::before {
    color: #037FE3; 
 	content: "\e907";
}
#signupFirst top-checkbox .top-checkbox-text i::before{
	color: #037FE3; 
 	content: "\e920";
}
/* 회원가입 버튼 - signup-disabled */
	.ts-default button.signup-disabled,
	.ts-default top-button.signup-disabled button{
		background-color: #cccccc;
		color: #ffffff;
		border-radius: 15px;
	}

	/* 버튼 - signup-solid */
	.ts-default button.signup-solid,
	.ts-default top-button.signup-solid button{
		background-color: #037FE3;
		border-radius: 15px;	
		font-size: 0.75rem;
		color: #ffffff;
	} 
	/* 버튼 - signup-solid - hover */
	.ts-default button.signup-solid:hover,
	.ts-default top-button.signup-solid button:hover{
		background-color: #037FE3;
		color: #000000;
	}
	/* 버튼 - signup-solid - active */
	.ts-default button.signup-solid:active,
	.ts-default top-button.signup-solid button:active{
		background-color: #037FE3;
		color: #ffffff;
	}
/* 버튼 - signup-outlined */
	.ts-default button.signup-outlined,
	.ts-default top-button.signup-outlined button{
		background-color: #ffffff;
		border-radius: 15px;	
		font-size: 0.75rem;
		color: #3b3b3b;
		border: 1px solid #C6CED6;
	}
	/* 버튼 - signup-outlined - hover */
	.ts-default button.signup-outlined:hover,
	.ts-default top-button.signup-outlined button:hover{
		background-color: #DCDDFF;
		border: 1px solid #037FE3;
		color: #000000;
	}
	/* 버튼 - signup-outlined - active */
	.ts-default button.signup-outlined:active,
	.ts-default top-button.signup-outlined button:active{
		background-color: #ffffff;
		border: 1px solid #037FE3;
		color: #3b3b3b;
	}
/* 
*** 회원가입 텍스트 필드 - default ***
*/ 
	.ts-default	input.signup,
	.ts-default top-textfield.signup .top-textfield-root .top-textfield-text{
		border-radius: 25px;
		border: 1px solid #c6ced6;
		background-color: #ffffff;
		font-size: 0.75rem;
		color: #3b3b3b;
		outline: none;
	}
	.ts-default	input.signup:hover,
	.ts-default top-textfield.signup .top-textfield-root .top-textfield-text:hover{
		background-color: #FFFFFF;
		color: #000000;
	}
	.ts-default	input.signup:active,
	.ts-default	input.signup:focus,
	.ts-default top-textfield.signup .top-textfield-root .top-textfield-text:active,
	.ts-default top-textfield.signup .top-textfield-root .top-textfield-text:focus{
		background-color: #ffffff;
		border: 1px solid #037FE3;
		color: #000000;
	}
	.ts-default	input.signup-disabled,
	.ts-default top-textfield.signup-disabled .top-textfield-root .top-textfield-text{
		background-color: #cccccc;
		color: #ffffff;
		border: 1px solid #cccccc;
	}
	.ts-default	input.alert,
	.ts-default top-textfield.alert .top-textfield-root .top-textfield-text{
		background-color: #ffffff;
		color: #000000;
		border: 1px solid #ff5d5d;
	}

	
/*popover css*/
.top-popover-title {
    font-size: 11px;
    /*border: 1px solid #FF5151;*/
    border: none;
    font-weight: normal;
    color: #FFFFFF;
    border-radius: 4px;
    background-color: #FF5151;
}
.top-popover-content {
    width: 0px;
    height: 0px;
    display: none;
}
.top-popover {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
    border: none;
}
.top-popover.top{
	margin-top: -1px;
}
.top-popover.top>.top-popover-arrow:after {
	 border-top-color: #FF5151;
	 border-bottom-width: 4px;
}
.top-popover.top>.top-popover-arrow {
  border-top-color: transparent;	
}




/** radiobutton **/
#signupBase top-radiobutton .top-radiobutton-text.checked i::before, 
#signupBase top-radiobutton .top-radiobutton-check:checked+.top-radiobutton-text i::before {
    color: #037FE3; 
}

#userAccountFixLayout top-radiobutton .user-radiobutton .top-radiobutton-text.checked i::before, 
#userAccountFixLayout top-radiobutton .user-radiobutton .top-radiobutton-check:checked+.top-radiobutton-text i::before {
    color: #037FE3; 
}

#userAccountDestroyLayout top-radiobutton .user-radiobutton .top-radiobutton-text.checked i::before, 
#userAccountDestrotLayout top-radiobutton .user-radiobutton .top-radiobutton-check:checked+.top-radiobutton-text i::before {
    color: #037FE3; 
}
/** radiobutton -tcs**/
#userAccountFixLayout top-radiobutton .user-radiobutton-tcs,  
#userAccountFixLayout top-radiobutton .user-radiobutton-tcs{
    color: #00A4C3; 
}
#userAccountDestroyLayout top-radiobutton .user-radiobutton-tcs,  
#userAccountDestroyLayout top-radiobutton .user-radiobutton-tcs{
    color: #00A4C3; 
}



#signupBase span#TextView2364:hover{
    cursor: pointer;
}

#signupfirst top-textarea .top-textarea-root[readonly] {
    background-color: #F4F4F4;
    border-color: #D0D1DA;
    color: #444444;
    opacity: 1;
}
#signupThird .top-textview-url {
    padding: 1px 1px 0px 0px;
}





top-radiobutton.signup .top-radiobutton-text i::before {
	font-size: 13px;
	margin-top: 3px;
}

top-radiobutton.signup .top-radiobutton-text.checked i::before, 
top-radiobutton.signup .top-radiobutton-check:checked+.top-radiobutton-text i::before {
    color: #037FE3; 
}


top-textfield.signup .top-textfield-root .top-textfield-text:focus,
top-textfield.signup .top-textfield-root .top-textfield-text:before{
	border: 1px solid #ACB0BC;
}
top-textfield.signup.in_textfield .top-textfield-text:focus {
    border: 1px solid #000000;
}
top-textfield.signup.in_textfield .top-textfield-text {
    border: 1px solid #ACB0BC;
}



/* /** Stepper **/ */
/* #Stepper131 .top-stepper-root .top-stepper-circles .circles .top-stepper-circle { */
/* 	stroke-width : 2px; */
/* } */
/* #Stepper131 .top-stepper-root .top-stepper-label { */
/* 	font-family: 'NotoSansCJKkr-Medium'; */
/* 	font-weight : 100; */
/* } */
/* #Stepper131 .top-stepper-root .top-stepper-lines path { */
/* 	stroke-width : 1px; */
/* } */
/* #Stepper131 .top-stepper-root .top-stepper-number.completed{ */
/* 	stroke : none; */
/* 	font-size : 19px; */
/* } */
/* top-linearlayout#signupfirst>div#LinearLayout434{ */
/* 	height: calc(100% - 148px) !important; */
/* } */

#TextArea706_1{
	height: 400px;
}

#TextArea6202{
	height: 137px;
}
#TextArea620_12{
	height: 137px;
	margin: 10px 0px 0px 0px;
}
#TextArea620_22{
	height: 137px;
	margin: 10px 0px 0px 0px;
}
#TextArea620_32{
	height: 137px;
	margin: 10px 0px 0px 0px;
}
#TextArea620_42{
	height: 137px;
	margin: 10px 0px 0px 0px;
}


/* 회원가입 약관 동의 아코디언 수정 */
 #AccordionLayout175 .top-accordionlayout-title .top-accordionlayout-icon:before {  
    content: "\e901";
    color : #000000;
}
 #AccordionLayout175 .top-accordionlayout-title.active .top-accordionlayout-icon:before{
	 content: "\e961";
    color : #000000;
}
 #AccordionLayout175 .top-accordionlayout-title{
 	color: #000000;
 	background-color: #ffffff;
 }
 #AccordionLayout293 .top-accordionlayout-title .top-accordionlayout-icon:before {  
    content: "\e901";
    color : #000000;
}
 #AccordionLayout293 .top-accordionlayout-title.active .top-accordionlayout-icon:before{
	 content: "\e961";
    color : #000000;
}
 #AccordionLayout293 .top-accordionlayout-title{
 	color: #000000;
 	background-color: #ffffff;
 }
#LinearLayout627 {
	z-index : 1;
	
}
/* 회원가입  개인정보 처리방침 커서*/
#TextView_open_window_Btob .top-textview-url{
	 cursor: pointer;
}

/* 회원가입 약관 동의 textarea 설정  */
#signupBase #TextArea620 {
	text-align: left !important;
}
#signupBase #TextArea620_1 {
	text-align: left !important;
}
#signupBase #TextArea620_2 {
	text-align: left !important;
}
#signupBase #TextArea620_3 {
	text-align: left !important;
}
#signupBase #TextArea620_4 {
	text-align: left !important;
}
#signupBase #TextArea706 {
	text-align: left !important;
}
#signupFirst top-accordionlayout .top-accordionlayout-container .top-accordionlayout-content{
	    padding: 0px;
}
#signupFirst top-textarea .top-textarea-root[readonly] {
    background-color: #E9F5FF;
    border-color: #E9F5FF;
    color: #000000;
    opacity: 0.6;
    font-size : 10px !important;
}
/*****국제 번호 SelectBox*****/
div#signupDomainSelectBox .top-selectbox-container,
 div#NationalMobileSelectBox .top-selectbox-container{
 	font-size : 0.75rem;
 } 
 div#NationalMobileSelectBox .top-selectbox-options{
	max-height : 164px !important;
	width :  407px !important;
}

/***텍스트필드  size***/
#TextField2012 .top-textfield-text,
#TextField20123 .top-textfield-text,
#TextField20124 .top-textfield-text,
#TextField2012_5 .top-textfield-text,
#signupDomainTextField .top-textfield-text,
#signupMobileTextField .top-textfield-text {
	font-size : 0.75rem;
}





/* dialog 설정  */
 .top-dialog-root.signupdialog .top-dialog-title-layout {
	background-color: #FFFFFF;
	color: #444444;
	font-size: 14px;
	font-weight: 300;
}
.top-dialog-root_serviceTermDialog .top-dialog-content.fixed-height-dialog,
.top-dialog-root_personalTermDialog .top-dialog-content.fixed-height-dialog{
	height : auto !important;
}

/* 회원가입 dialog 설정  */
#top-dialog-root_RegisterDialog {
	width: 92.7% !important;
	height: 87% !important;
	left: 4.15% !important;
	top: 6.5% !important;
	min-width: 1266px;
    min-height: 668px;
}
#top-dialog-root_RegisterDialog.top-dialog-root.popup_01 .top-dialog-title-layout .top-dialog-title {
	margin-left : -14px;
	padding: 10px 10px 10px 1px;
    color: #4d4d4d;
    font-size: 17px;
    
	}
#top-dialog-root_RegisterDialog.top-dialog-root.popup_01 .top-dialog-title-layout {
	margin-left: 21px;
	border-bottom: 1px solid #C2C2C2;
    margin-right: 25px;
    height: 54px;
	}	
#top-dialog-root_RegisterDialog .top-dialog-title-layout .top-dialog-close {
	color: #000000;
	margin: 10px -15px;
    font-size: 17px;
}
#top-dialog-root_RegisterDialog.top-dialog-root{
	box-shadow: 0px 0px 4px 0px #000000;
}
#top-dialog-overlay_RegisterDialog {
	    background: #7d7d7d;
}

#top-dialog-root_RegisterDialog.top-dialog-root.popup_01 .top-dialog-content.fixed-height-dialog{
	height: calc(100% - 54px);
}