#TextView175_1 .top-textview-root{
	vertical-align: middle;
}

#PasswordChangeTime .top-textview-root{
	vertical-align: middle;
}

/* Btn/Text/Solid2 */
.systemBtn .top-button-root {
	background-color : #FFFFFF;
	border : 1px solid #c6ced6;
	color : #3b3b3b;
	padding : 0px;
	border-radius : 4px;
	font-weight : normal;
	min-height : 0px;
	min-width : 0px;
}
.systemBtn .top-button-root:hover {
	background-color : #dcddff;
}
.systemBtn .top-button-root:active {
	background-color : #bcbeff;
}
top-button[disabled="true"].systemBtn .top-button-root {
	background-color : #cccccc;
	border : 0px;
	color : #ffffff;
}

/**************오류 메시지 CSS ************/
div#LinearLayout254 #PwErrorIcon1,
div#LinearLayout254_1 #PwErrorIcon2,
div#LinearLayout254_2 #PwErrorIcon3{
	font-size : 1.63rem !important;
}
/********PassWord TextField EYES CSS*******/

#TextField284 .top-textfield-icon.userSettingPwd-alert,
#TextField284_1 .top-textfield-icon.userSettingPwd-alert,
#TextField284_2 .top-textfield-icon.userSettingPwd-alert{
	right : 1.78rem;
}

#PwErrorIcon2_1 .top-icon-root{
	font-size : 1.63rem !important;
}
#PwErrorIcon2_2 .top-icon-root{
	font-size : 1.63rem !important;
}