#TextView56 .top-textview-root{
	vertical-align: middle;
}



top-toggle.alltoggle .top-toggle-root {
    vertical-align : middle;
}

top-toggle.alltoggle .top-toggle-handle{
    margin : 3px;
}

top-checkbox.alarm .top-checkbox-text.checked i::before {
    color: #6C56E5;
    content: "\e907";
}

