/********라디오 버************/
	.ts-default top-radiobutton.userAccount .top-radiobutton-text i:before,
	.ts-default top-radiobutton.userAccount .top-radiobutton-text.checked i::before{
		color: #6c56e5;
		font-size: 0.94rem;
	}

/* 버튼 - setting-solid 클래스 */
	.ts-default button.setting-solid,
	.ts-default top-button.setting-solid button{
		background-color: #F5F5FB;
		border-radius: 19px;	
		font-size: 0.815rem;
		color: #3A3A3A;
		padding-left : 24px;
	} 
	.ts-default button.setting-solid:hover,
	.ts-default top-button.setting-solid button:hover{
		background-color: #DCDDFF;
		color: #000000;
	}
	.ts-default button.setting-solid:active,
	.ts-default button.setting-solid:focus,
	.ts-default top-button.setting-solid button:active,
	.ts-default top-button.setting-solid button:focus{
		background-color: #DCDDFF;
		color: #000000;
	}
	
/* -setting-active 클래스 */
.ts-default button.setting-act,
	.ts-default top-button.setting-act button{
		background-color: #DCDDFF;
		border-radius: 19px;	
		font-size: 0.815rem;
		color: #000000;
		padding-left : 24px;
	} 

	
/********PassWord TextField EYES CSS*******/
#TextField361_pwd_manage .top-textfield-icon.account-alert{
	right : 1.8rem;
}
div#LinearLayout254_manage #Icon93_pwd_manage,
div#LinearLayout31_1 #Icon617,
div#LinearLayout154 #Icon832_1_6,
div#LinearLayout154 #Icon617_2,
div#LinearLayout31_4 #Icon_account_mail_error,
div#LinearLayout31_4 #EmailIdNullIcon,
div#LinearLayout31_4 #EmailIdValidlIcon,
div#LinearLayout31_4 #Icon_account_mail_correct,
div#LinearLayout31_4 #DomainNullIcon,
div#LinearLayout31_2 #Icon617_1,
div#LinearLayout154_b2b #Icon617_2_b2b,
div#LinearLayout154_b2b #IconNullNumb2b{
	font-size : 1.63rem !important;
}
/*****국제 번호 SelectBox*****/
 div#fixNationalMobileSelectBox .top-selectbox-container,
 div#fixNCSelectBox .top-selectbox-container{
 	font-size : 0.75rem;
 } 
 div#fixNationalMobileSelectBox .top-selectbox-options,
  div#fixNCSelectBox .top-selectbox-options{
	max-height : 209px !important;
	width :  407px !important;
}

/* 다이얼로그 크기 세팅 */

div#top-dialog-root_userSettingDialog .top-dialog-root{
	width :53.38rem;
}
div#SettingLeftLayout,
div#userSecuritySetup{
	overflow-y : auto !important;
}